<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-10">
                <!--单据要求-->
                <div class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">
                            单据要求
                        </h3>
                    </div>
                    <div class="panel-body panel-edit">
                        <div class="form-group">
                            <div class="input-group col-xs-3 ">
                                <span class="input-group-addon" lang="zh">单据类型</span>
                                <select id="documentaryType" class="form-control">
                                    <option value="0">信用证条款单据</option>
                                    <option value="1">非信用证条款单据</option>
                                </select>
                            </div>
                        </div>
                        <table class="table table-condensed table-bordered table-striped text-right">
                            <tbody>
                            <tr>
                                <td class="col-xs-4" lang="zh"><label for="">出具海运提单</label></td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="oceanBillOfLading" type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-4" lang="zh">出具货运提单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="freightForwardingBill" type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td lang="zh">是否需要发票</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="invoice" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要箱单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="packingList" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要质检单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-2">
                                        <label><input id="qualityTestingReport" type="checkbox" /></label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input id="reportCompanyTitle" type="text" class="form-control" placeholder="请输入公司抬头">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td lang="zh">是否需要保单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="guaranteeSlip" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否出COO</td>
                                <td class="text-left">
                                    <div class=" col-xs-2">
                                        <label class="checkbox-inline"><input name="coo" type="checkbox" value="1"/>商检局</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="radio-inline"><input class="contentRadio" name="cooContent" type="radio" value="a"/>FORM A</label>
                                        <label class="radio-inline"><input class="contentRadio" name="cooContent" type="radio" value="e"/>FORM E</label>
                                        <label class="radio-inline"><input class="contentRadio" name="cooContent" type="radio" value="p"/>FORM P</label>
                                        <label class="radio-inline"><input class="contentRadio" name="cooContent" type="radio" value="au"/>FORM AU</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <label class="checkbox-inline" style="padding-top: 3px"><input name="coo" type="checkbox" value="2"/>贸促会</label>
                                    </div>
                                    <div class="col-xs-2">
                                        <label class="checkbox-inline" style="padding-top: 3px"><input name="coo" type="checkbox" value="3" />普通</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input id="cooContentText" name="cooContent" class="form-control contentText" type="text" placeholder="请输入公司抬头"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td lang="zh">是否需要危包证</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="dangerousCertificate" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要受益人证明</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="beneficiaryCertification" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否出熏蒸证书</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="fumigationCertificate" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要MSDS</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="msds" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">提单是否电放</td>
                                <td class="form-group text-left">
                                    <div class="checkbox col-xs-2">
                                        <label><input name="telexRelease" type="checkbox" value="1" /><span lang="zh">直接电放</span></label>
                                    </div>
                                    <div class="checkbox col-xs-3">
                                        <label><input name="telexRelease" type="checkbox" value="2" /><span lang="zh">正本出后电放</span></label>
                                    </div>
                                    <div class="col-xs-4"><input id="releaseDestination" class="form-control" type="text" value="" placeholder="输入放单目的港" lang="zh" /></div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要银行交单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="bankBill" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要做第三方检测，并出具检测报告</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="examiningReport" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要Packing Declaration</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="packingDeclaration" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要Import Container Weight Declaration</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="importContainerWeightDeclaration" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>是否需要Manufacturer's Certificate</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="manufacturerCertificate" type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-2" lang="zh">其他单据要求</label>
                                <div class="col-xs-10">
                                    <textarea id="otherDocumentaryRequire" class="form-control" rows="3" placeholder="多个单据请以（、）隔开" lang="zh"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-xs-offset-5"><a class="btn btn-block btn-default" type="button" id="back">上一步</a></div>
                <div class="col-xs-1 col-xs-offset-1"><a class="btn btn-block btn-primary" type="button" id="next">下一步</a></div>
            </div>
        </div>
    </div>
</div>

<h3 id="sTitle" class="hidden">单据要求</h3>
<input id="customerId" type="hidden" value='$!{customerId}'>
<input id="customerType" type="hidden" value='$!{customerType}'>
<input id="fullName" type="hidden" value='$!{fullName}'>
<input id="businessProductId" type="hidden" value='$!{businessProductId}'>

<input id="" type="hidden" value=''>
<input id="" type="hidden" value=''>

<script type="text/javascript">
    var id = $('#businessProductId').val();
    console.log(id);

    if(id!=''){
        jQuery.ajax({
            url:basePath + '/businessProduct/getDocumentary?businessProductId=' + id,
            type:'POST',
            sucess:function(result){
                if(result.documentaryType!=undefined){
                    $('#documentaryType').val(result.documentaryType);
                }
                if(result.otherDocumentaryRequire!=undefined){
                    $('#otherDocumentaryRequire').val(result.otherDocumentaryRequire);
                }
                if(result.documentaryRequire!=undefined){
                    var documentaryRequire = result.documentaryRequire;
                    if(documentaryRequire.reportCompanyTitle!=undefined){
                        $('#reportCompanyTitle').val(documentaryRequire.reportCompanyTitle);
                    }
                    if(documentaryRequire.releaseDestination!=undefined){
                        $('#releaseDestination').val(documentaryRequire.releaseDestination);
                    }
                    if(documentaryRequire.oceanBillOfLading!=undefined&&documentaryRequire.oceanBillOfLading == 1){
                        $('#oceanBillOfLading').attr('checked');
                    }
                    if(documentaryRequire.freightForwardingBill!=undefined&&documentaryRequire.freightForwardingBill == 1){
                        $('#freightForwardingBill').attr('checked');
                    }
                    if(documentaryRequire.invoice!=undefined&&documentaryRequire.invoice == 1){
                        $('#invoice').attr('checked');
                    }
                    if(documentaryRequire.packingList!=undefined&&documentaryRequire.packingList == 1){
                        $('#packingList').attr('checked');
                    }
                    if(documentaryRequire.qualityTestingReport!=undefined&&documentaryRequire.qualityTestingReport == 1){
                        $('#qualityTestingReport').attr('checked');
                    }
                    if(documentaryRequire.guaranteeSlip!=undefined&&documentaryRequire.guaranteeSlip == 1){
                        $('#guaranteeSlip').attr('checked');
                    }
                    if(documentaryRequire.dangerousCertificate!=undefined&&documentaryRequire.dangerousCertificate == 1){
                        $('#dangerousCertificate').attr('checked');
                    }
                    if(documentaryRequire.beneficiaryCertification!=undefined&&documentaryRequire.beneficiaryCertification == 1){
                        $('#beneficiaryCertification').attr('checked');
                    }
                    if(documentaryRequire.fumigationCertificate!=undefined&&documentaryRequire.fumigationCertificate == 1){
                        $('#fumigationCertificate').attr('checked');
                    }
                    if(documentaryRequire.msds!=undefined&&documentaryRequire.msds == 1){
                        $('#msds').attr('checked');
                    }
                    if(documentaryRequire.bankBill!=undefined&&documentaryRequire.bankBill == 1){
                        $('#bankBill').attr('checked');
                    }
                    if(documentaryRequire.examiningReport!=undefined&&documentaryRequire.examiningReport == 1){
                        $('#examiningReport').attr('checked');
                    }
                    if(documentaryRequire.packingDeclaration!=undefined&&documentaryRequire.packingDeclaration == 1){
                        $('#packingDeclaration').attr('checked');
                    }
                    if(documentaryRequire.importContainerWeightDeclaration!=undefined&&documentaryRequire.importContainerWeightDeclaration == 1){
                        $('#importContainerWeightDeclaration').attr('checked');
                    }
                    if(documentaryRequire.manufacturerCertificate!=undefined&&documentaryRequire.manufacturerCertificate == 1){
                        $('#manufacturerCertificate').attr('checked');
                    }
                    if(documentaryRequire.coo!=undefined){
                        switch (documentaryRequire.coo){
                            case 1:
                                $('input[name="coo"]')[0].attr('checked',true);
                                break;
                            case 2:
                                $('input[name="coo"]')[1].attr('checked',true);
                                break;
                            case 3:
                                $('input[name="coo"]')[2].attr('checked',true);
                                break;
                        }
                    }
                    if(documentaryRequire.telexRelease!=undefined){
                        switch (documentaryRequire.telexRelease){
                            case 1:
                                $('input[name="telexRelease"]')[0].attr('checked',true);
                                break;
                            case 2:
                                $('input[name="telexRelease"]')[1].attr('checked',true);
                                break;
                        }
                    }
                    if(documentaryRequire.cooContent!=undefined){
                        if(documentaryRequire.cooContent == 'a'){
                            $('.contentRadio')[0].attr('checked',true);
                        }else if(documentaryRequire.cooContent == 'e'){
                            $('.contentRadio')[1].attr('checked',true);
                        }else if(documentaryRequire.cooContent == 'p'){
                            $('.contentRadio')[2].attr('checked',true);
                        }else if(documentaryRequire.cooContent == 'au'){
                            $('.contentRadio')[3].attr('checked',true);
                        }else{
                            $('#cooContentText').val(documentaryRequire.cooContent);
                        }
                    }
                }

            }
        })
    }else {
        $('.contentRadio').attr('disabled',true);
        $('.contentText').attr('disabled',true);
    }

    $('#back').click(function(){
        window.location.href = basePath + '/businessProduct/saveDocumentaryOrPacking?productRequireId=' + id;
    })

    $('#next').click(function(){
        jQuery.ajax({
            url:basePath + '/businessProduct/saveDocumentaryOrPacking?productRequireId=' + id,
            type:'POST',
            data:getdata(),
            contentType:"application/json",
            success:function(result){
                window.location.href = basePath + '/businessProduct/intoPackageRequire';
            }
        })
    })

    function getdata() {
        var data = {
            'businessProductId':$('#businessProductId').val(),
            'oceanBillOfLading':checked($('#oceanBillOfLading')),
            'freightForwardingBill':checked($('#freightForwardingBill')),
            'invoice':checked($('#invoice')),
            'packingList':checked($('#packingList')),
            'qualityTestingReport':checked($('#qualityTestingReport')),
            'reportCompanyTitle':$('#oceanBillOfLading').val(),
            'guaranteeSlip':checked($('#guaranteeSlip')),
            'coo':$('input[name="coo"]:checked').val(),
            'cooContent':getcooContent(),
            'dangerousCertificate':checked($('#dangerousCertificate')),
            'beneficiaryCertification':checked($('#beneficiaryCertification')),
            'fumigationCertificate':checked($('#fumigationCertificate')),
            'msds':checked($('#msds')),
            'bankBill':checked($('#bankBill')),
            'examiningReport':checked($('#examiningReport')),
            'packingDeclaration':checked($('#packingDeclaration')),
            'importContainerWeightDeclaration':checked($('#importContainerWeightDeclaration')),
            'manufacturerCertificate':checked($('#manufacturerCertificate')),
            'releaseDestination':$('#releaseDestination').val(),
            'telexRelease':$('input[name="telexRelease"]:checked').val(),
            'documentaryType':$('#name').val(),
            'otherDocumentaryRequire':$('#otherDocumentaryRequire').val()
        }
        console.log(data);
        return JSON.stringify(data);
    }

    //checked选择
    function checked(id) {
        var i = id.attr('checked',true)?1 : 0;
        /*if(id.attr('checked',true)){
            return 1;
        }else{
            return 0;
        }*/
        return i;
    }

    function getcooContent() {
        var conContent;
        var contentRadio =  $('input[class="contentRadio"]:checked');
        if(contentRadio.length<0){
            conContent = $('#cooContentText').val();
        }else if(contentRadio[0].val()){
            conContent = contentRadio[0].val();
        }else{
            conContent = '';
        }
        return conContent;
    }

    //coo互斥
    $(document).on('click','input[name="coo"]',function(){
        $('input[name="coo"]').removeAttr('checked');
        $(this).prop('checked',true);
    })

    $('input[name="coo"]').change(function(){
        var val = $(this).val();
        console.log(val);
        if(val == 1){
            $('.contentRadio').attr('disabled',false);
            $('.contentText').attr('disabled',true);
        }else if(val == 2){
            $('.contentRadio').attr('disabled',true);
            $('.contentRadio').attr('checked',false);
            $('.contentText').attr('disabled',true);
        }else if(val == 3){
            $('.contentRadio').attr('disabled',true);
            $('.contentRadio').attr('checked',false);
            $('.contentText').attr('disabled',false);
        }
    })

    $(document).on('click','input[name="telexRelease"]',function(){
        $('input[name="telexRelease"]').removeAttr('checked');
        $(this).prop('checked','checked');
    })
</script>




