<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--基本信息-->
            <form id="myForm" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">
                            基本信息
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <div class="form-horizontal">
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">商机编号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="${businessId}" id="businessId"
                                           disabled/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">
                                    商机名称<sup class="not-null">*</sup>
                                </label>
                                <div class="col-xs-2">
                                    <input class="form-control notnull" type="text" name="businessName" value=""
                                           id="businessName" required/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">商机来源<sup
                                    class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control notnull" name="businessFrom" id="businessFrom">
                                        <option value="0" selected lang="zh">展会</option>
                                        <option value="1" lang="zh">门户网站</option>
                                        <option value="2" lang="zh">农药店考察</option>
                                        <option value="3" lang="zh">客户介绍</option>
                                        <option value="4" lang="zh">主动联系</option>
                                        <option value="5" lang="zh">其他</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">客户名称<sup
                                    class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input class="form-control notnull" type="text" name="customerName" value="" id="customerName"
                                               readonly/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-xs btn-default" type="button" id="customerModal">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">客户类型</label>
                                <div class="col-xs-2">
                                    <input class="form-control notnull" type="text" value="" id="customerLevelText" disabled />
                                    <select class="form-control hidden" id="customerLevel" disabled>
                                        <option value="5" lang="zh">风险客户</option>
                                        <option value="4" lang="zh">一般客户</option>
                                        <option value="3" lang="zh">重要客户</option>
                                        <option value="2" lang="zh">大客户</option>
                                        <option value="1" selected lang="zh">战略客户</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">信用评级</label>
                                <div class="col-xs-2">
                                    <input class="form-control notnull" type="text" value="" id="zhongxinbaoLevelText" disabled />
                                    <select class="form-control hidden" id="zhongxinbaoLevel" disabled>
                                        <option value="4" lang="zh">AAAA</option>
                                        <option value="3" lang="zh">AAA</option>
                                        <option value="2" lang="zh">AA</option>
                                        <option value="1" lang="zh">A</option>
                                        <option lang="zh" selected>未知</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">客户国别</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="country" disabled/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">联系人</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="linkmanName" disabled/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">联系电话</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="linkPhone1" disabled/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">邮箱</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="email" value="" id="lemail" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">意向产品1</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="intentionalProduct0"/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">预计采购量1</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="estimatedPurchase0"/>
                                </div>
                                <label class="col-xs-1 control-label">企业性质<sup class="not-null">*</sup></label>
                                <div class="col-xs-5">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="1"
                                               data-text="工厂" disabled> 工厂
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="2"
                                               data-text="经销商" disabled> 经销商
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="3"
                                               data-text="分销商" disabled> 分销商
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="4"
                                               data-text="终端客户" disabled> 终端客户
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" id="other"
                                               value="5" data-text="其他" disabled> 其他
                                    </label>
                                    <label class="checkbox-inline">
                                        <input class="form-control" type="text" id="otherEnterpriseNature"
                                               value="输入企业性质" disabled/>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">意向产品2</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="intentionalProduct1"/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">预计采购量2</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="estimatedPurchase1"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">预计收益</label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input class="form-control" type="text" value="" id="expectIncome"/>
                                        <span class="input-group-addon">万元</span>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">预计截止日期</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="date" value="" id="deadline"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">商机状态</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="businessState" disabled>
                                        <option value="0" lang="zh" selected>待报价</option>
                                        <option value="1" lang="zh">失败</option>
                                        <option value="2" lang="zh">已转化</option>
                                    </select>
                                </div>
                            </div>
                        #*<div class="form-group ">
                            <label class="col-xs-1 control-label">企业性质<sup class="not-null">*</sup></label>
                            <div class="col-xs-5">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" value="1" data-text="工厂" disabled> 工厂
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" value="2" data-text="经销商" disabled> 经销商
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" value="3" data-text="分销商" disabled> 分销商
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" value="4" data-text="终端客户" disabled> 终端客户
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" id="other" value="5" data-text="其他" disabled> 其他
                                </label>
                                <label class="checkbox-inline">
                                    <input class="form-control" type="text" id="otherRemarks" value="输入企业性质" disabled/>
                                </label>

                            </div>
                        </div>*#
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">商机描述</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control " rows="3" lang="zh" id="businessDescribe"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">备注</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control " rows="3" lang="zh" id="businessRemarks"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 col-xs-offset-4">
                                    <a class="btn btn-block btn-primary" id="finishAdd">完成</a>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-block btn-default" type="reset">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

//客户列表模态
<!--树形菜单modal-->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>

            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
                <div class="form-group clearfix">
                    <label class="col-lg-2 control-label">客户名称<sup class="not-null">*</sup></label>
                    <div class="col-lg-4">
                        <input class="form-control notnull" type="text" data-id="" id="customerNameAdd">
                    </div>
                    <div class="col-lg-2 col-xs-offset-1">
                        <input class="form-control" type="button" value="搜索" id="search">
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" type="button" value="新增" id="add">
                    </div>
                </div>
                <div class="form-group">
                    <ul class="list-group" id="customerList">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="JavaScript">
    var customerLevelList = ['战略客户','大客户' ,'重要客户' ,'一般客户' ,'风险客户'];
    var zhongxinbaoLevelList = ['未知','A','AA','AAA','AAAA'];

    $(document).ready(function () {
        // 错误信息容器
        $.validator.setDefaults({
            errorElement: 'div'
        });

        // 错误信息提示工具
        var em = function (txt, t, l) {
            return '<div class="tooltip top in"' +
                ' style="'+t+'; '+l+'; display: block; min-width: 50px;">' +
                '<div class="tooltip-arrow" style="left: 50%; border-top-color: #ff524f"></div>' +
                '<div class="tooltip-inner" style="background-color: #ff524f">'+txt+'</div>' +
                '</div>';
        };

        var validator = $('#myForm').validate({
            onfocusout: function (element) {
                $(element).valid();
            },
            rules: {
                businessName: 'required',
                businessFrom: 'required',
                customerName: 'required'
            },
            messages: {
                businessName: {
                    required: em('必填','top:-29px','right:0')
                },
                businessFrom: {
                    required: em('必填','top:-29px','right:0')
                },
                customerName: {
                    required: em('必填','top:-29px','right:0')
                }
            }
        });

        //获取客户modal列表
        $('#customerModal').click(function () {
            $('#Modal').modal('show');
        })

        $(document).on('click', '#search', function () {
            var customerList = document.getElementById('customerList');
            var data = {
                "fullName": $('#customerNameAdd').val()
            }
            jQuery.ajax({
                url: basePath + '/customerBaseInfo/getCustomerBaseInfoByQuery',
                contentType: "application/json",
                data: JSON.stringify(data),
                type: 'POST',
                success: function (result) {
                    var ResultData = eval(result.data);
                    console.log(ResultData.length);
                    if(ResultData.length != 0){
                        for (var i = 0; i < ResultData.length; i++) {
                            customerList.innerHTML += '<li class="list-group-item"><a class="cNode" data-id="' + ResultData[i].customerId + '">' + ResultData[i].fullName + '</a></li>';
                        }
                        $('#Modal').modal('show');
                    }else{
                        alert('未搜索到相关客户，请重新搜索@！');
                    }

                }
            })
        })

        $(document).on('click', 'a.cNode', function (e) {
            e.preventDefault();
            console.log(e.target);
            var id = $(e.target).attr('data-id');
            var tarEltext = $(e.target).text();
            $('#customerName').val(tarEltext);
            $('#customerName').attr('data-id', id);

            $('#Modal').modal('hide');
            jQuery.ajax({
                url: basePath + '/customerBaseInfo/getCustomerBaseInfoLinkman?customerId=' + id,
                type: 'POST',
                contentType: "application/json",
                success: function (result) {
                    var ResultData = result.data;

                    if(ResultData.fullName!=undefined){
                        $('#customerName').val(ResultData.fullName);
                    }
                    if(ResultData.country!=undefined){
                        $('#country').val(ResultData.country);
                    }
                    if(ResultData.linkmanName!=undefined){
                        $('#linkmanName').val(ResultData.linkmanName);
                    }
                    if(ResultData.linkPhone1!=undefined){
                        $('#linkPhone1').val(ResultData.linkPhone1);
                    }
                    if(ResultData.lemail!=undefined){
                        $('#lemail').val(ResultData.lemail);
                    }
                    if(ResultData.customerLevel!=undefined){
                        $('#customerLevel').val(ResultData.customerLevel);
                        $('#customerLevelText').val(customerLevelList[ResultData.customerLevel - 1]);
                    }
                    if(ResultData.zhongxinbaoLevel!=undefined){
                        $('#zhongxinbaoLevel').val(ResultData.zhongxinbaoLevel);
                        $('#zhongxinbaoLevelText').val(zhongxinbaoLevelList[ResultData.zhongxinbaoLevel]);
                    }
                    if(ResultData.enterpriseNature!=undefined){
                        var enterpriseNature = ResultData.enterpriseNature.split(',');
                        $.each(enterpriseNature, function (index, value) {
                            $("input[name='check']").each(function () {
                                if ($(this).val() == value) {
                                    $(this).prop('checked', true);
                                    if (value == 4) {
                                        $('#otherEnterpriseNature').val(ResultData.otherEnterpriseNature);
                                    }
                                }
                            })
                        })
                    }

                }
            })
        });

        $(document).on('click', '#add', function () {
            /*var id = $('#customerNameAdd').attr('data-id');
            if(id!=''){

                })
            }else {
                alert('请先选择客户名称再新增！');
            }*/
        })

        $('#finishAdd').click(function () {
            var url = basePath + '/businessInfo/doAddBusinessInfo';
            if (validator.form()) {
                var data = {

                    "businessName": $('#businessName').val(),
                    "businessId": $('#businessId').val(),
                    "businessFrom": $('#businessFrom').val(),
                    "businessState": $('#businessState').val(),

                    "customerId": $('#customerName').attr('data-id'),
                    "customerName": $('#customerName').val(),

                    "expectIncome": $('#expectIncome').val(),
                    "deadline": $('#deadline').val(),
                    "businessDescribe": $('#businessDescribe').val(),
                    "businessRemarks": $('#businessRemarks').val(),
                    "intentionalProducts": getintentionalProducts(),
                    "createUserId": 1,
                    "createUserName": "杨洋",
                    "lastmodifyUserId": 1,
                    "lastmodifyUserName": "杨洋",
                    "createTime": "2017-03-20 17:42:29",
                    "modifyTime": "2017-03-20 17:42:29"
                };
                console.log(data);
                jQuery.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        if (result.code == 1) {
                            alert("新增成功!");
                            window.location.href = basePath + '/businessOrder/intoBusinessOffer/';
                        } else {
                            alert("新增失败！");
                        }
                    }
                });
            }
        })

        function getintentionalProducts() {
            var data = [
                {
                    "intentionalProduct": $('#intentionalProduct0').val(),
                    "estimatedPurchase": $('#estimatedPurchase0').val()
                },
                {
                    "intentionalProduct": $('#intentionalProduct1').val(),
                    "estimatedPurchase": $('#estimatedPurchase1').val()
                }
            ]
            return JSON.stringify(data);
        }

        function getenterpriseNature() {
            var arr = [];
            $('input[name="check"]:checked').each(function () {
                var val = $(this).val();
                arr.push(val);
            })
            return arr;
        }
    });

</script>
