<div class="nav-deputy shadow-out clearfix">
    <ul id="myTab" class="nav nav-tabs pull-left">
        <li class="active"><a href="#Baseinfo" data-toggle="tab">基础信息</a></li>
        <li><a href="#followrecord" data-toggle="tab">跟进记录</a></li>
    </ul>
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-11">
            <!--基本信息-->
            <div id="Baseinfo" class="tab-pane fade in active">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                                <a class="btn btn-default" data-view="editHide" id="back">返回</a>
                                <button id="edit" data-btn="edit" data-view="editHide"  class="btn btn-primary" type="button" lang="zh">
                                    编辑
                                </button>
                                <a class="btn btn-primary" target="_blank" id="offer">报价</a>
                            </div>
                            <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                                <a id="cancel" data-btn="cancel" data-view="editView" class="btn btn-default hidden" lang="zh">取消</a>
                                <a id="save" data-btn="save" data-view="editView" class="btn btn-primary hidden" lang="zh">保存</a>
                            </div>
                            <h3 class="panel-title" lang="zh">
                                基本信息
                            </h3>
                        </div>
                        <div class="panel-body clearfix">
                            <div class="form-horizontal">
                                <div class="form-group ">
                                    <label class="col-xs-1 control-label" lang="zh">商机名称<sup data-view="viewEdit" class="not-null">*</sup></label>
                                    <div class="col-xs-2">
                                        <input class="form-control notnull" type="text" value="" id="businessName" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">商机编号</label>
                                    <div class="col-xs-2">
                                        <input class="form-control" type="text" id="businessId" value="${businessId}" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">商机来源<sup data-view="viewEdit" class="not-null">*</sup></label>
                                    <div class="col-xs-2">
                                        <select class="form-control notnull" id="businessFrom" disabled>
                                            <option value="0" selected lang="zh">展会</option>
                                            <option value="1" lang="zh">门户网站</option>
                                            <option value="2" lang="zh">农药店考察</option>
                                            <option value="3" lang="zh">客户介绍</option>
                                            <option value="4" lang="zh">主动联系</option>
                                            <option value="5" lang="zh">其他</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <label class="col-xs-1 control-label" lang="zh">客户名称<sup data-view="viewEdit" class="not-null">*</sup></label>
                                    <div class="col-xs-2">
                                        <input class="form-control notnull" type="text" value="" id="customerName" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">客户类型</label>
                                    <div class="col-xs-2">
                                        <select class="form-control" id="customerLevel" disabled>
                                            <option value="" lang="zh">潜在客户</option>
                                            <option value="5" lang="zh">风险客户</option>
                                            <option value="4" lang="zh">一般客户</option>
                                            <option value="3" lang="zh">重要客户</option>
                                            <option value="2" lang="zh">大客户</option>
                                            <option value="1" selected lang="zh">战略客户</option>
                                        </select>
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">信用评级</label>
                                    <div class="col-xs-2">
                                        <select class="form-control" id="zhongxinbaoLevel" disabled>
                                            <option value="4" selected lang="zh">AAAA</option>
                                            <option value="3" lang="zh">AAA</option>
                                            <option value="2" lang="zh">AA</option>
                                            <option value="1" lang="zh">A</option>
                                            <option value="0" selected lang="zh">未知</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" lang="zh">客户国别</label>
                                    <div class="col-xs-2">
                                        <input class="form-control" type="text" value="" id="country" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">联系人</label>
                                    <div class="col-xs-2">
                                        <input class="form-control" type="text" value="" id="linkmanName" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">联系电话</label>
                                    <div class="col-xs-2">
                                        <input class="form-control" type="text" value="" id="linkPhone1" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">邮箱</label>
                                    <div class="col-xs-2">
                                        <input class="form-control" type="email" value="" id="lemail" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" lang="zh">意向产品1</label>
                                    <div class="col-xs-2">
                                        <input  data-control="off" class="form-control" type="text" value="" id="intentionalProduct0" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">预计采购量1</label>
                                    <div class="col-xs-2">
                                        <input  data-control="off" class="form-control" type="text" value="" id="estimatedPurchase0" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" lang="zh">意向产品2</label>
                                    <div class="col-xs-2">
                                        <input  data-control="off" class="form-control" type="text" value="" id="intentionalProduct1" disabled />
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">预计采购量2</label>
                                    <div class="col-xs-2">
                                        <input data-control="off" class="form-control" type="text" value="" id="estimatedPurchase1" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" lang="zh">预计收益</label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input data-control="off" class="form-control" type="text" value="" id="expectIncome" disabled/>
                                            <span class="input-group-addon">万元</span>
                                        </div>
                                    </div>
                                    <label class="col-xs-1 control-label" lang="zh">预计截止日期</label>
                                    <div class="col-xs-2">
                                        <input data-control="off" class="form-control" type="date" value="" id="deadline" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" lang="zh">商机状态</label>
                                    <div class="col-xs-2">
                                        <select data-control="off" class="form-control" id="businessState" disabled>
                                            <option value="0" lang="zh">待报价</option>
                                            <option value="1" lang="zh">失败</option>
                                            <option value="2" lang="zh">已转化</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" lang="zh">商机描述</label>
                                    <div class="col-xs-8">
                                        <textarea data-control="off" class="form-control " rows="3" lang="zh" id="businessDescribe" disabled>客户主要销售草甘膦系列产品，有原药采购需求</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" lang="zh">备注</label>
                                    <div class="col-xs-8">
                                        <textarea data-control="off" class="form-control " rows="3" lang="zh" id="businessRemarks" disabled></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-xs-1 control-label" lang="zh">创建人</label>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" value="" id="createUserName" disabled/>
                                    </div>
                                    <label for="" class="col-xs-1 control-label" lang="zh">创建日期</label>
                                    <div class="col-xs-2">
                                        <input type="data" class="form-control" value="" id="createTime" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--商机跟进-->
            <div id="followrecord" class="tab-pane fade">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                                <a class="btn btn-xs btn-primary panel-heading-btn" href="#addbusinessfollow" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    新增
                                </a>
                            </div>
                            <h3 class="panel-title" lang="zh">商机跟进</h3>
                        </div>
                        <div class="panel-body clearfix">
                            <table class="table table-condensed table-bordered table-striped text-center">
                                <thead>
                                <tr>
                                    <th class="text-center" lang="zh">编号</th>
                                    <th class="text-center" lang="zh">跟进内容</th>
                                    <th class="text-center" lang="zh">跟进效果</th>
                                    <th class="text-center" lang="zh">商机阶段</th>
                                    <th class="text-center" lang="zh">创建人</th>
                                    <th class="text-center" lang="zh">创建时间</th>
                                </tr>
                                </thead>
                                <tbody id="businessfollow">
                                <tr>
                                    <td>1</td>
                                    <td>获取客户联系人和联系方式</td>
                                    <td>与联系人进行沟通约定时间洽谈</td>
                                    <td>线索跟进</td>
                                    <td>刘凯洋</td>
                                    <td>2016-10-10 18:00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <div class="panel-body clearfix">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-4">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

##新增跟进modal
<div class="modal fade" id="addbusinessfollow" tabindex="-1" data-backdrop="static" aria-hidden="true" data-keyboard="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body clearfix">
                            <div class="form-horizontal">
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">商机阶段</label>
                                    <div class="col-xs-5">
                                        <select class="form-control" id="businessProcess" >
                                            <option value="0" lang="zh">信息收集</option>
                                            <option value="1" lang="zh">线索跟进</option>
                                            <option value="2" lang="zh">需求挖掘</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">跟进内容</label>
                                    <div class="col-xs-10">
                                        <textarea class="form-control" rows="4" id="followContent"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">跟进效果</label>
                                    <div class="col-xs-10">
                                        <textarea class="form-control" rows="4" id="followEffect"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <a type="button" class="btn btn-primary btn-block" id="followfinish">
                            完成
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-block btn-default" type="reset">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

##<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" lang="javascript">

    var businessId = $('#businessId').val();
    var businessFromList = ['展会','门户网站','农药店考察','客户介绍','主动联系','其他']
    var customerLevelList = ['战略客户','大客户' ,'重要客户' ,'一般客户' ,'风险客户'];
    var enterpriseNatureList = ['工厂','分销商' ,'经销商' ,'终端客户' ,'其他'];
    var businessStateList = ['待报价','失败','已转化'];
    var zhongxinbaoLevelList = ['未知','A','AA','AAA','AAAA'];
    var businessfollow = document.getElementById('businessfollow');

    $(document).ready(function(){

        var baseInfo = new CRM.module.Panel('#Baseinfo',null);

        baseInfo.panel.on('click.panel.edit',baseInfo.edit,function (e) {
            baseInfo.handleEdit(e);
        });
        baseInfo.panel.on('click.panel.save',baseInfo.save,function (e) {
            baseInfo.handleSave(e);
        });
        baseInfo.panel.on('click.panel.cancel',baseInfo.cancel,function (e) {
            baseInfo.handleCancel(e);
        });

        //重置表单
        resetForm();

        //获取信息
        getData(basePath + '/businessInfo/getBusinessInfoById?businessId='+businessId,'POST',null,businessInfo);

        //编辑商机基本信息
        $(document).on('click.edit','#edit',function () {
        });

        //商机基本信息提交
        $(document).on('click.up','#save',function(){
            var notnull = $('.notnull');
            var submit_permit = true;
            notnull.each(function () {
                var val = $(this).val();
                if(val == ''||val == null){
                    alert('请完善表单必填项');
                    submit_permit = false;
                    return false;
                }
            });
            if(submit_permit){
                upData(basePath+'/businessInfo/updateBusinessInfoById','POST',updateBusinessInfo(),"application/json");
                jQuery.ajax({
                    url:basePath+'/businessInfo/updateBusinessInfoById',
                    type:'POST',
                    data:updateBusinessInfo(),
                    contentType:"application/json",
                    success:function () {
                        alert('保存成功');
                        resetForm();
                        getData(basePath + '/businessInfo/getBusinessInfoById?businessId='+businessId,'POST',null,businessInfo);
                        /*location.reload();*/
                    }
                })
                /*upData(basePath+'/businessInfo/updateBusinessInfoById','POST',updateBusinessInfo(),"application/json");*/
            }
        });
        //客户基本信息取消提交
        $(document).on('click.cancel','#cancel',function(){
        });

        //新增跟进记录
        $(document).on('click','#followfinish',function () {
            Followfinish();
            jQuery.ajax({
                url:basePath + '/businessRecord/doAddBusinessRecord',
                type:'POST',
                data:Followfinish(),
                contentType:"application/json",
                success:function () {
                    alert('保存成功');
                    resetForm();
                    getData(basePath + '/businessInfo/getBusinessInfoById?businessId='+businessId,'POST',null,businessInfo);
                    $('#addbusinessfollow').modal('hide');
                    /*location.reload();*/
                }
            })
            /*upData(basePath+'/businessRecord/doAddBusinessRecord','POST',Followfinish(),"application/json");*/
        })

        /*$('a[href="#followrecord"]').click(function(){
            $('a[href="#followrecord"]').tab('show');
            getData(basePath + '/businessInfo/getBusinessInfoById?businessId='+businessId,'POST',null,businessFollow);
        })*/
    })

    //获取详情function
    function businessInfo(result) {

        console.log(result);
        if(result.businessRecords){
            var businessRecords = eval(result.businessRecords);
            for(var i=0;i<businessRecords.length;i++){
                businessfollow.innerHTML += '<tr>'+
                        '<td>'+businessRecords[i].id+'</td>'+
                        '<td>'+businessRecords[i].followContent+'</td>'+
                        '<td>'+businessRecords[i].followEffect+'</td>'+
                        '<td>'+businessRecords[i].businessProcess+'</td>'+
                        '<td>'+businessRecords[i].createUserName+'</td>'+
                        '<td>'+businessRecords[i].createTime+'</td>'+
                        '</tr>';
            }
        }

        if(result.businessInfo!=undefined){
            var ResultData = result.businessInfo;
            if(ResultData.intentionalProducts != undefined){
                var intentionalProducts = eval(ResultData.intentionalProducts);
                $('#intentionalProduct0').val(intentionalProducts[0].intentionalProduct);
                $('#intentionalProduct1').val(intentionalProducts[1].intentionalProduct);
                $('#estimatedPurchase0').val(intentionalProducts[0].estimatedPurchase);
                $('#estimatedPurchase1').val(intentionalProducts[1].estimatedPurchase);
            }
            $('#businessName').val(ResultData.businessName);
            $('#businessId').val(ResultData.businessId);
            $('#businessFrom').val(ResultData.businessFrom);
            $('#businessState').val(ResultData.businessState);
            $('#customerName').val(ResultData.customerName);
            $('#enterpriseNature').val(ResultData.enterpriseNature);
            $('#customerLevel').val(customerLevelList[ResultData.customerLevel]);
            $('#zhongxinbaoLevel').val(zhongxinbaoLevelList[ResultData.zhongxinbaoLevel]);
            $('#country').val(ResultData.country);
            $('#name').val(ResultData.linkmanName);
            $('#customerLevel').val(ResultData.customerLevel);
            $('#zhongxinbaoLevel').val(ResultData.zhongxinbaoLevel);
            $('#country').val(ResultData.country);
            $('#linkmanName').val(ResultData.linkmanName);
            $('#linkPhone1').val(ResultData.linkPhone1);
            $('#lemail').val(ResultData.lemail);
            $('#expectIncome').val(ResultData.expectIncome);
            $('#deadline').val(ResultData.deadline);
            $('#businessDescribe').val(ResultData.businessDescribe);
            $('#businessRemarks').val(ResultData.businessRemarks);
            $('#createUserName').val(ResultData.createUserName);
            $('#createTime').val(ResultData.createTime);
        }





        var _html = '';

    }

    /*
    function businessFollow(result) {
        var ResultData = result;
        for(var i=0;i<businessfollow.length;i++){
            businessfollow.innerHTML = '';
            businessfollow.innerHTML += '<tr>'+
                    '<td>'+businessfollow[i].name+'</td>'+
                    '<td>'+businessfollow[i].name+'</td>'+
                    '<td>'+businessfollow[i].name+'</td>'+
                    '<td>'+businessfollow[i].name+'</td>'+
                    '<td>'+businessfollow[i].name+'</td>'+
                    '<td>'+businessfollow[i].name+'</td>'+
                    '</tr>';
        }*/



    function updateBusinessInfo(){
        var data = {
            "bussinessId":$('#businessId').val(),
            "bussinessName":$('#bussinessName').val(),
            "businessId":$('#businessId').val(),
            "businessFrom":$('#businessFrom').val(),
            "businessState":$('#businessState').val(),
            "customerName":$('#customerName').val(),
            "enterpriseNature":$('#enterpriseNature').val(),
            "customerLevel":$('#customerLevel').val(),
            "zhongxinbaoLevel":$('#zhongxinbaoLevel').val(),
            "country":$('#country').val(),
            "linkmanName":$('#linkmanName').val(),
            "linkPhone1":$('#linkPhone1').val(),
            "lemail":$('#lemail').val(),
            "expectIncome":$('#expectIncome').val(),
            "deadline":$('#deadline').val(),
            "businessDescribe":$('#businessDescribe').val(),
            "businessRemarks":$('#businessRemarks').val(),
            "createUserName":$('#createUserName').val(),
            "createTime":$('#createTime').val(),
            "intentionalProducts":getintentionalProducts()
        }

        return JSON.stringify(data);
    }
    
    function getintentionalProducts() {
        var data = [
            {
                "intentionalProduct":$('#intentionalProduct0').val(),
                "estimatedPurchase":$('#estimatedPurchase0').val()
            },
            {
                "intentionalProduct":$('#intentionalProduct1').val(),
                "estimatedPurchase":$('#estimatedPurchase1').val()
            }
        ]
        return JSON.stringify(data);
    }

    function resetForm() {
        $('input,textarea,select',$('#Baseinfo')).val('');
        $('#businessfollow').html('');
    }

    function Followfinish() {
        var data = {
            "businessId":$('#businessId').val(),
            "followContent":$('#followContent').val(),
            "followEffect":$('#followEffect').val(),
            "businessProcess":$('#businessProcess').val(),
            "createUserName":"杨洋",
            "createUserId":1,
            "createTime":getTime(),
            "lastmodifyUserName":"杨洋",
            "lastmodifyUserId":1,
            "modifyTime":getTime()
        }
        console.log(data);
        return JSON.stringify(data);
    }

    $('#back').click(function(){
//        window.location.href = basePath + '/businessOrder/intoBusinessInfo';
        window.history.back(-1);
    })

    $('#offer').click(function(){
        window.location.href = basePath + '/businessOrder/intoBusinessConverse?businessId=' + businessId;
    })
</script>
