
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--基本信息-->
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">
                            基本信息
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <div class="form-horizontal">
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">商机编号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="${businessId}" id="businessId" />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">商机名称<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control notnull" type="text" value="" id="businessName" />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">商机来源<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control notnull" id="businessFrom">
                                        <option value="0" selected lang="zh">展会</option>
                                        <option value="1" lang="zh">门户网站</option>
                                        <option value="2" lang="zh">农药店考察</option>
                                        <option value="3" lang="zh">客户介绍</option>
                                        <option value="4" lang="zh">主动联系</option>
                                        <option value="5" lang="zh">其他</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">客户名称<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input class="form-control notnull" type="text" value="" id="customerName" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-xs btn-default" type="button" id="customerModal">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">客户类型</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="customerLevel">
                                        <option value="" lang="zh">潜在客户</option>
                                        <option value="5" lang="zh">风险客户</option>
                                        <option value="4" lang="zh">一般客户</option>
                                        <option value="3" lang="zh">重要客户</option>
                                        <option value="2" lang="zh">大客户</option>
                                        <option value="1" selected lang="zh">战略客户</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">信用评级</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="zhongxinbaoLevel">
                                        <option value="" selected lang="zh">AAAA</option>
                                        <option value="" lang="zh">AAA</option>
                                        <option value="" lang="zh">AA</option>
                                        <option value="" lang="zh">A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">客户国别</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="country" />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">联系人</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="linkmanName" />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">联系电话</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="linkPhone1" />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">邮箱</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="email" value="" id="lemail" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">意向产品1</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="intentionalProduct0" />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">预计采购量1</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="estimatedPurchase0" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">意向产品2</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="intentionalProduct1" />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">预计采购量2</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="estimatedPurchase1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">预计收益</label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input class="form-control" type="text" value="" id="expectIncome"/>
                                        <span class="input-group-addon">万元</span>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">预计截止日期</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" value="" id="deadline" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">商机状态</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="businessState">
                                        <option value="0" lang="zh" selected>待报价</option>
                                        <option value="1" lang="zh">失败</option>
                                        <option value="2" lang="zh">已转化</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">商机描述</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control " rows="3" lang="zh" id="businessDescribe"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">备注</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control " rows="3" lang="zh" id="businessRemarks"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 col-xs-offset-4">
                                    <a class="btn btn-block btn-primary" id="finishAdd">完成</a>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-block btn-default" type="reset">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

//客户列表模态
<!--树形菜单modal-->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>

            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
                <div class="form-group clearfix">
                    <label class="col-lg-2 control-label">客户名称<sup class="not-null">*</sup></label>
                    <div class="col-lg-4">
                        <input class="form-control notnull" type="text" data-id="" id="customerNameAdd">
                    </div>
                    <div class="col-lg-2 col-xs-offset-1">
                        <input class="form-control" type="button" value="搜索" id="search">
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" type="button" value="新增" id="add">
                    </div>
                </div>
                <div class="form-group">
                    <ul class="list-group" id="customerList">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="JavaScript">
    
    //获取客户modal列表
    $('#customerModal').click(function(){
        $('#Modal').modal('show');
    })

    $(document).on('click','#search',function () {
        var customerList = document.getElementById('customerList');
        var data = {
            "customerNameAdd":$('#customerNameAdd').val()
        }
        jQuery.ajax({
            url: basePath + '/customerBaseInfo/getCustomerBaseInfoByQuery',
            contentType: "application/json",
            data: JSON.stringify(data),
            type: 'POST',
            success: function (result) {
                var ResultData = eval(result.data);
                for (var i = 0; i < ResultData.length; i++) {
                    customerList.innerHTML += '<li class="list-group-item"><a class="cNode" data-id="'+ResultData[i].customerId+'">' + ResultData[i].fullName + '</a></li>';
                }
                console.log(customerList);
                $('#Modal').modal('show');
            }
        })
    })

    $(document).on('click','a.cNode',function (e) {
        e.preventDefault();
        console.log(e.target);
        var id = $(e.target).attr('data-id');
        var tarEltext = $(e.target).text();
        $('#customerNameAdd').val(tarEltext);
        $('#customerNameAdd').attr('data-id',id);
    });

    $(document).on('click','#add',function () {
        var id = $('#customerNameAdd').attr('data-id');
        if(id!=''){
            jQuery.ajax({
                url:basePath + '',
                type:'POST',
                data:JSON.stringify($('#customerNameAdd').val()),
                contentType:"application/json",
                success:function (result) {
                    var ResultData = result;
                    $('#customerName').val(customerName);
                    $('#country').val(country);
                    $('#linkmanName').val(linkmanName);
                    $('#linkPhone1').val(linkPhone1);
                    $('#lemail').val(lemail);
                }
            })
        }else {
            alert('请先选择客户名称再新增！');
        }

    })
    
    $('#finishAdd').click(function () {
        var url = basePath + '/businessInfo/doAddBusinessInfo';
        var notnull = $('.notnull');
        var submit_permit = true;
        notnull.each(function () {
            var val = $(this).val();
            if(val == ''||val == null){
                alert('请完善表单必填项');
                submit_permit = false;
                return false;
            }
        });
        if(submit_permit){
            var data = {
                "bussinessId":$('#businessId').val(),
                "bussinessName":$('#bussinessName').val(),
                "businessId":$('#businessId').val(),
                "businessFrom":$('#businessFrom').val(),
                "businessState":$('#businessState').val(),
                "customerName":$('#customerName').val(),
                "enterpriseNature":$('#enterpriseNature').val(),
                "customerLevel":$('#customerLevel').val(),
                "zhongxinbaoLevel":$('#zhongxinbaoLevel').val(),
                "country":$('#country').val(),
                "linkmanName":$('#name').val(),
                "linkPhone1":$('#linkPhone1').val(),
                "lemail":$('#lemail').val(),
                "expectIncome":$('#expectIncome').val(),
                "deadline":$('#deadline').val(),
                "businessDescribe":$('#businessDescribe').val(),
                "businessRemarks":$('#businessRemarks').val(),
                "createUserName":$('#createUserName').val(),
                "createTime":$('#createTime').val(),
                "intentionalProducts":getintentionalProducts(),
                "createUserId":1,
                "createUserName":"杨洋",
                "lastmodifyUserId":1,
                "lastmodifyUserName":"杨洋",
                "createTime":"2017-03-20 17:42:29",
                "modifyTime":"2017-03-20 17:42:29"
            }
            jQuery.ajax({
                url:url,
                type:'POST',
                data:JSON.stringify(data),
                dataType:"json",
                contentType:"application/json",
                success:function(result){
                    if(result.code == 1){
                        alert("新增成功!");
                        location.reload();
                    }else {
                        alert("新增失败！");
                    }
                }
            });
        }
    })

    function getintentionalProducts() {
        var data = [
            {
                "intentionalProduct":$('#intentionalProduct0').val(),
                "estimatedPurchase":$('#estimatedPurchase0').val()
            },
            {
                "intentionalProduct":$('#intentionalProduct1').val(),
                "estimatedPurchase":$('#estimatedPurchase1').val()
            }
        ]
        return JSON.stringify(data);
    }
</script>
