
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-12">
            <!--基本信息-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="edit" data-form-btn="edit" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" lang="zh">
                            编辑
                        </button>
                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right hidden">
                            <a id="cancel" data-form-btn="cancel" class="btn" lang="zh">取消</a>
                            <a id="save" data-form-btn="save" class="btn btn-primary" lang="zh">保存</a>
                        </div>
                        <h3 class="panel-title" lang="zh">
                            基本信息
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <div class="form-horizontal">
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">订单编号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="orderId" value="$!{orderId}" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">商机编号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="businessId" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">客户名称</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="customerName" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">客户税号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="customerDutyParagraph" value="" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">中信保编码</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="zhongxinbaoNumber" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">注册资金</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="registeredFunds" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">企业电话</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="linkPhone1" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">企业邮箱</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="lemail" value="" disabled />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">企业性质</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="enterpriseNature">
                                        <option value="" selected lang="zh">全部</option>
                                        <option value="1" lang="zh">工厂</option>
                                        <option value="2" lang="zh">分销商</option>
                                        <option value="3" lang="zh">经销商</option>
                                        <option value="4" lang="zh">终端客户</option>
                                        <option value="5" lang="zh">其他</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">收票客户</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="billToCustomer" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">业务员</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="salesManName" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">部门</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="departmentName" disabled>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">销售组织</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="saleOrganizationName" disabled>

                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">目的港<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="destinationPort" disabled>

                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">起运港<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="shipmentPort" disabled>

                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">收款协议<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="collectionAgreement" disabled>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">贸易方式<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="tradeType">
                                        <option value="0">一般贸易</option>
                                        <option value="1">其他</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">贸易术语<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="tradeTerm" disabled>

                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">币易国别<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="tradeCountry" disabled>

                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">是否使用信用险</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="isCreditRisk" disabled>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">币种<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="currency" disabled>
                                        <option value="0">RMB</option>
                                        <option value="1">美元</option>
                                        <option value="2">欧元</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">原币对美元汇率<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="nusdexchgrate" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">原币对本元汇率<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="nexchangerate" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">保险费率（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="premiumRate" value="" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">资金利率（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="discountRate" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">汇损费率（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="lossRate" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">计息比例（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="interestRate" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">信保赔付率（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="creditRate" value="" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">销售费率（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="saleRate" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">管理汇率（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="managementRate" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">信保费率（%）<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="guaranteeRate" value="" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">是否可转运</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="transportFlag" disabled>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">是否可分批出运</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="partialShipmentFalg" disabled>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">内部供货单位<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="email" id="" value="" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="tab-content col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                        <button class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh" id="Add">新增</button>
                        <button class="btn btn-primary" id="delete">删除</button>
                    </div>
                    <h3 class="panel-title">
                        产品信息
                    </h3>
                </div>
                <div class="panel-body">
                    <!--表格-->
                    <table class="table table-condensed table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">产品序列号</th>
                            <th class="text-center" lang="zh">品名</th>
                            <th class="text-center" lang="zh">品类</th>
                            <th class="text-center" lang="zh">品牌</th>
                            <th class="text-center" lang="zh">包装规格</th>
                            <th class="text-center" lang="zh">产品数量</th>
                            <th class="text-center" lang="zh">整柜数量</th>
                            <th class="text-center" lang="zh">柜型</th>
                            <th class="text-center" lang="zh">柜数</th>
                            <th class="text-center" lang="zh">交货时间</th>
                            <th class="text-center" lang="zh">最低销售价（元/KG（L)）</th>
                            <th class="text-center" lang="zh">单据要求</th>
                            <th class="text-center" lang="zh">订舱出运要求</th>
                            <th class="text-center" lang="zh">勾选删除项</th>
                        </tr>
                        </thead>
                        <tbody id="businessproduct">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body clearfix">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-2 col-xs-offset-4">
                        <a class="btn btn-block btn-primary" id="back">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

 <!--编号-->
<input id="customerId" type="hidden" value="$!{customerId}">
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript">
    var orderId = $('#orderId').val();
    var businessProductId = $('#businessProductId').val();
    var businessproduct = document.getElementById('businessproduct');

    $(document).ready(function(){
        //请求数据
        jQuery.ajax({
            url:basePath + '/businessOrder/getBusinessOrderByOrderId?orderId=' + orderId,
            type:'GET',
            success:function(result){
                var businessOrder = result.data.businessOrder;
                var customerBaseInfo = result.data.customerBaseInfo;
                var businessOrderProductLists = result.data.businessOrderProductLists;

                $('#businessId').val(businessOrder.businessId);
                $('#customerName').val(customerBaseInfo.customerName);
                $('#customerDutyParagraph').val(businessOrder.customerDutyParagraph);
                $('#linkPhone1').val(customerBaseInfo.linkPhone1);
                $('#enterpriseNature').val(customerBaseInfo.enterpriseNature);
                $('#zhongxinbaoNumber').val(customerBaseInfo.zhongxinbaoNumber);
                $('#registeredFunds').val(customerBaseInfo.registeredFunds);
                $('#billToCustomer').val(businessOrder.billToCustomer);
                $('#salesManName').val(businessOrder.salesManName);
                $('#departmentName').val(businessOrder.departmentName);
                $('#saleOrganizationName').val(businessOrder.saleOrganizationName);
                $('#destinationPort').val(businessOrder.destinationPort);
                $('#shipmentPort').val(businessOrder.shipmentPort);
                $('#collectionAgreement').val(businessOrder.collectionAgreement);
                $('#tradeType').val(businessOrder.tradeType);
                $('#tradeTerm').val(businessOrder.tradeTerm);
                $('#tradeCountry').val(businessOrder.tradeCountry);
                $('#currency').val(businessOrder.currency);
                $('#premiumRate').val(businessOrder.premiumRate);
                $('#guaranteeRate').val(businessOrder.guaranteeRate);
                $('#discountRate').val(businessOrder.discountRate);
                $('#isCreditRisk').val(businessOrder.isCreditRisk);
                $('#lossRate').val(businessOrder.lossRate);
                $('#interestRate').val(businessOrder.interestRate);
                $('#creditRate').val(businessOrder.creditRate);
                $('#saleRate').val(businessOrder.saleRate);
                $('#managementRate').val(businessOrder.managementRate);
                $('#transportFlag').val(businessOrder.transportFlag);
                $('#partialShipmentFalg').val(businessOrder.partialShipmentFalg);
                $('#lemail').val(businessOrder.status);
                $('#internalSupplyName').val(businessOrder.internalSupplyName);
                $('#nusdexchgrate').val(businessOrder.status);
                $('#nexchangerate').val(businessOrder.internalSupplyName);

                businessproduct.innerHTML = '';
                for(var i=0;i<businessOrderProductLists.length;i++){
                    businessproduct.innerHTML += '<tr>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].productCode)+'</td>'+
                            '<td><a href="'+basePath+'/businessProduct/intoProductBasicInfoRequire?businessProductId='+businessOrderProductLists[i].businessProductId+'&&orderId='+businessOrderProductLists[i].orderId+'">'+ifEmpty(businessOrderProductLists[i].productName)+'</a></td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].categoryName)+'</td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].brand)+'</td>'+
                            '<td><a href="'+basePath+'/businessProduct/intoProductRequire?businessProductId='+businessOrderProductLists[i].businessProductId+'&&orderId='+businessOrderProductLists[i].orderId+'&&productRequireId='+businessOrderProductLists[i].productRequireId+'">'+ifEmpty(businessOrderProductLists[i].specification)+'</a></td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].mainProductAmount)+'</td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].cupboardPerNumber)+'</td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].cupboardType)+'</td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].cupboardNumber)+'</td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].deliveryTime)+'</td>'+
                            '<td>'+ifEmpty(businessOrderProductLists[i].documentaryRequire)+'</td>'+
                            '<td><a href="'+basePath+'/businessProduct/intoDocumentary?businessProductId='+businessOrderProductLists[i].businessProductId+'&&orderId='+businessOrderProductLists[i].orderId+'">查看</a></td>'+
                            '<td><a href="'+basePath+'/businessProduct/intoPackageRequire?businessProductId='+businessOrderProductLists[i].businessProductId+'&&orderId='+businessOrderProductLists[i].orderId+'">查看</a></td>'+
                            '<td><input type="checkbox" class="form-control" name="cellcheckbox" value="'+businessOrderProductLists[i].orderId+'" /></td>'+
                            '</tr>';
                }
            }
        })
    })

    $('#save').click(function(){
        jQuery.ajax({
            url:basePath + '/businessOrder/updateBusinessOrderByOrderId',
            type:'POST',
            contentType:"application/json",
            data:getOrder(),
            success:function (result) {
                console.log(result);
            }
        })
    })

    function getOrder() {
        var businessOrder = {
            "orderId":$('#orderId').val(),
            "businessId":$('#businessId').val(),
            "customerName":$('#customerName').val(),
            "customerDutyParagraph":$('#customerDutyParagraph').val(),
            "linkPhone1":$('#linkPhone1').val(),
            "lemail":$('#lemail').val(),
            "enterpriseNature":$('#enterpriseNature').val(),
            "registeredFunds":$('#registeredFunds').val(),
            "zhongxinbaoNumber":$('#zhongxinbaoNumber').val(),
            "billToCustomer":$('#billToCustomer').val(),
            "salesManName":$('#salesManName').val(),
            "departmentName":$('#departmentName').val(),
            "saleOrganizationName":$('#saleOrganizationName').val(),
            "destinationPort":$('#destinationPort').val(),
            "shipmentPort":$('#shipmentPort').val(),
            "collectionAgreement":$('#collectionAgreement').val(),
            "tradeType":$('#tradeType').val(),
            "tradeTerm":$('#tradeTerm').val(),
            "tradeCountry":$('#tradeCountry').val(),
            "currency":$('#currency').val(),
            "premiumRate":$('#premiumRate').val(),
            "guaranteeRate":$('#guaranteeRate').val(),
            "discountRate":$('#discountRate').val(),
            "isCreditRisk":$('#isCreditRisk').val(),
            "lossRate":$('#lossRate').val(),
            "interestRate":$('#interestRate').val(),
            "creditRate":$('#creditRate').val(),
            "saleRate":$('#saleRate').val(),
            "managementRate":$('#managementRate').val(),
            "transportFlag":$('#transportFlag').val(),
            "partialShipmentFalg":$('#partialShipmentFalg').val(),
            "internalSupplyName":$('#internalSupplyName').val(),
            "nusdexchgrate":$('#nusdexchgrate').val(),
            "nexchangerate":$('#nexchangerate').val(),
        }
        console.log(businessOrder)
        return JSON.stringify(businessOrder);
    }

    //新增产品信息
    $('#Add').click(function(){
        window.location.href = basePath + '/businessProduct/intoProductBasicInfoRequire?orderId=' + orderId;
    })

    //批量删除
    $('#delete').on('click',function(){
        var ids = new Array();
        $("input[name='cellcheckbox']:checked").each(function(){
            ids.push($(this).val());
        })

        if(ids.length > 0){
            var msg = "确定要删除这些关联吗？";
            if(confirm(msg)){
                var url = basePath + 'deleteRelation?businessProductId=' + businessProductId;
                var data = ids;

                jQuery.ajax({
                    url:url,
                    type:'POST',
                    dataType:"json",
                    contentType:"application/json",
                    data:JSON.stringify(data),
                    success:function(){
                        alert("批量删除成功");
                        location.reload();
                    }
                })
            }
        }else{
            alert("还未选择需要删除的关联！");
        }
    })
    
    function ifEmpty(data) {
        return data==undefined?'':data;
    }

    $('#back').click(function(){
        window.location.href = basePath + '/businessOrder/intoBusinessOffer';
    })
</script>