
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div  id="offerInfo" class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-12 view-HD-lg">
            <!--基本信息-->
                <div  class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group panel-heading-btn pull-right">
                            <a class="btn btn-xs btn-default hidden" id="addback">返回</a>
                            <button id="finish" class="btn btn-xs btn-primary panel-heading-btn pull-right hidden" type="button" lang="zh">
                                完成
                            </button>
                        </div>
                        <div class="btn-group panel-heading-btn pull-right">
                            <a class="btn btn-xs btn-default hidden" data-view="editHide" id="back">返回</a>
                            <button id="edit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary hidden" type="button" lang="zh">编辑</button>
                        </div>
                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                            <button id="cancel" data-btn="cancel" data-view="editView" class="btn btn-default hidden" type="button" lang="zh" onclick="location.reload()">取消</button>
                            <button id="save" data-btn="save" data-view="editView" class="btn btn-primary hidden" type="button" lang="zh">保存</button>
                        </div>
                        <h3 class="panel-title" lang="zh">基本信息</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <form class="form-horizontal" id="myForm">
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">订单编号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="orderId" value="$!{orderId}" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">商机编号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="businessId" value="$!{businessId}" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">客户名称</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="fullName" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">客户税号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" data-control="on" type="text" id="customerDutyParagraph" value="" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">中信保编码</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="zhongxinbaoNumber" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">注册资金</label>
                                <div class="col-xs-2">
##                                    <input class="form-control" type="text" id="registeredFunds" value="" disabled />
                                    <div class="input-group">
                                        <span id="fundType" class="input-group-addon" lang="zh">美元</span>
                                        <input id="registeredFunds" disabled name="registeredFunds" class="form-control" min="0" type="number" value="" />
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">企业电话</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="enterprisePhone" value="" disabled />
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">企业邮箱</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="enterpriseEmail" value="" disabled />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-xs-1 control-label" lang="zh">收票客户</label>
                                <div class="col-xs-2">
                                    <input class="form-control" type="text" id="billToCustomer" value="" data-control="on" disabled />
                                </div>
                                <label for="saleOrganizationName" class="control-label col-xs-1" lang="zh">销售组织<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="saleOrganizationName" name="saleOrganizationName" data-toggle="dropdown" class="form-control dropdown-toggle notnull" data-control="on" readonly disabled type="text" placeholder="点击搜索按钮选择" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button id="oNSearch" class="btn btn-xs btn-default" data-control="on" disabled type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">部门<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="departmentName" name="departmentName" data-toggle="dropdown" data-control="on" readonly class="form-control dropdown-toggle notnull" disabled type="text" placeholder="点击搜索按钮选择" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button id="depSearch" class="btn btn-xs btn-default" data-control="on" disabled type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <label for="salesManName" class="col-xs-1 control-label" lang="zh">业务员<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="salesManName" name="salesManName" data-control="on" readonly placeholder="请在下拉菜单中选择" class="form-control notnull" disabled type="text" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button id="salSearch" data-control="on" disabled class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                            <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                                <ul id="sm" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">目的港<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="destinationPort" name="destinationPort" data-control="on" readonly placeholder="请在下拉菜单中选择" class="form-control notnull" disabled type="text" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button data-control="on" data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button" disabled><span class="glyphicon glyphicon-search"></span></button>
                                            <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                                <input  id="destinationPortS" name="destinationPortS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none; border-radius: 0; border-color: transparent">
                                                <ul id="dp" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">起运港<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="shipmentPort" name="shipmentPort" data-control="on" readonly placeholder="请在下拉菜单中选择" class="form-control notnull" disabled type="text" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button data-control="on" disabled class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                            <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                                <input id="shipmentPortS" name="shipmentPortS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
                                                <ul id="sp" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">收款比例<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input data-control="on" class="form-control notnull" min="0" max="100" step="0.5" type="number" id="interestRate" name="interestRate" value="" disabled/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">收款协议<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control notnull" disabled id="income" name="income">
                                        <option value="">——请选择——</option>
                                        #foreach($!info in $!{income})
                                            <option value="$!info.code">$!info.name</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">贸易方式<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control notnull" id="tradeType" name="tradeType" data-control="on" disabled>
                                        <option value="0">一般贸易</option>
                                        <option value="1">其他</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">贸易术语<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select data-control="on" class="form-control notnull" name="incoterm" disabled id="incoterm" >
                                        <option value="">——请选择——</option>
                                        #foreach($!info in $!{incoterm})
                                            <option value="$!info.code">$!info.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">贸易国别<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="countryzone" name="countryzone" data-control="on" readonly placeholder="请在下拉菜单中选择" class="form-control notnull" disabled type="text" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button" disabled><span class="glyphicon glyphicon-search"></span></button>
                                            <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                                <input id="countryzoneS" name="countryzoneS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent" disabled>
                                                <ul id="cz" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">是否使用信用险</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="isCreditRisk" name="isCreditRisk" data-control="on" disabled>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">币种<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control notnull" data-control="on" disabled id="currency" name="currency">
                                        <option value="">——请选择——</option>
                                        #foreach($!info in $!{currtype})
                                            <option value="$!info.code">$!info.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">原币对美元汇率<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input data-control="on" class="form-control notnull" type="number" step="0.5" id="nusdexchgrate" name="nusdexchgrate" value="" disabled/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">原币对本币汇率<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input data-control="on" class="form-control notnull" type="number" step="0.5" id="nexchangerate" name="nexchangerate" value="" disabled/>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">保险费率<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input data-control="on" class="form-control notnull" min="0" max="100" step="0.5" type="number" id="premiumRate" name="premiumRate" value="0.03" disabled/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">资金利息利率<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input data-control="on" class="form-control notnull" min="0" max="100" step="0.5" type="number" id="discountRate" name="discountRate" value="6" disabled/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">汇损费率<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input data-control="on" class="form-control notnull" min="0" max="100" step="0.5" type="number" id="lossRate" name="lossRate" value="0" disabled/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <label class="col-xs-1 control-label" for="exchangeTermsDetail" lang="zh">收汇条款明细<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="exchangeTermsDetail" name="exchangeTermsDetail" data-control="on" type="text" disabled/>
                                </div>
                                <label class="col-xs-1 control-label" for="latestDeliveryTime" lang="zh">最迟交货时间<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control notnull" id="latestDeliveryTime" name="latestDeliveryTime" data-control="on" type="date" disabled/>
                                </div>
                            </div>
                            <div class="form-group" id="corporation">
                                <label class="col-xs-1 control-label" lang="zh">信保费率<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input data-control="on" class="form-control" min="0" max="100" step="0.5" type="number" id="guaranteeRate" name="guaranteeRate" value="0.24" disabled/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                #*<label class="col-xs-1 control-label" lang="zh">信保赔付率<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input data-control="on" class="form-control" min="0" step="0.01" type="number" id="creditRate" value="" disabled/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>*#
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" lang="zh">是否可转运</label>
                                <div class="col-xs-2">
                                    <select  class="form-control" id="transportFlag" data-control="on" disabled>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label" lang="zh">是否可分批出运</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="partialShipmentFalg" data-control="on" disabled>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-xs-1 control-label">企业性质</label>
                                <div class="col-xs-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="1" data-text="工厂" disabled> 工厂
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="2" data-text="经销商" disabled> 经销商
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="3" data-text="分销商" disabled> 分销商
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="4" data-text="终端客户" disabled> 终端客户
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" id="other" value="5" data-text="其他" disabled> 其他
                                    </label>
                                    <label class="checkbox-inline">
                                        <input class="form-control" type="text" id="otherEnterpriseNature" value="" disabled/>
                                    </label>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <div id="producttable" data-view="editHide" class="tab-content col-xs-12 view-HD-lg">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                        <button class="btn btn-primary" id="delete" type="button" disabled>删除</button>
                        <button class="btn btn-xs btn-primary" id="Add" type="button" lang="zh">新增</button>
                    </div>
                    <h3 class="panel-title">
                        产品信息
                    </h3>
                </div>
                <div class="panel-body">
                    <!--表格-->
                    <table class="table table-condensed table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">产品序列号</th>
                            <th class="text-center" lang="zh">品名</th>
                            <th class="text-center" lang="zh">品类</th>
                            <th class="text-center" lang="zh">品牌</th>
                            <th class="text-center" lang="zh">包装规格</th>
                            <th class="text-center" lang="zh">产品数量</th>
                            <th class="text-center" lang="zh">整柜数量</th>
                            <th class="text-center" lang="zh">柜型</th>
                            <th class="text-center" lang="zh">柜数</th>
                            <th class="text-center" lang="zh">交货时间</th>
                            <th class="text-center" lang="zh">最低销售价（元/T(kL)）</th>
                            <th class="text-center" lang="zh">单据要求</th>
                            <th class="text-center" lang="zh">订舱出运要求</th>
                            <th class="text-center" lang="zh">勾选删除项</th>
                        </tr>
                        </thead>
                        <tbody id="businessproduct">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body clearfix">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-2 col-xs-offset-4">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

## 客户基本分类
<div class="modal fade in" id="cbtModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <hr>
                <div class="zTreeDemoBackground left well" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                    <ul id="cbtTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>


## 贸易国别
<script id="tzC" type="text/html">
    <%if (data.list.length>0) {%>
    <%for (var i=0; i<data.list.length; i++) {%>
    <li><a href="#" id="<%=data.list[i].pkTimezone%>" data-val="<%=data.list[i].code%>" style="padding-left: 6px"><%=data.list[i].name%></a></li>
    <%}%>
    <%}%>
</script>

## 起运港和目的港
<script id="dpC" type="text/html">
    <%if (data.list.length>0) {%>
        <%for (var i=0; i<data.list.length; i++) {%>
        <li><a href="#" data-val="<%=data.list[i].vcode%>" style="padding-left: 6px"><%if (data.currentLang == 'zh') {%><%=data.list[i].vname%>,<%=data.list[i].country%><%}else{%><%=data.list[i].venname%>,<%=data.list[i].ecountry%><%}%></a></li>
        <%}%>
    <%}%>
</script>

## 业务员
<script id="salC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" data-val="<%=data[i].code%>" style="padding-left: 6px"><%=data[i].cname%></a></li>
    <%}%>
    <%}%>
</script>

 <!--编号-->
<input id="customerId" type="hidden" value="">
<input id="editId" type="hidden" value="$!{edit}">

<script type="text/javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript">
    var orderId = $('#orderId').val();
    var businessId = $('#businessId').val();
    /*console.log(businessId);*/

    var businessProductId = '';
    var businessproduct = document.getElementById('businessproduct');
    var editId = $('#editId').val();

    /*console.log(orderId);*/
    var bInfo = new CRM.module.Panel('#offerInfo');
    bInfo.startEdit();
    /*bInfo.startSave();*/
    bInfo.startCancel();

    var cupboardTypeList = ['20GP','40GP','20HQ'];

    $(document).ready(function(){

        $('#edit').click(function () {
            if ($('#interestRate').val()==='100') {
                $('#income').attr('disabled', true);
            }else {
                $('#income').attr('disabled', false);
            }
        });

        $('#save').click(function () {
            $('#income').attr('disabled', true);
        });
        $('#cancel').click(function () {
            $('#income').attr('disabled', true);
        });

        if(orderId!=''&&businessId==''){
            $('#back').removeClass('hidden');
            $('#edit').removeClass('hidden');
            $('#delete').attr('disabled',false);

            //请求数据
            jQuery.ajax({
                url:basePath + '/businessOrder/getBusinessOrderByOrderId?orderId=' + orderId,
                type:'GET',
                success:function(result){
                    if(result.data != null&&result.data != undefined){
                        var businessOrder = result.data.businessOrder;
                        if(businessOrder.businessId!=undefined){$('#businessId').val(businessOrder.businessId); }// 商机编号
                        if(businessOrder.customerDutyParagraph!=undefined){$('#customerDutyParagraph').val(businessOrder.customerDutyParagraph);} // 客户税号
                        if(businessOrder.billToCustomer!=undefined){$('#billToCustomer').val(businessOrder.billToCustomer);} // 收票客户
                        if(businessOrder.saleOrganizationName!=undefined){$('#saleOrganizationName').val(businessOrder.saleOrganizationName);} // 销售组织name
                        if(businessOrder.saleOrganizationId!=undefined){$('#saleOrganizationName').data('val',businessOrder.saleOrganizationId);} // 销售组织id
                        if(businessOrder.departmentName!=undefined){$('#departmentName').val(businessOrder.departmentName); }// 部门name
                        if(businessOrder.departmentId!=undefined){$('#departmentName').data('val',businessOrder.departmentId);} // 部门id
                        if(businessOrder.salesManName!=undefined){$('#salesManName').val(businessOrder.salesManName);} // 业务员name
                        if(businessOrder.salesManId!=undefined){$('#salesManName').data('val',businessOrder.salesManId);} // 业务员id
                        if(businessOrder.destinationPortName!=undefined){$('#destinationPort').val(businessOrder.destinationPortName);} // 目的港
                        if(businessOrder.shipmentPortName!=undefined){$('#shipmentPort').val(businessOrder.shipmentPortName); }// 起运港
                        if(businessOrder.collectionAgreement!=undefined){$('#income').val(businessOrder.collectionAgreement);} // 收款协议
                        if(businessOrder.tradeType!=undefined){$('#tradeType').val(businessOrder.tradeType);} // 贸易方式
                        if(businessOrder.tradeTerm!=undefined){$('#incoterm').val(businessOrder.tradeTerm);} // 贸易术语
                        if(businessOrder.tradeCountryName!=undefined){$('#countryzone').val(businessOrder.tradeCountryName);} // 贸易国别name
                        if(businessOrder.tradeCountry!=undefined){$('#countryzone').data('val',businessOrder.tradeCountry);} // 贸易国别id
                        if(businessOrder.isCreditRisk!=undefined){$('#isCreditRisk').val(businessOrder.isCreditRisk); }// 是否使用信用险
                        if(businessOrder.currency!=undefined){$('#currency').val(businessOrder.currency); }// 币种
                        if(businessOrder.nusdexchgrate!=undefined){$('#nusdexchgrate').val(businessOrder.nusdexchgrate);} // 原币对美元汇率
                        if(businessOrder.nexchangerate!=undefined){$('#nexchangerate').val(businessOrder.nexchangerate);} // 原币对本元汇率
                        if(businessOrder.premiumRate!=undefined){$('#premiumRate').val(businessOrder.premiumRate);} // 保险费率
                        if(businessOrder.discountRate!=undefined){$('#discountRate').val(businessOrder.discountRate);} // 资金利率
                        if(businessOrder.lossRate!=undefined){$('#lossRate').val(businessOrder.lossRate);} // 汇损费率
                        if(businessOrder.prepayRate!=undefined){$('#interestRate').val(businessOrder.prepayRate);} // 收款比例
                        if(businessOrder.saleRate!=undefined){$('#saleRate').val(businessOrder.saleRate);} // 销售费率
                        if(businessOrder.managementRate!=undefined){$('#managementRate').val(businessOrder.managementRate);} // 管理汇率
                        if(businessOrder.guaranteeRate!=undefined){$('#guaranteeRate').val(businessOrder.guaranteeRate);} // 信保费率
                        /*if(businessOrder.creditRate!=undefined){$('#creditRate').val(businessOrder.creditRate);}*/ // 信保赔付率
                        if(businessOrder.transportFlag!=undefined){$('#transportFlag').val(businessOrder.transportFlag);} // 是否可转运
                        if(businessOrder.partialShipmentFalg!=undefined){$('#partialShipmentFalg').val(businessOrder.partialShipmentFalg);} // 是否可分批出运
                        if(businessOrder.exchangeTermsDetail!=undefined){$('#exchangeTermsDetail').val(businessOrder.exchangeTermsDetail);} // 收汇条款明细
                        if(businessOrder.latestDeliveryTime!=undefined){$('#latestDeliveryTime').val(businessOrder.latestDeliveryTime);} // 最迟交货时间

                        isShowCre(businessOrder.isCreditRisk); // 判断是否显示信保相关字段

                        var customerBaseInfo = result.data.customerBaseInfo;
                        if(customerBaseInfo.customerId!=undefined){$('#customerId').val(customerBaseInfo.customerId);} // 客户id
                        if(customerBaseInfo.fullName!=undefined){$('#fullName').val(customerBaseInfo.fullName);} // 客户名称
                        if(customerBaseInfo.zhongxinbaoNumber!=undefined){$('#zhongxinbaoNumber').val(customerBaseInfo.zhongxinbaoNumber); }// 中信保编码
                        /*if(customerBaseInfo.registeredFunds!=undefined){$('#registeredFunds').val(customerBaseInfo.registeredFunds); }*/
                        if (customerBaseInfo.registeredFunds!=undefined) {
                            if(customerBaseInfo.registeredFunds.split(':').length==2){
                                $('#fundType').text(customerBaseInfo.registeredFunds.split(':')[0]).data('val',customerBaseInfo.registeredFunds.split(':')[0]);
                                $('#registeredFunds').val(customerBaseInfo.registeredFunds.split(':')[1]);
                            }else {
                                $('#registeredFunds').val(customerBaseInfo.registeredFunds.split(':')[0]);
                            }
                        }// 注册资金
                        if(customerBaseInfo.enterprisePhone!=undefined){$('#enterprisePhone').val(customerBaseInfo.enterprisePhone);} // 企业电话
                        if(customerBaseInfo.enterpriseEmail!=undefined){$('#enterpriseEmail').val(customerBaseInfo.enterpriseEmail);}// 企业邮箱


                        businessproduct.innerHTML = '';
                        if(result.data.businessOrderProductLists!=undefined){
                            var businessOrderProductLists = result.data.businessOrderProductLists;
                            for(var i=0;i<businessOrderProductLists.length;i++){
                                businessproduct.innerHTML += '<tr>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].productCode)+'</td>'+
                                        '<td><a href="'+basePath+'/businessProduct/intoProductBasicInfoRequire?businessProductId='+businessOrderProductLists[i].businessProductId+'&orderId='+businessOrderProductLists[i].orderId+'&edit=1'+'">'+ifEmpty(businessOrderProductLists[i].productName)+'</a></td>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].categoryName)+'</td>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].brand)+'</td>'+
                                        '<td><a href="'+basePath+'/businessProduct/intoProductRequire?businessProductId='+businessOrderProductLists[i].businessProductId+'&orderId='+businessOrderProductLists[i].orderId+'&productRequireId='+ifEmpty(businessOrderProductLists[i].productRequireId)+'&edit=1'+'">'+ifEmpty(businessOrderProductLists[i].specification)+'</a></td>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].mainProductAmount)+'</td>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].cupboardPerNumber)+'</td>'+
                                        '<td>'+cupboardTypeList[ifEmpty(businessOrderProductLists[i].cupboardType)]+'</td>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].cupboardNumber)+'</td>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].deliveryTime)+'</td>'+
                                        '<td>'+ifEmpty(businessOrderProductLists[i].minPrice)+'</td>'+

                                        '<td><a href="'+basePath+'/businessProduct/intoDocumentary?businessProductId='+businessOrderProductLists[i].businessProductId+'&orderId='+businessOrderProductLists[i].orderId+'&edit=1'+'">查看</a></td>'+
                                        '<td><a href="'+basePath+'/businessProduct/intoPackageRequire?businessProductId='+businessOrderProductLists[i].businessProductId+'&orderId='+businessOrderProductLists[i].orderId+'&edit=1'+'">查看</a></td>'+
                                        '<td><input type="checkbox" class="form-control" name="cellcheckbox" value="'+businessOrderProductLists[i].businessProductId+'" /></td>'+
                                        '</tr>';
                            }
                        }
                    }
                }
            })
        }
        if(businessId != ''){
            $('#addback').removeClass('hidden');
            $('#finish').removeClass('hidden');
            $('#Add').addClass('disabled');
            $('[data-control="on"]').attr('disabled',false);
            $('sup[data-view="editView"]').removeClass('hidden');

            // 未点击“保存”时，点击“新增”按钮，提示“请先保存基础信息”
            $('#Add').filter('.disabled').click(function () {
                alert('请先保存基础信息!');
            });

            jQuery.ajax({
                url:basePath + '/businessInfo/getBusinessInfoById?businessId=' + businessId,
                type:'POST',
                success:function(result){
                    console.log(result);
                    var businessInfo = result.data.businessInfo;
                    console.log(businessInfo.customerName);
                    $('#customerId').val(businessInfo.customerId); // 客户id
                    $('#fullName').val(businessInfo.customerName); // 客户名称
                    $('#zhongxinbaoNumber').val(businessInfo.zhongxinbaoNumber); // 中信保编码
                    /*$('#registeredFunds').val(businessInfo.registeredFunds);*/ // 注册资金
                    $('#enterprisePhone').val(businessInfo.enterprisePhone); // 企业电话
                    $('#enterpriseEmail').val(businessInfo.enterpriseEmail); // 企业邮箱
                    $('#billToCustomer').val(businessInfo.customerName); // 收票客户
                    $('#otherEnterpriseNature').val(businessInfo.otherEnterpriseNature); // 其他企业性质

                    if(businessInfo.enterpriseNature!=undefined){
                        var enterpriseNature = businessInfo.enterpriseNature.split(',');

                        $.each(enterpriseNature,function(index,value){
                            $("input[name='check']").each(function(){
                                if($(this).val() == value){
                                    $(this).prop('checked',true);
                                }
                            })
                        });
                    }

                    if (businessInfo.registeredFunds!=undefined) {
                        if(businessInfo.registeredFunds.split(':').length==2){
                            $('#fundType').text(businessInfo.registeredFunds.split(':')[0]).data('val',businessInfo.registeredFunds.split(':')[0]);
                            $('#registeredFunds').val(businessInfo.registeredFunds.split(':')[1]);
                        }else {
                            $('#registeredFunds').val(businessInfo.registeredFunds.split(':')[0]);
                        }
                    } // 注册资金
                }
            })
        }

        // 完成
        $('#finish').click(function(){
            /*var isup = true;
            var notnull = $('.notnull');
            notnull.each(function () {
                var val = $(this).val();
                if(val == ''||val == null){
                    alert('请完善表单!');
                    isup = false;
                    return false;
                }
            });*/
            if(pVerify().form()){
                jQuery.ajax({
                    url: basePath +'/businessOrder/doAddBusinessOrder',
                    type:'POST',
                    contentType:"application/json",
                    data:getAddOrder(),
                    success:function (result) {
                        var ResultData = result.code;
                        if(ResultData == 1){
                            alert('保存成功!');
                            $('#delete').attr('disabled',false);
                            $('#Add').removeClass('disabled');

                            $('#addback').addClass('hidden');
                            $('#finish').addClass('hidden');
                            $('#back').removeClass('hidden');
                            $('#edit').removeClass('hidden');
                            location.reload();
                        }else{

                            alert('保存失败！');
                            $('#addback').removeClass('hidden');
                            $('#finish').removeClass('hidden');
                            $('#back').addClass('hidden');
                            $('#edit').addClass('hidden');
                        }
                    }
                })
            }
        });

        $('#save').click(function(){
            /*var isup = true;
            var notnull = $('.notnull');
            notnull.each(function () {
                var val = $(this).val();
                if(val == ''||val == null){
                    alert('请完善表单!');
                    isup = false;
                    return false;
                }
            });*/
            if(pVerify().form()){
                jQuery.ajax({
                    url:basePath + '/businessOrder/updateBusinessOrderByOrderId',
                    type:'POST',
                    contentType:"application/json",
                    data:getOrder(),
                    success:function (result) {
                        alert("修改成功!");
                        bInfo.handleSave();
                        /*location.reload();*/
                    }
                })
            }
        });

        //返回
        $('#back').click(function(){
            window.location.href = basePath + '/businessOrder/intoBusinessOffer';
        })

        //新增时返回
        $('#addedit').click(function(){
            window.location.href = basePath + '/businessOrder/intoBusinessInfo';
        })

        //新增获取data
        function getAddOrder() {
            var data = {
                "orderId":$('#orderId').val(), // 订单编号
                "businessId":$('#businessId').val(), // 商机编号
                "customerId":$('#customerId').val(), // 客户编号
                "customerDutyParagraph":$('#customerDutyParagraph').val(), // 客户税号
                "billToCustomer":$('#billToCustomer').val(), // 收票客户
                "salesManId":$('#salesManName').data('val'), // 业务员id
                "salesManName":$('#salesManName').val(), // 业务员name
                "departmentId":$('#departmentName').data('val'), // 部门id
                "departmentName":$('#departmentName').val(), // 部门name

                "saleOrganizationId":$('#saleOrganizationName').data('val'), // 销售组织id
                "saleOrganizationName":$('#saleOrganizationName').val(), // 销售组织name
                "destinationPort":$('#destinationPort').data('val'), // 目的港id
                "destinationPortName":$('#destinationPort').val(), // 目的港name
                "shipmentPort":$('#shipmentPort').data('val'), // 起运港id
                "shipmentPortName":$('#shipmentPort').val(), // 起运港name
                "collectionAgreement":$('#income').val(), // 收款协议
                "tradeType":$('#tradeType').val(), // 贸易方式
                "tradeTerm":$('#incoterm').val(), // 贸易术语
                "currency":$('#currency').val(), // 币种编码

                "tradeCountry":$('#countryzone').data('val'), // 贸易国别id
                "tradeCountryName":$('#countryzone').val(), // 贸易国别name
                "isCreditRisk":$('#isCreditRisk').val(), // 是否使用信用险
                "prepayRate":$('#interestRate').val(), // 收款比例

                "nusdexchgrate":$('#nusdexchgrate').val(), // 原币对美元汇率
                "nexchangerate":$('#nexchangerate').val(), // 原币对本币汇率

                "premiumRate":$('#premiumRate').val(), // 保险费率
                "guaranteeRate":$('#guaranteeRate').val(), // 信保费率
                "discountRate":$('#discountRate').val(), // 资金利率
                "lossRate":$('#lossRate').val(), // 汇损费率
                "saleRate":$('#saleRate').val(), // 销售费率
                "managementRate":$('#managementRate').val(), // 管理汇率
                /*"creditRate":$('#creditRate').val(),*/ // 信保赔付率
                "transportFlag":$('#transportFlag').val(), // 是否可转运
                "partialShipmentFalg":$('#partialShipmentFalg').val(), // 是否可分批出运
                "exchangeTermsDetail":$('#exchangeTermsDetail').val(), // 收汇条款明细
                "latestDeliveryTime":$('#latestDeliveryTime').val() // 最迟交货时间

            }
            return JSON.stringify(data);
        }

        //编辑获取data
        function getOrder() {
            var businessOrder = {
                "orderId":$('#orderId').val(), // 订单编号
                "businessId":$('#businessId').val(), // 商机编号
                "customerId":$('#customerId').val(), // 客户编号
                "customerDutyParagraph":$('#customerDutyParagraph').val(), // 客户税号
                "billToCustomer":$('#billToCustomer').val(), // 收票客户
                "salesManId":$('#salesManName').data('val'), // 业务员id
                "salesManName":$('#salesManName').val(), // 业务员name
                "departmentId":$('#departmentName').data('val'), // 部门id
                "departmentName":$('#departmentName').val(), // 部门name

                "saleOrganizationId":$('#saleOrganizationName').data('val'), // 销售组织id
                "saleOrganizationName":$('#saleOrganizationName').val(), // 销售组织name
                "destinationPort":$('#destinationPort').data('val'), // 目的港id
                "destinationPortName":$('#destinationPort').val(), // 目的港name
                "shipmentPort":$('#shipmentPort').data('val'), // 起运港id
                "shipmentPortName":$('#shipmentPort').val(), // 起运港name
                "collectionAgreement":$('#income').val(), // 收款协议
                "tradeType":$('#tradeType').val(), // 贸易方式
                "tradeTerm":$('#incoterm').val(), // 贸易术语
                "currency":$('#currency').val(), // 币种编码

                "tradeCountry":$('#countryzone').data('val'), // 贸易国别id
                "tradeCountryName":$('#countryzone').val(), // 贸易国别name
                "isCreditRisk":$('#isCreditRisk').val(), // 是否使用信用险
                "prepayRate":$('#interestRate').val(), // 收款比例

                "nusdexchgrate":$('#nusdexchgrate').val(), // 原币对美元汇率
                "nexchangerate":$('#nexchangerate').val(), // 原币对本币汇率

                "premiumRate":$('#premiumRate').val(), // 保险费率
                "guaranteeRate":$('#guaranteeRate').val(), // 信保费率
                "discountRate":$('#discountRate').val(), // 资金利率
                "lossRate":$('#lossRate').val(), // 汇损费率
                "saleRate":$('#saleRate').val(), // 销售费率
                "managementRate":$('#managementRate').val(), // 管理汇率
                /*"creditRate":$('#creditRate').val(),*/ // 信保赔付率
                "transportFlag":$('#transportFlag').val(), // 是否可转运
                "partialShipmentFalg":$('#partialShipmentFalg').val(), // 是否可分批出运
                "exchangeTermsDetail":$('#exchangeTermsDetail').val(), // 收汇条款明细
                "latestDeliveryTime":$('#latestDeliveryTime').val() // 最迟交货时间
                /*"internalSupplyId":$('#internalSupplyName').data('val'),
                "internalSupplyName":$('#internalSupplyName').val()*/

            }
            return JSON.stringify(businessOrder);
        }

        //新增产品信息
        $('#Add').not('.disabled').click(function(){
            var customerId = $('#customerId').val();
            window.location.href = basePath + '/businessProduct/intoProductBasicInfoRequire?orderId=' + orderId + '&customerId=' + customerId + '&businessProductId=' + businessProductId + '&edit=0';
        })


        // 点击选择销售组织
        var orgTreeData = null;
        $('#oNSearch').on('click.renderTree',function () {
            $('#cbtTree').html('');
            if (orgTreeData==null) {
                $.ajax({
                    url:basePath+'/customerBaseInfoOrder/initSaleOrganizationTree',
                    type:'GET'
                }).done(function (result) {
                    orgTreeData = result.data;
                    renderTree(orgTreeData);
                })
            }else {
                renderTree(orgTreeData);
            }
            $('#cbtModal').modal('show');
        });

        //点击选择内部供货单位
        $('#interSearch').on('click.renderTree',function () {
            $('#cbtTree').html('');
            if (orgTreeData==null) {
                $.ajax({
                    url:basePath+'/customerBaseInfoOrder/initSaleOrganizationTree',
                    type:'GET'
                }).done(function (result) {
                    orgTreeData = result.data;
                    renderinterTree(orgTreeData);
                })
            }else {
                renderTree(orgTreeData);
            }
            $('#cbtModal').modal('show');
        });

        // 点击选择部门
        $('#depSearch').on('click.renderTree',function () {
            var orgId = $('#saleOrganizationName').data('val');
            $('#cbtTree').html('');
            if (orgId!='' && orgId!=undefined) {
                $.ajax({
                    url:basePath+'/sys/dept/tree/org?code='+orgId,
                    type:'GET'
                }).done(function (result) {
                    renderDepTree(result.data);
                });
                $('#cbtModal').modal('show');
            }else {
                alert('请先选择一个组织');
            }

        });

        // 点击选择业务员
        $('#salSearch').on('click.renderUl',function () {
            var pid = $('#departmentName').data('val');
            $('#sm').html('');

            if (pid!='' && pid!=undefined) {

                $.ajax({
                    url:basePath + '/sys/user/dept/users/pojo?code='+pid,
                    type:'GET',
                    contentType:'application/json'
                }).done(function (data) {
                    if (data.data instanceof Array) {

                        CRM.tplHandler('salC',data.data,$('#sm'));
                    }
                });
            }else {
                alert('请先选择部门！');
                return false;
            }

        });

        // 点击下拉菜单，将值添加到业务员文本框
        $('#sm').on('click.cc','a',function (e) {
            var elVal = $(e.target).data('val'),
                    txt = $(e.target).text(),
                    tarInput = $('#salesManName');

            tarInput.val(txt);
            tarInput.data('val',elVal);
            return false;
        });

        // 信保赔付率为否，则隐藏信保费率和信保赔付率
        $('#isCreditRisk').change(function () {
            var v = $(this).val();
            isShowCre(v);
        })

        // 是否显示保费率和信保赔付率
        function isShowCre(v) {
            if (parseInt(v)===0) {
                $('#corporation').addClass('hidden').attr('disabled', true);
                $('input', $('#corporation')).val('0');
            }else {
                $('#corporation').removeClass('hidden').attr('disabled', false);
            }
        }

        // 收款比例值为100时，收款协议值为进出口0天账期，不可更改
        $('#interestRate').on('input',function () {
            if ($(this).val()==='100') {
                $('#income').attr('disabled',true).val('W02');
            }else {
                $('#income').attr('disabled',false);
            }
        })
        /**
         * 渲染组织树菜单
         * @param data
         */
        function renderTree(data) {

            var setting = {
                        data: {
                            simpleData: {
                                enable: true
                            }
                        },
                        edit: {
                            enable: false
                        },
                        callback: {
                            onDblClick: ablclickTree
                        }
                    },
                    id = $('#cbtTree').attr('id'),
                    treeObj = null,

                    treeData = CRM.toArr(data);

            $.fn.zTree.init($('#cbtTree'), setting, treeData);
            treeObj = $.fn.zTree.getZTreeObj(id);
            treeObj.expandAll(true); // 默认展开
        }

        /**
         * 组织树点击事件
         * @param event
         * @param modLeftId
         * @param treeNode
         */

        function ablclickTree(event, modLeftId, treeNode) {

            $('#saleOrganizationName').data('val',treeNode.id);
            $('#saleOrganizationName').val(treeNode.name);
            $('#cbtModal').modal('hide');

            // 清空部门和业务员
            $('#departmentName').val('');
            $('#departmentName').data('val','');
            $('#salesManName').val('');
            $('#salesManName').data('val','');
        }

        /**
         * 渲染内部供货单位树菜单
         * @param data
         */
        function renderinterTree(data) {

            var setting = {
                        data: {
                            simpleData: {
                                enable: true
                            }
                        },
                        edit: {
                            enable: false
                        },
                        callback: {
                            onDblClick: interclickTree
                        }
                    },
                    id = $('#cbtTree').attr('id'),
                    treeObj = null,

                    treeData = CRM.toArr(data);

            $.fn.zTree.init($('#cbtTree'), setting, treeData);
            treeObj = $.fn.zTree.getZTreeObj(id);
            treeObj.expandAll(true); // 默认展开
        }

        /**
         * 内部供货单位树点击事件
         * @param event
         * @param modLeftId
         * @param treeNode
         */

        function interclickTree(event, modLeftId, treeNode) {

            $('#internalSupplyName').data('val',treeNode.id);
            $('#internalSupplyName').val(treeNode.name);
            $('#cbtModal').modal('hide');

            /*// 清空部门和业务员
            $('#departmentName').val('');
            $('#departmentName').data('val','');
            $('#salesManName').val('');
            $('#salesManName').data('val','');*/
        }


        /**
         * 渲染部门树菜单
         * @param data
         */
        function renderDepTree(data) {
            var setting = {
                        data: {
                            simpleData: {
                                enable: false
                            },
                            key:{
                                children:"nodes",
                                name:"cname"
                            }
                        },
                        edit: {
                            enable: false
                        },
                        callback: {
                            onDblClick: depClickTree
                        }
                    },
                    id = $('#cbtTree').attr('id'),
                    treeObj = null;

            $.fn.zTree.init($('#cbtTree'), setting, data);
            treeObj = $.fn.zTree.getZTreeObj(id);
            treeObj.expandAll(true); // 默认展开
        }

        /**
         * 部门树点击事件
         * @param event
         * @param modLeftId
         * @param treeNode
         */

        function depClickTree(event, modLeftId, treeNode) {

//        var id = $.fn.zTree.getZTreeObj("cbtTree").getSelectedNodes()[0].code;
            $('#departmentName').data('val',treeNode.code);
            $('#departmentName').val(treeNode.cname);
            $('#cbtModal').modal('hide');

            // 清空业务员
            $('#salesManName').val('');
            $('#salesManName').data('val','');
        }

        // 贸易国别
        seacrhSelect($('#countryzoneS'),'/customerBaseInfo/getCountryzone',$('#cz'),$('#countryzone'),'tzC','name');

        // 目的港
        seacrhSelect($('#destinationPortS'),'/dataArchives/getPortdoc',$('#dp'),$('#destinationPort'),'dpC','vname');

        // 启运港
        seacrhSelect($('#shipmentPortS'),'/dataArchives/getPortdoc',$('#sp'),$('#shipmentPort'),'dpC','vname');

        function seacrhSelect(sh,url,ul,tarEl,strId,arg) {

            // 搜索框,获取焦点查询所有数据
            sh.on('focus.cc',function () {

                ul.html('');
                CRM.ajaxCall({
                    url:basePath + url,
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify({
                        name:''
                    }),
                    callback:function (data) {
                        var res = {};
                        if (data) {
                            res.list = data;
                            res.currentLang = lang.currentLang;
                            CRM.tplHandler(strId,res,ul);
                        }
                    }
                });
            });

            // 搜索框，值改变时渲染数据
            sh.on('input.cc',function () {

                var obj = {};
                obj[arg]=$(this).val();
                ul.html('');
                CRM.ajaxCall({
                    url:basePath + url,
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify(obj),
                    callback:function (data) {
                        var res = {};
                        if (data) {
                            res.list = data;
                            res.currentLang = lang.currentLang;
                            CRM.tplHandler(strId,res,ul);
                        }
                    }
                });
            });
            // 搜索框失去焦点
            sh.on('blur.cc',function (){
                sh.val('');
//            ul.html('');
            });
            // 点击下拉菜单，将值添加到文本框
            ul.on('click.cc','a',function (e) {
                var elVal = $(e.target).data('val'),
                        txt = $(e.target).text(),
                        tarInput = tarEl;

                tarInput.val(txt);
                tarInput.data('val',elVal);
                return false;
            });
        }

        // 渲染下拉框
        function selectArchive(ipt,slt,url,res) {
            ipt.on('click.edit',function () {
                $(this).addClass('hidden');
                if (res==null){
                    $.ajax({
                        url:basePath + url,
                        type:'GET'
                    }).done(function (result) {
                        res = result.data;
                        renderSelect(res,slt);
                        if ($(this).data('code')!=''){
                            slt.val($(this).data('code'));
                        }
                        slt.removeClass('hidden');
//                $('#currencyS').click();
                    });
                }else {
                    slt.removeClass('hidden').val($(this).data('code'));
                }
            });

            slt.on('change.edit',function (e) {
                var tarItem = $(this),
                        val = tarItem.val(),
                        text = tarItem.find('option').filter(':selected').text();
                ipt.val(text);
                ipt.data('code',val);
            });

            slt.on('focusout',function () {
                slt.addClass('hidden'); // 隐藏
                ipt.removeClass('hidden'); // 显示
            })
        }

        // 填充下拉框内容
        function renderSelect(data,el) {
            var _html = '';
            $.each(data,function(i,item){
                _html += '<option value="' + item.code + '">'+ item.name + '</option>';
            })
            el.append(_html);
        }

        //批量删除
        $('#delete').on('click',function(){
            var ids = new Array();
            $("input[name='cellcheckbox']:checked").each(function(){
                ids.push($(this).val());
            })

            if(ids.length > 0){
                var msg = "确定要删除这些关联吗？";
                if(confirm(msg)){
                    var data = ids.join(',');
                    var url = basePath + '/businessProduct/deleteAllInfoByIds?businessProductIds=' + data;
                    console.log(data);
                    jQuery.ajax({
                        url: url,
                        type:'POST',
//                    dataType:"json",
//                    contentType:"application/json",
//                    data:,
                        success:function(){
                            alert("批量删除成功");
                            location.reload();
                        }
                    })
                }
            }else{
                alert("还未选择需要删除的关联！");
            }
        })

        function ifEmpty(data) {
            return data==undefined?'':data;
        }

        $('#back').click(function(){
            window.location.href = basePath + '/businessOrder/intoBusinessOffer';
        })

        $('#addback').click(function(){
            window.location.href = basePath + '/businessOrder/intoBusinessOffer';
        })

        function getenterpriseNature() {
            var arr = [];
            $('input[name="check"]:checked').each(function(){
                var val = $(this).val();
                arr.push(val);
            })
            return arr;
        }

        // 返回验证的表单对象
        function pVerify() {

            // 配置验证规格和显示消息
            var mainForm=$('#myForm').validate({
                rules: {
                    saleOrganizationName: 'required',
                    departmentName: 'required',
                    salesManName: 'required',
                    destinationPort: 'required',
                    shipmentPort: 'required',
                    interestRate: 'required',
                    income: 'required',
                    tradeType: 'required',
                    incoterm: 'required',
                    countryzone: 'required',
                    currency: 'required',
                    nusdexchgrate: 'required',
                    nexchangerate: 'required',
                    premiumRate: 'required',
                    discountRate: 'required',
                    lossRate: 'required',
                    exchangeTermsDetail : 'required',
                    latestDeliveryTime : 'required',
                    guaranteeRate: 'required'
                },
                messages: {
                    saleOrganizationName: {
                        required:em('必填','top:-29px','right:0')
                    },
                    departmentName: {
                        required:em('必填','top:-29px','right:0')
                    },
                    salesManName: {
                        required:em('必填','top:-29px','right:0')
                    },
                    destinationPort: {
                        required:em('必填','top:-29px','right:0')
                    },
                    shipmentPort: {
                        required:em('必填','top:-29px','right:0')
                    },
                    interestRate: {
                        required:em('必填','top:-29px','right:0')
                    },
                    income: {
                        required:em('必填','top:-29px','right:0')
                    },
                    tradeType: {
                        required:em('必填','top:-29px','right:0')
                    },
                    incoterm: {
                        required:em('必填','top:-29px','right:0')
                    },
                    countryzone: {
                        required:em('必填','top:-29px','right:0')
                    },
                    currency: {
                        required:em('必填','top:-29px','right:0')
                    },
                    nusdexchgrate: {
                        required:em('必填','top:-29px','right:0')
                    },
                    nexchangerate: {
                        required:em('必填','top:-29px','right:0')
                    },
                    premiumRate: {
                        required:em('必填','top:-29px','right:0')
                    },
                    discountRate: {
                        required:em('必填','top:-29px','right:0')
                    },
                    lossRate: {
                        required:em('必填','top:-29px','right:0')
                    },
                    exchangeTermsDetail: {
                        required:em('必填','top:-29px','right:0')
                    },
                    latestDeliveryTime: {
                        required:em('必填','top:-29px','right:0')
                    },
                    guaranteeRate: {
                        required:em('必填','top:-29px','right:0')
                    }
                }
            });

            return mainForm;
        };
    })




</script>