
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div id="offerInfo" class="dashboard-wrapper view-HD-lg">
    <div class="row">
        <div class="tab-content col-xs-12">
            <!--基本信息-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group panel-heading-btn pull-right">
                        <button id="back" class="btn btn-xs btn-default" data-view="editHide" type="button">返回</button>
                        <button id="edit" class="btn btn-xs btn-primary" data-btn="edit" data-view="editHide" type="button" >编辑</button>
                    </div>
                    <div class="btn-group panel-heading-btn pull-right">
                        <button id="cancel" class="btn btn-xs btn-default hidden" data-btn="cancel" data-view="editView">取消</button>
                        <button class="btn btn-xs btn-primary hidden" data-btn="save" data-view="editView" type="button" id="finish">完成</button>
                    </div>
                    <h3 class="panel-title" lang="zh">
                        基本信息
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <div class="form-horizontal">
                        <div class="form-group ">
                            <label class="col-xs-1 control-label" lang="zh">订单编号</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="orderId" value="$!{orderId}" disabled />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">商机编号</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="businessId" value="$!{businessId}" disabled />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">客户名称</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="customerName" value="$!{businessInfo.businessInfo.customerName}" disabled />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">客户税号</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" data-control="on" disabled id="customerDutyParagraph" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">中信保编码</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="zhongxinbaoNumber" value="$!{businessInfo.businessInfo.zhongxinbaoNumber}" disabled />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">注册资金</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="registeredFunds" value="$!{businessInfo.businessInfo.registeredFunds}" disabled />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">企业电话</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="enterprisePhone" value="$!{businessInfo.businessInfo.enterprisePhone}" disabled />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">企业邮箱</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="enterpriseEmail" value="$!{businessInfo.businessInfo.enterpriseEmail}" disabled />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label" lang="zh">收票客户</label>
                            <div class="col-xs-2">
                                <input class="form-control" data-control="no" disabled type="text" id="billToCustomer" value="$!{businessInfo.businessInfo.customerName}" />
                            </div>
                            <label for="saleOrganizationName" class="control-label col-xs-1" lang="zh">销售组织<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="saleOrganizationName" name="saleOrganizationName" data-toggle="dropdown" class="form-control dropdown-toggle" disabled type="text" placeholder="点击搜索按钮选择" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button id="oNSearch" disabled class="btn btn-xs btn-default" data-control="on" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">部门<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="departmentName" name="departmentName" data-toggle="dropdown" class="form-control dropdown-toggle" disabled type="text" placeholder="点击搜索按钮选择" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button id="depSearch" disabled class="btn btn-xs btn-default" data-control="on" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                            <label for="salesManName" class="col-xs-1 control-label" lang="zh">业务员<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="salesManName" name="salesManName" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button id="salSearch" disabled data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                            <ul id="sm" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
##                        <div class="form-group">
##                            <label class="col-xs-1 control-label" lang="zh">目的港<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
##                                <div class="input-group">
##                                    <input id="destinationPort" name="destinationPort" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
##                                    <div class="input-group-btn">
##                                        <button data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
##                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
##                                            <input  id="destinationPortS" name="destinationPortS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none; border-radius: 0; border-color: transparent">
##                                            <ul id="dp" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
##                                        </div>
##                                    </div>
##                                </div>
##                            </div>
##                            <label class="col-xs-1 control-label" lang="zh">起运港<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
##                                <div class="input-group">
##                                    <input id="shipmentPort" name="shipmentPort" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
##                                    <div class="input-group-btn">
##                                        <button data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
##                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
##                                            <input id="shipmentPortS" name="shipmentPortS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
##                                            <ul id="sp" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
##                                        </div>
##                                    </div>
##                                </div>
##                            </div>
##                            <label class="col-xs-1 control-label" lang="zh">收款协议<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
##                                <input id="income" class="form-control" data-code="" value="">
##                                <select class="form-control hidden" id="incomeS"></select>
##                            </div>
##                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">目的港<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="destinationPort"  name="destinationPort" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button disabled data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button" ><span class="glyphicon glyphicon-search"></span></button>
                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                            <input  id="destinationPortS" name="destinationPortS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none; border-radius: 0; border-color: transparent">
                                            <ul id="dp" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">起运港<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="shipmentPort" name="shipmentPort" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button data-control="on" disabled class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                            <input id="shipmentPortS" name="shipmentPortS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
                                            <ul id="sp" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">收款协议<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select class="form-control" data-control="on" disabled id="income">
                                    <option value="">——请选择——</option>
                                    #foreach($!info in $!{income})
                                        <option value="$!info.code">$!info.name</option>
                                    #end
                                </select>
                            </div>
                        </div>
##                        <div class="form-group">
##                            <label class="col-xs-1 control-label" lang="zh">贸易方式<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
##                                <select class="form-control" id="tradeType" disabled>
##                                    <option value="0">一般贸易</option>
##                                    <option value="1">其他</option>
##                                </select>
##                            </div>
##                            <label class="col-xs-1 control-label" lang="zh">贸易术语<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
####                                <input class="form-control" type="text" id="tradeTerm" value="" />
##                                <input class="form-control" id="incoterm" data-code="" value="">
##                                <select class="form-control hidden" id="incotermS"></select>
##                            </div>
##                            <label class="col-xs-1 control-label" lang="zh">贸易国别<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
####                                <input class="form-control" type="text" id="tradeCountry" value="" />
##                                <div class="input-group">
##                                    <input id="countryzone" name="countryzone" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
##                                    <div class="input-group-btn">
##                                        <button data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
##                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
##                                            <input id="countryzoneS" name="countryzoneS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
##                                            <ul id="cz" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
##                                        </div>
##                                    </div>
##                                </div>
##                            </div>
##                            <label class="col-xs-1 control-label" lang="zh">是否使用信用险</label>
##                            <div class="col-xs-2">
##                                <select class="form-control" id="isCreditRisk">
##                                    <option value="0">否</option>
##                                    <option value="1">是</option>
##                                </select>
##                            </div>
##                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">贸易方式<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select class="form-control" id="tradeType" disabled data-control="on">
                                    <option value="0">一般贸易</option>
                                    <option value="1">其他</option>
                                </select>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">贸易术语<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select data-control="on" class="form-control" disabled id="incoterm" >
                                    <option value="">——请选择——</option>
                                    #foreach($!info in $!{incoterm})
                                        <option value="$!info.code">$!info.name</option>
                                    #end
                                </select>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">贸易国别<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="countryzone" name="countryzone" disabled placeholder="请在下拉菜单中选择" class="form-control" type="text" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button data-control="on" disabled class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                            <input id="countryzoneS" name="countryzoneS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
                                            <ul id="cz" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">是否使用信用险</label>
                            <div class="col-xs-2">
                                <select class="form-control" disabled id="isCreditRisk" data-control="on">
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
##                            <label class="col-xs-1 control-label" lang="zh">币种<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
##                                <input id="currtype" class="form-control" type="text">
##                                <select class="form-control hidden" id="currtypeS"></select>
##                            </div>
                            <label class="col-xs-1 control-label" lang="zh">币种<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select class="form-control" disabled data-control="on" id="currency">
                                    <option value="">——请选择——</option>
                                    #foreach($!info in $!{currtype})
                                        <option value="$!info.code">$!info.name</option>
                                    #end
                                </select>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">原币对美元汇率<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="nusdexchgrate" value="" />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">原币对本元汇率<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="nexchangerate" value="" />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">保险费率（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled id="premiumRate" data-code="" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">资金利率（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="discountRate" value="" />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">汇损费率（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="lossRate" value="" />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">计息比例（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="interestRate" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">销售费率（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="saleRate" value="" />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">管理汇率（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="managementRate" value="" />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">信保费率（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="guaranteeRate" value="" />
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">信保赔付率（%）<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input class="form-control"  data-control="on" disabled type="text" id="creditRate" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">是否可转运</label>
                            <div class="col-xs-2">
                                <select class="form-control" data-control="on" disabled id="transportFlag" >
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                            <label class="col-xs-1 control-label" lang="zh">是否可分批出运</label>
                            <div class="col-xs-2">
                                <select class="form-control" data-control="on" disabled id="partialShipmentFalg" >
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
##                            <label class="col-xs-1 control-label" lang="zh">内部供货单位<sup class="not-null">*</sup></label>
##                            <div class="col-xs-2">
##                                <input class="form-control" type="email" id="internalSupplyName" value="" />
##                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">企业性质</label>
                            <div class="col-xs-5">
                                <input class="hidden" id="enterpriseNature" value="$!{businessInfo.businessInfo.enterpriseNature}">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" id="1" class="suitableType cell_edit" value="0" data-text="工厂" disabled> 工厂
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" value="1" data-text="经销商" disabled> 经销商
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" value="2" data-text="分销商" disabled> 分销商
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" value="3" data-text="终端客户" disabled> 终端客户
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="check" class="suitableType cell_edit" id="other" value="4" data-text="其他" disabled> 其他
                                </label>
                                <input class="hidden" id="otherEnterpriseNatureText" value="$!{businessInfo.businessInfo.otherEnterpriseNatureText}">
                                <label class="checkbox-inline">
                                    <input class="form-control" type="text" id="otherEnterpriseNature" value="输入企业性质" disabled/>
                                </label>

                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-view="editHide" class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh" id="Add">新增</button>
                <h3 class="panel-title">
                    产品信息
                </h3>
            </div>
            <div class="panel-body">
                <!--表格-->
                <table class="table table-condensed table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <th class="text-center">产品序列号</th>
                        <th class="text-center">品名</th>
                        <th class="text-center">品类</th>
                        <th class="text-center">品牌</th>
                        <th class="text-center">包装规格</th>
                        <th class="text-center">产品数量</th>
                        <th class="text-center">整柜数量</th>
                        <th class="text-center">柜型</th>
                        <th class="text-center">柜数</th>
                        <th class="text-center">交货时间</th>
                        <th class="text-center">最低销售价（元/KG（L)）</th>
                        <th class="text-center">单据要求</th>
                        <th class="text-center">订舱出运要求</th>
                        <th class="text-center">勾选删除项</th>
                    </tr>
                    </thead>
                    <tbody id=""></tbody>
                </table>
            </div>
        </div>
            #*<div class="clearfix">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-4">
                            <a class="btn btn-block btn-primary" id="finish">完成</a>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-block btn-default" type="reset">重置</button>
                        </div>
                    </div>
                </form>
            </div>*#
        </div>
    </div>
</div>

## 客户基本分类
<div class="modal fade in" id="cbtModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <hr>
                <div class="zTreeDemoBackground left well" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                    <ul id="cbtTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

## 贸易国别
<script id="tzC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" id="<%=data[i].pkTimezone%>" data-val="<%=data[i].code%>" style="padding-left: 6px"><%=data[i].name%></a></li>
    <%}%>
    <%}%>
</script>

## 起运港和目的港
<script id="dpC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" data-val="<%=data[i].vcode%>" style="padding-left: 6px"><%=data[i].vname%></a></li>
    <%}%>
    <%}%>
</script>

## 业务员
<script id="salC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" data-val="<%=data[i].code%>" style="padding-left: 6px"><%=data[i].cname%></a></li>
    <%}%>
    <%}%>
</script>

<input id="orderId" type="hidden" value="$!{orderId}">
<input id="customerId" type="hidden" value="$!{businessInfo.businessInfo.customerId}">
<input id="code" type="hidden" value="">

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript">
    var customerId = $('#customerId').val();
    var orderId = $('#orderId').val();
    var businessId = $('#businessId').val();
    var enterpriseNature = $('#enterpriseNature').val();
    console.log(customerId);
    var otherEnterpriseNatureText = $('#otherEnterpriseNatureText').val();


    var bInfo = new CRM.module.Panel('#offerInfo');
    bInfo.startEdit();
    bInfo.startSave();
    bInfo.startCancel();
    /*$.each(enterpriseNature,function(index,value){
        $("input[name='check']").each(function(){
            if($(this).val() == value){
                $(this).prop('checked',true);
                if(value == 4){
                    $('#otherEnterpriseNature').val(otherEnterpriseNatureText);
                }
            }
        })
    })*/

    // 返回
    $('#back').click(function () {

        window.history.back(-1);
    });


    // 完成
    $('#finish').click(function(){
        jQuery.ajax({
            url: basePath +'/businessOrder/doAddBusinessOrder',
            type:'POST',
            contentType:"application/json",
            data:getOrder(),
            success:function (result) {
                var code = result.code;
                $('#code').val(code);
                alert('保存成功!');
//                location.reload();
            }
        })
    });

    function getOrder() {
        var data = {
            "orderId":$('#orderId').val(), // 订单编号
            "businessId":$('#businessId').val(), // 商机编号
            "customerId":$('#customerId').val(), // 客户编号
            "customerDutyParagraph":$('#customerDutyParagraph').val(), // 客户税号
            "billToCustomer":$('#billToCustomer').val(), // 收票客户
            "salesManId":$('#salesManName').data('val'), // 业务员id
            "salesManName":$('#salesManName').val(), // 业务员name
            "departmentId":$('#departmentName').data('val'), // 部门id
            "departmentName":$('#departmentName').val(), // 部门name

            "saleOrganizationId":$('#saleOrganizationName').data('val'), // 销售组织id
            "saleOrganizationName":$('#saleOrganizationName').val(), // 销售组织name
            "destinationPort":$('#destinationPort').data('val'), // 目的港id
            "destinationPortName":$('#destinationPort').val(), // 目的港name
            "shipmentPort":$('#shipmentPort').data('val'), // 起运港id
            "shipmentPortName":$('#shipmentPort').val(), // 起运港name
            "collectionAgreement":$('#income').val(), // 收款协议
            "tradeType":$('#tradeType').val(), // 贸易方式
            "tradeTerm":$('#incoterm').val(), // 贸易术语
            "currency":$('#currency').val(), // 币种编码

            "tradeCountry":$('#countryzone').data('val'), // 贸易国别id
            "tradeCountryName":$('#countryzone').val(), // 贸易国别name
            "isCreditRisk":$('#isCreditRisk').val(), // 是否使用信用险
            "interestRate":$('#interestRate').val(), // 计息比例

            "nusdexchgrate":$('#nusdexchgrate').val(), // 原币对美元汇率
            "nexchangerate":$('#nexchangerate').val(), // 原币对本币汇率

            "premiumRate":$('#premiumRate').val(), // 保险费率
            "guaranteeRate":$('#guaranteeRate').val(), // 信保费率
            "discountRate":$('#discountRate').val(), // 资金利率
            "lossRate":$('#lossRate').val(), // 汇损费率
            "saleRate":$('#saleRate').val(), // 销售费率
            "managementRate":$('#managementRate').val(), // 管理汇率
            "creditRate":$('#creditRate').val(), // 信保赔付率
            "transportFlag":$('#transportFlag').val(), // 是否可转运
            "partialShipmentFalg":$('#partialShipmentFalg').val(), // 是否可分批出运
//            "customerId":$('#customerId').val(),
//            "orderId":$('#orderId').val(),
//            "businessId":$('#businessId').val(),
//            "customerName":$('#customerName').val(),
//            "customerDutyParagraph":$('#customerDutyParagraph').val(),
//            "enterprisePhone":$('#enterprisePhone').val(),
//            "enterpriseEmail":$('#enterpriseEmail').val(),
//            "enterpriseNature":getenterpriseNature(),
//            "registeredFunds":$('#registeredFunds').val(),
//            "zhongxinbaoNumber":$('#zhongxinbaoNumber').val(),
//            "billToCustomer":$('#billToCustomer').val(),
//            "salesManName":$('#salesManName').val(),
//            "departmentName":$('#departmentName').val(),
//            "saleOrganizationName":$('#saleOrganizationName').val(),
//            "destinationPort":$('#destinationPort').val(),
//            "shipmentPort":$('#shipmentPort').val(),
//            "collectionAgreement":$('#income').val(),
//            "tradeType":$('#tradeType').val(),
//            "tradeTerm":$('#incoterm').val(),
//            "tradeCountry":$('#countryzone').val(),
//            "currency":$('#currtype').val(),
//            "premiumRate":$('#premiumRate').val(),
//            "guaranteeRate":$('#guaranteeRate').val(),
//            "discountRate":$('#discountRate').val(),
//            "isCreditRisk":$('#isCreditRisk').val(),
//            "lossRate":$('#lossRate').val(),
//            "interestRate":$('#interestRate').val(),
//            "creditRate":$('#creditRate').val(),
//            "saleRate":$('#saleRate').val(),
//            "managementRate":$('#managementRate').val(),
//            "transportFlag":$('#transportFlag').val(),
//            "partialShipmentFalg":$('#partialShipmentFalg').val(),
//            "internalSupplyName":$('#internalSupplyName').val(),
//            "nusdexchgrate":$('#nusdexchgrate').val(),
//            "nexchangerate":$('#nexchangerate').val(),
            "createTime": CRM.getTime(),
            "createUserId": 2,
            "createUserName":"杨洋",
            "modifyTime":"2017-03-02 11:44:49",
            "lastmodifyUserId": 1,
            "lastmodifyUserName": "胡向阳"
        }
        return JSON.stringify(data);
    }

    //新增产品信息
    $('#Add').click(function(){
        var code = $('#code').val();
        if($('#code').val() != 1){
            window.location.href = basePath + '/businessProduct/intoProductBasicInfoRequire?orderId=' + orderId;
        }else{
            alert('请先保存报价信息！');
        }
    })

    function getenterpriseNature() {
        var arr = [];
        $('input[name="check"]:checked').each(function(){
            var val = $(this).val();
            arr.push(val);
        })
        return arr;
    }

//    var IncomeData = null;
//    selectArchive($('#income'),$('#incomeS'),'/dataArchives/getIncome',IncomeData);//收款协议
//    var currtypeData = null;
//    selectArchive($('#currtype'),$('#currtypeS'),'/dataArchives/getCurrtype',currtypeData);//币种
//    var incotermData = null;
//    selectArchive($('#incoterm'),$('#incotermS'),'/dataArchives/getIncoterm',incotermData);//贸易术语


    // 点击选择销售组织
    var orgTreeData = null;
    $('#oNSearch').on('click.renderTree',function () {
        $('#cbtTree').html('');
        if (orgTreeData==null) {
            $.ajax({
                url:basePath+'/customerBaseInfoOrder/initSaleOrganizationTree',
                type:'GET'
            }).done(function (result) {
                orgTreeData = result.data;
                renderTree(orgTreeData);
            })
        }else {
            renderTree(orgTreeData);
        }
        $('#cbtModal').modal('show');
    });

    //点击选择内部供货单位
    $('#interSearch').on('click.renderTree',function () {
        $('#cbtTree').html('');
        if (orgTreeData==null) {
            $.ajax({
                url:basePath+'/customerBaseInfoOrder/initSaleOrganizationTree',
                type:'GET'
            }).done(function (result) {
                orgTreeData = result.data;
                renderinterTree(orgTreeData);
            })
        }else {
            renderTree(orgTreeData);
        }
        $('#cbtModal').modal('show');
    });

    // 点击选择部门
    $('#depSearch').on('click.renderTree',function () {
        var orgId = $('#saleOrganizationName').data('val');
        $('#cbtTree').html('');
        if (orgId!='' && orgId!=undefined) {
            $.ajax({
                url:basePath+'/sys/dept/tree/org?code='+orgId,
                type:'GET'
            }).done(function (result) {
                renderDepTree(result.data);
            });
            $('#cbtModal').modal('show');
        }else {
            alert('请先选择一个组织');
        }

    });

    // 点击选择业务员
    $('#salSearch').on('click.renderUl',function () {
        var pid = $('#departmentName').data('val');
        $('#sm').html('');

        if (pid!='' && pid!=undefined) {

            $.ajax({
                url:basePath + '/sys/user/dept/users/pojo?code='+pid,
                type:'GET',
                contentType:'application/json'
            }).done(function (data) {
                if (data.data instanceof Array) {

                    CRM.tplHandler('salC',data.data,$('#sm'));
                }
            });
        }else {
            alert('请先选择部门！');
            return false;
        }

    });

    // 点击下拉菜单，将值添加到业务员文本框
    $('#sm').on('click.cc','a',function (e) {
        var elVal = $(e.target).data('val'),
                txt = $(e.target).text(),
                tarInput = $('#salesManName');

        tarInput.val(txt);
        tarInput.data('val',elVal);
        return false;
    });

    /**
     * 渲染组织树菜单
     * @param data
     */
    function renderTree(data) {
        var setting = {
                    data: {
                        simpleData: {
                            enable: true
                        }
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onDblClick: ablclickTree
                    }
                },
                id = $('#cbtTree').attr('id'),
                treeObj = null,

                treeData = CRM.toArr(data);

        $.fn.zTree.init($('#cbtTree'), setting, treeData);
        treeObj = $.fn.zTree.getZTreeObj(id);
        treeObj.expandAll(true); // 默认展开
    }

    /**
     * 组织树点击事件
     * @param event
     * @param modLeftId
     * @param treeNode
     */

    function ablclickTree(event, modLeftId, treeNode) {

        $('#saleOrganizationName').data('val',treeNode.id);
        $('#saleOrganizationName').val(treeNode.name);
        $('#cbtModal').modal('hide');

        // 清空部门和业务员
        $('#departmentName').val('');
        $('#departmentName').data('val','');
        $('#salesManName').val('');
        $('#salesManName').data('val','');
    }

    /**
     * 渲染内部供货单位树菜单
     * @param data
     */
    function renderinterTree(data) {

        var setting = {
                    data: {
                        simpleData: {
                            enable: true
                        }
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onDblClick: interclickTree
                    }
                },
                id = $('#cbtTree').attr('id'),
                treeObj = null,

                treeData = CRM.toArr(data);

        $.fn.zTree.init($('#cbtTree'), setting, treeData);
        treeObj = $.fn.zTree.getZTreeObj(id);
        treeObj.expandAll(true); // 默认展开
    }

    /**
     * 内部供货单位树点击事件
     * @param event
     * @param modLeftId
     * @param treeNode
     */

    function interclickTree(event, modLeftId, treeNode) {

        $('#internalSupplyName').data('val',treeNode.id);
        $('#internalSupplyName').val(treeNode.name);
        $('#cbtModal').modal('hide');

        /*// 清空部门和业务员
        $('#departmentName').val('');
        $('#departmentName').data('val','');
        $('#salesManName').val('');
        $('#salesManName').data('val','');*/
    }

    /**
     * 渲染部门树菜单
     * @param data
     */
    function renderDepTree(data) {
        var setting = {
                    data: {
                        simpleData: {
                            enable: false
                        },
                        key:{
                            children:"nodes",
                            name:"cname"
                        }
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onDblClick: depClickTree
                    }
                },
                id = $('#cbtTree').attr('id'),
                treeObj = null;

        $.fn.zTree.init($('#cbtTree'), setting, data);
        treeObj = $.fn.zTree.getZTreeObj(id);
        treeObj.expandAll(true); // 默认展开
    }

    /**
     * 部门树点击事件
     * @param event
     * @param modLeftId
     * @param treeNode
     */

    function depClickTree(event, modLeftId, treeNode) {

        $('#departmentName').data('val',treeNode.code);
        $('#departmentName').val(treeNode.cname);
        $('#cbtModal').modal('hide');

        // 清空业务员
        $('#salesManName').val('');
        $('#salesManName').data('val','');
    }
        // 贸易国别
        seacrhSelect($('#countryzoneS'),'/customerBaseInfo/getCountryzone',$('#cz'),$('#countryzone'),'tzC','name');

        // 目的港
        seacrhSelect($('#destinationPortS'),'/dataArchives/getPortdoc',$('#dp'),$('#destinationPort'),'dpC','vname');

        // 启运港
        seacrhSelect($('#shipmentPortS'),'/dataArchives/getPortdoc',$('#sp'),$('#shipmentPort'),'dpC','vname');


        function seacrhSelect(sh,url,ul,tarEl,strId,arg) {

            // 搜索框,获取焦点查询所有数据
            sh.on('focus.cc',function () {

                ul.html('');
                CRM.ajaxCall({
                    url:url,
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify({
                        name:''
                    }),
                    callback:function (data) {
                        if (data) {

                            CRM.tplHandler(strId,data,ul);
                        }
                    }
                });
            });

            // 搜索框，值改变时渲染数据
            sh.on('input.cc',function () {

                var obj = {};
                obj[arg]=$(this).val();
                ul.html('');
                CRM.ajaxCall({
                    url:url,
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify(obj),
                    callback:function (data) {
                        if (data) {
                            CRM.tplHandler(strId,data,ul);
                        }
                    }
                });
            });
            // 搜索框失去焦点
            sh.on('blur.cc',function (){
                sh.val('');
//            ul.html('');
            });
            // 点击下拉菜单，将值添加到文本框
            ul.on('click.cc','a',function (e) {
                var elVal = $(e.target).data('val'),
                        txt = $(e.target).text(),
                        tarInput = tarEl;

                tarInput.val(txt);
                tarInput.data('val',elVal);
                return false;
            });
        }







    //    function seacrhSelect(sh,url,ul,tarEl,strId,arg) {
//
//        // 搜索框
//        sh.on('input.cc',function () {
//
//            if ($(this).val()!='') {
//                var obj = {};
//                obj[arg]=$(this).val();
//                ul.html('');
//                CRM.ajaxCall({
//                    url:url,
//                    type:'POST',
//                    contentType:'application/json',
//                    data:JSON.stringify(obj),
//                    callback:function (data) {
//                        if (data) {
//                            CRM.tplHandler(strId,data,ul);
//                        }
//                    }
//                });
//            }
//        });
//        // 搜索框失去焦点
//        sh.on('blur.cc',function (){
//            sh.val('');
////            ul.html('');
//        });
//        // 点击下拉菜单，将值添加到文本框
//        ul.on('click.cc','a',function (e) {
//            var elVal = $(e.target).data('val'),
//                    txt = $(e.target).text(),
//                    tarInput = tarEl;
//
//            tarInput.val(txt);
//            tarInput.data('val',elVal);
//            return false;
//        });
//    }
//
//    function selectArchive(ipt,slt,url,res) {
//        ipt.on('click.edit',function () {
//            $(this).addClass('hidden');
//            if (res==null){
//                $.ajax({
//                    url:basePath + url,
//                    type:'GET'
//                }).done(function (result) {
//                    res = result.data;
//                    renderSelect(res,slt);
//                    if ($(this).data('code')!=''){
//                        slt.val($(this).data('code'));
//                    }
//                    slt.removeClass('hidden');
//                });
//            }else {
//                slt.removeClass('hidden').val($(this).data('code'));
//            }
//        });
//
//        slt.on('change.edit',function (e) {
//            var tarItem = $(this),
//                    val = tarItem.val(),
//                    text = tarItem.find('option').filter(':selected').text();
//            ipt.val(text);
//            ipt.data('code',val);
//        });
//
//        slt.on('focusout',function () {
//            slt.addClass('hidden'); // 隐藏
//            ipt.removeClass('hidden'); // 显示
//        })
//    }
//
//    //下拉列表
//    function renderSelect(data,el) {
//        var _html = '';
//        $.each(data,function(i,item){
//            _html += '<option value="' + item.code + '">'+ item.name + '</option>';
//        })
//        el.append(_html);
//    }
</script>