
<div class="clearfix content shadow-out">
    <!--面包屑导航-->
    <div class="nav-deputy shadow-out clearfix">
        #breadcrumb()
    </div>
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12 view-HD-lg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">订单转化</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <div class="form-horizontal">
                            <form class="form-group" id="o_form">
                                <label class="col-xs-1 control-label" lang="zh">订单编号</label>
                                <div class="col-xs-3">
                                    <input data-val="$!{businessOrderProduct.businessOrderProducts}" class="form-control" type="text" id="orderId" value="$!{orderId}" disabled />
                                </div>
                                <label class="col-xs-1 control-label" for="merchandiser">跟单员<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" name="merchandiser" id="merchandiser">
                                        <option value="">——请选择跟单员——</option>
                                        #foreach($item in $!{merchandiserList})
                                            <option value="$!{item.code}" data-name="$!{item.cname}">$!{item.cname}</option>
                                        #end
                                    </select>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="panel-body clearfix col-xs-offset-1">
                                    <table class="table table-condensed table-bordered table-striped text-center">
                                        <thead>
                                        <tr>
                                            <th class="text-center col-xs-6" lang="zh">商机产品</th>
                                            <th class="text-center col-xs-2" lang="zh">最低销售价（元）</th>
                                            <th class="text-center col-xs-2" lang="zh">是否转化</th>
                                            <th class="text-center col-xs-2" lang="zh">合同单价（元）</th>
                                        </tr>
                                        </thead>
                                        <tbody id="conversiontable">
                                        #if($!{businessOrderProduct})
                                            #foreach($info in $!{businessOrderProduct.businessOrderProducts})
                                            <tr name="item">
                                                <td name="proName" data-val="$!info.id">$!info.name</td>
                                                <td name="proFloorPrice" data-val="$!info.minPrice">$!info.minPrice</td>
                                                <td><input name="checkItem" type="checkbox" #if($!info.transformState==0) checked #end value="1"/></td>
                                                <td><input name="onePrice" step="0.01" class="form-control" type="number" /></td>
                                            </tr>
                                            #end
                                        #end
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="text-danger">产品总价</td>
                                            <td id="floorPrice" data-val=""></td>
                                            <td></td>
                                            <td class="text-danger" data-val="" id="totalPrice"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-4">
                    <a class="btn btn-block btn-primary" id="finish">转化</a>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-block btn-default" type="reset">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

## 职员树形菜单
<div class="modal fade in" id="staff_modal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <hr>
                <div class="zTreeDemoBackground left well" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                    <ul id="staff_tree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="JavaScript">

$(document).ready(function(){

    calculatePrice()

    $(document).on('input.cc','input[name="onePrice"]',function () {

        calculatePrice()
    });

    $(document).on('click.cc','input[name="checkItem"]',function () {

        calculatePrice()
    });

    var orderId = $('#orderId').val();
    var conversiontable = $('#conversiontable').val();

    var formObj = $('#o_form').validate({
        rules: {
            merchandiser: 'required'
        },
        messages: {
            merchandiser:{
                required:em('必填','top:-29px','right:0')
            }
        }
    });

    $('#finish').click(function(){

        if (!formObj.form()) return;

        var btn = $(this).add('#reset');
        btn.attr('disabled',true);
        jQuery.ajax({
            url:basePath + '/businessOrder/updateOrderProducts',
            type:'POST',
            dataType:'JSON',
            contentType:"application/json",
            data:JSON.stringify(upData()),
//            contentType:"application/json",
//            success:function(result){
//                alert('转化成功');
//                console.log(result);
//                window.history.back(-1);
//            }
        }).done(function (result) {

            alert('转化成功');
            console.log(result);
            window.history.back(-1);
        }).fail(function () {

            alert('转化失败，请重试！！');
            btn.attr('disabled',false);
        })
    });

    // 点击搜索跟单员
    /*var staffTree = {
        isData:false,
        set:{

        },
        creatTree:function () {
            $.fn.zTree.init(this.el, this.set, this)
        },

    };*/
})



    // 需要上传的数据
    function upData() {
        var obj = {
            businessOrder : {
                merchandiser:$('#merchandiser').val(),
                merchandiserName:$('#merchandiser').find('option').filter(':selected').data('name'),
                orderId : $('#orderId').val(),
                floorPrice : $('#floorPrice').data('val')==''?0:$('#totalPrice').data('val'),
                amountPayable:$('#totalPrice').data('val')==''?0:$('#totalPrice').data('val'),
                status : 1
            },
            businessOrderProducts : getProData()
        }
        return obj;
    }

    // 每一项产品的数据
    function getProData() {
        var arr = [];
        $('input[name="checkItem"]').filter(':checked').closest('tr')
            .each(function () {
                var obj = {
                    id : $(this).find('[name="proName"]').data('val'),
                    transformState : 1,
                    contractPrice : $(this).find('[name="onePrice"]').val()==''?0:$(this).find('[name="onePrice"]').val()
                };
                arr.push(obj);
            });
        return arr;
    }

    // 计算总合同价和最低销售价
    function calculatePrice() {
        var total = 0,
            floorPrice = 0;
        $('input[name="checkItem"]').filter(':checked').closest('tr')
            .each(function () {
                var onePrice = $(this).find('input[name="onePrice"]').val()!=''?$(this).find('input[name="onePrice"]').val():0,
                        oneFprice = $(this).find('[name="proFloorPrice"]').data('val')!=''?$(this).find('[name="proFloorPrice"]').data('val'):0;
                floorPrice += parseFloat(oneFprice);
                total += parseFloat(onePrice);
            });
        $('#totalPrice').text(total.toFixed(2));
        $('#totalPrice').data('val',total.toFixed(2));
        $('#floorPrice').text(floorPrice.toFixed(2));
        $('#floorPrice').data('val',floorPrice.toFixed(2));
    }
</script>