<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <!--树形导航开始-->
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">
                        地区分类
                    </h3>
                </div>
                <div class="panel-body tree-container clearfix">
                    <!--树形菜单-->
                    <div class="zTreeDemoBackground left">
                        <ul id="areaTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <!--列表部分-->
        <div class="tab-content col-xs-10">
            <div class="nav-deputy shadow-out clearfix" style="margin-bottom: 10px; ">
                #saleNav(3)
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                        <a class="btn btn-xs btn-primary panel-heading-btn" href="" data-toggle="modal">
                            <span class="glyphicon glyphicon-plus"></span>
                            新增商机
                        </a>
                        <a class="btn btn-primary" href="" disabled="">直接报价</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">
                            订单列表
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <!--搜索&筛选控件-->
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <!--搜索栏-->
                                    <form class="input-group">
                                        <span class="input-group-addon" lang="zh">客户名称</span>
                                        <input class="form-control" id="customerName"/>
                                        <span class="input-group-addon" lang="zh">销售组织</span>
                                        <input class="form-control" id="saleOrganizationName"/>
                                        <span class="input-group-addon" lang="zh">订单状态</span>
                                        <select class="form-control" id="orderStatus">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="0" lang="zh">报价中</option>
                                            <option value="2" lang="zh">数据已上报到NC</option>
                                            <option value="3" lang="zh">已签约</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh">客户类型</span>
                                        <select class="form-control" id="customerLevel">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="5" lang="zh">风险客户</option>
                                            <option value="4" lang="zh">一般客户</option>
                                            <option value="3" lang="zh">重要客户</option>
                                            <option value="2" lang="zh">大客户</option>
                                            <option value="1" lang="zh">战略客户</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh">企业性质</span>
                                        <select class="form-control" id="enterpriseNature">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">工厂</option>
                                            <option value="2" lang="zh">分销商</option>
                                            <option value="3" lang="zh">经销商</option>
                                            <option value="4" lang="zh">终端客户</option>
                                            <option value="5" lang="zh">其他</option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-xs btn-default" type="reset">重置</button>
                                        </div>
                                        <div class="input-group-btn">
                                            <button class="btn btn-xs btn-primary" id="submit" type="button">搜索</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--表格-->
                        <table class="table table-condensed table-bordered table-striped text-center">
                            <caption class="text-right"><span lang="zh">金额单位：万元</span></caption>
                            <thead>
                            <tr>
                                <th class="text-center" lang="zh">编号</th>
                                <th class="text-center" lang="zh">订单编号</th>
                                <th class="text-center" lang="zh">商机编号</th>
                                <th class="text-center" lang="zh">销售组织</th>
                                <th class="text-center" lang="zh">长期协议号</th>
                                <th class="text-center" lang="zh">客户名称</th>
                                <th class="text-center" lang="zh">国家</th>
                                <th class="text-center" lang="zh">合同成本价</th>
                                <th class="text-center" lang="zh">合同总金额</th>
                                <th class="text-center" lang="zh">是否投诉</th>
                                <th class="text-center" lang="zh">是否调价</th>
                                <th class="text-center" lang="zh">合同时间</th>
                                <th class="text-center" lang="zh">状态</th>
                            </tr>
                            </thead>
                            <tbody id="oderList"></tbody>
                        </table>
                        <!--分页导航-->
                        <div id="pagination" class="pagination"></div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript">
//    var pageSize = 3;
//    var click_node ={oneLevelId:0,twoLevelId:0};//接收目录树点击节点的id及其父id
//    click_node.serach = function(){
//        serach();
//    }
//
//    $(document).ready(function(){
//        //生成地区目录树
//        $('#tree').creatTree('/customerBaseInfo/initAreaCategoryTree');
//        //目录树节点绑定点击事件
//        $('#tree').bindClickForCusArea(click_node);
//        //搜索按钮绑定事件
//        $("#submit").click(function(){
//            serach();
//        });
//        //默认查询数据
//        serach();
//    })

    //查询按钮提交数据
//    function serach(){
//        var total = getListCount();
//        getDataList(0);
//        $("#pagination").pagination(total,{
//            items_per_page : pageSize,
//            num_edge_entries : 3,
//            num_display_entries : 10,
//            callback:getDataList
//        });
//    }
//    var businessOpportunity = ['工厂','分销商' ,'经销商' ,'终端客户' ,'其他'];
//    var businessStateList = ['报价失败','订单取消','报价中','已下单','已转化成订单','数据已上报到NC','已签约'];
    //根据页码获取列表数据
//    function getDataList(pageNum,jq){
//        var data = {
//            saleOrganizationName:$('#saleOrganizationName').val(),
//            customerName:$('#customerName').val(),
//            orderStatus:$('#businessState').val(),
//            customerLevel:$('#customerLevel').val(),
//            enterpriseNature:$('#enterpriseNature').val(),
//            areaClassId:click_node.oneLevelId,
//            areaId:click_node.twoLevelId,
//            startRow:pageNum*pageSize,
//            pageSize:pageSize
//        }
//        jQuery.ajax({
//            url: basePath + '/businessOrder/getOrderListPageByQuery',
//            dataType:'json',
//            data:JSON.stringify(data),
//            contentType:"application/json",
//            async:true,
//            method:'POST',
//            success:function(data){
//                var ResultData = data.data;
//                var _html = '';
//                if(ResultData && ResultData!='' && ResultData!='null') {
//                    for (var i = 0; i < ResultData.length; i++) {
//                        _html += '<tr>';
//                        _html += '	<td><a href="'+basePath+'/businessOrder/intoOfferorOrder?orderId='+ResultData[i].orderId+'">' + ResultData[i].orderId + '</a></td>';
//                        _html += '  <td><a href="">' + ResultData[i].businessId + '</a></td>';
//                        _html += '  <td>' + ResultData[i].saleOrganizationName + '</td>';
//                        _html += '  <td lang="zh">' + ResultData[i].ncOrderId + '</td>';
//                        _html += '  <td lang="zh">' + ResultData[i].customerName + '</td>';
//                        _html += '  <td>' + ResultData[i].country + 'A</td>';
//                        _html += '  <td>' + ResultData[i].floorPrice + '</td>';
//                        _html += '  <td lang="zh">' + ResultData[i].amountPayable + '</td>';
//                        _html += '  <td lang="zh">' + (ResultData[i].isComplaint == 0 ? "否" : "是") + '</td>';
//                        _html += '   <td>' + (ResultData[i].isModifyPrice == 0 ? "否" : "是") + '</td>';
//                        _html += '   <td>' + ResultData[i].dealTime + '</td>';
//                        _html += '   <td>' + businessStateList[ResultData[i].status + 2] + '</td>';
//                        _html += '   </tr>';
//                    }
//                }
//                    $("#oderList").html(_html);
//            }
//        });
//    }

    /*分页插件参数
    参数名	描述	参数值
    maxentries	总条目数	必选参数，整数
    items_per_page	每页显示的条目数	可选参数，默认是10
    num_display_entries	连续分页主体部分显示的分页条目数	可选参数，默认是10
    current_page	当前选中的页面	可选参数，默认是0，表示第1页
    num_edge_entries	两侧显示的首尾分页的条目数	可选参数，默认是0
    link_to	分页的链接	字符串，可选参数，默认是"#"
    prev_text	“前一页”分页按钮上显示的文字	字符串参数，可选，默认是"Prev"
    next_text	“下一页”分页按钮上显示的文字	字符串参数，可选，默认是"Next"
    ellipse_text	省略的页数用什么文字表示	可选字符串参数，默认是"..."
    prev_show_always	是否显示“前一页”分页按钮	布尔型，可选参数，默认为true，即显示“前一页”按钮
    next_show_always	是否显示“下一页”分页按钮	布尔型，可选参数，默认为true，即显示“下一页”按钮
    callback	回调函数	默认无执行效果*/

    /**
     * 获取列表数据总条目数
     */
//    function getListCount(){
//        var total = 0;
//        var data = {
//            saleOrganizationName:$('#saleOrganizationName').val(),
//            customerName:$('#customerName').val(),
//            orderStatus:$('#businessState').val(),
//            customerLevel:$('#customerLevel').val(),
//            enterpriseNature:$('#enterpriseNature').val(),
//            areaClassId:click_node.oneLevelId,
//            areaId:click_node.twoLevelId
//        }
//        jQuery.ajax({
//            url:basePath + '/businessOrder/countOrder',
//            dataType:'JSON',
//            data:JSON.stringify(data),
//            contentType:"application/json",
//            async:false,
//            method:'POST',
//            success:function(data){
//                total = data.data;
//            }
//        });
//        return total;
//    }












var pagesize = 4; // 分页步长
var areaTreeData = []; // 保存树的数据
var businessOpportunity = ['工厂','分销商' ,'经销商' ,'终端客户' ,'其他'];
var businessStateList = ['报价失败','订单取消','报价中','已下单','已转化成订单','数据已上报到NC','已签约'];
var areaId = ''; // 地区id

$(function(){

    // 请求树的数据
    jQuery.ajax({
        url:basePath+'/customerBaseInfo/initAreaCategoryTree',
        type:'GET'
    }).done(function (res) {

        // 将数据赋值给外部变量，方便搜索时处理数据
        areaTreeData=[{
            pkAreacl : '9',
            pkFatherarea : '~',
            name : '全部'
        }];
        areaTreeData.push.apply(areaTreeData,res.data);

        renderAreaTree(areaTreeData,areaTreeDblHandler,$('#areaTree')); // 渲染树
    });

    // 搜索按钮绑定事件
    $("#submit").click(function(){

        serach();
    });

    // 初始化分页插件并渲染第一页数据
    serach();

    // 点击重置按钮重置areaId
    $('#resetBtn').on('click',function () {

        areaId = '';
    });

//    // 弹出失败原因模态
//    var thisOrder = '';
//    $(document).on('click','a[href="#rModal"]',function (e) {
//        // 取得当前订单号
//        thisOrder = $(this).data('val');
//        // 打开modal
//        $('#rModal').modal('show');
//    })
//
//    // 提交失败原因
//    $('#upReasons').on('click',function () {
//        $.ajax({
//            url : '/businessInfo/updateBusinessInfoById',
//            data : JSON.stringify(cltReaData(thisOrder,$('#reason').val())),
//            type :'POST',
//            contentType : "application/json",
//            success:function () {
//                $('#rModal').modal('hide');
//                alert('提交成功');
//                $('#reason').val('');
//                serach();
//            }
//        })
//    });
});




    /**
     *以下是逻辑处理和数据处理函数
     */
    // 渲染客户基本分类树
    function renderAreaTree (data,callback,el) {
        var setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "pkAreacl",
                            pIdKey: "pkFatherarea",
                            rootPId: '~'
                        }
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onClick: callback
                    }
                },
                id = el.attr('id'),
                treeObj = null;

        $.fn.zTree.init(el, setting, data);
        treeObj = $.fn.zTree.getZTreeObj('areaTree');
        treeObj.expandNode(treeObj.getNodes()[0],true);
    };

    // 地区树添加单击事件
    function areaTreeDblHandler (event, modLeftId, treeNode) {

        // 遍历子节点函数
        function smarty(node) {

            $.each(node,function (i,item) {
                if (!item.isParent) { // 不是父节点，将他的id添加到数组

                    arr.push(item.pkAreacl);
                    return true;
                }else { // 是父节点则继续遍历他的子节点

                    smarty(item.children);
                }
            });
        }


        if (treeNode.pkAreacl!='9'){

            var treeObj = $.fn.zTree.getZTreeObj('areaTree'),
                    sNodes = treeObj.getSelectedNodes(); // 选中的节点集合

            if (sNodes.length > 0) {

                if (sNodes[0].isParent) { // 当前节点是父节点则取出他的所有子节点

                    var arr = [],
                            nodes = sNodes[0].children;

                    arr.push(treeNode.pkAreacl);

                    smarty(nodes);

                    areaId = '\''+ arr.join('\',\'') + '\'';

                } else {

                    areaId = treeNode.pkAreacl;
                }
            }
        }else {

            areaId = '';
        }
//        console.log(treeObj.getNodes()[0]);
        serach();
    }

    // 搜索列表并渲染
    function serach(){

        // 获取参数
        var data = collectArgs();

        getDataList(0,pagesize,rederLiset); // 初始化第一页数据

        // 获取总的条数
        getListCount(data,function (total) {

            // 渲染分页
            rederPaging(total,pagesize,function (pageNum,jq) {

                // 获取列表数据
                getDataList(pageNum,pagesize);
            })
        })

    }

    // 收集提交参数
    function collectArgs() {
        var obj={
            areaId:areaId,
            saleOrganizationName:$('#saleOrganizationName').val(),
            customerName:$('#customerName').val(),
            orderStatus:$('#businessState').val(),
            customerLevel:$('#customerLevel').val(),
            enterpriseNature:$('#enterpriseNature').val()
        }
        return obj;
    }

    // 获取列表数据条目总数
    function getListCount(data,callback){
        var total = 0;
        jQuery.ajax({
            url:basePath + '/businessOrder/countOrder',
            dataType:'JSON',
            contentType:'application/json',
            data:JSON.stringify(data),
            async:true,
            type:'POST'
        }).done(function (res) {
            total = res.data;
            callback(total);
        });
    }

    // 渲染分页插件
    function rederPaging(total,pageSize,callback) {

        $("#pagination").pagination(total,{
            items_per_page : pageSize,
            num_edge_entries : 3,
            num_display_entries : 10,
            callback:callback
        });
    }

    // 根据页码获取列表数据
    function getDataList(pageNum,pageSize,callback) {
        jQuery.ajax({
            url:basePath + '/businessOrder/getOrderListPageByQuery',
            dataType:'json',
            contentType:'application/json',
            data:JSON.stringify({
                areaId:areaId,
                saleOrganizationName:$('#saleOrganizationName').val(),
                customerName:$('#customerName').val(),
                orderStatus:$('#businessState').val(),
                customerLevel:$('#customerLevel').val(),
                enterpriseNature:$('#enterpriseNature').val(),
                startRow:pageNum*pageSize,
                pageSize:pageSize
            }),
            async:true,
            type:'POST'
        }).done(function (res) {

            // 渲染列表
            rederLiset(res,pageNum);
        });
    }

    // 渲染列表
    function rederLiset(data,pageNum){

        var ResultData = data.data,
                _html = '',
                count = pageNum*pagesize;

        if(ResultData && ResultData!='' && ResultData!='null') {
            for (var i = 0; i < ResultData.length; i++) {
                _html += '<tr>';
                _html += '<td>'+(++count)+'</td>';
                _html += '<td><a href="'+basePath+'/businessOrder/intoOrder?orderId='+ResultData[i].orderId+'">' + (ResultData[i].orderId!=undefined?ResultData[i].orderId:'') + '</a></td>';
                _html += '<td><a href="'+basePath+'/businessInfo/intoBusinessOpportunityInfo?businessId='+ResultData[i].businessId+'">' + (ResultData[i].businessId!=undefined?ResultData[i].businessId:'') + '</a></td>';
                _html += '<td>' + (ResultData[i].saleOrganizationName!=undefined?ResultData[i].saleOrganizationName:'') + '</td>';
                _html += '<td lang="zh">' + (ResultData[i].ncOrderId!=undefined?ResultData[i].ncOrderId:'') + '</td>';
                _html += '<td lang="zh">' + (ResultData[i].customerName!=undefined?ResultData[i].customerName:'') + '</td>';
                _html += '<td>' + (ResultData[i].country!=undefined?ResultData[i].country:'') + '</td>';
                _html += '<td>' + (ResultData[i].floorPrice!=undefined?ResultData[i].floorPrice:'') + '</td>';
                _html += '<td lang="zh">' + (ResultData[i].amountPayable!=undefined?ResultData[i].amountPayable:'') + '</td>';
                _html += '<td lang="zh">' + (ResultData[i].isComplaint == 0 ? "否" : "是") + '</td>';
                _html += '<td>' + (ResultData[i].isModifyPrice == 0 ? "否" : "是") + '</td>';
                _html += '<td>' + (ResultData[i].dealTime!=undefined?ResultData[i].dealTime:'') + '</td>';
                _html += '<td>' + (ResultData[i].status!=undefined?businessStateList[ResultData[i].status + 2]:'') + '</td>';
                _html += '</tr>';
            }
        }
        $("#oderList").html(_html);
    }

    // 流失原因需要上传的数据
    function cltReaData(num,con) {
        var obj = {
            businessId : num,
            failReason : con,
            businessState : 1
        }
        return obj;
    }
</script>