<!--产品要求——包装要求——huxiangyang-->
<div class="clearfix content shadow-out">
    <div class="nav-deputy shadow-out clearfix">
        <!--面包屑导航-->
        #breadcrumb()
    </div>

    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div id="productRequire" class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <div class="btn-group panel-heading-btn pull-right">
                            <a class="btn btn-xs btn-default hidden" data-view="editHide" onclick="back()" id="editback">返回</a>
                            <button id="addedit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary panel-heading-btn pull-right hidden" type="button" lang="zh">
                                完成
                            </button>

                        </div>
                        <div class="btn-group panel-heading-btn pull-right">
                            <a class="btn btn-xs btn-default hidden" data-view="editHide" onclick="back()" id="back">返回</a>
                            <button id="edit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary panel-heading-btn pull-right hidden" type="button" lang="zh">
                                编辑
                            </button>

                        </div>

                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                            <button id="cancel" data-btn="cancel" data-view="editView" class="btn btn-default hidden" type="button" lang="zh">取消</button>
                            <button id="save" data-btn="save" data-view="editView" class="btn btn-primary hidden" type="button" lang="zh">保存</button>
                        </div>
                        <h3 class="panel-title" lang="zh">包装要求</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <table class="table table-condensed table-bordered table-striped text-right">
                            <caption class="text-info text-left">
                                主材选择
                            </caption>
                            <tbody>
                            <tr>
                                <td class="col-xs-1">主材</td>
                                <td class="col-xs-2">
                                    <div class="input-group">
                                        <input id="mainPackingType" class="form-control" type="text" value="" disabled/>
                                        <div class="input-group-btn">
                                            <button data-control="on" data-toggle="modal" data-target="#packModal" class="btn btn-xs btn-default" disabled>
                                                <span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-1">规格</td>
                                <td class="col-xs-2"><input id="specification" class="form-control" type="text" value="" disabled/></td>
                                <td class="col-xs-1">尺寸</td>
                                <td class="col-xs-2"><input id="size" class="form-control" type="text" value="" disabled/></td>
                                <td class="col-xs-1">材质</td>
                                <td class="col-xs-2"><input id="material" class="form-control" type="text" value="" disabled/></td>
                                <td class="col-xs-1">单价</td>
                                <td class="col-xs-2">
                                    <div class="input-group">
                                        <input id="price" class="form-control" type="text" value="" disabled/>
                                        <span class="input-group-addon">元</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td >型号</td>
                                <td id="model" class="text-center" colspan="7">

                                </td>
                            </tr>
                            <tr>
                                <td>含盖瓶重</td>
                                <td>
                                    <div class="input-group">
                                        <input data-control="on" id="bottleWeight" class="form-control isdisabled" type="text" value="" disabled/>
                                        <span class="input-group-addon">g</span>
                                    </div>
                                </td>
                                <td>瓶盖颜色(潘通号)</td>
                                <td><input data-control="on" id="bottleCapColor" class="form-control isdisabled" type="text" value="" disabled/></td>
                                <td >瓶身颜色</td>
                                <td><input data-control="on" id="bottleBodyColor" class="form-control isdisabled" type="text" value="" disabled/></td>
                                <td>瓶口径</td>
                                <td>
                                    <div class="input-group">
                                        <input data-control="on" id="bottleDiameter" class="form-control isdisabled" type="text" value="" disabled/>
                                        <span class="input-group-addon">mm</span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>瓶身有LOGO</td>
                                <td>
                                    <div class="checkbox col-xs-12 text-left">
                                        <label ><input class="isdisabled" data-control="on" id="hasBodyLogo" type="checkbox" disabled></label>
                                    </div>
                                </td>
                                <td>瓶盖有LOGO</td>
                                <td>
                                    <div class="checkbox col-xs-12 text-left">
                                        <label ><input class="isdisabled" data-control="on" id="hasCapLogo" type="checkbox" disabled></label>
                                    </div>
                                </td>
                                <td>瓶需要危标</td>
                                <td>
                                    <div class="checkbox col-xs-12 text-left">
                                        <label ><input class="isdisabled" data-control="on" id="hasDangerSign" type="checkbox" disabled></label>
                                    </div>
                                </td>
                                <td >商检号</td>
                                <td><input data-control="on" id="businessCheckNum" class="form-control isdisabled" type="text" value="" disabled/></td>
                            </tr>
                            <tr>
                                <td>瓶身需要刻度线</td>
                                <td>
                                    <div class="checkbox col-xs-12 text-left">
                                        <label ><input class="isdisabled" data-control="on" id="hasScaleLine" type="checkbox" disabled></label>
                                    </div>
                                </td>
                                <td>瓶喷码</td>
                                <td>
                                    <div class="checkbox col-xs-12 text-left">
                                        <label ><input class="isdisabled" data-control="on" id="hasSprayCode" type="checkbox" disabled></label>
                                    </div>
                                </td>
                                <td >瓶贴要求</td>
                                <td><input data-control="on" id="bottlePasteRequire" class="form-control isdisabled" type="text" value="" disabled/></td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <div class="form-horizontal">
                                        <div class="form-group"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-1">特殊要求</label>
                                            <div class="col-xs-6">
                                                <textarea data-control="on" id="specialRequire" class="form-control isdisabled" rows="3" disabled></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-1">附加单价</label>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input data-control="on" id="addtionalPrice" class="form-control isdisabled" type="text" disabled>
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-condensed table-bordered table-striped text-right text-center" id="outer">
                            <caption class="text-info text-left">
                                外包装选择
                            </caption>
                            <thead>
                            <tr>
                                <th class="text-center">是否需要</th>
                                <th class="text-center">包材类型</th>
                                <th class="text-center">规格</th>
                                <th class="text-center">尺寸</th>
                                <th class="text-center">材质</th>
                                <th class="text-center">单耗（每千升或每吨数量）</th>
                                <th class="text-center">单价（元）</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr id="befond">
                                    <td colspan="7">
                                        <div class="form-horizontal">
                                            <div class="form-group"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-1">封箱口方式</label>
                                                <div class="col-xs-2">
                                                    <input data-control="on" id="sealingStyle" class="form-control isdisabled" type="text" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-1">其他要求</label>
                                                <div class="col-xs-6">
                                                    <textarea data-control="on" id="outerPackingOtherRequire" class="form-control isdisabled" rows="3" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-condensed table-bordered table-striped text-right text-center">
                            <caption class="text-info text-left">
                                辅材
                            </caption>
                            <thead>
                            <tr>
                                <th class="text-center">是否需要</th>
                                <th class="text-center">包材类型</th>
                                <th class="text-center">规格</th>
                                <th class="text-center">尺寸</th>
                                <th class="text-center">材质</th>
                                <th class="text-center">单耗（每千升或每吨数量）</th>
                                <th class="text-center">单价（元）</th>
                            </tr>
                            </thead>
                            <tbody id="auxiliary">

                            </tbody>
                        </table>
                        <table class="table table-condensed table-bordered table-striped text-right text-center">
                            <caption class="text-info text-left">
                                其他要求
                            </caption>
                            <tbody>
                            <tr >
                                <td>
                                    <div class="form-horizontal">
                                        <div class="form-group"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-1">其他要求</label>
                                            <div class="col-xs-6">
                                                <textarea data-control="on" id="otherRequire" class="form-control isdisabled" rows="3" disabled></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-1">附加单价</label>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input data-control="on" id="otherRequirePrice" class="form-control isdisabled" type="text" disabled>
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </div>
                                            <label class="control-label col-xs-1">单耗</label>
                                            <div class="col-xs-2">
                                                <input data-control="on" id="otherRequireConsumption" class="form-control isdisabled" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-condensed table-bordered table-striped text-center text-center table-v-align-b">
                            <caption class="text-info">图片上传</caption>
                            <tbody id="imgGroup" class="img-group">
                            <tr>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="瓶型" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>瓶型
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="瓶身logo样例" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>瓶身logo样例
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="瓶贴样例" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>瓶贴样例
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="封口方式" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>封口方式
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="说明书样例" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>说明书样例
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="标签" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>标签
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="纸箱" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>纸箱
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                                <td data-toggle="modal" data-target="#imgModal" class="col-xs-2 thumbnail">
                                    <img data-name="其他" src="/lib/img/placeholder.png" alt="请点击添加图片" class="imgpath">
                                    <div class="caption">
                                        <p></p>
                                        <h4>其他
                                            <small><button data-btn="modification" class="btn-link hidden" style="position: absolute" type="button">修改</button></small>
                                        </h4>
                                    </div>
                                </td>
                            </tr>
                            <tr class="hidden">
                                <td>
                                    <form name="fileForm" id="fileForm" enctype="multipart/form-data">
                                        <input id="openFile" name="file" type="file">
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-2"><a class="btn btn-block btn-default hidden" type="button" id="before">上一步</a></div>
            <div class="col-xs-2 col-xs-offset-1"><a class="btn btn-block btn-primary hidden" type="button" id="next">下一步</a></div>
        </div>
    </div>
</div>


<div class="modal fade" id="imgModal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="thumbnail">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="packModal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-body clearfix">
                                <!--树形菜单-->
                                <div id="tree" class="tree"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="panel panel-default">
                            <div class="panel-body clearfix">
                                <table class="table table-condensed table-bordered table-striped text-right text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th class="text-center">包材类型编码</th>
                                        <th class="text-center">包材类型名称</th>
                                        <th class="text-center">规格</th>
                                        <th class="text-center">尺寸</th>
                                        <th class="text-center">材质</th>
                                        <th class="text-center">单价(元)</th>
                                        <th class="text-center">状态</th>
                                    </tr>
                                    </thead>
                                    <tbody id="container">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <a type="button" class="btn btn-primary btn-block" id="finish">
                            完成
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="businessProductId" type="hidden" value="$!{businessProductId}"> <!--编号-->
<input id="orderId" type="hidden" value="$!{orderId}">
<input id="customerId" type="hidden" value="$!{customerId}">
<input id="productRequireId" type="hidden" value="$!{productRequireId}">
<input id="editId" type="hidden" value="$!{edit}">

<script type="text/javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script>
    var id = $('#productRequireId').val();
    var businessProductId = $('#businessProductId').val();
    var customerId = $('#customerId').val();
    var orderId = $('#orderId').val();
    var editId = $('#editId').val();
    console.log(editId);

    var auxiliary = document.getElementById('auxiliary');
    var befond = document.getElementById('befond');

    var bInfo = new CRM.module.Panel('#productRequire');
    bInfo.startEdit();
    bInfo.startSave();
    bInfo.startCancel();

    $(function () {

        //根据editId和productRequireId判定页面状态，
        //editid=1,id!='',列表进入查询详情；editId=1,id=='',列表进入，没有详情；editId=2,id!='',客户页面进入查看；editId!=2,!=1,id='',包材要求新增
        if(editId == 1&&id!=''){
            $('#edit').removeClass('hidden');
            $('#back').removeClass('hidden');

            jQuery.ajax({
                url:basePath + '/businessProduct/getProductRequireInfo?productRequireId=' + id,
                type:'POST',
                success:function(result){
                        var productRequire = result.productRequire;
                        if(productRequire.mainPackingType!=undefined){
                            $('#mainPackingType').val(productRequire.mainPackingType);
                        }
                        if(productRequire.material!=undefined){
                            $('#material').val(productRequire.material);
                        }
                        if(productRequire.specification!=undefined){
                            $('#specification').val(productRequire.specification);
                        }
                        if(productRequire.price!=undefined){
                            $('#price').val(productRequire.price);
                        }
                        if(productRequire.bottleWeight!=undefined){
                            $('#bottleWeight').val(productRequire.bottleWeight);
                        }
                        if(productRequire.bottleCapColor!=undefined){
                            $('#bottleCapColor').val(productRequire.bottleCapColor);
                        }
                        if(productRequire.bottleBodyColor!=undefined){
                            $('#bottleBodyColor').val(productRequire.bottleBodyColor);
                        }
                        if(productRequire.bottleDiameter!=undefined){
                            $('#bottleDiameter').val(productRequire.bottleDiameter);
                        }
                        if(productRequire.businessCheckNum!=undefined){
                            $('#businessCheckNum').val(productRequire.businessCheckNum);
                        }
                        if(productRequire.bottlePasteRequire!=undefined){
                            $('#bottlePasteRequire').val(productRequire.bottlePasteRequire);
                        }
                        if(productRequire.specialRequire!=undefined){
                            $('#specialRequire').val(productRequire.specialRequire);
                        }
                        if(productRequire.addtionalPrice!=undefined){
                            $('#addtionalPrice').val(productRequire.addtionalPrice);
                        }
                        if(productRequire.sealingStyle!=undefined){
                            $('#sealingStyle').val(productRequire.sealingStyle);
                        }
                        if(productRequire.outerOackingOtherRequire!=undefined){
                            $('#outerOackingOtherRequire').val(productRequire.outerOackingOtherRequire);
                        }
                        if(productRequire.otherRequire!=undefined){
                            $('#otherRequire').val(productRequire.otherRequire);
                        }
                        if(productRequire.otherRequirePrice!=undefined){
                            $('#otherRequirePrice').val(productRequire.otherRequirePrice);
                        }
                        if(productRequire.otherRequireConsumption!=undefined){
                            $('#otherRequireConsumption').val(productRequire.outerOackingOtherRequire);
                        }
                        if(productRequire.bottlePasteRequire!=undefined){
                            $('#bottlePasteRequire').val(productRequire.bottlePasteRequire);
                        }
                        if(productRequire.specialRequire!=undefined){
                            $('#specialRequire').val(productRequire.specialRequire);
                        }
                        if(productRequire.addtionalPrice!=undefined){
                            $('#addtionalPrice').val(productRequire.addtionalPrice);
                        }
                        if(productRequire.sealingStyle!=undefined){
                            $('#sealingStyle').val(productRequire.sealingStyle);
                        }
                        if(productRequire.size!=undefined){
                            $('#size').val(productRequire.size);
                        }

                        if(productRequire.imgInfo!=undefined){
                            var imgInfo = eval(productRequire.imgInfo);
                            $('img[data-name]').each(function (i,item) {
                                var thisImg = $(this),
                                    nameImg = thisImg.data('name');
                                    btn     = thisImg.parent('td').find('button');
                                $.each(imgInfo,function (n,one) {
                                    if (nameImg==one.name){
                                        thisImg.attr('src',one.imgpath);
                                        btn.removeClass('hidden');
                                        return false;
                                    }else {
                                        return true;
                                    }
                                })
                            });
                        }

                    var modelist = eval(result.modelist);
                    var img_html = '';

                    for(var k=0;k<modelist.length;k++){
                        img_html +='<div class="col-xs-2">';
                        img_html +='<a class="thumbnail" >';
                        img_html +='<img src="'+modelist[k].path+'" alt="通用的占位符缩略图"  style="height: 200px;">';
                        img_html +='<div class="caption">';
                        img_html +='<h4 class="text-info ">'+modelist[k].name+'<input style="margin-left: 15px;" type="checkbox" name="modelist" class="btn-link" data-name="'+modelist[k].name+'" data-path="'+modelist[k].path+'" disabled checked></h4>';
                        img_html +='</div>';
                        img_html += '</a>';
                        img_html +='</div>';
                    }
                    $('#model').html(img_html);

                    var outerData = result.outer;
                    var auxiliaryData = result.auxiliary;

                    var _html = '';

                    if(productRequire.hasBodyLogo!=undefined&&productRequire.hasBodyLogo == 1){
                        $('#hasBodyLogo').attr('checked',true);
                    }
                    if(productRequire.hasCapLogo!=undefined&&productRequire.hasCapLogo == 1){
                        $('#hasCapLogo').attr('checked',true);
                    }
                    if(productRequire.hasDangerSign!=undefined&&productRequire.hasDangerSign == 1){
                        $('#hasDangerSign').attr('checked',true);
                    }
                    if(productRequire.hasScaleLine!=undefined&&productRequire.hasScaleLine == 1){
                        $('#hasScaleLine').attr('checked',true);
                    }
                    if(productRequire.hasSprayCode!=undefined&&productRequire.hasSprayCode == 1){
                        $('#hasSprayCode').attr('checked',true);
                    }

                    /*imgInfo.each(function (n,item) {
                        if(item == '')
                    })*/

                    if(outerData.length!=0){
                        for(var i=0;i<outerData.length;i++){
                            _html += '<tr class="outerlist">';
                            _html += '<td class="text-center"><input type="checkbox" value="'+outerData[i].packingId+'" class="outercheckbox" name="outercheckbox"/></td>';
                            _html += '<td class="text-center">'+outerData[i].packName+'</td>';
                            _html += '<td class="text-center">'+outerData[i].spec+'</td>';
                            _html += '<td class="text-center">'+outerData[i].size+'</td>';
                            _html += '<td class="text-center">'+outerData[i].quality+'</td>';
                            _html += '<td class="text-center">'+outerData[i].consumption+'</td>';
                            _html += '<td class="text-center">'+outerData[i].unitPrice+'</td>';
                            _html += '</tr>';
                        }
                        $('#befond').before(_html);
                    }

                    if(auxiliaryData.length!=0){
                        for(var j=0;j<auxiliaryData.length;j++){
                            auxiliary.innerHTML += '<tr class="">'+
                                    '<td><input type="checkbox" value="'+auxiliaryData[j].packingId+'" class="auxiliarycheckbox" name="auxiliarycheckbox"/></td>'+
                                    '<td>'+auxiliaryData[j].packName+'</td>' +
                                    '<td>'+auxiliaryData[j].spec+'</td>'+
                                    '<td>'+auxiliaryData[j].size+'</td>'+
                                    '<td>'+auxiliaryData[j].quality+'</td>'+
                                    '<td>'+auxiliaryData[j].consumption+'</td>'+
                                    '<td>'+auxiliaryData[j].unitPrice+'</td>'+
                                    '</tr>';
                        }
                    }

                }
            })
        }else if(editId == 1&&id == ''){
            $('#addback').removeClass('hidden');
            $('#addedit').removeClass('hidden');

            $('[data-target="#packModal"]').attr('disabled',false);
            $('.isdisabled').attr('disabled',false);
        }else if(editId != 1&&editId != 2&&id == ''){
            $('#before').removeClass('hidden');
            $('#next').removeClass('hidden');

            $('[data-target="#packModal"]').attr('disabled',false);
            $('.isdisabled').attr('disabled',false);
        }else if(editId == 2&&id!=''){
            jQuery.ajax({
                url:basePath + '/businessProduct/getProductRequireInfo?productRequireId=' + id,
                type:'POST',
                success:function(result){
                    var productRequire = result.productRequire;
                    if(productRequire.mainPackingType!=undefined){
                        $('#mainPackingType').val(productRequire.mainPackingType);
                    }
                    if(productRequire.material!=undefined){
                        $('#material').val(productRequire.material);
                    }
                    if(productRequire.specification!=undefined){
                        $('#specification').val(productRequire.specification);
                    }
                    if(productRequire.price!=undefined){
                        $('#price').val(productRequire.price);
                    }
                    if(productRequire.bottleWeight!=undefined){
                        $('#bottleWeight').val(productRequire.bottleWeight);
                    }
                    if(productRequire.bottleCapColor!=undefined){
                        $('#bottleCapColor').val(productRequire.bottleCapColor);
                    }
                    if(productRequire.bottleBodyColor!=undefined){
                        $('#bottleBodyColor').val(productRequire.bottleBodyColor);
                    }
                    if(productRequire.bottleDiameter!=undefined){
                        $('#bottleDiameter').val(productRequire.bottleDiameter);
                    }
                    if(productRequire.businessCheckNum!=undefined){
                        $('#businessCheckNum').val(productRequire.businessCheckNum);
                    }
                    if(productRequire.bottlePasteRequire!=undefined){
                        $('#bottlePasteRequire').val(productRequire.bottlePasteRequire);
                    }
                    if(productRequire.specialRequire!=undefined){
                        $('#specialRequire').val(productRequire.specialRequire);
                    }
                    if(productRequire.addtionalPrice!=undefined){
                        $('#addtionalPrice').val(productRequire.addtionalPrice);
                    }
                    if(productRequire.sealingStyle!=undefined){
                        $('#sealingStyle').val(productRequire.sealingStyle);
                    }
                    if(productRequire.outerOackingOtherRequire!=undefined){
                        $('#outerOackingOtherRequire').val(productRequire.outerOackingOtherRequire);
                    }
                    if(productRequire.otherRequire!=undefined){
                        $('#otherRequire').val(productRequire.otherRequire);
                    }
                    if(productRequire.otherRequirePrice!=undefined){
                        $('#otherRequirePrice').val(productRequire.otherRequirePrice);
                    }
                    if(productRequire.otherRequireConsumption!=undefined){
                        $('#otherRequireConsumption').val(productRequire.outerOackingOtherRequire);
                    }
                    if(productRequire.bottlePasteRequire!=undefined){
                        $('#bottlePasteRequire').val(productRequire.bottlePasteRequire);
                    }
                    if(productRequire.specialRequire!=undefined){
                        $('#specialRequire').val(productRequire.specialRequire);
                    }
                    if(productRequire.addtionalPrice!=undefined){
                        $('#addtionalPrice').val(productRequire.addtionalPrice);
                    }
                    if(productRequire.sealingStyle!=undefined){
                        $('#sealingStyle').val(productRequire.sealingStyle);
                    }
                    if(productRequire.size!=undefined){
                        $('#size').val(productRequire.size);
                    }

                    if(productRequire.imgInfo!=undefined){
                        var imgInfo = eval(productRequire.imgInfo);
                        $('img[data-name]').each(function (i,item) {
                            var thisImg = $(this),
                                    nameImg = thisImg.data('name');
                            btn     = thisImg.parent('td').find('button');
                            $.each(imgInfo,function (n,one) {
                                if (nameImg==one.name){
                                    thisImg.attr('src',one.imgpath);
                                    btn.removeClass('hidden');
                                    return false;
                                }else {
                                    return true;
                                }
                            })
                        });
                    }

                    var modelist = eval(result.modelist);
                    var img_html = '';

                    for(var k=0;k<modelist.length;k++){
                        img_html +='<div class="col-xs-2">';
                        img_html +='<a class="thumbnail" >';
                        img_html +='<img src="'+modelist[k].path+'" alt="通用的占位符缩略图"  style="height: 200px;">';
                        img_html +='<div class="caption">';
                        img_html +='<h4 class="text-info ">'+modelist[k].name+'<input style="margin-left: 15px;" type="checkbox" name="modelist" class="btn-link" data-name="'+modelist[k].name+'" data-path="'+modelist[k].path+'" disabled checked></h4>';
                        img_html +='</div>';
                        img_html += '</a>';
                        img_html +='</div>';
                    }
                    $('#model').html(img_html);

                    var outerData = result.outer;
                    var auxiliaryData = result.auxiliary;

                    var _html = '';

                    if(productRequire.hasBodyLogo!=undefined&&productRequire.hasBodyLogo == 1){
                        $('#hasBodyLogo').attr('checked',true);
                    }
                    if(productRequire.hasCapLogo!=undefined&&productRequire.hasCapLogo == 1){
                        $('#hasCapLogo').attr('checked',true);
                    }
                    if(productRequire.hasDangerSign!=undefined&&productRequire.hasDangerSign == 1){
                        $('#hasDangerSign').attr('checked',true);
                    }
                    if(productRequire.hasScaleLine!=undefined&&productRequire.hasScaleLine == 1){
                        $('#hasScaleLine').attr('checked',true);
                    }
                    if(productRequire.hasSprayCode!=undefined&&productRequire.hasSprayCode == 1){
                        $('#hasSprayCode').attr('checked',true);
                    }

                    /*imgInfo.each(function (n,item) {
                        if(item == '')
                    })*/

                    if(outerData.length!=0){
                        for(var i=0;i<outerData.length;i++){
                            _html += '<tr class="outerlist">';
                            _html += '<td class="text-center"><input type="checkbox" value="'+outerData[i].packingId+'" class="outercheckbox" name="outercheckbox"/></td>';
                            _html += '<td class="text-center">'+outerData[i].packName+'</td>';
                            _html += '<td class="text-center">'+outerData[i].spec+'</td>';
                            _html += '<td class="text-center">'+outerData[i].size+'</td>';
                            _html += '<td class="text-center">'+outerData[i].quality+'</td>';
                            _html += '<td class="text-center">'+outerData[i].consumption+'</td>';
                            _html += '<td class="text-center">'+outerData[i].unitPrice+'</td>';
                            _html += '</tr>';
                        }
                        $('#befond').before(_html);
                    }

                    if(auxiliaryData.length!=0){
                        for(var j=0;j<auxiliaryData.length;j++){
                            auxiliary.innerHTML += '<tr class="">'+
                                    '<td><input type="checkbox" value="'+auxiliaryData[j].packingId+'" class="auxiliarycheckbox" name="auxiliarycheckbox"/></td>'+
                                    '<td>'+auxiliaryData[j].packName+'</td>' +
                                    '<td>'+auxiliaryData[j].spec+'</td>'+
                                    '<td>'+auxiliaryData[j].size+'</td>'+
                                    '<td>'+auxiliaryData[j].quality+'</td>'+
                                    '<td>'+auxiliaryData[j].consumption+'</td>'+
                                    '<td>'+auxiliaryData[j].unitPrice+'</td>'+
                                    '</tr>';
                        }
                    }

                }
            })

        }

        //渲染主材树
        $('#tree').creatTree(basePath+'/packingCategory/CategoryTree?parentIds=1');
        $('#tree').filtrateData(basePath+'/packingArchives/getPackingArchivesByPId',"container","packingorderlist");
        jQuery.ajax({
            url:basePath + '/packingArchives/getPackingArchivesByPId',
            type:'POST',
            data:{id:1}
        }).done(packingorderlist);

        var thisThumbnail = null;

        // 点击图片添加或者查看大图
        $('#imgGroup').on('click.select','.thumbnail',function (e) {

            // 阻止默认行为
            e.preventDefault();

            var el       = $(e.target).parents('.thumbnail').length!==0 ? $(e.target).parents('.thumbnail') : $(e.target),
                file     = $('#openFile'),
                imgModal = $('#imgModal'),
                img      = el.find('img'),
                src      = img.attr('src');

            thisThumbnail = el; // 取得当前缩略图框

            if (!(src == '' || src == '/lib/img/placeholder.png')) {

                imgModal.find('img').attr('src',src); // 打开模态
            }else {

                e.stopPropagation(); // 阻止打开模态
                file.trigger('click'); // 打开file
            }
        });

        // monBtn绑定事件
        $('#imgGroup').on('click.mon','[data-btn="modification"]',function (e) {
            e.stopPropagation();
            var el   = $(e.target).parents('.thumbnail').length!==0 ? $(e.target).parents('.thumbnail') : $(e.target),
                file = $('#openFile');
            thisThumbnail = el; //取得当前缩略图框
            file.trigger('click'); // 打开file
        });

        // file绑定change事件
        $('#openFile').on('change.file',function (e) {
//            console.log(thisThumbnail);
            var img    = thisThumbnail.find('img'),
                fileF  = $('#fileForm')[0], // 转化为DOM对象
                monBtn = thisThumbnail.find('[data-btn="modification"]'),
                data   = new FormData(fileF);
                data.append("classifyPath","oederRequire");

            console.log(data);
            CRM.ajaxCall({
                url         : '/upload/uploadFileAll',
                type        : 'POST',
                data        : data,
                dataType: 'JSON',
                cache: false,
                processData: false,
                contentType: false,
                callback    :  function (data) {
                    img.attr('src',(basePath==""?("/"+basePath):basePath)+data);
                    fileF.reset(); // 重置file的值
                    monBtn.removeClass('hidden'); // 显示修改按钮
                }
            });
        });


        //主材按钮完成
        $('#finish').click(function(){

            var cellcheckbox = $("input[name='cellcheckbox']:checked").parent('td').parent('tr').find('td');
            if(cellcheckbox.length<0){
                alert('请选择主材！');
                return false;
            }else{
                var id = cellcheckbox.find('[name=cellcheckbox]').val();
                var packName = cellcheckbox.eq(2).text();
                var spec = cellcheckbox.eq(3).text();
                var mainPackingType = packName + '_' + spec;

                $('#mainPackingType').attr('data-id',id);
                $('#mainPackingType').val(mainPackingType);
                $('#specification').val(spec);
                $('#material').val(cellcheckbox.eq(5).text());
                $('#price').val(cellcheckbox.eq(6).text());


                jQuery.ajax({
                    url:basePath + '/businessProduct/getPackingArchivesInfo?packingArchivesId=' + id,
                    type:'POST',
                    success:function(result){
                        console.log(result);
                        var outerData = result.outer;
                        var auxiliaryData = result.auxiliary;
                        var modelist = result.modelist;
                        var img_html = '';
                        var _html = '';

                        if(modelist != null || modelist != undefined){
                            for(var k=0;k<modelist.length;k++){
                                img_html +='<div class="col-xs-2">';
                                img_html +='<a href="#" class="thumbnail">';
                                img_html +='<img src="'+modelist[k].path+'" alt="通用的占位符缩略图"  style="height: 200px;">';
                                img_html +='<div class="caption">';
                                img_html +='<h4 class="text-info ">'+modelist[k].name+'<input style="margin-left: 15px;" type="checkbox" name="modelist" class="btn-link" data-name="'+modelist[k].name+'" data-path="'+modelist[k].path+'"></h4>';
                                img_html +='</div>';
                                img_html += '</a>';
                                img_html +='</div>';
                            }
                            $('#model').html(img_html);
                        }


                        if(outerData.length != 0){
                            for(var i=0;i<outerData.length;i++){
                                _html += '<tr class="outerlist">';
                                _html += '<td class="text-center"><input type="checkbox" value="'+ifEmpty(outerData[i].packingId)+'" class="outercheckbox" name="outercheckbox"/></td>';
                                _html += '<td class="text-center">'+ifEmpty(outerData[i].packName)+'</td>';
                                _html += '<td class="text-center">'+ifEmpty(outerData[i].spec)+'</td>';
                                _html += '<td class="text-center">'+ifEmpty(outerData[i].size)+'</td>';
                                _html += '<td class="text-center">'+ifEmpty(outerData[i].quality)+'</td>';
                                _html += '<td class="text-center">'+ifEmpty(outerData[i].consumption)+'</td>';
                                _html += '<td class="text-center">'+ifEmpty(outerData[i].unitPrice)+'</td>';
                                _html += '</tr>';
                            }
                            $('#befond').before(_html);
                        }

                        if(auxiliaryData.length!=0){
                            for(var j=0;j<auxiliaryData.length;j++){
                                auxiliary.innerHTML += '<tr class="">'+
                                        '<td><input type="checkbox" value="'+ifEmpty(auxiliaryData[j].packingId)+'" class="auxiliarycheckbox" name="auxiliarycheckbox"/></td>'+
                                        '<td>'+ifEmpty(auxiliaryData[j].packName)+'</td>' +
                                        '<td>'+ifEmpty(auxiliaryData[j].spec)+'</td>'+
                                        '<td>'+ifEmpty(auxiliaryData[j].size)+'</td>'+
                                        '<td>'+ifEmpty(auxiliaryData[j].quality)+'</td>'+
                                        '<td>'+ifEmpty(auxiliaryData[j].consumption)+'</td>'+
                                        '<td>'+ifEmpty(auxiliaryData[j].unitPrice)+'</td>'+
                                        '</tr>';
                            }
                        }else{
                            $('#auxiliary').addClass('hidden');
                        }
                    }
                })
                $('#packModal').modal('hide');
            }
        })

        //上一步，四个id参数
        $('#before').click(function(){
            var productRequireId = $('#productRequireId');
            window.location.href = basePath + '/businessProduct/intoProductBasicInfoRequire?businessProductId=' + businessProductId + '&&orderId=' + orderId + '&&customerId' + customerId + '&&productRequireId' + productRequireId + '&&edit=' + editId;
        })

        //新增下一步，生成productRequireId，
        $('#next').click(function () {

            var isup = true;
            var notnull = $('.notnull');
            notnull.each(function () {
                var val = $(this).val();
                if(val == ''||val == null){
                    alert('请完善表单!');
                    isup = false;
                    return false;
                }
            });

            jQuery.ajax({
                url:basePath + '/businessProduct/saveProductRequire',
                type:'POST',
                /*contentType:"application/json",*/
                data:Add(),
                success:function (result) {
                    var success = result.success;
                    if(success == true){
                        var productRequireId = result.productRequireId;
                        $('#productRequireId').val(productRequireId);
                        window.location.href = basePath + '/businessProduct/intoDocumentary?businessProductId=' + businessProductId + '&&orderId=' + orderId + '&&customerId=' + customerId + '&&productRequireId=' + productRequireId + '&&edit=' + editId;
                    }
                }
            })
        })

    });

    //外包材checkbox设置单选
    $(document).on('click','.outercheckbox',function(){
        $('.outercheckbox').removeAttr('checked');
        $('.outercheckbox').removeClass('active');
        $(this).attr('checked',true);
        $(this).addClass('active');
    })

    //模态主材checkbox设置单选
    $(document).on('click','.check',function(){
        $('.check').removeAttr('checked');
        $('.check').removeClass('active');
        $(this).prop('checked','checked');
        $(this).addClass('active');
    })

    //checked判定
    function checked(id) {
        var i = id.attr('checked')?1 : 0;
        return i;
    }

    //渲染树，主材id=1列表
    function packingorderlist(data) {
        var ResultData = data.data;

        jQuery.each(ResultData,function(n,item){
            var parent  = $('#container');
            var tr = '<tr><td><input type="checkbox" value="'+item.packingId+'" class="check" name="cellcheckbox"/></td><td>'+ifEmpty(item.packingId)+'</td><td>'+ifEmpty(item.packName)+'</td><td>'+ifEmpty(item.spec)+'</td><td>'+ifEmpty(item.size)+'</td><td>'+ifEmpty(item.quality)+'</td><td>'+ifEmpty(item.unitPrice)+'</td><td>'+(ifEmpty(item.status)==1?'启用':'禁用')+'</td></tr>';
            $(tr).appendTo(parent);
        })
    }

    //新增获取数据function Add
    function Add() {
        var data = {
            'businessProductId':$('#businessProductId').val(),
            'mainPackingId':$('#mainPackingType').attr('data-id'),
            'mainPackingType':$('#mainPackingType').val(),
            'material':$('#material').val(),
            'specification':$('#specification').val(),
            'price':$('#price').val(),
            'bottleWeight':$('#bottleWeight').val(),
            'bottleCapColor':$('#bottleCapColor').val(),
            'bottleBodyColor':$('#bottleBodyColor').val(),
            'bottleDiameter':$('#bottleDiameter').val(),
            'businessCheckNum':$('#businessCheckNum').val(),
            'hasBodyLogo':checked($('#hasBodyLogo')),
            'hasCapLogo':checked($('#hasCapLogo')),
            'hasDangerSign':checked($('#hasDangerSign')),
            'hasScaleLine':checked($('#hasScaleLine')),
            'hasSprayCode':checked($('#hasSprayCode')),
            'bottlePasteRequire':$('#bottlePasteRequire').val(),
            'specialRequire':$('#specialRequire').val(),
            'addtionalPrice':$('#addtionalPrice').val(),
            'sealingStyle':$('#sealingStyle').val(),
            'outerPackingOtherRequire':$('#outerPackingOtherRequire').val(),
            'otherRequire':$('#otherRequire').val(),
            'otherRequirePrice':$('#otherRequirePrice').val(),
            'otherRequireConsumption':$('#otherRequireConsumption').val(),
            'outerPackingId':getouterPackingId(),
            'auxiliaryMaterialIds':getauxiliaryMaterialIds(),
            'imgInfo':getimgInfo(),
            'size':$('#size').val(),
            'model':$('input[name="modelist"]:checked').attr('data-name'),
            'straightEmployingWay':'',
            'straightEmployingScale':'',
            'straightEmployingStandard':'',
            "createTime": getTime(),
            "createUserId": 2,
            "createUserName":"杨洋",
            "modifyTime":"2017-03-02 11:44:49",
            "lastmodifyUserId": 1,
            "lastmodifyUserName": "胡向阳"
        }
        console.log(data);
        return data;
    }

    //编辑获取数据function edit()
    function edit() {
        var data = {
            'id':$('#productRequireId').val(),
            /*'productRequireId':$('#productRequireId').val(),*/
            'businessProductId':$('#businessProductId').val(),
            'mainPackingId':$('#mainPackingId').attr('data-id'),
            'mainPackingType':$('#mainPackingType').val(),
            'material':$('#material').val(),
            'specification':$('#specification').val(),
            'price':$('#price').val(),
            'bottleWeight':$('#bottleWeight').val(),
            'bottleCapColor':$('#bottleCapColor').val(),
            'bottleBodyColor':$('#bottleBodyColor').val(),
            'bottleDiameter':$('#bottleDiameter').val(),
            'businessCheckNum':$('#businessCheckNum').val(),
            'hasBodyLogo':checked($('#hasBodyLogo')),
            'hasCapLogo':checked($('#hasCapLogo')),
            'hasDangerSign':checked($('#hasDangerSign')),
            'hasScaleLine':checked($('#hasScaleLine')),
            'hasSprayCode':checked($('#hasSprayCode')),
            'bottlePasteRequire':$('#bottlePasteRequire').val(),
            'specialRequire':$('#specialRequire').val(),
            'addtionalPrice':$('#addtionalPrice').val(),
            'sealingStyle':$('#sealingStyle').val(),
            'outerPackingOtherRequire':$('#outerPackingOtherRequire').val(),
            'otherRequire':$('#otherRequire').val(),
            'otherRequirePrice':$('#otherRequirePrice').val(),
            'otherRequireConsumption':$('#otherRequireConsumption').val(),
            'outerPackingId':getouterPackingId(),
            'auxiliaryMaterialIds':getauxiliaryMaterialIds(),
            'imgInfo':getimgInfo(),
            'size':$('#otherRequireConsumption').val(),
            'model':$('input[name="modelist"]:checked').attr('data-name')
        }
        console.log(data);
        return data;

    }

    //获取外包材ID
    function getouterPackingId() {
        var outerPackingId = $('input[class="active"]:checked').val();
        console.log(outerPackingId);
        return outerPackingId;
    }

    /*function getmodel(){
        var name = $('input[name="modelist"]:checked').attr('data-name');
        var path = $('input[name="modelist"]:checked').attr('data-path');
        var model = {
            'name':name,
            'path':path
        }
        return model;
    }*/

    //获取辅材Id数组
    function getauxiliaryMaterialIds() {
        var a = [];
        var b;
        $("input[name='auxiliarycheckbox']:checked").each(function(){
            a.push($(this).val());
        })
        b = a.join(',');
        console.log(b);
        return b;
    }

    //获取图片imgInfo
    function getimgInfo() {
        var arr = [];
        $('#imgGroup .thumbnail').each(function(){
            var name = $(this).find('img').attr('data-name');
            var obj = {
                'name':$(this).find('img').attr('data-name'),
                'imgpath':$(this).find('img').attr('src')
            }
            arr.push(obj);
        })
        console.log(arr);
        return JSON.stringify(arr);
    }

    //editId=1，id!=''时编辑保存
    $('#save').click(function(){
        jQuery.ajax({
            url:basePath + '/businessProduct/saveProductRequire',
            type:'POST',
           /* contentType:"application/json",*/
            data:edit(),
            success:function (result) {
                if(result == true){
                    alert('修改成功！');
                }
            }
        })
    })

    //editId=1,id=''时编辑保存
    $('#addedit').click(function(){
        var isup = true;
        var notnull = $('.notnull');
        notnull.each(function () {
            var val = $(this).val();
            if(val == ''||val == null){
                alert('请完善表单!');
                isup = false;
                return false;
            }
        });

        jQuery.ajax({
            url:basePath + '/businessProduct/saveProductRequire',
            type:'POST',
            /*contentType:"application/json",*/
            data:Add(),
            success:function (result) {
                console.log(result);
                if(result == true){
                    alert('新增成功!');
                }

            }
        })
    })

    //返回function
    function back() {
        window.location.href = basePath + '/businessOrder/intoOfferorOrder?orderId=' + orderId;
    }
    //判空，判定undefined function
    function ifEmpty(data) {
        return data==undefined?'':data;
    }

</script>