<!--产品要求——基本信息页——huxiangyang-->
<div class="clearfix content shadow-out">
    <!--面包屑导航-->
    <div class="nav-deputy shadow-out clearfix">
        #breadcrumb()
    </div>
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <!--基本信息-->
                <div class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">
                            基本信息
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <div class="form-horizontal">
                            <div class="col-xs-12">
                                <table class="table table-condensed table-bordered table-striped text-right">
                                    <tbody>
                                    <tr>
                                        <td class="col-xs-2">
                                            <label class="control-label" lang="zh">
                                                产品名称
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="name" class="form-control" value="" disabled>
                                                <div class="input-group-btn">
                                                    <button data-toggle="modal" data-target="#treeModal" class="btn btn-xs btn-default">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-2"><label class="control-label" lang="zh">报关产品名称</label></td>
                                        <td>
                                            <input id="customsClearanceName" class="form-control" value="" disabled>
                                        </td>
                                        <td class="col-xs-2"><label class="control-label" lang="zh">客户商品名</label></td>
                                        <td><input id="customerProductName" class="form-control" type="text" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" lang="zh">品牌</label></td>
                                        <td><input id="brand" class="form-control" type="text" value=""/></td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                规格
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td><input id="" class="form-control" type="text" value=""/></td>
                                        <td><label class="control-label" lang="zh">型号</label></td>
                                        <td><input id="" class="form-control" type="text" value=""/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                主单位
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td><input id="mainProductUnit" class="form-control" type="text" value=""/></td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                主数量
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td><input id="mainProductAmount" class="form-control" type="text" value=""/></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" lang="zh">单位</label></td>
                                        <td><select id="subProductUnit" class="form-control"><option value="0">KG</option><option value="1">瓶</option><option value="2">袋</option></select></td>
                                        <td><label class="control-label" lang="zh">数量</label></td>
                                        <td><input id="subProductAmount" class="form-control" type="text" value=""/></td>
                                        <td><label class="control-label" lang="zh">换算率（主数量/数量）</label></td>
                                        <td><input id="convertRate" class="form-control" type="text" value="" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                价格计算类型
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <select id="priceType" class="form-control">
                                                <option value="0" selected>自产类</option>
                                                <option value="1">原药自产制剂加工类</option>
                                                <option value="2">原药采购制剂加工类</option>
                                                <option value="3">贸易类</option>
                                                <option value="4">其他类</option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                价委会指导价
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="advisePrice" class="form-control typechange" value="">
                                                <span class="input-group-addon">元</span>
                                            </div>
                                        </td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                采购价格
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="purchasePrice" class="form-control typechange" value="0">
                                                <span class="input-group-addon">元</span>
                                            </div>
                                        </td>
                                        <td><label class="control-label" lang="zh">交货时间</label></td>
                                        <td><input id="deliveryTime" class="form-control" type="text" value=""/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                加工厂
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <select id="factoryName" class="form-control">
                                                <option value="0">杭州乐山</option>
                                                <option value="1">安徽银山</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                毛利率
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="grossMargin" class="form-control typechange" value="">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    #*<tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                明佣计费方式
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td><select id="straightEmployingWay" class="form-control"><option value="0">从量</option><option value="1">从价</option><option value="2">无</option></select></td>
                                        <td><label class="control-label" lang="zh">明佣比例</label></td>
                                        <td>
                                            <div class="input-group">
                                                <input id="straightEmployingScale" class="form-control" value="">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                        <td><label class="control-label" lang="zh">明佣标准</label></td>
                                        <td><input id="straightEmployingStandard" class="form-control" type="text" value=""/></td>
                                    </tr>*#
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                暗佣计费方式
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <select id="potentialEmployingWay" class="form-control">
                                                <option value="0">从量</option>
                                                <option value="1">从价</option>
                                                <option value="2">无</option>
                                            </select>
                                        </td>
                                        <td><label class="control-label" lang="zh">暗佣比例</label></td>
                                        <td>
                                            <div class="input-group">
                                                <input id="potentialEmployingScale" class="form-control" value="">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                        <td><label class="control-label" lang="zh">暗佣标准</label></td>
                                        <td><input id="potentialEmployingStandard" class="form-control" type="text" value=""/></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" lang="zh">出口退税方式</label></td>
                                        <td>
                                            <select id="taxType" class="form-control">
                                                <option value="0">按销售价退税</option>
                                                <option value="1">按采购价退税</option>
                                                <option value="2">不退税</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                出口退税率
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="taxFree" class="form-control typechange" value="">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                        <td><label class="control-label" lang="zh">其他费用单价</label></td>
                                        <td><input id="otherCost" class="form-control" type="text" value=""/></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--加工成分-->
                <div class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">加工成分及费用</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <table class="table table-condensed table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-center col-xs-3" lang="zh">原料</th>
                                <th class="text-center col-xs-2" lang="zh">单耗(kg/KL)</th>
                                <th class="text-center col-xs-2" lang="zh">单价（元/kg）</th>
                                <th class="text-center col-xs-2" lang="zh">费用（元/KL）</th>
                                <th class="text-center col-xs-3" lang="zh">备注</th>
                            </tr>
                            </thead>
                            <tbody id="costtable">
                                <tr>
                                    <td>草甘膦94%以上原粉（95%）</td>
                                    <td><input class="form-control" type="text" value="385.00"></td>
                                    <td><input class="form-control" type="text" value="80.00"></td>
                                    <td>38,500</td>
                                    <td><input class="form-control" type="text"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-xs-offset-4"><a href="" class="btn btn-block btn-default" type="button">取消</a></div>
            <div class="col-xs-1 col-xs-offset-1"><a class="btn btn-block btn-primary" type="button" id="next">下一步</a></div>
        </div>
    </div>
</div>
<!--树形菜单modal-->
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
            ##                        这里插入树形菜单
                <div id="tree" class="tree"></div>
            </div>
        </div>
    </div>
</div>

<input id="id" type="hidden" value="$!{id}"> <!--编号-->
<input id="productId" type="hidden" value=""> <!--标准产品id-->
<input id="archiveProductId" type="hidden" value=""> <!--客户产品id-->
<input id="archiveProductId" type="hidden" value=""> <!--客户产品id-->
<input id="orderId" type="hidden" value="$!{orderId}"> <!--报关产品编码-->
<input id="customerId" type="hidden" value="$!{customerId}"> <!--客户id-->

<script type="text/javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/saleprocess/productBasicInfoRequire.js"></script>
<script type="text/javascript">
    var productId = '';
    var wareId = '';
    var costtable = document.getElementById('costtable');

    $('.typechange').attr('disabled',false);
    $(document).ready(function () {
        //渲染树
        $('#tree').creatTree(basePath+'/businessProduct/initProductCatetroy');

        //执行下一步操作，根据edit&add的值选择不同的获取表单数据方法
        $('#next').click(function () {
            upData(basePath + '/businessProduct/saveBaseInfoAndComponents','POST',Add(),"application/json");
        })
    })

    //add根据产品名称获取产品档案，
    $(document).on('click','a.cNode',function (e) {
        e.preventDefault();
        var a = $(e.target);
        var tarEltext = a.text();
        var ids = a.parent('li').attr('id');

        productId = ids.split('_')[0];
        wareId = ids.split('_')[1];
        $('#name').val(tarEltext);

        var data = {
            'customerId':$('#customerId').val(),
            'orderId':$('#orderId').val(),
            'productId':productId,
            'wareId':wareId,
            'businessProductId':''
        }
        jQuery.ajax({
            url:basePath + '/businessProduct/addFromArchives',
            type:'POST',
            data:data,
            success:function (result) {
                var businessProductId = result.businessProductId;
                var components = result.components;
                $('#customsClearanceName').val(result.customsClearanceName);
                if(businessProductId == 0){
                    costtable.innerHTML = '';
                    for(var i=0;i<components.length;i++){
                        costtable.innerHTML += '<tr>'+
                                '<td data-id="'+components[i].componentId+'">'+components[i].componentName+'</td>'+
                                '<td><input class="form-control" type="text" value="'+components[i].consumption+'"></td>'+
                                '<td><input class="form-control" type="text" value="'+components[i].price+'"></td>'+
                                '<td>'+components[i].cost+'</td>'+
                                '<td><input class="form-control" type="text" value=""></td>'+
                                '</tr>';
                    }
                } else{
                    jQuery.ajax({
                        url:basePath + '/businessProduct/detailBaseInfo?businessProductId=' + businessProductId,
                        type:'POST',
                        success:function(result){
                            var basicInfo = result.basicInfo;
                            var components = result.components;

                            $('#customerProductName').val(basicInfo.customerProductName);
                            $('#mainProductUnit').val(basicInfo.mainProductUnit);
                            $('#mainProductAmount').val(basicInfo.mainProductAmount);
                            $('#brand').val(basicInfo.brand);

                            costtable.innerHTML = '';
                            for(var i=0;i<components.length;i++){
                                costtable.innerHTML += '<tr>'+
                                        '<td data-id="'+components[i].componentId+'">'+components[i].componentName+'</td>'+
                                        '<td><input class="form-control" type="text" value="'+components[i].consumption+'"></td>'+
                                        '<td><input class="form-control" type="text" value="'+components[i].price+'"></td>'+
                                        '<td>'+components[i].cost+'</td>'+
                                        '<td><input class="form-control" type="text" value=""></td>'+
                                        '</tr>';
                            }
                        }
                    })
                }
            }
        })
        $('#treeModal').modal('hide');
    });

    $('#priceType').change(function () {
        var val = $(this).val();
        if(val == 0||val == 1){
            $('#advisePrice').attr('disabled',false);
            $('#advisePrice').val('');
            if(val == 0){
                $('#purchasePrice').attr('disabled',true);
                $('#purchasePrice').val('0');
                $('#grossMargin').attr('disabled',true);
                $('#grossMargin').val('0');
                $('#taxFree').attr('disabled',true);
                $('#taxFree').val('0');
            }else{
                $('#purchasePrice').attr('disabled',true);
                $('#purchasePrice').val('0');
                $('#grossMargin').attr('disabled',false);
                $('#grossMargin').val('');
                $('#taxFree').attr('disabled',false);
                $('#taxFree').val('');
            }
        }else{
            $('#purchasePrice').attr('disabled',false);
            $('#purchasePrice').val('');
            $('#advisePrice').attr('disabled',true);
            $('#advisePrice').val('0');
            $('#grossMargin').attr('disabled',false);
            $('#grossMargin').val('');
            $('#taxFree').attr('disabled',false);
            $('#taxFree').val('');
        }
    })

    $('#potentialEmployingWay').change(function () {
        var val = $(this).val();
        if(val == 0){
            $('#potentialEmployingScale').attr('disabled',false);
            $('#potentialEmployingScale').val('');
            $('#potentialEmployingStandard').attr('disabled',true);
            $('#potentialEmployingStandard').val('0');
        }else if(val == 1){
            $('#potentialEmployingScale').attr('disabled',true);
            $('#potentialEmployingScale').val('0');
            $('#potentialEmployingStandard').attr('disabled',false);
            $('#potentialEmployingStandard').val('');
        }
    })

    function Add() {
        var data = {
            "businessOrderProduct":{
                'name':$('#name').val(),
                'customsClearanceName':$('#customsClearanceName').val(),
                'customerProductName':$('#customerProductName').val(),
                'brand':$('#brand').val(),
                'mainProductUnit':$('#mainProductUnit').val(),
                'mainProductAmount':$('#mainProductAmount').val(),
                'subProductUnit':$('#subProductUnit').val(),
                'subProductAmount':$('#subProductAmount').val(),
                'convertRate':$('#convertRate').val(),
                'advisePrice':$('#advisePrice').val(),
                'purchasePrice':$('#purchasePrice').val(),
                'factoryName':$('#factoryName').val(),
                'grossMargin':$('#grossMargin').val(),
                'potentialEmployingWay':$('#potentialEmployingWay').val(),
                'potentialEmployingScale':$('#potentialEmployingScale').val(),
                'potentialEmployingStandard':$('#potentialEmployingStandard').val(),
                'taxType':$('#taxType').val(),
                'taxFree':$('#taxFree').val(),
                'otherCost':$('#otherCost').val(),
                'straightEmployingWay':'',
                'straightEmployingScale':'',
                'straightEmployingStandard':'',
                "createTime": getTime(),
                "createUserId": 2,
                "createUserName":"杨洋",
                "modifyTime":"2017-03-02 11:44:49",
                "lastmodifyUserId": 1,
                "lastmodifyUserName": "胡向阳"
            },
            "businessOrderProductComponents":getbusinessOrderProductComponents()
            
        }
        console.log(data);
        return data;
    }
    
    function getbusinessOrderProductComponents() {
        var arr = [];
        var tr = $('#costtable').find('tr');
        tr.each(function () {
            var td = $(this).find('td'),
            obj = {
                "componentId":td.eq(0).attr('data-id'),
                "componentName":td.eq(0).text(),
                "consumption":td.eq(1).find('input').val(),
                "price":td.eq(2).find('input').val(),
                "cost":td.eq(3).text()
            };
            arr.push(obj);
        })
        return arr;
    }
</script>