<!--产品要求——基本信息页——huxiangyang-->
<div class="clearfix content shadow-out">
    <!--面包屑导航-->
    <div class="nav-deputy shadow-out clearfix">
        #breadcrumb()
    </div>
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <!--基本信息-->
                <div id="basicInfo" class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <div class="btn-group panel-heading-btn pull-right">
                            <a class="btn btn-xs btn-default" data-view="editHide" id="back">返回</a>
                            <button id="edit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary panel-heading-btn pull-right hidden" type="button" lang="zh">
                            编辑
                            </button>

                        </div>

                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                            <button id="cancel" data-btn="cancel" data-view="editView" class="btn btn-default hidden" type="button" lang="zh">取消</button>
                            <button id="save" data-btn="save" data-view="editView" class="btn btn-primary hidden" type="button" lang="zh">保存</button>
                        </div>
                        <h3 class="panel-title" lang="zh">
                            基本信息
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <div class="form-horizontal">
                            <div class="col-xs-12">
                                <table class="table table-condensed table-bordered table-striped text-right">
                                    <tbody>
                                    <tr>
                                        <td class="col-xs-2">
                                            <label class="control-label" lang="zh">
                                                产品名称
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input id="name" class="form-control notnull" value="" disabled>
                                                <div class="input-group-btn">
                                                    <button name="search" data-toggle="modal" data-target="#treeModal" class="btn btn-xs btn-default" disabled>
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-2"><label class="control-label" lang="zh">报关产品名称</label></td>
                                        <td>
                                            <input id="customsClearanceName" class="form-control" value="" disabled>
                                        </td>
                                        <td class="col-xs-2"><label class="control-label" lang="zh">客户商品名</label></td>
                                        <td><input id="customerProductName" class="form-control" type="text" value="" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                规格
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td><input id="specification" class="form-control notnull" type="text" value="" disabled/></td>
                                        <td><label class="control-label" lang="zh">型号</label></td>
                                        <td><input id="model" class="form-control" type="text" value="" disabled/></td>
                                        <td><label class="control-label" lang="zh">品牌</label></td>
                                        <td><input id="brand" class="form-control" type="text" value="" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                主单位
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td><input id="measurement" class="form-control notnull" type="text" value="" disabled/></td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                主数量
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td><input data-control="on" id="mainProductAmount" class="form-control notnull isdisabled" type="text" value="" disabled/></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" lang="zh">单位</label></td>
                                        <td><select data-control="on" id="subProductUnit" class="form-control isdisabled" disabled><option value="0">KG</option><option value="1">瓶</option><option value="2">袋</option></select></td>
                                        <td><label class="control-label" lang="zh">数量</label></td>
                                        <td><input data-control="on" id="subProductAmount" class="form-control isdisabled" type="text" value="" disabled/></td>
                                        <td><label class="control-label" lang="zh">换算率（主数量/数量）</label></td>
                                        <td><input id="convertRate" class="form-control" type="text" value="" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                价格计算类型
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <select data-control="on" id="priceType" class="form-control notnull isdisabled" disabled>
                                                <option value="0" selected>自产类</option>
                                                <option value="1">原药自产制剂加工类</option>
                                                <option value="2">原药采购制剂加工类</option>
                                                <option value="3">贸易类</option>
                                                <option value="4">其他类</option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                价委会指导价
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input data-control="on" id="advisePrice" class="form-control notnull isdisabled" value="" disabled>
                                                <span class="input-group-addon">元</span>
                                            </div>
                                        </td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                采购价格
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input data-control="on" id="purchasePrice" class="form-control notnull" value="0" disabled>
                                                <span class="input-group-addon">元</span>
                                            </div>
                                        </td>
                                        <td><label class="control-label" lang="zh">交货时间</label></td>
                                        <td><input data-control="on" id="deliveryTime" class="form-control isdisabled" type="datetime-local" value="" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                加工厂
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input data-control="on" id="factoryName" class="form-control notnull " value="" disabled>
                                                <div class="input-group-btn">
                                                    <button data-control="on" class="btn btn-xs btn-default isdisabled" id="factory" disabled>
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                资金利息单价
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input data-control="on" id="capitalInterestPrice" class="form-control typechange isdisabled" value="" disabled>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                        <td class="hidden">
                                            <label class="control-label" lang="zh">
                                                毛利率
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td class="hidden">
                                            <div class="input-group">
                                                <input data-control="on" id="grossMargin" class="form-control typechange isdisabled" value="" disabled>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" lang="zh">佣金单价</label></td>
                                        <td><input data-control="on" id="commissionPrice" class="form-control isdisabled" type="text" value="" disabled/></td>
                                        <td><label class="control-label" lang="zh">单位耗用比例</label></td>
                                        <td><input data-control="on" id="unitUseRate" class="form-control isdisabled" type="text" value="" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label" lang="zh">出口退税方式</label></td>
                                        <td>
                                            <select data-control="on" id="taxType" class="form-control isdisabled" disabled>
                                                <option value="0">按销售价退税</option>
                                                <option value="1">按采购价退税</option>
                                                <option value="2">不退税</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="control-label" lang="zh">
                                                出口退税率
                                                <sup class="not-null">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input data-control="on" id="taxFree" class="form-control notnull isdisabled" value="" disabled>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>
                                        <td><label class="control-label" lang="zh">其他费用单价</label></td>
                                        <td><input data-control="on" id="otherCost" class="form-control isdisabled" type="text" value="" disabled/></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--加工成分-->
                <div id="cost" class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">加工成分及费用</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <table class="table table-condensed table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-center col-xs-3" lang="zh">原料<sup class="not-null">*</sup></th>
                                <th class="text-center col-xs-2" lang="zh">单耗(kg/KL)<sup class="not-null">*</sup></th>
                                <th class="text-center col-xs-2" lang="zh">单价（元/kg）<sup class="not-null">*</sup></th>
                                <th class="text-center col-xs-2" lang="zh">费用（元/KL）<sup class="not-null">*</sup></th>
                                <th class="text-center col-xs-3" lang="zh">备注</th>
                            </tr>
                            </thead>
                            <tbody id="costtable">
                                #*<tr>
                                    <td>草甘膦94%以上原粉（95%）</td>
                                    <td><input class="form-control" type="text" value="385.00"></td>
                                    <td><input class="form-control" type="text" value="80.00"></td>
                                    <td>38,500</td>
                                    <td><input class="form-control" type="text"></td>
                                </tr>*#
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-2"><a class="btn btn-block btn-default hidden" type="button" id="resert">重置取消</a></div>
            <div class="col-xs-2 col-xs-offset-1"><a class="btn btn-block btn-primary hidden" type="button" id="next">下一步</a></div>
        </div>
    </div>
</div>
<!--树形菜单modal-->
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
            ##                        这里插入树形菜单
                <div id="tree" class="tree"></div>
            </div>
        </div>
    </div>
</div>
<!--加工厂modal-->
<div class="modal fade" id="factoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px; width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>

            <div class="modal-body well" style="max-height: 300px;overflow-y: scroll; overflow-x: scroll;">
                <div class="form-group">
                    <ul class="list-group" id="factoryList">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="businessProductId" type="hidden" value="$!{businessProductId}"> <!--编号-->
<input id="orderId" type="hidden" value="$!{orderId}">
<input id="customerId" type="hidden" value="$!{customerId}">
<input id="productRequireId" type="hidden" value="">

<script type="text/javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/saleprocess/productBasicInfoRequire.js"></script>
<script type="text/javascript">
    var orderId = $('#orderId').val();
    var businessProductId = $('#businessProductId').val();
    var productRequireId = $('#productRequireId').val();
    var customerId = $('#customerId').val();

    var productId = '';
    var wareId = '';
    var costtable = document.getElementById('costtable');

    var bInfo = new CRM.module.Panel('#basicInfo');
    bInfo.startEdit();
    bInfo.startSave();
    bInfo.startCancel();


    //若为查看产品要求详情businessProductId
    if(businessProductId!=''){
        $('#edit').removeClass('hidden');

        jQuery.ajax({
            url:basePath + '/businessProduct/detailBaseInfo?businessProductId=' + businessProductId,
            type:'POST',
            success:function(result){
                var basicInfo = result.basicInfo;
                var components = result.components;

                $('#name').val(basicInfo.name);
                $('#name').attr('data-productId',basicInfo.productId);
                $('#name').attr('data-wareId',basicInfo.wareId);
                $('#customsClearanceName').val(basicInfo.customsClearanceName);
                $('#customerProductName').val(basicInfo.customerProductName);
                $('#specification').val(basicInfo.specification);
                $('#model').val(basicInfo.model);
                $('#brand').val(basicInfo.brand);
                $('#measurement').val(basicInfo.measurement);
                $('#mainProductAmount').val(basicInfo.mainProductAmount);
                $('#subProductUnit').val(basicInfo.subProductUnit);
                $('#subProductAmount').val(basicInfo.subProductAmount);
                $('#convertRate').val(basicInfo.convertRate);
                $('#priceType').val(basicInfo.priceType);
                $('#advisePrice').val(basicInfo.advisePrice);
                $('#purchasePrice').val(basicInfo.purchasePrice);
                $('#deliveryTime').val(basicInfo.deliveryTime);
                $('#factoryName').val(basicInfo.factoryName);
                $('#grossMargin').val(basicInfo.grossMargin);
                $('#commissionPrice').val(basicInfo.commissionPrice);
                $('#unitUseRate').val(basicInfo.unitUseRate);
                $('#taxType').val(basicInfo.taxType);
                $('#taxFree').val(basicInfo.taxFree);
                $('#otherCost').val(basicInfo.otherCost);
                $('#capitalInterestPrice').val(basicInfo.capitalInterestPrice)

                switch(basicInfo.priceType){
                    case 0:
                        $('#purchasePrice').attr('disabled',true);
                        break;
                    case 1:
                        $('#purchasePrice').attr('disabled',true);
                        break;
                    case 2:
                        $('#advisePrice').attr('disabled',true);
                        break;
                    case 3:
                        $('#advisePrice').attr('disabled',true);
                        break;
                    case 4:
                        $('#purchasePrice').attr('disabled',true);
                        $('#advisePrice').attr('disabled',true);
                        break;
                }

                if(components.length == 0){
                    $('#cost').addClass('hidden');
                }else{
                    costtable.innerHTML = '';
                    for(var i=0;i<components.length;i++){
                        costtable.innerHTML += '<tr>'+
                                '<td data-id="'+components[i].componentId+'">'+components[i].componentName+'</td>'+
                                '<td><input class="form-control notnull" type="text" value="'+components[i].consumption+'" data-target="on" disabled></td>'+
                                '<td><input class="form-control notnull" type="text" value="'+components[i].price+'" data-target="on" disabled></td>'+
                                '<td>'+components[i].cost+'</td>'+
                                '<td><input class="form-control" type="text" value="'+ifEmpty(components[i].remarks)+'" data-target="on" disabled></td>'+
                                '</tr>';
                    }
                }
            }
        })
    } else{
        $('#resert').removeClass('hidden');
        $('#next').removeClass('hidden');
        $('button[name="search"]').attr('disabled',false);
        $('[data-target="on"]').removeClass('disabled');
        $('.isdisabled').attr('disabled',false);
    }

    //渲染树和提交
    $(document).ready(function () {
        //渲染树
        $('#tree').creatTree(basePath+'/businessProduct/initProductCatetroy');

        //执行下一步操作，根据edit&add的值选择不同的获取表单数据方法
        $('#next').click(function () {
            var isup = true;
            var notnull = $('.notnull');
            notnull.each(function () {
                var val = $(this).val();
                if(val == ''||val == null){
                    alert('请完善表单!');
                    isup = false;
                    return false;
                }
            });
            if(isup){
                jQuery.ajax({
                    url:basePath + '/businessProduct/saveBaseInfoAndComponents',
                    type:'POST',
                    contentType:"application/json",
                    data:Add(),
                    success:function (result) {
                        var success = result.data.success;
                        if(success == true){
                            var businessProductId = result.data.businessProductId;
                            window.location.href = basePath + '/businessProduct/intoProductRequire?businessProductId=' + businessProductId + '&&orderId=' + orderId + '&&customerId=' + customerId + '&&productRequireId=' + productRequireId;
                        }
                    }
                })
            }
        })
    })

    //加工厂列表
    $('#factory').click(function(){
        var factoryList = document.getElementById('factoryList');
        factoryList.innerHTML = '';
        jQuery.ajax({
            url:basePath + '/freightCost/queryFreightCostList',
            type:'GET',
            success: function (result) {
                var ResultData = eval(result.data);
                for (var i = 0; i < ResultData.length; i++) {
                    factoryList.innerHTML += '<li class="list-group-item"><a class="fNode">'+ResultData[i].processFactory+'</a></li>';
                }
                $('#factoryModal').modal('show');
            }
        })
    })

    $(document).on('click','a.fNode',function (e) {
        e.preventDefault();
        console.log(e.target);
        var tarEltext = $(e.target).text();
        $('#factoryName').val(tarEltext);
        $('#factoryModal').modal('hide');
    });

    //换算率
    $('#mainProductAmount').change(function () {
        var val = $(this).val();
        $('#subProductAmount').val(val);
        var Amountval = $('#subProductAmount').val();
        var convertRate = val/Amountval;
        $('#convertRate').val(convertRate);
    })
    $('#subProductAmount').change(function () {
        var val = $('#mainProductAmount').val();
        var Amountval = $(this).val();
        var convertRate = val/Amountval;
        $('#convertRate').val(convertRate);
    })

    //add根据产品名称获取产品档案，
    $(document).on('click','a.cNode',function (e) {
        e.preventDefault();
        var a = $(e.target);
        var tarEltext = a.text();
        var ids = a.parent('li').attr('id');

        productId = ids.split('_')[0];
        wareId = ids.split('_')[1];
        $('#name').attr('data-productId',productId);
        $('#name').attr('data-wareId',wareId);
        $('#name').val(tarEltext);

        var data = {
            'customerId':$('#customerId').val(),
            'orderId':$('#orderId').val(),
            'productId':productId,
            'wareId':wareId,
            'businessProductId':$('#businessProductId').val()
        }
        jQuery.ajax({
                url:basePath + '/businessProduct/addFromArchives',
                type:'POST',
                data:data,
                success:function (result) {
                    var businessProductId = result.businessProductId;

                    //若businessProductId=0,则没有档案，执行新增；businessProductId！=0，则获取档案填充
                    if(businessProductId == 0){
                        var productWareVo = result.productWareVo;
                        var components = result.components;

                        console.log(productWareVo);
                        $('#customsClearanceName').val(productWareVo.customsClearanceName);
                        $('#measurement').val(productWareVo.measurement);
                        $('#specification').val(productWareVo.specification);
                        $('#model').val(productWareVo.model);
                        $('#unitUseRate').val(productWareVo.unitUseRate);

                        if(components.length == 0){
                            $('#cost').addClass('hidden');
                        }else{
                            costtable.innerHTML = '';
                            for(var i=0;i<components.length;i++){
                                costtable.innerHTML += '<tr>'+
                                        '<td data-id="'+components[i].componentId+'">'+components[i].componentName+'</td>'+
                                        '<td><input class="form-control notnull" type="text" value="'+components[i].consumption+'"></td>'+
                                        '<td><input class="form-control notnull" type="text" value="'+components[i].price+'"></td>'+
                                        '<td>'+components[i].cost+'</td>'+
                                        '<td><input class="form-control" type="text" value="'+ifEmpty(components[i].remarks)+'"></td>'+
                                        '</tr>';
                            }
                        }

                    } else{
                    jQuery.ajax({
                        url:basePath + '/businessProduct/detailBaseInfo?businessProductId=' + businessProductId,
                        type:'POST',
                        success:function(result){
                            var basicInfo = result.basicInfo;
                            var components = result.components;

                            $('#customerProductName').val(basicInfo.customerProductName);
                            $('#customsClearanceName').val(basicInfo.customsClearanceName);
                            $('#measurement').val(basicInfo.measurement);
                            $('#specification').val(basicInfo.specification);
                            $('#model').val(basicInfo.model);
                            $('#brand').val(basicInfo.brand);

                            if(components.length==0){
                                $('#cost').addClass('hidden');
                            }else{
                                costtable.innerHTML = '';
                                for(var i=0;i<components.length;i++){
                                    costtable.innerHTML += '<tr>'+
                                            '<td data-id="'+components[i].componentId+'">'+components[i].componentName+'</td>'+
                                            '<td><input class="form-control notnull" type="text" value="'+components[i].consumption+'"></td>'+
                                            '<td><input class="form-control notnull" type="text" value="'+components[i].price+'"></td>'+
                                            '<td>'+components[i].cost+'</td>'+
                                            '<td><input class="form-control" type="text" value="'+ifEmpty(components[i].remarks)+'"></td>'+
                                            '</tr>';
                                }
                            }
                        }
                    })
                }
                }
            })

        $('#treeModal').modal('hide');
    });

    //监听互斥
    $('#priceType').change(function () {
        var val = $(this).val();
        if(val == 0||val == 1){
            $('#advisePrice').attr('disabled',false);
            $('#advisePrice').val('');
            if(val == 0){
                $('#purchasePrice').attr('disabled',true);
                $('#purchasePrice').val('0');
                $('#grossMargin').attr('disabled',true);
                $('#grossMargin').val('0');
                $('#taxFree').attr('disabled',true);
                $('#taxFree').val('0');
            }else{
                $('#purchasePrice').attr('disabled',true);
                $('#purchasePrice').val('0');
                $('#grossMargin').attr('disabled',false);
                $('#grossMargin').val('');
                $('#taxFree').attr('disabled',false);
                $('#taxFree').val('');
            }
        }else{
            $('#purchasePrice').attr('disabled',false);
            $('#purchasePrice').val('');
            $('#advisePrice').attr('disabled',true);
            $('#advisePrice').val('0');
            $('#grossMargin').attr('disabled',false);
            $('#grossMargin').val('');
            $('#taxFree').attr('disabled',false);
            $('#taxFree').val('');
        }
    })

    //新增获取数据function
    function Add() {
        var data = {
            "businessOrderProduct":{
                'name':$('#name').val(),
                'orderId':$('#orderId').val(),
                'productId':$('#name').attr('data-productId'),
                'wareId':$('#name').attr('data-wareId'),
                'customsClearanceName':$('#customsClearanceName').val(),
                'customerProductName':$('#customerProductName').val(),
                'brand':$('#brand').val(),
                'specification':$('#specification').val(),
                'model':$('#model').val(),
                'measurement':$('#measurement').val(),
                'mainProductAmount':$('#mainProductAmount').val(),
                'subProductUnit':$('#subProductUnit').val(),
                'subProductAmount':$('#subProductAmount').val(),
                'convertRate':$('#convertRate').val(),
                'advisePrice':$('#advisePrice').val(),
                'purchasePrice':$('#purchasePrice').val(),
                'factoryName':$('#factoryName').val(),
                'grossMargin':$('#grossMargin').val(),
                'capitalInterestPrice':$('#capitalInterestPrice').val(),
                'commissionPrice':$('#commissionPrice').val(),
                'unitUseRate':$('#unitUseRate').val(),
                'taxType':$('#taxType').val(),
                'taxFree':$('#taxFree').val(),
                'otherCost':$('#otherCost').val(),
                'productRequireId':'',

                "createTime": getTime(),
                "createUserId": 2,
                "createUserName":"杨洋",
                "modifyTime":"2017-03-02 11:44:49",
                "lastmodifyUserId": 1,
                "lastmodifyUserName": "胡向阳"
            },
            "businessOrderProductComponents":getbusinessOrderProductComponents()
            
        }
        console.log(data);
        return JSON.stringify(data);
    }

    function editdata() {
        var productRequireBase = {
            "businessOrderProduct":{
                "id":$('#businessProductId').val(),
                'productRequireId':$('#productRequireId').val(),
                'name':$('#name').val(),
                'orderId':$('#orderId').val(),/*
                'productId':$('#name').attr('data-productId'),
                'wareId':$('#name').attr('data-wareId'),*/
                'customsClearanceName':$('#customsClearanceName').val(),
                'customerProductName':$('#customerProductName').val(),
                'brand':$('#brand').val(),
                'specification':$('#specification').val(),
                'model':$('#model').val(),
                'measurement':$('#measurement').val(),
                'mainProductAmount':$('#mainProductAmount').val(),
                'subProductUnit':$('#subProductUnit').val(),
                'subProductAmount':$('#subProductAmount').val(),
                'convertRate':$('#convertRate').val(),
                'advisePrice':$('#advisePrice').val(),
                'purchasePrice':$('#purchasePrice').val(),
                'factoryName':$('#factoryName').val(),
                'grossMargin':$('#grossMargin').val(),
                'capitalInterestPrice':$('#capitalInterestPrice').val(),
                'commissionPrice':$('#commissionPrice').val(),
                'unitUseRate':$('#unitUseRate').val(),
                'taxType':$('#taxType').val(),
                'taxFree':$('#taxFree').val(),
                'otherCost':$('#otherCost').val(),
            },
            "businessOrderProductComponents":getbusinessOrderProductComponents()

        }
        console.log(productRequireBase);
        return JSON.stringify(productRequireBase);
    }

    //获取加工成分列表
    function getbusinessOrderProductComponents() {
        var arr = [];
        var tr = $('#costtable').find('tr');
        tr.each(function () {
            var td = $(this).find('td'),
            obj = {
                "productId":$('#productId').val(),
                "wareId":$('#wareId').val(),
                "componentId":td.eq(0).attr('data-id'),
                "componentName":td.eq(0).text(),
                "consumption":td.eq(1).find('input').val(),
                "price":td.eq(2).find('input').val(),
                "cost":td.eq(3).text()
            };
            arr.push(obj);
        })
        return arr;
    }

    function ifEmpty(data) {
        return data==undefined?'':data;
    }

    $('#save').click(function(){
        jQuery.ajax({
            url:basePath + '/businessProduct/saveBaseInfoAndComponents',
            type:'POST',
            contentType:"application/json",
            data:editdata(),
            success:function (result) {
                console.log(result);
                alert("修改成功!");
            }
        })
    })

    $('#back').click(function(){
        window.location.href = basePath + '/businessOrder/intoOfferorOrder?orderId=' + orderId;
    })
</script>