<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-10">
                <!--订舱出运要求-->
                <div id="transport" class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <div class="btn-group panel-heading-btn pull-right">
                            <a class="btn btn-xs btn-default hidden" data-view="editHide" id="back">返回</a>
                            <button id="edit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary panel-heading-btn pull-right hidden" type="button" lang="zh">
                                编辑
                            </button>

                        </div>
                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                            <button id="cancel" data-btn="cancel" data-view="editView" type="button" class="btn btn-xs btn-default hidden" type="button" lang="zh">取消</button>
                            <button id="save" data-btn="save" data-view="editView" type="button" class="btn btn-primary hidden" lang="zh">保存</button>
                        </div>
                        <h3 id="sTitle" class="panel-title" lang="zh">
                            订舱出运要求
                        </h3>
                    </div>
                    <div class="panel-body panel-edit">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-2" lang="zh">对船运公司要求</label>
                                <div class="col-xs-10">
                                    <textarea id="shippingAgentRequire" cols="3" class="form-control" placeholder="指定的船运公司，或者禁用的船运公司"  lang="zh" data-control="on" disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-xs-2" lang="zh">装箱要求</label>
                                <div class="col-xs-10">
                                    <!--表格-->
                                    <table class="table table-condensed table-bordered table-striped text-right">
                                        <tbody>
                                        <tr>
                                            <td lang="zh">打托（缠膜）</td>
                                            <td class="text-left">
                                                <div class="col-xs-12">
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="1" data-control="on" disabled/>免熏蒸托盘</label>
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="2" data-control="on" disabled/>熏蒸托盘</label>
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="3" data-control="on" disabled/>塑料托盘</label>
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="4" data-control="on" disabled/>订制托盘</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td lang="zh">帖唛</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="postLabel" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">垫板</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="basePlate" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">纸板</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="paperBoard" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">气囊</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="gasbag" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">拉网</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="dragNet" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">紧固带</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="fastenBelt" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">抄条码</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="barcCode" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">美式门封</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="americanDoorseal" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">护条</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="bead" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">护角</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="cornerProtection" type="checkbox" data-control="on" disabled/></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">是否需要监装</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input name="inspectionOfLoading" type="checkbox" value="0" data-control="on" disabled/>商检</label>
                                                </div>
                                                <div class="checkbox col-xs-3">
                                                    <label><input name="inspectionOfLoading" type="checkbox" value="1" data-control="on" disabled/>法检</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input id="inspectionInstitution" type="text" class="form-control isdisabled" placeholder="输入机构名称" disabled/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td lang="zh">吨桶是否铁丝固定</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="wireFixed" type="checkbox" class="isdisabled" data-control="on" disabled/></label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2" lang="zh">出运货物</label>
                                    <div class="radio col-xs-1">
                                        <label ><input type="radio" name="goodsType" value="0" class="isdisabled" data-control="on" disabled/><span lang="zh">普货</span</label>
                                    </div>
                                    <div class="radio col-xs-2">
                                        <label ><input type="radio" name="goodsType" value="1" class="isdisabled" data-control="on" disabled/><span lang="zh">危险品</span></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2"><span lang="zh">免箱期</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="mianxiangqi" class="form-control isdisabled" type="text" value="" data-control="on" disabled/>
                                            <span class="input-group-addon">天</span>
                                        </div>
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">免堆期</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="miantuiqi" class="form-control isdisabled" type="text" value="" data-control="on" disabled/>
                                            <span class="input-group-addon">天</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2"><span lang="zh">柜型</span></label>
                                    <div class="col-xs-2">
                                        <select class="form-control isdisabled" name="" id="cupboardType" data-control="on" disabled>
                                            <option value="0">20GP</option>
                                            <option value="1">40GP</option>
                                            <option value="2">20HQ</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">整柜数</span></label>
                                    <div class="col-xs-2">
                                        <input id="cupboardPerNumber" class="form-control isdisabled" type="text" value="" data-control="on" disabled/>
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">柜数</span></label>
                                    <div class="col-xs-2">
                                        <input id="cupboardNumber" class="form-control isdisabled" type="text" value="" data-control="on" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2"><span lang="zh">海运费单价</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="oceanFreight" class="form-control isdisabled" type="text" value="" data-control="on" disabled/>
                                            <span class="input-group-addon">美元</span>
                                        </div>
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">港杂费单价</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="portSurcharge" class="form-control isdisabled" type="text" value="" data-control="on" disabled/>
                                            <span class="input-group-addon">美元</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-2"><a class="btn btn-block btn-default hidden" type="button" id="before">上一步</a></div>
            <div class="col-xs-2 col-xs-offset-1"><a class="btn btn-block btn-primary hidden" type="button" id="next">下一步</a></div>
            <div class="col-xs-2 col-xs-offset-2"><a class="btn btn-block btn-default hidden" type="button" id="previous">上一步</a></div>
            <div class="col-xs-2 col-xs-offset-1"><a class="btn btn-block btn-primary hidden" type="button" id="down">下一步</a></div>
        </div>
    </div>
</div>
<input id="businessProductId" type="hidden" value="$!{businessProductId}"> <!--编号-->
<input id="orderId" type="hidden" value="$!{orderId}">
<input id="customerId" type="hidden" value="$!{customerId}">
<input id="productRequireId" type="hidden" value="$!{productRequireId}">
<input id="editId" type="hidden" value="$!{edit}">

<script type="text/javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript">
    var id = $('#businessProductId').val();
    var orderId = $('#orderId').val();
    var customerId = $('#customerId').val();
    var productRequireId = $('#productRequireId').val();
    var editId = $('#editId').val();

    var bInfo = new CRM.module.Panel('#transport');
    bInfo.startEdit();
    bInfo.startSave();
    bInfo.startCancel();

    //editId=0,id!='',新增;eidtId=1,id!='',列表进入查看详情;editId=2,id!='',客户信息表进入查看详情
    $(document).ready(function(){


        if(id != ''){
            jQuery.ajax({
                url:basePath + '/businessProduct/getPackageRequire?businessProductId=' + id,
                type:'POST',
                success:function(result){
                    console.log(result);

                    var PackageRequireVo = result.PackageRequireVo;
                    if(PackageRequireVo.tray!=undefined){
                        var tray = PackageRequireVo.tray;
                        if(tray == 0){
                            $('input[name="fullyClose"]').attr('checked',false);
                        }
                        $('input[name="fullyClose"]').each(function(){
                            var val = $(this).val();
                            if(val == tray){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                    if(PackageRequireVo.inspectionOfLoading!=undefined){
                        var inspectionOfLoading = PackageRequireVo.inspectionOfLoading;
                        if(inspectionOfLoading == 0){
                            $('input[name="inspectionOfLoading"]').attr('checked',false);
                        }
                        $('input[name="inspectionOfLoading"]').each(function(){
                            var val = $(this).val();
                            if(val == inspectionOfLoading){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                    if(PackageRequireVo.inspectionInstitution!=undefined){
                        $('#inspectionInstitution').val(PackageRequireVo.inspectionInstitution);
                    }
                    if(PackageRequireVo.postLabel!=undefined&&PackageRequireVo.postLabel == 1){
                        $('#postLabel').attr('checked',true);
                    }
                    if(PackageRequireVo.basePlate!=undefined&&PackageRequireVo.basePlate == 1){
                        $('#basePlate').attr('checked',true);
                    }
                    if(PackageRequireVo.paperBoard!=undefined&&PackageRequireVo.paperBoard == 1){
                        $('#paperBoard').attr('checked',true);
                    }
                    if(PackageRequireVo.gasbag!=undefined&&PackageRequireVo.gasbag == 1){
                        $('#gasbag').attr('checked',true);
                    }
                    if(PackageRequireVo.dragNet!=undefined&&PackageRequireVo.dragNet == 1){
                        $('#dragNet').attr('checked',true);
                    }
                    if(PackageRequireVo.fastenBelt!=undefined&&PackageRequireVo.fastenBelt == 1){
                        $('#fastenBelt').attr('checked',true);
                    }
                    if(PackageRequireVo.barcCode!=undefined&&PackageRequireVo.barcCode == 1){
                        $('#barcCode').attr('checked',true);
                    }
                    if(PackageRequireVo.americanDoorseal!=undefined&&PackageRequireVo.americanDoorseal == 1){
                        $('#americanDoorseal').attr('checked',true);
                    }
                    if(PackageRequireVo.cornerProtection!=undefined&&PackageRequireVo.cornerProtection == 1){
                        $('#cornerProtection').attr('checked',true);
                    }
                    if(PackageRequireVo.bead!=undefined&&PackageRequireVo.bead == 1){
                        $('#bead').attr('checked',true);
                    }
                    if(PackageRequireVo.wireFixed!=undefined&&PackageRequireVo.wireFixed == 1){
                        $('#wireFixed').attr('checked',true);
                    }

                    var businessOrderProduct = result.businessOrderProduct;
                    if(businessOrderProduct.mianxiangqi!=undefined){
                        $('#mianxiangqi').val(businessOrderProduct.mianxiangqi);
                    }
                    if(businessOrderProduct.miantuiqi!=undefined){
                        $('#miantuiqi').val(businessOrderProduct.miantuiqi);
                    }
                    if(businessOrderProduct.cupboardType!=undefined){
                        $('#cupboardType').val(businessOrderProduct.cupboardType);
                    }
                    if(businessOrderProduct.cupboardPerNumber!=undefined){
                        $('#cupboardPerNumber').val(businessOrderProduct.cupboardPerNumber);
                    }
                    if(businessOrderProduct.cupboardNumber!=undefined){
                        $('#cupboardNumber').val(businessOrderProduct.cupboardNumber);
                    }
                    if(businessOrderProduct.oceanFreight!=undefined){
                        $('#oceanFreight').val(businessOrderProduct.oceanFreight);
                    }
                    if(businessOrderProduct.portSurcharge!=undefined){
                        $('#portSurcharge').val(businessOrderProduct.portSurcharge);
                    }
                    if(businessOrderProduct.shippingAgentRequire!=undefined){
                        $('#shippingAgentRequire').val(businessOrderProduct.shippingAgentRequire);
                    }
                    if(businessOrderProduct.goodsType!=undefined){
                        var goodsType = businessOrderProduct.goodsType;
                        if(goodsType == 0){
                            $('input[name="goodsType"]').attr('disabled',false);
                        }
                        $('input[name="goodsType"]').each(function(){
                            var val = $(this).val();
                            if(val == goodsType){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                }
            })
        }

        if(editId == 0){
            $('[data-control="on"]').attr('disabled',false);

            $('#before').removeClass('hidden');
            $('#next').removeClass('hidden');
        }

        if(editId == 1){
            $('.isdisabled').attr('disabled',true);
            $('#back').removeClass('hidden');
            $('#edit').removeClass('hidden');
        }

        if(editId == 2){
            $('#previous').removeClass('hidden');
            $('#down').removeClass('hidden');
        }

        /*if(editId == 1&&id!=''){
            $('.isdisabled').attr('disabled',true);
            $('#back').removeClass('hidden');
            $('#edit').removeClass('hidden');

            jQuery.ajax({
                url:basePath + '/businessProduct/getPackageRequire?businessProductId=' + id,
                type:'POST',
                success:function(result){
                    console.log(result);

                    var PackageRequireVo = result.PackageRequireVo;
                    if(PackageRequireVo.tray!=undefined){
                        var tray = PackageRequireVo.tray;
                        if(tray == 0){
                            $('input[name="fullyClose"]').attr('checked',false);
                        }
                        $('input[name="fullyClose"]').each(function(){
                            var val = $(this).val();
                            if(val == tray){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                    if(PackageRequireVo.inspectionOfLoading!=undefined){
                        var inspectionOfLoading = PackageRequireVo.inspectionOfLoading;
                        if(inspectionOfLoading == 0){
                            $('input[name="inspectionOfLoading"]').attr('checked',false);
                        }
                        $('input[name="inspectionOfLoading"]').each(function(){
                            var val = $(this).val();
                            if(val == inspectionOfLoading){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                    if(PackageRequireVo.inspectionInstitution!=undefined){
                        $('#inspectionInstitution').val(PackageRequireVo.inspectionInstitution);
                    }
                    if(PackageRequireVo.postLabel!=undefined&&PackageRequireVo.postLabel == 1){
                        $('#postLabel').attr('checked',true);
                    }
                    if(PackageRequireVo.basePlate!=undefined&&PackageRequireVo.basePlate == 1){
                        $('#basePlate').attr('checked',true);
                    }
                    if(PackageRequireVo.paperBoard!=undefined&&PackageRequireVo.paperBoard == 1){
                        $('#paperBoard').attr('checked',true);
                    }
                    if(PackageRequireVo.gasbag!=undefined&&PackageRequireVo.gasbag == 1){
                        $('#gasbag').attr('checked',true);
                    }
                    if(PackageRequireVo.dragNet!=undefined&&PackageRequireVo.dragNet == 1){
                        $('#dragNet').attr('checked',true);
                    }
                    if(PackageRequireVo.fastenBelt!=undefined&&PackageRequireVo.fastenBelt == 1){
                        $('#fastenBelt').attr('checked',true);
                    }
                    if(PackageRequireVo.barcCode!=undefined&&PackageRequireVo.barcCode == 1){
                        $('#barcCode').attr('checked',true);
                    }
                    if(PackageRequireVo.americanDoorseal!=undefined&&PackageRequireVo.americanDoorseal == 1){
                        $('#americanDoorseal').attr('checked',true);
                    }
                    if(PackageRequireVo.cornerProtection!=undefined&&PackageRequireVo.cornerProtection == 1){
                        $('#cornerProtection').attr('checked',true);
                    }
                    if(PackageRequireVo.bead!=undefined&&PackageRequireVo.bead == 1){
                        $('#bead').attr('checked',true);
                    }
                    if(PackageRequireVo.wireFixed!=undefined&&PackageRequireVo.wireFixed == 1){
                        $('#wireFixed').attr('checked',true);
                    }

                    var businessOrderProduct = result.businessOrderProduct;
                    if(businessOrderProduct.mianxiangqi!=undefined){
                        $('#mianxiangqi').val(businessOrderProduct.mianxiangqi);
                    }
                    if(businessOrderProduct.miantuiqi!=undefined){
                        $('#miantuiqi').val(businessOrderProduct.miantuiqi);
                    }
                    if(businessOrderProduct.cupboardType!=undefined){
                        $('#cupboardType').val(businessOrderProduct.cupboardType);
                    }
                    if(businessOrderProduct.cupboardPerNumber!=undefined){
                        $('#cupboardPerNumber').val(businessOrderProduct.cupboardPerNumber);
                    }
                    if(businessOrderProduct.cupboardNumber!=undefined){
                        $('#cupboardNumber').val(businessOrderProduct.cupboardNumber);
                    }
                    if(businessOrderProduct.oceanFreight!=undefined){
                        $('#oceanFreight').val(businessOrderProduct.oceanFreight);
                    }
                    if(businessOrderProduct.portSurcharge!=undefined){
                        $('#portSurcharge').val(businessOrderProduct.portSurcharge);
                    }
                    if(businessOrderProduct.shippingAgentRequire!=undefined){
                        $('#shippingAgentRequire').val(businessOrderProduct.shippingAgentRequire);
                    }
                    if(businessOrderProduct.goodsType!=undefined){
                        var goodsType = businessOrderProduct.goodsType;
                        if(goodsType == 0){
                            $('input[name="goodsType"]').attr('disabled',false);
                        }
                        $('input[name="goodsType"]').each(function(){
                            var val = $(this).val();
                            if(val == goodsType){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                }
            })
        }else if(editId == 0&&id!=''){
            $('[data-control="on"]').attr('disabled',false);

            $('#before').removeClass('hidden');
            $('#next').removeClass('hidden');
        }else if(editId == 2&&id !=''){
            jQuery.ajax({
                url:basePath + '/businessProduct/getPackageRequire?businessProductId=' + id,
                type:'POST',
                success:function(result){
                    console.log(result);

                    var PackageRequireVo = result.PackageRequireVo;
                    if(PackageRequireVo.tray!=undefined){
                        var tray = PackageRequireVo.tray;
                        if(tray == 0){
                            $('input[name="fullyClose"]').attr('checked',false);
                        }
                        $('input[name="fullyClose"]').each(function(){
                            var val = $(this).val();
                            if(val == tray){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                    if(PackageRequireVo.inspectionOfLoading!=undefined){
                        var inspectionOfLoading = PackageRequireVo.inspectionOfLoading;
                        if(inspectionOfLoading == 0){
                            $('input[name="inspectionOfLoading"]').attr('checked',false);
                        }
                        $('input[name="inspectionOfLoading"]').each(function(){
                            var val = $(this).val();
                            if(val == inspectionOfLoading){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                    if(PackageRequireVo.inspectionInstitution!=undefined){
                        $('#inspectionInstitution').val(PackageRequireVo.inspectionInstitution);
                    }
                    if(PackageRequireVo.postLabel!=undefined&&PackageRequireVo.postLabel == 1){
                        $('#postLabel').attr('checked',true);
                    }
                    if(PackageRequireVo.basePlate!=undefined&&PackageRequireVo.basePlate == 1){
                        $('#basePlate').attr('checked',true);
                    }
                    if(PackageRequireVo.paperBoard!=undefined&&PackageRequireVo.paperBoard == 1){
                        $('#paperBoard').attr('checked',true);
                    }
                    if(PackageRequireVo.gasbag!=undefined&&PackageRequireVo.gasbag == 1){
                        $('#gasbag').attr('checked',true);
                    }
                    if(PackageRequireVo.dragNet!=undefined&&PackageRequireVo.dragNet == 1){
                        $('#dragNet').attr('checked',true);
                    }
                    if(PackageRequireVo.fastenBelt!=undefined&&PackageRequireVo.fastenBelt == 1){
                        $('#fastenBelt').attr('checked',true);
                    }
                    if(PackageRequireVo.barcCode!=undefined&&PackageRequireVo.barcCode == 1){
                        $('#barcCode').attr('checked',true);
                    }
                    if(PackageRequireVo.americanDoorseal!=undefined&&PackageRequireVo.americanDoorseal == 1){
                        $('#americanDoorseal').attr('checked',true);
                    }
                    if(PackageRequireVo.cornerProtection!=undefined&&PackageRequireVo.cornerProtection == 1){
                        $('#cornerProtection').attr('checked',true);
                    }
                    if(PackageRequireVo.bead!=undefined&&PackageRequireVo.bead == 1){
                        $('#bead').attr('checked',true);
                    }
                    if(PackageRequireVo.wireFixed!=undefined&&PackageRequireVo.wireFixed == 1){
                        $('#wireFixed').attr('checked',true);
                    }

                    var businessOrderProduct = result.businessOrderProduct;
                    if(businessOrderProduct.mianxiangqi!=undefined){
                        $('#mianxiangqi').val(businessOrderProduct.mianxiangqi);
                    }
                    if(businessOrderProduct.miantuiqi!=undefined){
                        $('#miantuiqi').val(businessOrderProduct.miantuiqi);
                    }
                    if(businessOrderProduct.cupboardType!=undefined){
                        $('#cupboardType').val(businessOrderProduct.cupboardType);
                    }
                    if(businessOrderProduct.cupboardPerNumber!=undefined){
                        $('#cupboardPerNumber').val(businessOrderProduct.cupboardPerNumber);
                    }
                    if(businessOrderProduct.cupboardNumber!=undefined){
                        $('#cupboardNumber').val(businessOrderProduct.cupboardNumber);
                    }
                    if(businessOrderProduct.oceanFreight!=undefined){
                        $('#oceanFreight').val(businessOrderProduct.oceanFreight);
                    }
                    if(businessOrderProduct.portSurcharge!=undefined){
                        $('#portSurcharge').val(businessOrderProduct.portSurcharge);
                    }
                    if(businessOrderProduct.shippingAgentRequire!=undefined){
                        $('#shippingAgentRequire').val(businessOrderProduct.shippingAgentRequire);
                    }
                    if(businessOrderProduct.goodsType!=undefined){
                        var goodsType = businessOrderProduct.goodsType;
                        if(goodsType == 0){
                            $('input[name="goodsType"]').attr('disabled',false);
                        }
                        $('input[name="goodsType"]').each(function(){
                            var val = $(this).val();
                            if(val == goodsType){
                                $(this).attr('checked',true);
                            }
                        })
                    }
                }
            })
        }*/

        //全部添加成功后保存
        $(document).on('click','#next',function(){
            jQuery.ajax({
                url:basePath + '/businessProduct/saveDocumentaryOrPacking',
                type:'POST',
                data:getdata(),
                /*contentType:"application/json",*/
                success:function(result){
                    if(result == true){
                        alert('添加保存成功!');
                        console.log(result);
                        window.location.href = basePath + '/businessOrder/intoOfferorOrder?orderId=' + orderId;
                    }else{
                        alert('添加保存失败！');
                    }
                }
            })

        })
    })


    //监听互斥
    $(document).on('click','input[name="fullyClose"]',function(){
        $('input[name="fullyClose"]').removeAttr('checked');
        $(this).prop('checked',true);
    })
    $(document).on('click','input[name="inspectionOfStorage"]',function(){
        $('input[name="inspectionOfLoading"]').removeAttr('checked');
        $(this).prop('checked',true);
    })

    //checked选择
    function checked(id) {
        var i = id.attr('checked')?1 : 0;
        return i;
    }

    function getdata() {
        var PackageRequireVo = {
            'inspectionInstitution':$('#inspectionInstitution').val(),
            'tray':$('input[name="fullyClose"]:checked').val(),
            'inspectionOfLoading':getinspectionOfLoading(),
            'postLabel':checked($('#postLabel')),
            'basePlate':checked($('#basePlate')),
            'paperBoard':checked($('#paperBoard')),
            'gasbag':checked($('#gasbag')),
            'dragNet':checked($('#dragNet')),
            'fastenBelt':checked($('#fastenBelt')),
            'barcCode':checked($('#barcCode')),
            'americanDoorseal':checked($('#americanDoorseal')),
            'bead':checked($('#bead')),
            'cornerProtection':checked($('#cornerProtection')),
            'wireFixed':checked($('#wireFixed')),
        }
        var businessOrderProduct = {
            'id':id,
            'packageRequire':JSON.stringify(PackageRequireVo),
            'goodsType':$('input[name="goodsType"]:checked').val(),
            'shippingAgentRequire':$('#shippingAgentRequire').val(),
            'mianxiangqi':$('#mianxiangqi').val(),
            'miantuiqi':$('#miantuiqi').val(),
            'cupboardType':$('#cupboardType').val(),
            'cupboardPerNumber':$('#cupboardPerNumber').val(),
            'cupboardNumber':$('#cupboardNumber').val(),
            'oceanFreight':$('#oceanFreight').val(),
            'portSurcharge':$('#portSurcharge').val()
        }
        console.log(businessOrderProduct);
        return businessOrderProduct;
    }

    //互斥
    $(document).on('click','input[name="inspectionOfLoading"]',function(){
        $('input[name="inspectionOfLoading"]').removeAttr('checked');
        $(this).prop('checked',true);
    })
    $('input[name="inspectionOfLoading"]').change(function(){
        if($(this).attr('checked')){
            $('#inspectionInstitution').attr('disabled',false);
        }else{
            $('#inspectionInstitution').attr('disabled',true);
            $('#inspectionInstitution').attr('value','');
        }
    })

    function getinspectionOfLoading() {
        var inspectionOfLoading;
        if($('input[name="inspectionOfLoading"]:checked').length==0){
            inspectionOfLoading = 0;
        }else{
            inspectionOfLoading = $('input[name="inspectionOfLoading"]:checked').val();
        }
        console.log(inspectionOfLoading);
        return inspectionOfLoading;
    }

    $('#save').click(function(){
        jQuery.ajax({
            url:basePath + '/businessProduct/saveDocumentaryOrPacking',
            type:'POST',
            data:getdata(),
            /*contentType:"application/json",*/
            success:function(result){
                console.log(result);
                if(result == true){
                    alert('修改成功！');
                    location.reload();
                }else{
                    alert('修改失败！');
                }
            }
        })
    })

    $('#back').click(function(){
        window.location.href = basePath + '/businessOrder/intoOfferorOrder?orderId=' + orderId;
    })

    $('#before').click(function(){
        window.location.href = basePath + '/businessProduct/intoDocumentary?businessProductId=' + id + '&productRequireId=' + productRequireId + '&orderId=' + orderId + '&customerId=' + customerId + '&edit=' + editId;
    })
</script>



