<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-10">
                <!--订舱出运要求-->
                <div class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <h3 id="sTitle" class="panel-title" lang="zh">
                            订舱出运要求
                        </h3>
                    </div>
                    <div class="panel-body panel-edit">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-2" lang="zh">对船运公司要求</label>
                                <div class="col-xs-10">
                                    <textarea id="shippingAgentRequire" cols="3" class="form-control" placeholder="指定的船运公司，或者禁用的船运公司"  lang="zh"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-xs-2" lang="zh">装箱要求</label>
                                <div class="col-xs-10">
                                    <!--表格-->
                                    <table class="table table-condensed table-bordered table-striped text-right">
                                        <tbody>
                                        <tr>
                                            <td lang="zh">打托（缠膜）</td>
                                            <td class="text-left">
                                                <div class="col-xs-12">
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="1"/>免熏蒸托盘</label>
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="2"/>熏蒸托盘</label>
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="3"/>塑料托盘</label>
                                                    <label class="checkbox-inline"><input name="fullyClose" type="checkbox" value="4"/>订制托盘</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td lang="zh">帖唛</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="postLabel" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">垫板</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="basePlate" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">纸板</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="paperboard" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">气囊</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="gasbag" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">拉网</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="dragNet" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">紧固带</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="fastenBelt" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">抄条码</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="barcCode" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">美式门封</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="americanDoorseal" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">护条</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="bead" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">护角</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="cornerProtection" type="checkbox" /></label>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td lang="zh">是否需要监装</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input name="inspectionOfStorage" type="checkbox" value="0"/>商检</label>
                                                </div>
                                                <div class="checkbox col-xs-3">
                                                    <label><input name="inspectionOfStorage" type="checkbox" value="1"/>法检</label>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input id="inspectionInstitution" type="text" class="form-control" placeholder="输入机构名称"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td lang="zh">吨桶是否铁丝固定</td>
                                            <td class="text-left">
                                                <div class="checkbox col-xs-3">
                                                    <label><input id="wireFixed" type="checkbox" /></label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2" lang="zh">出运货物</label>
                                    <div class="radio col-xs-1">
                                        <label ><input type="radio" name="goodsType" value="0" /><span lang="zh">普货</span</label>
                                    </div>
                                    <div class="radio col-xs-2">
                                        <label ><input type="radio" name="goodsType" value="1" /><span lang="zh">危险品</span></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2"><span lang="zh">免箱期</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="mianxiangqi" class="form-control" type="text" value="" />
                                            <span class="input-group-addon">天</span>
                                        </div>
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">免堆期</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="miantuiqi" class="form-control" type="text" value="" />
                                            <span class="input-group-addon">天</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2"><span lang="zh">柜型</span></label>
                                    <div class="col-xs-2">
                                        <select class="form-control" name="" id="cupboardType">
                                            <option value="0">20GP</option>
                                            <option value="1">40GP</option>
                                            <option value="2">20HQ</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">整柜数</span></label>
                                    <div class="col-xs-2">
                                        <input id="cupboardPerNumber" class="form-control" type="text" value="" />
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">柜数</span></label>
                                    <div class="col-xs-2">
                                        <input id="cupboardNumber" class="form-control" type="text" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2"><span lang="zh">海运费单价</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="oceanFreight" class="form-control" type="text" value="" />
                                            <span class="input-group-addon">美元</span>
                                        </div>
                                    </div>
                                    <label class="control-label col-xs-2"><span lang="zh">港杂费单价</span></label>
                                    <div class="col-xs-2">
                                        <div class="input-group">
                                            <input id="portSurcharge" class="form-control" type="text" value="" />
                                            <span class="input-group-addon">美元</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-xs-offset-5"><a href="" class="btn btn-block btn-default" type="button" id="back">上一步</a></div>
            <div class="col-xs-1 col-xs-offset-1"><a href="" class="btn btn-block btn-primary" type="button" id="finish">完成</a></div>
        </div>
    </div>
</div>
<input id="customerId" type="hidden" value='$!{customerId}'>
<input type="hidden" id="customerType" value="$!{customerType}" />
<input id="businessProductId" type="hidden" value='$!{businessProductId}'>
<script type="text/javascript">
    var id = $('#businessProductId').val();

    $(document).ready(function(){
        jQuery.ajax({
            url:basePath + '/businessProduct/getPackageRequire?businessProductId=' + id,
            type:'POST',
            success:function(result){
                console.log(result);

                if(result.PackageRequireVo!=undefined){
                    var PackageRequireVo = result.PackageRequireVo;
                    if(PackageRequireVo.tray!=undefined){
                        switch (PackageRequireVo.tray){
                            case 1:
                                $('input[name="fullyClose"]')[0].attr('checked',true);
                                break;
                            case 2:
                                $('input[name="fullyClose"]')[1].attr('checked',true);
                                break;
                            case 3:
                                $('input[name="fullyClose"]')[2].attr('checked',true);
                                break;
                            case 4:
                                $('input[name="fullyClose"]')[3].attr('checked',true);
                                break;
                        }
                    }
                    if(PackageRequireVo.PackageRequireVo!=undefined){
                        $('#inspectionInstitution').val(PackageRequireVo.PackageRequireVo);
                    }
                    if(PackageRequireVo.postLabel!=undefined&&PackageRequireVo.postLabel == 1){
                        $('#postLabel').attr('checked');
                    }
                    if(PackageRequireVo.basePlate!=undefined&&PackageRequireVo.basePlate == 1){
                        $('#basePlate').attr('checked');
                    }
                    if(PackageRequireVo.paperboard!=undefined&&PackageRequireVo.paperboard == 1){
                        $('#paperboard').attr('checked');
                    }
                    if(PackageRequireVo.gasbag!=undefined&&PackageRequireVo.gasbag == 1){
                        $('#gasbag').attr('checked');
                    }
                    if(PackageRequireVo.dragNet!=undefined&&PackageRequireVo.dragNet == 1){
                        $('#dragNet').attr('checked');
                    }
                    if(PackageRequireVo.fastenBelt!=undefined&&PackageRequireVo.fastenBelt == 1){
                        $('#fastenBelt').attr('checked');
                    }
                    if(PackageRequireVo.barcCode!=undefined&&PackageRequireVo.barcCode == 1){
                        $('#barcCode').attr('checked');
                    }
                    if(PackageRequireVo.americanDoorseal!=undefined&&PackageRequireVo.americanDoorseal == 1){
                        $('#americanDoorseal').attr('checked');
                    }
                    if(PackageRequireVo.cornerProtection!=undefined&&PackageRequireVo.cornerProtection == 1){
                        $('#cornerProtection').attr('checked');
                    }
                    if(PackageRequireVo.bead!=undefined&&PackageRequireVo.bead == 1){
                        $('#bead').attr('checked');
                    }
                    if(PackageRequireVo.wireFixed!=undefined&&PackageRequireVo.wireFixed == 1){
                        $('#wireFixed').attr('checked');
                    }
                }
                if(result.businessOrderProduct!=undefined){
                    var businessOrderProduct = result.businessOrderProduct;
                    if(businessOrderProduct.mianxiangqi!=undefined){
                        $('#mianxiangqi').val(businessOrderProduct.mianxiangqi);
                    }
                    if(businessOrderProduct.miantuiqi!=undefined){
                        $('#miantuiqi').val(businessOrderProduct.miantuiqi);
                    }
                    if(businessOrderProduct.cupboardType!=undefined){
                        $('#cupboardType').val(businessOrderProduct.cupboardType);
                    }
                    if(businessOrderProduct.cupboardPerNumber!=undefined){
                        $('#cupboardPerNumber').val(businessOrderProduct.cupboardPerNumber);
                    }
                    if(businessOrderProduct.cupboardNumber!=undefined){
                        $('#cupboardNumber').val(businessOrderProduct.cupboardNumber);
                    }
                    if(businessOrderProduct.oceanFreight!=undefined){
                        $('#oceanFreight').val(businessOrderProduct.oceanFreight);
                    }
                    if(businessOrderProduct.portSurcharge!=undefined){
                        $('#portSurcharge').val(businessOrderProduct.portSurcharge);
                    }
                    if(businessOrderProduct.shippingAgentRequire!=undefined){
                        $('#shippingAgentRequire').val(businessOrderProduct.shippingAgentRequire);
                    }
                    if(businessOrderProduct.goodsType!=undefined){
                        switch (businessOrderProduct.goodsType){
                            case 0:
                                $('input[name="goodsType"]')[0].attr('checked',true);
                                break;
                            case 1:
                                $('input[name="goodsType"]')[1].attr('checked',true);
                                break;
                        }
                    }
                }
            }
        })
    })

    $('#back').click(function(){
        window.location.href = basePath + '/businessProduct/saveDocumentaryOrPacking?businessProductId=' + $('#businessProductId').val();
    })

    $(document).on('click','#finish',function(){
        jQuery.ajax({
            url:basePath + '/businessProduct/saveDocumentaryOrPacking?businessProductId=' + id,
            type:'POST',
            data:getdata(),
            contentType:"application/json",
            success:function(result){
                console.log(result);
            }
        })
    })

    //监听互斥
    $(document).on('click','input[name="fullyClose"]',function(){
        $('input[name="fullyClose"]').removeAttr('checked');
        $(this).prop('checked',true);
    })
    $(document).on('click','input[name="inspectionOfStorage"]',function(){
        $('input[name="inspectionOfStorage"]').removeAttr('checked');
        $(this).prop('checked',true);
    })
    //checked选择
    function checked(id) {
        var i = id.attr('checked',true)?1 : 0;
        /*if(id.attr('checked',true)){
            return 1;
        }else{
            return 0;
        }*/
        return i;
    }

    function getdata() {
        var data = {
            'businessProductId':$('#businessProductId').val(),
            'inspectionInstitution':$('#inspectionInstitution').val(),
            'tray':$('input[name="fullyClose"]:checked').val(),
            'inspectionOfLoading':$('input[name="inspectionOfStorage"]:checked').val(),
            'postLabel':checked($('#postLabel')),
            'basePlate':checked($('#basePlate')),
            'paperBoard':checked($('#paperBoard')),
            'gasbag':checked($('#gasbag')),
            'dragNet':checked($('#dragNet')),
            'fastenBelt':checked($('#fastenBelt')),
            'barcCode':checked($('#barcCode')),
            'americanDoorseal':checked($('#americanDoorseal')),
            'bead':checked($('#bead')),
            'cornerProtection':checked($('#cornerProtection')),
            'inspectionInstitution':checked($('#inspectionInstitution')),
            'wireFixed':checked($('#wireFixed')),
            'shippingAgentRequire':$('#shippingAgentRequire').val(),
            'mianxiangqi':$('#mianxiangqi').val(),
            'miantuiqi':$('#miantuiqi').val(),
            'cupboardType':$('#cupboardType').val(),
            'cupboardPerNumber':$('#cupboardPerNumber').val(),
            'cupboardNumber':$('#cupboardNumber').val(),
            'oceanFreight':$('#oceanFreight').val(),
            'portSurcharge':$('#portSurcharge').val()
        }
        return JSON.stringify(data);
    }
</script>



