<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--表格开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        客户产品包装要求
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <!--搜索框开始-->
                    <form class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" lang="zh">客户名称</span>
                            <input class="form-control" id="customer_name" type="search" placeholder="请输入客户名称"/>
                            <span class="input-group-addon" lang="zh">客户商品名</span>
                            <input class="form-control" id="customer_product_name" type="search" value="" placeholder="请输入客户商品名称"/>
                            <span class="input-group-addon" lang="zh" >产品名称</span>
                            <input id="product_name" class="form-control" type="search" value="" placeholder="请输入产品名称"/>
                            <span class="input-group-btn">
                                        <button data-toggle="modal" class="btn btn-xs btn-default" data-target="#tSearch" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                            <span class="input-group-addon" lang="zh">品牌</span>
                            <input class="form-control" id="brand" type="search" value="" placeholder="请输入品牌"/>
                            <span class="input-group-addon" lang="zh" >加工厂</span>
                            <select class="form-control" id="factory_name">
                                <option value="">全部</option>
                                <option value="1">杭州海辰</option>
                                <option value="2">杭州乐川</option>
                            </select>
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-primary" type="reset">重置</button>
                                <button class="btn btn-xs btn-primary" id="button" type="button">搜索</button>
                            </div>
                        </div>
                    </form>
                    #*<div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-1 pull-left">客户名称</label>
                            <div class="col-xs-1 ">
                                <input id="customer_name" class="form-control" type="search" placeholder="请输入客户名称"/>
                            </div>
                            <label class="col-xs-1 control-label ">客户商品名</label>
                            <div class="col-xs-1 ">
                                <input id="customer_product_name" class="form-control" type="search" value="" placeholder="请输入客户商品名称"/>
                            </div>
                            <label class="col-xs-1 control-label ">产品名称</label>
                            <div class="col-xs-1 ">
                                <div class="input-group">
                                    <input id="product_name" class="form-control" type="search" value="" placeholder="请输入产品名称"/>
                                    <span class="input-group-btn">
                                        <button data-toggle="modal" class="btn btn-xs btn-default" data-target="#tSearch" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label ">品牌</label>
                            <div class="col-xs-1 ">
                                <input id="brand" class="form-control" type="search" value="" placeholder="请输入品牌"/>
                            </div>
                            <label class="control-label col-xs-1 ">加工厂</label>
                            <div class="col-xs-1">
                                <select id="factory_name" class="form-control">
                                    <option value="">全部</option>
                                    <option value="1">杭州海辰</option>
                                    <option value="2">杭州乐川</option>
                                </select>
                            </div>
                            <div class="col-xs-1 pull-right">
                                <button id ="button" type="button" class="btn btn-block btn-primary btn-xs">
                                搜索
                                </button>
                            </div>
                        </div>
                    </div>*#

                    <!--搜索框结束-->
                    <!--表格开始-->
                    <table id="customer_customer_packaging_table" class="table table-condensed table-bordered table-striped text-center" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="text-center">编号</th>
                            <th class="text-center">客户名称</th>
                            <th class="text-center">客户商品名</th>
                            <th class="text-center">品类序列号</th>
                            <th class="text-center">品类</th>
                            <th class="text-center">产品名称</th>
                            <th class="text-center">品牌</th>
                            <th class="text-center">规格</th>
                            <th class="text-center">型号</th>
                            <th class="text-center">主单位</th>
                            <th class="text-center">加工厂</th>
                            <th class="text-center">加工厂编号</th>
                        </tr>
                        </th>
                        </thead>

                    </table>
                    <!--表格结束-->
                </div>
                <div class="panel-body clearfix"></div>
            </div>
            <!--表格结束-->
        </div>
    </div>
</div>

<!--modal-->
<div class="modal fade" id="tSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
                <div id="tree" class="tree">

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript">

    $('#tree').creatTree(basePath+'/productCategory/CategoryTree');
    $(document).on('click','a.cNode',function (e) {
        e.preventDefault();
        console.log(e.target);
        var tarEltext = $(e.target).text();
        $('#product_name').val(tarEltext);
    });
    $(document).ready(function() {
        var table =$('#customer_customer_packaging_table').DataTable( {
            "ajax":basePath+'/customerProductPacking/queryCustomerProductPackingList',
            "pagingType":"full_numbers",
            "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "columns":[
                {"data":"customerProductId"},
                {"data":"customerName"},
                {"data":"customerProductName"},
                {"data":"categorySerialNumber"},
                {"data":"categoryName"},
                {"data":"productName"},
                {"data":"brand"},
                {"data":"specification"},
                {"data":"model"},
                {"data":"mainUnit"},
                {"data":"factoryName"},
                {"data":"factoryId"}
            ],
            "columnDefs":[
                {
                    "targets": 2,
                    "render": function(data,type,row,meta){
                        return '<a href="' + data + '" target="_blank">' + row.customerProductName + '</a>';
                    }
                },
                {
                    "targets": 11,
                    "visible": false
                }
            ],
            "language": {
                "url": basePath+'/lib/dataTables/lang/dataTables.lang.zh',
                "searchPlaceholder": '关键字'
            }
        } );
        $(document).on("click","#button",function(){

           var args1 = $("#product_name").val();
           var args2 = $("#customer_name").val();
           var args3 = $("#factory_name").val();
           var args4 = $("#customer_product_name").val();
           var arag5 = $("#brand").val();
            table
                    .column(1)
                    .search(args2)
                    .column(2)
                    .search(args4)
                    .column(5)
                    .search(args1)
                    .column(6)
                    .search(arag5)
                    .column(11)
                    .search(args3)
                    .draw(false);

        });
    } );


</script>

