<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <meta charset="UTF-8">
    <title>客户产品包装要求</title>
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.css" />
    <script src="/lib/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/dropdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/collapse.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/tab.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/transition.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="bg-page">
<div class="container-fluid">
    <!--头部开始-->
    <nav class="navbar navbar-cards navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                福华客户关系管理系统
            </a>
        </div>
        <div class="navbar-btn btn-group btn-group-xs pull-right">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span></button>
            <button class="btn btn-primary">业务员</button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
                <li><a href="">修改密码</a></li>
                <li><a href="">退出</a></li>
            </ul>
        </div>
        <ul id="nav-affix" class="nav nav-cards">
            <li class="shadow-in" title="客户信息">
                <div id="collapseOne" class="list-group collapse">
                    <a class="list-group-item" href="#">客户列表</a>
                    <a class="list-group-item" href="#">潜在客户新增</a>
                    <a class="list-group-item" href="#">潜在客户信息查看</a>
                    <a class="list-group-item" href="#">客户信息查看</a>
                </div>
                <a data-toggle="collapse" href="#collapseOne" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-user"></span>
                    客户信息
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="供应商信息">
                <div id="collapseTwo" class="list-group collapse">
                    <a class="list-group-item" href="#">加工厂</a>
                    <a class="list-group-item" href="#">货代</a>
                </div>
                <a data-toggle="collapse" href="#collapseTwo" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    供应商信息
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="销售统计">
                <div id="collapseThree" class="list-group collapse">
                    <a class="list-group-item" href="#">商机</a>
                    <a class="list-group-item" href="#">销售动态</a>
                    <a class="list-group-item" href="#">费用与利润</a>
                    <a class="list-group-item" href="#">客户维护</a>
                </div>
                <a data-toggle="collapse" href="#collapseThree" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-stats"></span>
                    销售统计
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="行业数据">
                <div id="collapseFour" class="list-group collapse">
                    <a class="list-group-item" href="#">市场数据</a>
                </div>
                <a data-toggle="collapse" href="#collapseFour" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    行业数据
                    <b class="caret"></b>
                </a>
            </li>
            <li class="active shadow-in" title="知识库">
                <div id="collapseFive" class="list-group collapse">
                    <a class="list-group-item" href="/productProblem/productProblemList">产品常见问题</a>
                    <a class="list-group-item" href="/marketTraining/marketTrainingList">营销培训</a>
                    <a class="list-group-item" href="/knowledgeBase/customerProductPackingList">客户产品包装要求</a>
                    <a class="list-group-item" href="/knowledgeBase/productArchivesList">标准产品档案</a>
                    <a class="list-group-item" href="/knowledgeBase/packingCostList">包材成本参考</a>
                    <a class="list-group-item" href="/knowledgeBase/processCostList">加工成本参考</a>
                    <a class="list-group-item" href="/knowledgeBase/encyclopediaList">百科</a>
                    <a class="list-group-item" href="/exhibitionInfo/exhibitionInfoList">展会动态</a>
                    <a class="list-group-item" href="">其他</a>
                </div>
                <a data-toggle="collapse" href="#collapseFive" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-book"></span>
                    知识库
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="决策支持" >
                <div id="collapseSix" class="list-group collapse">
                    <a class="list-group-item" href="#">销售数据</a>
                    <a class="list-group-item" href="#">成本费用</a>
                    <a class="list-group-item" href="#">数据库</a>
                </div>
                <a data-toggle="collapse" href="#collapseSix" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-pencil"></span>
                    决策支持
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="系统管理">
                <div id="collapseSeven" class="list-group collapse">
                    <a class="list-group-item" href="#">设置</a>
                </div>
                <a data-toggle="collapse" href="#collapseSeven" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-cog"></span>
                    系统管理
                    <b class="caret"></b>
                </a>
            </li>
        </ul>
    </nav>
    <!--头部结束-->
    <div class="clearfix content shadow-out">
        <!--面包屑导航开始-->
        <div class="breadcrumb-more">
            <span class="breadcrumb-unit pull-left">当前位置</span>
            <ul class="breadcrumb shadow-out">
                <li><a href="">知识库</a></li>
                <li class="active">客户产品包装要求</li>
            </ul>
        </div>
        <!--面包屑导结束-->
        <div class="dashboard-wrapper">
            <!--表格开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        客户产品包装要求
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <!--搜索框开始-->
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-1 pull-right">
                                <button type="button" class="btn btn-block btn-primary btn-xs">
                                    搜索
                                </button>
                            </div>
                            <div class="col-xs-2 pull-right">
                                <input class="form-control" type="search" value="" placeholder="请输入产品名称"/>
                            </div>
                            <label class="col-xs-1 control-label pull-right">产品名称</label>
                            <div class="col-xs-1 pull-right">
                                <select class="form-control">
                                    <option value="">全部</option>
                                    <option value="">杭州海辰</option>
                                    <option value="">杭州乐川</option>
                                </select>
                            </div>
                            <label class="control-label col-xs-1 pull-right">加工厂</label>
                            <div class="col-xs-2 pull-right">
                                <div class="input-group">
                                    <input class="form-control" type="search" value="" placeholder="请输入品类"/>
                                    <span class="input-group-btn">
												<button data-toggle="modal" data-target="#search" class="btn btn-xs btn-default" type="button">
													<span class="glyphicon glyphicon-search"></span>
												</button>
											</span>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label pull-right">品类</label>
                            <div class="col-xs-2 pull-right">
                                <input class="form-control" type="search" placeholder="请输入客户名称"/>
                            </div>
                            <label class="control-label col-xs-1 pull-right">客户名称</label>
                        </div>
                    </div>
                    <!--搜索框结束-->
                    <!--表格开始-->
                    <table class="table table-condensed table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center">编号</th>
                            <th class="text-center">客户名称</th>
                            <th class="text-center">产品序列号</th>
                            <th class="text-center">产品类型</th>
                            <th class="text-center">品名</th>
                            <th class="text-center">加工厂名称</th>
                            <th class="text-center">包装要求</th>
                            <th class="text-center">包装材质</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NUFARM</td>
                            <td>xxxx</td>
                            <td>草甘膦原药</td>
                            <td><a href="products.html" target="_blank">95%草甘膦原药</a></td>
                            <td>杭州海辰</td>
                            <td><a href="packs.html" target="_blank">25KG</a></td>
                            <td>编织袋</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--表格结束-->
                    <!--分页导航开始-->
                    <div class="form-group pull-left table-pagination">
                        共<span>123</span>条记录，<span>130</span>页，跳转到第&nbsp;<input class="form-control pagination-input" type="number"/>&nbsp;页
                        <button class="btn btn-xs btn-primary">确定</button>
                    </div>
                    <ul class="pagination pull-right table-pagination">
                        <li class="disabled"><a href="#">上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="">&hellip;</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                    <!--分页导航结束-->
                </div>
            </div>
            <!--表格结束-->
        </div>
    </div>
</div>
<div class="footer">
    <small>
        &copy; baswaAdmin 2014
    </small>
</div>
</body>
</html>