<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--表格开始-->
            <div class="panel panel-default view-HD-lg">
                <div class="panel-heading">
                    <button id="backPage" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" type="button">返回</button>
                    <h3 class="panel-title">
                        新增/编辑百科
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <form id="myForm" class="form-horizontal">
                        <div class="form-group ">
                            <label for="fullName" class="col-xs-1 control-label">企业全称<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div id="inputSearch" class="col-xs-2">
                                <div class="col-xs-12" style="padding-left: 0;padding-right: 0">
                                    <input id="fullName" name="fullName" data-toggle="dropdown" data-control="on" class="form-control dropdown-toggle" disabled type="text" autocomplete="off"/>
                                    <ul id="cName" class="pull-right dropdown-menu" style="width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                </div>
                            </div>
                            <label for="shortName" class="col-xs-1 control-label">企业简称<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input id="shortName" name="shortName" data-control="on" class="form-control" disabled type="text"/>
                            </div>
                            <label for="companyType" class="col-xs-1 control-label">企业类别<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select id="companyType" name="companyType" data-control="on" disabled class="form-control">
                                    <option value="">——请选择企业类别——</option>
                                    <option value="0">客户</option>
                                    <option value="1">竟对</option>
                                </select>
                            </div>
                        </div>
##                        <div class="form-group ">
##                            <label for="areaId" class="col-xs-1 control-label">地区分类<sup data-view="editView" class="not-null hidden">*</sup></label>
##                            <div class="col-xs-2">
##                                <select id="areaId" name="areaId" data-control="on" disabled class="form-control">
##
##                                </select>
##                            </div>
##                            <label for="countryId" class="col-xs-1 control-label">国家<sup data-view="editView" class="not-null hidden">*</sup></label>
##                            <div class="col-xs-2">
##                                <select id="countryId" data-control="on" name="countryId" disabled class="form-control">
##                                    <option value="">——请优先选择地区——</option>
##                                </select>
##                            </div>
##                        </div>
                        <div class="form-group ">
                            <label for="areaId" class=" control-label col-xs-1" lang="zh">地区分类<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="areaId" data-val="" readonly name="areaId" class="form-control">
                                    <div class="input-group-btn">
                                        <button id="aISearch" disabled class="btn btn-xs btn-default" data-control="on" type="button" data-toggle="modal" data-target="#cbtModal"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
##                            <label for="customerArea" class=" control-label col-xs-1" lang="zh">地区分类<sup data-view="editView" class="not-null hidden">*</sup></label>
##                            <div class="col-xs-2">
##                                <div class="input-group">
##                                    <input id="customerArea" data-val="" disabled name="customerArea" class="form-control" value="">
##                                    <div class="input-group-btn">
##                                        <button id="aISearch" class="btn btn-xs btn-default" data-control="on" type="button" data-toggle="modal" data-target="#cbtModal"><span class="glyphicon glyphicon-search"></span></button>
##                                    </div>
##                                </div>
##                            </div>
##                            <label for="country" class="control-label col-xs-1" lang="zh">国家<sup data-view="editView" class="not-null hidden">*</sup></label>
##                            <div id="ccSearch" class="col-xs-2">
##                                <div class="input-group">
##                                    <input id="country" name="country" data-val="" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off" value=""/>
##                                    <div class="input-group-btn">
##                                        <button data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
##                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
##                                            <input id="countryS" name="countryS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
##                                            <ul id="cc" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
##                                        </div>
##                                    </div>
##                                </div>
##                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">企业性质<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-6">
                                <label class="checkbox-inline">
                                    <input disabled data-control="on" name="enterpriseNature" type="checkbox" value="1">
                                    <span lang="zh">工厂</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input disabled data-control="on" name="enterpriseNature" disabled type="checkbox" value="2">
                                    <span lang="zh">经销商</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input disabled data-control="on" name="enterpriseNature" type="checkbox" value="3">
                                    <span lang="zh">分销商</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input disabled data-control="on" name="enterpriseNature" disabled type="checkbox" value="4">
                                    <span lang="zh">终端客户</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input id="showOtherNature" disabled data-control="on" data-target="#otherEnterpriceNature" name="enterpriseNature" class="else" type="checkbox" value="5">
                                    <span lang="zh">其他</span>
                                </label>
                                <span class="form-inline">
                                    <input disabled="disabled" data-control="on" id="otherEnterpriceNature" class="form-inline form-control" style="position:absolute;left:355px;" type="text" value="" lang="zh">
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="registeredFunds" class="col-xs-1 control-label">注册资金<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
##                                <div class="input-group">
##                                    <input id="registeredFund" data-control="on" name="registeredFund" disabled type="number" class="form-control" />
##                                    <span class="input-group-addon">$</span>
##                                </div>
                                <div class="input-group">
                                    <span id="fundType" class="input-group-addon" data-val="美元" lang="zh">美元</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-xs btn-default dropdown-toggle" data-control="off" disabled data-toggle="dropdown" type="button">
                                            <span class="caret"></span>
                                        </button>
                                        <ul id="sFundType" class="dropdown-menu">
                                            #foreach($!info in $!{currtype})
                                                <li><a href="#" lang="zh" data-val="$!info.name">$!info.name</a></li>
                                            #end
                                        </ul>
                                    </div>
                                    <input id="registeredFunds" data-control="off" disabled name="registeredFunds" class="form-control" min="0" type="number" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="registeredAddr" class="col-xs-1 control-label">注册地址<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-8">
                                <textarea id="registeredAddr" data-control="on" name="registeredAddr" disabled class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="managementScope" class="col-xs-1 control-label">经营范围<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-8">
                                <textarea id="managementScope" data-control="on" name="managementScope" disabled class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div id="editTextarea">
                            <div class="form-group ">
                                <label for="companyInfo" class="col-xs-1 control-label">企业简介<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-8">
                                    <textarea id="companyInfo" name="companyInfo" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="developHis" class="col-xs-1 control-label">发展历程</label>
                                <div class="col-xs-8">
                                    <textarea id="developHis" name="developHis" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="sellNetwork" class="col-xs-1 control-label">销售网络</label>
                                <div class="col-xs-8">
                                    <textarea id="sellNetwork" name="sellNetwork" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <fieldset id="cum"></fieldset>
                            <div class="form-group">
                                <div class="col-xs-1 col-xs-offset-1">
                                    <a href="" class="btn-link" data-toggle="modal" data-target="#addField">
                                        <span class="glyphicon glyphicon-plus"></span>添加字段
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 col-xs-offset-4">
                                <button id="upBtn" class="btn btn-block btn-primary" type="button">完成</button>
                            </div>
                            <div class="col-xs-2">
                                <button id="resetBtn" class="btn btn-block btn-default" type="button">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="addField" tabindex="-1" data-backdrop="static" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">字段名称</label>
                        <div class="col-xs-5">
                            <input class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">描述内容</label>
                        <div class="col-xs-8">
                            <textarea class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-primary btn-block" id="submit">
                            完成
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

## 确认提交modal
<div class="modal fade" id="skipM" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" style="width: 370px;margin-top: 168px">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <h4 class="text-info text-center">提交成功，是否立即跳转？</h4>
                <hr>
                <div class="col-xs-5 col-xs-offset-1"><a id="skip" href="#" class="btn btn-block btn-primary">跳转</a></div>
                <div class="col-xs-5"><button data-dismiss="modal" class="btn btn-default btn-block" type="button">取消</button></div>
            </div>
        </div>
    </div>
</div>

## 查找客户名称
<script id="cNameC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" data-id="<%=data[i].customerId%>" style="padding-left: 6px"><%=data[i].fullName%></a></li>
    <%}%>
    <%}%>
</script>

##  自定义信息
<script id="cumC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <div name="customField" class="form-group" style="position: relative">
        <label name="na" class="col-xs-1 control-label"><%=data[i].name%></label>
        <div class="col-xs-8">
            <textarea name="va" class="form-control" rows="4"><%=data[i].value%></textarea>
        </div>
        <button data-btn="del" type="button" class="close pull-left" data-target=".form-group" style="position: absolute;top: 34%;">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
    </div>
    <%}%>
    <%}%>
</script>

## 地区分类modal
<div class="modal fade in" id="cbtModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true" >
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <hr>
                <div class="zTreeDemoBackground left well" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                    <ul id="cbtTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

##
<script id="tzC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" id="<%=data[i].pkTimezone%>" data-val="<%=data[i].code%>" style="padding-left: 6px"><%=data[i].name%></a></li>
    <%}%>
    <%}%>
</script>

<script id="transit" type="text/html"></script>

####  自定义信息
##<script id="cumCo" type="text/html">
##    <div name="customField" class="form-group">
##        <label name="na" class="col-xs-1 control-label"></label>
##        <div class="col-xs-8">
##            <textarea name="va" class="form-control" rows="4"></textarea>
##        </div>
##        <button type="button" class="close" data-target="form-group">
##            &times;
##        </button>
##    </div>
##</script>

<input id="nature" type="hidden" value="edit">
<input id="encyId" type="hidden" value="$!{encyId}">
<input id="customerId" type="hidden" value="$!{customerId}">

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/knowledge/encyclopediaInfo.js"></script>
