<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
<!--表格开始-->
<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-xs btn-primary pull-right panel-heading-btn" href="/knowledgeBase/encyclopediaAdd" data-toggle="modal">
            <span class="glyphicon glyphicon-plus"></span>
            新增
        </a>
        <h3 class="panel-title">
            百科
        </h3>
    </div>
    <div class="panel-body clearfix">
        <!--搜索框开始-->
        <div class="form-horizontal">
            <div class="form-group ">
                <label class="col-xs-1 control-label">企业类型</label>
                <div class="col-xs-1">
                    <select class="form-control" onchange="selectType(this)">
                        <option value="">全部</option>
                        <option value="0">客户</option>
                        <option value="1">竟对</option>
                    </select>
                </div>
                <div class="col-xs-2 pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入关键词查找">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-search"></span>
                                搜索
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--搜索框结束-->
        <!--表格开始-->
        <table id="encyclopedia_table" class="table table-condensed table-bordered table-striped text-center" cellpadding="0">
            <thead>
            <tr>
                <th class="col-xs-1 text-center">编号</th>
                <th class="col-xs-3 text-center">企业全称</th>
                <th class="col-xs-1 text-center">企业简称</th>
                <th class="col-xs-1 text-center">企业类型</th>
                <th class="col-xs-1 text-center">完整度</th>
                <th class="col-xs-1 text-center">创建人</th>
                <th class="col-xs-1 text-center">创建时间</th>
                <th class="col-xs-1 text-center">最后编辑人</th>
                <th class="col-xs-2 text-center">最后编辑时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="encyclopedia_add.html">润丰</a></td>
                <td><a href="encyclopedia_add.html">润丰</a></td>
                <td>竟对</td>
                <td>78%</td>
                <td>刘凯洋</td>
                <td>2016-10-10</td>
                <td>刘凯洋</td>
                <td>2016-10-10</td>
            </tr>
            </tbody>
        </table>
        <!--表格结束-->

    </div>
</div>
</div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#encyclopedia_table').dataTable({
            "ajax":'queryCustomerEncyclopediaList',
            "pagingType":"full_numbers",
            "columns":[
                {"data":"encyId"},
                {"data":"fullName"},
                {"data":"shortName"},
                {"data":"companyType"},
                {"data":"isFull"},
                {"data":"createUserName"},
                {"data":"createTime"},
                {"data":"lastmodifyUserName"},
                {"data":"modifyTime"}
            ],
            "columnDefs":[
                {
                    "targets":5,
//                    "render":function (data,type,row) {
//                        return '<a href="'+data+'" target="_blank">'+下载+'</a>';
//                    }
                }
            ],
            "language": {
                "url": '/lib/dataTables/lang/dataTables.lang.zh',
                "searchPlaceholder": '关键字'
            }
        })
    })
</script>
