
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--表格开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        展会新增
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <form class="form-horizontal" id="addexhibition">
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">展会名称</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="2" id="exhibitionName"></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="region" class=" control-label col-xs-1" lang="zh">地区分类<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="region" data-val="" disabled name="areaId" class="form-control" value="$!{exhibition.region}">
                                    <div class="input-group-btn">
                                        <button id="regSearch" class="btn btn-xs btn-default" data-control="on" type="button" data-toggle="modal" data-target="#cbtModal"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                            <label for="country" class="control-label col-xs-1" lang="zh">国家<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div id="ccSearch" class="col-xs-2">
                                <div class="input-group">
                                    <input id="country" name="country" data-val="" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off" value="$!{exhibition.country}"/>
                                    <div class="input-group-btn">
                                        <button data-control="on" class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                            <input id="countryS" name="countryS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
                                            <ul id="cc" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">详细地址</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="3" id="exhibitionAddr"></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">开始时间</label>
                            <div class="col-xs-2">
                                <input type="date" class="form-control" id="startDate"/>
                            </div>
                            <label class="col-xs-1 control-label">结束时间</label>
                            <div class="col-xs-2">
                                <input type="date" class="form-control" id="finishDate"/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">主办方</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="sponsor"/>
                            </div>
                            <label class="col-xs-1 control-label">承办方</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="organizer"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">展会介绍</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="4" id="exhibitionInfo"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">展会链接</label>
                            <div class="col-xs-6">
                                <textarea class="form-control" rows="2" placeholder="http://" id="exhibitionLink"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 col-xs-offset-4">
                                <button class="btn btn-block btn-primary addbtn">完成</button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-block btn-default" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

## 地区分类modal
<div class="modal fade in" id="cbtModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true" >
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <hr>
                <div class="zTreeDemoBackground left well" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                    <ul id="cbtTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

##
<script id="tzC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" id="<%=data[i].pkTimezone%>" data-val="<%=data[i].code%>" style="padding-left: 6px"><%=data[i].name%></a></li>
    <%}%>
    <%}%>
</script>


<script type="text/javascript">
##
##    jQuery(function(){
##        jQuery('#addexhibition .addbtn').on('click',function (e) {
##            var date = new Date();
##            var year = date.getFullYear();
##            var month = date.getMonth()+1;
##            var day = date.getDate();
##            var hour = date.getHours();
##            var minute = date.getMinutes();
##            var second = date.getSeconds();
##            var createTime = year+"-"+month+"-"+day+" "+hour+":"+minute+":"+second;
##            var data = {
##                "exhibitionName": jQuery('#exhibitionName').val(),
##                "sponsor":jQuery('#sponsor').val(),
##                "city":jQuery('#city').val(),
##                "region":jQuery('#region').val(),
##                "country":jQuery('#country').val(),
##                "startDate":jQuery('#startDate').val(),
##                "finishDate":jQuery('#finishDate').val(),
##                "createTime":createTime,
##                "exhibitionLink":jQuery('#exhibitionLink').val(),
##                "exhibitionAddr": jQuery('#exhibitionAddr').val(),
##                "organizer": jQuery('#organizer').val(),
##                "exhibitionInfo": jQuery('#exhibitionInfo').val()
##            };
##
##            jQuery.ajax({
##                type:"POST",
##                url:"${request.contextPath}/exhibitionInfo/doAddExhibitionInfo",
##                dataType:"json",
##                contentType:"application/json",
##                data:JSON.stringify(data),
##                success:function(){
##                    alert("添加成功");
##                    window.history.back(-1);
##                }
##            })
##            return false;
##        })
##    })




    $(function () {

        // 点击完成提交数据
        jQuery('#comBtn').on('click.upData',function () {

            jQuery.ajax({
                type:"POST",
                url:basePath + "/exhibitionInfo/doAddExhibitionInfo",
                dataType:"json",
                contentType:"application/json",
                data:JSON.stringify(getData()),
                success:function(){
                    alert("添加成功");
                    window.history.back(-1);
                }
            })
        });

        // 国家搜索框，获取焦点时渲染下拉菜单
        $('#countryS').on('focus.cc',function () {


            CRM.ajaxCall({
                url:'/customerBaseInfo/getCountryzone',
                type:'POST',
                contentType:'application/json',
                data:JSON.stringify({
                    name:''
                }),
                callback:function (data) {
                    if (data) {
                        CRM.tplHandler('tzC',data,$('#cc'));
                    }
                }
            });
        });

        // 国家搜索框，改变值时，渲染下拉框
        $('#countryS').on('input.cc',function () {

            var obj = {
                name:$(this).val()
            };
            $('#cc').html('');
            CRM.ajaxCall({
                url:'/customerBaseInfo/getCountryzone',
                type:'POST',
                contentType:'application/json',
                data:JSON.stringify(obj),
                callback:function (data) {
                    if (data) {
                        CRM.tplHandler('tzC',data,$('#cc'));
                    }
                }
            });
        });

        // 国家搜索框，失去焦点清空搜索框
        $('#countryS').on('blur.cc',function () {

            $(this).val('');
        });

        // 点击国家下拉菜单，将值添加到文本框
        $('#cc').on('click.cc','a',function (e) {
            var elVal = $(e.target).data('val'),
                    txt = $(e.target).text(),
                    tarInput = $('#country');

            tarInput.val(txt);
            tarInput.data('val',elVal);
            return false;
        });

        // 点击地区搜索按钮，弹出树形菜单
        $('#regSearch').on('click.tree',function () {
            if (treeData == null) {

                CRM.ajaxCall({
                    url:'/customerBaseInfo/initAreaCategoryTree',
                    type:'GET',
                    callback: renderAreaTree
                })
            }
        });

    });


    /**
     * 逻辑处理程序
     */
    var treeData = null; // 保存树的数据

    // 取得要提交的字段
    function getData() {

        var data = {
//            "exhibitionId": jQuery('#exhibitionId').val(),
            "exhibitionName": jQuery('#exhibitionName').val(),
            "sponsor": jQuery('#sponsor').val(),
            "region": jQuery('#region').data('val'),
            "country": jQuery('#country').data('val'),
            "startDate": jQuery('#startDate').val(),
            "finishDate": jQuery('#finishDate').val(),
            "creator": "test2",
            "createTime": CRM.getTime(),
            "exhibitionLink": jQuery('#exhibitionLink').val(),
            "exhibitionAddr": jQuery('#exhibitionAddr').val(),
            "organizer": jQuery('#organizer').val(),
            "exhibitionInfo": jQuery('#exhibitionInfo').val()
        }

        return data;
    }

    // 给地区树添加点击事件
    function areTreeClick (event, modLeftId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj('cbtTree'),
                node = treeObj.getSelectedNodes()[0];

        if (!node.isParent) {

            $('#region').val(treeNode.name);
            $('#region').data('val',treeNode.pkAreacl);
            $('#cbtModal').modal('hide');

        }else {
            alert('请选择子节点');
        }
    };

    // 渲染地区分类树
    function renderAreaTree (data) {
        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "pkAreacl",
                    pIdKey: "pkFatherarea"
                }
            },
            edit: {
                enable: false
            },
            callback: {
                onDblClick: areTreeClick
            }
        };
        treeData = data;
        $.fn.zTree.init($('#cbtTree'), setting, treeData);
    };
</script>