#set($layout="layout/layout.vm")
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--表格开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    #if ($shiro.hasPermission("wiki:state:add"))
                        <a class="btn btn-xs btn-primary pull-right panel-heading-btn"
                           href="${request.contextPath}/exhibitionInfo/addExhibitionInfo" data-toggle="modal">
                            <span class="glyphicon glyphicon-plus"></span>
                            新增
                        </a>
                    #end
                    <h3 class="panel-title">
                        展会动态
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-1 pull-right">
                                <div class="input-group-btn">
                                    <button class="btn btn-xs btn-primary" id="submit" type="button">搜索</button>
                                </div>
                            </div>
                            <div class="col-xs-2 pull-right">
                                <input class="form-control" id="sexhibitionName" type="search" value="" placeholder="请输入关键词"/>
                            </div>
                            <label class="col-xs-1 control-label pull-right">标题</label>
                        </div>
                    </div>
                    <!--表格开始-->
                    <table id="exhibition_table" class="table table-condensed table-bordered table-striped text-center" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="text-center text-middle">编号</th>
                            <th class="col-xs-2 text-center text-middle">展会名称</th>
                            <th class="col-xs-1 text-center text-middle">主办方</th>
                            <th class="col-xs-2 text-center text-middle">承办单位</th>
                            <th class="text-center text-middle">国家</th>
                            <th class="text-center text-middle">城市</th>
                            <th class="col-xs-1 text-center text-middle">开始时间</th>
                            <th class="col-xs-1 text-center text-middle">结束日期</th>
                            <th class="col-xs-1 text-center text-middle">展会地址</th>
                            <th class="col-xs-2 text-center text-middle">展会介绍</th>
                            <th class="col-xs-1 text-center text-middle">展会介绍连接</th>
                            <th class="text-center">创建人</th>
                            <th class="col-xs-1 text-center text-middle">创建时间</th>
                            <th >操作</th>
                        </tr>
                        </thead>
                        <tbody id="list">
                        </tbody>
                    </table>
                    <div id="pagination" class="pagination"></div>
                    <!--表格结束-->
                    <!--分页导航开始-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.delete', function (e) {
        var jbtn = $(e.target),
                jtr = jbtn.closest('tr'),
                id = jbtn.data("id");

        if (confirm("确认删除该展会动态？")) {
            var url = basePath + '/exhibitionInfo/deleteExhibitionInfo';
            $.post(url, {
                id: id
            }, function (result) {
                if (result.code == 1) {
                    alert("删除成功！");
                    location.reload();
                } else {
                    alert("删除失败！");
                }
            });
        }

        return false;
    });

    var pagesize = 5; // 分页步长
    $("#submit").click(function () {
        search();
    });
    search();

    // 搜索列表并渲染
    function search(){
        // 获取参数
        var data = collectArgs();

        getDataList(0,pagesize,rederLiset); // 初始化第一页数据

        // 获取总的条数
        getListCount(data,function (total) {

            // 渲染分页
            rederPaging(total,pagesize,function (pageNum,jq) {

                // 获取列表数据
                getDataList(pageNum,pagesize);
            })
        })

    }

    // 收集提交参数
    function collectArgs() {
        var obj={
            searchKey:$('#sexhibitionName').val()
        }
        return obj;
    }

    // 获取列表数据条目总数
    function getListCount(data,callback){
        var total = 0;
        jQuery.ajax({
            url:basePath + '/exhibitionInfo/count',
            dataType:'JSON',
            contentType:'application/json',
            data:JSON.stringify(data),
            async:true,
            type:'POST'
        }).done(function (res) {
            total = res.data;
            callback(total);
        });
    }

    // 渲染分页插件
    function rederPaging(total,pageSize,callback) {

        $("#pagination").pagination(total,{
            items_per_page : pageSize,
            num_edge_entries : 3,
            num_display_entries : 10,
            callback:callback
        });
    }

    // 根据页码获取列表数据
    function getDataList(pageNum,pageSize,callback) {
        jQuery.ajax({
            url:basePath + '/exhibitionInfo/queryExhibitionInfoList',
            dataType:'json',
            contentType:'application/json',
            data:JSON.stringify({
                searchKey:$('#sexhibitionName').val(),
                startRow:pageNum*pageSize,
                pageSize:pageSize
            }),
            async:true,
            type:'POST'
        }).done(function (res) {
            // 渲染列表
            rederLiset(res,pageNum);
        });
    }
    // 渲染列表
    function rederLiset(data,pageNum){
        if(data.code == 1){
            var ResultData = data.data,
                    _html = '',
                    count = pageNum*pagesize;

            if(ResultData && ResultData!='' && ResultData!='null') {
                for (var i = 0; i < ResultData.length; i++) {
                    _html += '<tr>';
                    _html += '<td>' + (++count) + '</td>';
                    _html += '<td><a href=' + basePath + '"/exhibitionInfo/modifyExhibitionInfo?id=' + ResultData[i].exhibitionId + '">' + ifEmpty(ResultData[i].exhibitionName) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].sponsor) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].organizer) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].country) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].city) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].startDate) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].finishDate) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].exhibitionAddr) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].exhibitionInfo) + '</td>';
                    _html += '<td><a href="'+ifEmpty(ResultData[i].exhibitionLink)+'"></a></td>';
                    _html += '<td>' + ifEmpty(ResultData[i].creator) + '</td>';
                    _html += '<td>' + ifEmpty(ResultData[i].createTime) + '</td>';
                    _html += '<td><a class="delete" data-id="'+ResultData[i].exhibitionId+'">删除</a></td>';
                    _html += '</tr>';
                }
                $("#list").html(_html);

            }
        }
        else{
            $("#list").html('<tr><td colspan="6">暂无数据</td></tr>');
        }
    }

    function ifEmpty(data) {
        return data==undefined?'':data;
    }

</script>
