<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>展会动态</title>
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.css" />
    <script src="/lib/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/dropdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/collapse.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/transition.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="bg-page">
<div class="container-fluid">
    <!--头部开始-->
    <nav class="navbar navbar-cards navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                福华客户关系管理系统
            </a>
        </div>
        <div class="navbar-btn btn-group btn-group-xs pull-right">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span></button>
            <button class="btn btn-primary">业务员</button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
                <li><a href="">修改密码</a></li>
                <li><a href="">退出</a></li>
            </ul>
        </div>
        <div class="pull-right breadcrumb-btn btn-group btn-group-xs navbar-btn">
            <a href="#lang-en" class="btn btn-danger" onclick="window.lang.change('zh'); return false;">
                中文
            </a>
            <a href="#lang-en" class="btn btn-primary" onclick="window.lang.change('en'); return false;">
                English
            </a>
        </div>
        <ul id="nav-affix" class="nav nav-cards">
            <li class="shadow-in" title="客户信息">
                <div id="collapseOne" class="list-group collapse">
                    <a class="list-group-item" href="#">客户列表</a>
                    <a class="list-group-item" href="#">潜在客户新增</a>
                    <a class="list-group-item" href="#">潜在客户信息查看</a>
                    <a class="list-group-item" href="#">客户信息查看</a>
                </div>
                <a data-toggle="collapse" href="#collapseOne" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-user"></span>
                    客户信息
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="供应商信息">
                <div id="collapseTwo" class="list-group collapse">
                    <a class="list-group-item" href="#">加工厂</a>
                    <a class="list-group-item" href="#">货代</a>
                </div>
                <a data-toggle="collapse" href="#collapseTwo" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    供应商信息
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="销售统计">
                <div id="collapseThree" class="list-group collapse">
                    <a class="list-group-item" href="#">商机</a>
                    <a class="list-group-item" href="#">销售动态</a>
                    <a class="list-group-item" href="#">费用与利润</a>
                    <a class="list-group-item" href="#">客户维护</a>
                </div>
                <a data-toggle="collapse" href="#collapseThree" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-stats"></span>
                    销售统计
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="行业数据">
                <div id="collapseFour" class="list-group collapse">
                    <a class="list-group-item" href="#">市场数据</a>
                </div>
                <a data-toggle="collapse" href="#collapseFour" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    行业数据
                    <b class="caret"></b>
                </a>
            </li>
            <li class="active shadow-in" title="知识库">
                <div id="collapseFive" class="list-group collapse">
                    <a class="list-group-item" href="/productProblem/productProblemList">产品常见问题</a>
                    <a class="list-group-item" href="/marketTraining/marketTrainingList">营销培训</a>
                    <a class="list-group-item" href="/customerProductPacking/customerProductPackingList">客户产品包装要求</a>
                    <a class="list-group-item" href="/knowledgeBase/productArchivesList">标准产品档案</a>
                    <a class="list-group-item" href="/packingArchives/packingArchivesList">包材成本参考</a>
                    <a class="list-group-item" href="/knowledgeBase/processCostList">加工成本参考</a>
                    <a class="list-group-item" href="/customerEncyclopedia/customerEncyclopediaList">百科</a>
                    <a class="list-group-item" href="/exhibitionInfo/exhibitionInfoList">展会动态</a>
                    <a class="list-group-item" href="">其他</a>
                </div>
                <a data-toggle="collapse" href="#collapseFive" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-book"></span>
                    知识库
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="决策支持" >
                <div id="collapseSix" class="list-group collapse">
                    <a class="list-group-item" href="#">销售数据</a>
                    <a class="list-group-item" href="#">成本费用</a>
                    <a class="list-group-item" href="#">数据库</a>
                </div>
                <a data-toggle="collapse" href="#collapseSix" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-pencil"></span>
                    决策支持
                    <b class="caret"></b>
                </a>
            </li>
            <li class="shadow-in" title="系统管理">
                <div id="collapseSeven" class="list-group collapse">
                    <a class="list-group-item" href="#">设置</a>
                </div>
                <a data-toggle="collapse" href="#collapseSeven" data-parent="#nav-affix">
                    <span class="glyphicon glyphicon-cog"></span>
                    系统管理
                    <b class="caret"></b>
                </a>
            </li>
        </ul>
    </nav>
    <!--头部结束-->
    <div class="clearfix content shadow-out">
        <!--面包屑导航开始-->
        <div class="breadcrumb-more">
            <span class="breadcrumb-unit pull-left">当前位置</span>
            <ul class="breadcrumb shadow-out">
                <li><a href="">知识库</a></li>
                <li class="active">展会动态</li>
            </ul>
        </div>
        <!--面包屑导结束-->
        <div class="dashboard-wrapper">
            <!--表格开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-xs btn-primary pull-right panel-heading-btn" href="/exhibitionInfo/addExhibitionInfo" data-toggle="modal">
                        <span class="glyphicon glyphicon-plus"></span>
                        新增
                    </a>
                    <h3 class="panel-title">
                        展会动态
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <!--搜索框开始-->
                    <div class="form-horizontal">
                        <div class="form-group ">
                            <div class="col-xs-2 pull-right">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入关键词查找" id="search">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-xs" onclick="test()">
                                            <span class="glyphicon glyphicon-search"></span>
                                            搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--搜索框结束-->
                    <!--表格开始-->
                    <table class="table table-condensed table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center ">编号</th>
                            <th class="col-xs-2 text-center">展会名称</th>
                            <th class="col-xs-1 text-center">主办方</th>
                            <th class="col-xs-2 text-center">承办单位</th>
                            <th class="text-center">国家</th>
                            <th class="text-center">城市</th>
                            <th class="col-xs-1 text-center">开始时间</th>
                            <th class="col-xs-1 text-center">结束日期</th>
                            <th class="col-xs-1 text-center">展会地址</th>
                            <th class="col-xs-2 text-center">展会介绍</th>
                            <th class="col-xs-1 text-center">展会介绍连接</th>
                            <th class="text-center">创建人</th>
                            <th class="col-xs-1 text-center">创建时间</th>
                        </tr>
                        </thead>
                        <tbody id ="tb">
                        <tbody id="a">
                        <tr>
                            <td>1</td>
                            <td>2016全国植保会</td>
                            <td>全国农业技术推广服务中心</td>
                            <td>江苏省植物保护站厦门市凤凰创意会展服务有限公司</td>
                            <td>中国</td>
                            <td>南京</td>
                            <td>2016年11月25日</td>
                            <td>2016年11月27日</td>
                            <td>南京国际博览中心</td>
                            <td>吸引来自全国30参展范围涉及农药原药、农药、肥料、植保机械及包装设备等，涵盖整个农化产业上、中、下游产品，是国内参展产品最齐全的大会。</td>
                            <td><a href="http://www.1988.tv/zhanhui/2016qgzbh/about.html">点击进入</a></td>
                            <td>刘凯洋</td>
                            <td>2016-10-12</td>
                        </tr>
                            #foreach($exhibitionInfo in $exhibitionInfoList)
                        <tr>
                            <td>${exhibitionInfo.exhibitionId}</td>
                            <td>${exhibitionInfo.exhibitionName}</td>
                            <td>${exhibitionInfo.sponsor}</td>
                            <td>${exhibitionInfo.organizer}</td>
                            <td>${exhibitionInfo.country}</td>
                            <td>${exhibitionInfo.city}</td>
                            <td lang="zh">${exhibitionInfo.startDate}</td>
                            <td lang="zh">${exhibitionInfo.finishDate}</td>
                            <td>${exhibitionInfo.exhibitionAddr}</td>
                            <td>${exhibitionInfo.exhibitionInfo}</td>
                            <td><a href="${exhibitionInfo.exhibitionLink}">点击进入</a></td>
                            <td>${exhibitionInfo.creator}</td>
                            <td lang="zh">${exhibitionInfo.createTime}</td>
                        </tr>
                            #end
                    </tbody>
                    </table>
                    <!--表格结束-->
                    <!--分页导航开始-->
                    #set($page_size = 6)

                    <div class="form-group pull-left table-pagination">
                        共<span></span>条记录，<span>130</span>页，跳转到第&nbsp;<input class="form-control pagination-input" type="number"/>&nbsp;页
                        <button class="btn btn-xs btn-primary">确定</button>
                    </div>
                    <ul class="pagination pull-right table-pagination">
                        <li class="disabled"><a href="#">上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="">&hellip;</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                    <!--分页导航结束-->
                </div>
            </div>
            <!--表格结束-->
        </div>
    </div>
</div>
<div class="footer">
    <small>
        &copy; baswaAdmin 2014
    </small>
</div>
</body>
<script type="text/javascript">

    function test(){

        var t = document.getElementById("tb");
        t.innerHTML = '';

        var search = jQuery("#search").val();
        var data = {
            "index":"1",
            "exhibitionName":jQuery("#search").val()
        }
        a.innerHTML = '';
        jQuery.ajax({
            type:"GET",
            url:'queryExhibitionInfoTest',
            data:data,
            success:function(){

                #foreach($exhibitionInfo in $exhibitionInfoList)
                    t.innerHTML += '<tr> <td>${exhibitionInfo.exhibitionId}</td> </tr>';

                #end

                alert("查询成功");

        }
    })
    }

</script>
</html>
