 <div class="col-xs-12">
    <!--表格开始-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-xs btn-primary pull-right panel-heading-btn" href="" data-toggle="modal" data-target="#addTrain" data-keyboard="true">
                <span class="glyphicon glyphicon-plus"></span>
                新增
            </button>
            <h3 class="panel-title">
                营销培训
            </h3>
        </div>
        <div class="panel-body clearfix">
            <!--搜索框开始-->
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-1 pull-right">
                        <button type="button" class="btn btn-block btn-primary btn-xs">
                            搜索
                        </button>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <input class="form-control" type="search" value="" placeholder="请输入标题"/>
                    </div>
                    <label class="col-xs-1 control-label pull-right">标题</label>
                    <div class="col-xs-2 pull-right">
                        <div class="input-group">
                            <input class="form-control" type="search" value="" placeholder="请输入品类"/>
                            <span class="input-group-btn">
                                        <button data-toggle="modal" data-target="#search" class="btn btn-xs btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                        </div>
                    </div>
                    <label class="col-xs-1 control-label pull-right">品类</label>
                </div>
            </div>
            <!--搜索框结束-->
            <!--表格开始-->
            <table class="table table-condensed table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th class="col-xs-1 text-center">编号</th>
                    <th class="col-xs-4 text-center">标题</th>
                    <th class="col-xs-2 text-center">产品种类</th>
                    <th class="col-xs-2 text-center">上传人</th>
                    <th class="col-xs-2 text-center">上传时间</th>
                    <th class="col-xs-1 text-center">可否下载</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>草甘膦知识培训</td>
                    <td>草甘膦</td>
                    <td>刘凯洋</td>
                    <td>2016-10-10 18:00</td>
                    <td><a href="">下载</a></td>
                </tr>
                #foreach($marketTraining in $marketTrainingList)
                <tr>
                    <td>${marketTraining.tranId}</td>
                    <td>${marketTraining.title}</td>
                    <td>${marketTraining.productType}</td>
                    <td>${marketTraining.userId}</td>
                    <td>${marketTraining.uploadDate}</td>
                    <td><a href="">下载</a></td>
                </tr>
                #end
                </tbody>
            </table>
            <!--表格结束-->
            <!--分页导航开始-->
            <div class="form-group pull-left table-pagination">
                共<span>123</span>条记录，<span>130</span>页，跳转到第&nbsp;<input class="form-control pagination-input" type="number"/>&nbsp;页
                <button class="btn btn-xs btn-primary">确定</button>
            </div>
            <ul class="pagination pull-right table-pagination">
                <li class="disabled"><a href="#">上一页</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="">&hellip;</a></li>
                <li><a href="#">下一页</a></li>
            </ul>
        </div>
    </div>
</div>
<!--添加模态框开始 -->
<div class="modal fade" id="addTrain" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" action="">
                    <div class="form-group ">
                        <label class="col-xs-2 control-label">标题</label>
                        <div class="col-xs-6">
                            <input class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-xs-2 control-label">产品名称</label>
                        <div class="col-xs-4">
                            <select class="form-control">
                                <option value="" selected>草甘膦</option>
                                <option value="">草胺膦</option>
                                <option value="">化工品</option>
                                <option value="">贸易品</option>
                                <option value="">其他</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <select class="form-control">
                                <option value="" selected>全部</option>
                                <option value="">草甘膦</option>
                                <option value="">草甘膦原药</option>
                                <option value="">草甘膦水剂</option>
                                <option value="">草甘膦颗粒剂</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-xs-2 control-label" for="inputfile">附件</label>
                        <div class="col-xs-6">
                            <input class="form-control" id="inputfile" type="file"/>
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-xs btn-primary btn-block">上传</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-primary btn-block">
                            完成
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>