<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <!--表格开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    #if ($shiro.hasPermission("wiki:train:add"))
                        <button class="btn btn-xs btn-primary pull-right panel-heading-btn" data-toggle="modal"
                                data-target="#Train" data-backdrop="static" data-keyboard="true">
                            <span class="glyphicon glyphicon-plus"></span>
                            新增
                        </button>
                    #end
                    <h3 class="panel-title">
                        营销培训
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <!--搜索框开始-->
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-1 pull-right">
                                <div class="input-group-btn">
                                    <button class="btn btn-xs btn-default" type="reset">重置</button>
                                    <button class="btn btn-xs btn-primary" id="submit" type="button">搜索</button>
                                </div>
                            </div>
                            <div class="col-xs-2 pull-right">
                                <input class="form-control" id="stitle" type="search" value="" placeholder="请输入标题"/>
                            </div>
                            <label class="col-xs-1 control-label pull-right">标题</label>
                            <div class="col-xs-2 pull-right">
                                <div class="input-group">
                                    <input class="form-control" id="productTypesearch" type="search" value="" placeholder="请输入品类"/>
                                    <span class="input-group-btn">
                                      <button data-toggle="modal" class="btn btn-xs btn-default" data-target="#tSearch" id="search" type="button">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label pull-right">品类</label>
                        </div>
                    </div>
                    <!--搜索框结束-->
                    <!--表格开始-->
                    <table id="markettrain_table" class="table table-condensed table-bordered table-striped text-center"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="col-xs-1 text-center text-middle">编号</th>
                            <th class="col-xs-2 text-center text-middle">标题</th>
                            <th class="col-xs-3 text-center text-middle">产品种类</th>
                            <th class="col-xs-2 text-center text-middle">上传人</th>
                            <th class="col-xs-2 text-center text-middle">上传时间</th>
                            <th class="col-xs-1 text-center text-middle">可否下载</th>
                            <th class="col-xs-1 text-center text-middle">操作</th>
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                    <div id="pagination" class="pagination"></div>
                    <!--表格结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增模态 -->
<div class="modal fade" id="Train" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" action="">
                    <div class="form-group ">
                        <label class="col-xs-2 control-label">标题<sup class="not-null">*</sup></label>
                        <div class="col-xs-6">
                            <input id="title" class="form-control notnull" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">品类<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <div class="input-group">
                                <input id="productType" class="form-control notnull" type="search" value="" placeholder="请输入品类"/>
                                <span class="input-group-btn">
                                <button data-toggle="modal" class="btn btn-xs btn-default" data-target="#tSearch" id="searchmodal" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-xs-2 control-label" for="inputfile">附件</label>
                        <div class="col-xs-6">
                            <input class="form-control" id="inputfile" type="file"/>
                        </div>
                        <div class="col-xs-2">
                            <button id="submitfile" type="button" class="btn btn-xs btn-primary btn-block">上传</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-primary btn-block" id="finish">
                            完成
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--树形菜单modal-->
<div class="modal fade" id="tSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
                <div id="tree" class="tree">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript">
    var inputname;

    //渲染树
    $('#tree').creatTree(basePath+'/productCategory/CategoryTreeThree');
    //search操作
    $('#search').click(function(){
        inputname = $(this).parent('span').parent('div').find('input[id="productTypesearch"]');

    })
    $('#searchmodal').click(function(){
        var smodal = $(this).parent('span').parent('div').find('input[id="productType"]');
        inputname = smodal;
    })
    //树节点操作
    $(document).on('click','.cNode',function(e){
        e.preventDefault();
        console.log(e.target);
        var tirEltext = $(e.target).text();
        var id = $(e.target).parent('li').attr('id').split('_')[1];
        var secEltext = $(e.target).parent('li').parent('ul').parent('li').find('a:first').text();
        var firEltext = $(e.target).parent('li').parent('ul').parent('li').parent('ul').parent('li').find('a:first').text();
        var tarEltext = firEltext + '-' + secEltext + '-' + tirEltext;

        inputname.val(tarEltext);
        inputname.attr('data-id',id);
        $('#tSearch').modal('hide');
    })

    var pagesize = 5; // 分页步长
    $("#submit").click(function () {
        search();
    });
    search();

    // 搜索列表并渲染
    function search(){
        // 获取参数
        var data = collectArgs();

        getDataList(0,pagesize,rederLiset); // 初始化第一页数据

        // 获取总的条数
        getListCount(data,function (total) {

            // 渲染分页
            rederPaging(total,pagesize,function (pageNum,jq) {

              // 获取列表数据
              getDataList(pageNum,pagesize);
            })
        })

    }

    // 收集提交参数
    function collectArgs() {
        var obj={
            productType:$('#productTypesearch').val(),
            title:$('#stitle').val()
        }
        return obj;
    }

    // 获取列表数据条目总数
    function getListCount(data,callback){
        var total = 0;
        jQuery.ajax({
            url:basePath + '/marketTraining/count',
            dataType:'JSON',
            contentType:'application/json',
            data:JSON.stringify(data),
            async:true,
            type:'POST'
        }).done(function (res) {
            total = res.data;
            callback(total);
        });
    }

    // 渲染分页插件
    function rederPaging(total,pageSize,callback) {

        $("#pagination").pagination(total,{
            items_per_page : pageSize,
            num_edge_entries : 3,
            num_display_entries : 10,
            callback:callback
        });
    }

    // 根据页码获取列表数据
    function getDataList(pageNum,pageSize,callback) {
        jQuery.ajax({
            url:basePath + '/marketTraining/queryMarketTrainingList',
            dataType:'json',
            contentType:'application/json',
            data:JSON.stringify({
                productType:$('#productTypesearch').val(),
                title:$('#stitle').val(),
                startRow:pageNum*pageSize,
                pageSize:pageSize
            }),
            async:true,
            type:'POST'
        }).done(function (res) {
            // 渲染列表
            rederLiset(res,pageNum);
        });
    }
    // 渲染列表
    var companyTypeList = ['客户','竞对'];
    function rederLiset(data,pageNum){
        var ResultData = data.data,
              _html = '',
              count = pageNum*pagesize;

        if(ResultData && ResultData!='' && ResultData!='null') {
            for (var i = 0; i < ResultData.length; i++) {
                _html += '<tr>';
                _html += '<td>' + (++count) + '</td>';
                _html += '<td>' + ifEmpty(ResultData[i].title) + '</td>';
                _html += '<td>' + ifEmpty(ResultData[i].productType) + '</td>';
                _html += '<td lang="zh">' + ifEmpty(ResultData[i].createUserName) + '</td>';
                _html += '<td lang="zh">' + ifEmpty(ResultData[i].uploadDate) + '</td>';
                _html += '<td>' + '下载' + '</td>';
                _html += '<td><a class="delete" data-id="'+ResultData[i].tranId+'">删除</a></td>';
                _html += '</tr>';
        }
        $("#list").html(_html);

      }
    }

    //新增模态
    $(document).on('click','#add',function(){
        $('#problemContent').val('');
        $('#problemContent').attr('data-id','');
        $('#productType').val('');
        $('#solution').val('');
        $('#remarks').val('');

        $('#finish').attr('data-edit','0');
        $('#modal').modal('show');
    })

    //完成操作
    $('#finish').click(function(){
        var edit = $(this).attr('data-edit');
        var isup = true;
        var notnull = $('.notnull');
        notnull.each(function () {
            var val = $(this).val();
            if(val == ''||val == null){
                alert('请完善表单!');
                isup = false;
                return false;
            }
        });
        if(isup){
            jQuery.ajax({
                url:basePath + '/productProblem/doAddProductProblem',
                data:adddata(),
                type:'POST',
                success:function(result){
                    if(result.code == 1){
                        alert('新增成功！');
                    }else{
                        alert('新增失败！');
                    }
                }
            })
        }
    })

    function adddata() {

    }

    //上传
    $('#submitfile').click(function(){
        var fd = new FormData();
        fd.append("upload", 1);
        fd.append("upfile", $("#inputfile").get(0).files[0]);
        fd.append("classifyPath","marketTrain");

        console.log(fd);

        var url = basePath + '/upload/uploadFileAll';

        jQuery.ajax({
            url:url,
            type:'POST',
            data:fd,
            dataType: 'JSON',
            processData: false,
            contentType: false,
            success:function (result) {
                console.log(result);
            }
        })
    })

    function ifEmpty(data) {
        return data==undefined?'':data;
    }
</script>