<div class="nav-deputy shadow-out clearfix">
    <ul id="myTab" class="nav nav-tabs pull-left">
        <li class="active"><a href="#Baseinfo" data-toggle="tab">基础信息</a></li>
        <li class="relate"><a href="#Packrelate" data-toggle="tab">关联包材</a></li>
    </ul>
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-11">
            <!--Baseinfo-->
            <div id="Baseinfo" class="tab-pane fade in active">
                <div class="panel panel-default">
                    <div class="panel-heading" id="btn">
                        <button id="edit" data-form-btn="edit" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" lang="zh">
                            编辑
                        </button>
                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right hidden">
                            <button id="cancel" data-form-btn="cancel" class="btn" lang="zh">取消</button>
                            <button id="finish" data-form-btn="save" class="btn btn-primary" lang="zh">保存</button>
                        </div>
                        <h3 class="panel-title">
                            基础信息
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <div class="form-horizontal">
                            <div class="form-group ">
                                <label class="col-xs-1 control-label">包材类型名称</label>
                                <div class="col-xs-3">
                                    <input class="form-control cell_edit" type="text" id="packName" disabled/>
                                </div>
                                <label class="col-xs-1 control-label">规格</label>
                                <div class="col-xs-3 ">
                                    <input class="form-control cell_edit" type="text" id="spec" disabled/>
                                </div>
                                <label class="col-xs-1 control-label">尺寸</label>
                                <div class="col-xs-3">
                                    <input class="form-control cell_edit" type="text" id="size" disabled/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-xs-1 control-label">材质</label>
                                <div class="col-xs-3">
                                    <input class="form-control cell_edit" type="text" id="quality" disabled/>
                                </div>
                                <label class="col-xs-1 control-label">质量指标</label>
                                <div class="col-xs-3">
                                    <input class="form-control cell_edit" type="text" id="qualityIndex" disabled/>
                                </div>
                                <label class="col-xs-1 control-label">质量指标数值</label>
                                <div class="col-xs-3">
                                    <input class="form-control cell_edit" type="text" id="qualityTargetValue" disabled/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-xs-1 control-label">单价</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control cell_edit" id="unitPrice" disabled/>
                                </div>
                                <label class="col-xs-1 control-label">单耗</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control cell_edit" id="consumption" disabled/>
                                </div>
                                <label class="col-xs-1 control-label">价格有效期</label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control cell_edit" id="priceEndDate" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label">状态</label>
                                <div class="col-xs-3">
                                    <select class="form-control cell_edit" name="items" id="status" disabled>
                                        <option  value="1">已启用</option>
                                        <option  value="0">已禁用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label">适用剂型</label>
                                <div class="col-xs-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="0"> 原药
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="1"> 水剂
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="suitableType cell_edit" value="2"> 颗粒剂（粉剂）
                                    </label>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-xs-1 control-label">备注</label>
                                <div class="col-xs-11">
                                    <textarea class="form-control cell_edit" rows="4" id="bRemarks" disabled></textarea>
                                </div>
                            </div>
                            <form name="form1" id="form1" enctype="multipart/form-data" class="form-btn">
                                <div class="form-group ">
                                    <label class="col-xs-1 control-label">图片</label>
                                    <div id="imgContent" class="col-xs-11">

                                    </div>
                                </div>
                            </form>
                            <div class="form-group form-btn">
                                <div class="col-xs-1 col-xs-offset-1">
                                    <div class="btn-group btn-group-xs" >
                                        <button id="addImg" class="btn btn-default" type="button" lang="zh">继续添加</button>
                                        <input class="btn btn-primary" type="button" name="b1" value="上传" onclick="fsubmit()" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="Packrelate" class="tab-pane fade">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                            <a class="btn btn-xs btn-primary panel-heading-btn" href="#addField" data-toggle="modal">
                                <span class="glyphicon glyphicon-plus"></span>
                                新增关联
                            </a>
                            <a class="btn btn-primary" id="delete">删除关联</a>
                        </div>
                        <h3 class="panel-title">
                            关联包材
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <table  class="display table table-condensed table-bordered table-striped" >
                            <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" id="checkAll"></th>
                                <th class="col-xs-2 text-center text-middle">包材类型编号</th>
                                <th class="col-xs-2 text-center text-middle" >包材类型名称</th>
                                <th class="col-xs-1 text-center text-middle">规格</th>
                                <th class="col-xs-1 text-center text-middle">尺寸</th>
                                <th class="col-xs-2 text-center text-middle">材质</th>
                                <th class="col-xs-1 text-center text-middle">单价（元）</th>
                                <th class="col-xs-1 text-center text-middle">单耗（每千升或每吨）</th>
                                <th class="col-xs-1 text-center text-middle">状态</th>
                            </tr>
                            </thead>
                            <tbody id="packing_relate_table">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addField" tabindex="-1" data-backdrop="static" aria-hidden="true" data-keyboard="true" >
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <div class="col-xs-2">
                    <div class="panel panel-default">
                        <div class="panel-body clearfix">
                            <!--树形菜单-->
                            <div id="tree" class="tree"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="panel panel-default">
                        <div class="panel-body clearfix">
                            <table class="table table-condensed table-bordered table-striped text-center">
                                <thead>
                                <tr>
                                    <th class="text-center"><input type="checkbox" id="modal_checkAll"></th>
                                    <th class="col-xs-2 text-center text-middle">包材类型编号</th>
                                    <th class="col-xs-2 text-center text-middle" >包材类型名称</th>
                                    <th class="col-xs-1 text-center text-middle">规格</th>
                                    <th class="col-xs-1 text-center text-middle">尺寸</th>
                                    <th class="col-xs-2 text-center text-middle">材质</th>
                                    <th class="col-xs-1 text-center text-middle">单价（元）</th>
                                    <th class="col-xs-1 text-center text-middle">单耗（每千升或每吨）</th>
                                    <th class="col-xs-1 text-center text-middle">状态</th>
                                </tr>
                                </thead>
                                <tbody id="modal_relate_table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-primary btn-block" id="finish_relate">
                            完成
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="bid" value='$!{bid}'>
<input type="hidden" id="sid" value="$!{sid}" />
<input type="hidden" id="id" value="$!{id}" />

<script type="text/javascript" src="${request.contextPath}/lib/js/packingCostInfo.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/scaffolding.js"></script>

<script type="text/javascript">
    $('#tree').creatTree('${request.contextPath}/packingCategory/CategoryTree');
    $('#tree').filtrateData('${request.contextPath}/packingArchives/getPackingArchivesByPId',"modal_relate_table","packingInfoModal");

    $('#addImg').click(function () {
        var btn = $(this);
        var div = $('<div class="col-xs-3" style="position: relative;"><button type="button" class="close" name="close" style="position: absolute;top:3px;left:0;">×</button><img src="" class="fileimg" width="300px" height="200px" style="margin-bottom:2%"><input type="file" name="file" style="margin-bottom:2%"><div class="caption"><input type="text" name="file" class="filename" data-url="" style="margin-bottom:2%"></div></div>');
        div.appendTo('#imgContent');
    })

    $(document).on('click','[name="close"]',function () {
        var imgpath = $(this).parent('div').find('[class="filename"]').attr('data-url');
        var imgname = $(this).parent('div').find('[class="filename"]').attr('value');
        var packId = $('#id').val();

        console.log(imgpath);
        var url1 = basePath + 'packingArchives/judgeImageModelToUse?packId=' + packId + '&&name=' + imgname;
        var url2 = basePath + '/upload/deleteFileSingle';
        if(imgpath != ''){
            jQuery.ajax({
                url:url1,
                type:'POST',
                success:function(result){
                    var ResultData = result;
                    if(ResultData == 0){
                        jQuery.ajax({
                            url:url2,
                            type:'POST',
                            data:imgpath,
                            success:function (result) {
                                alert('删除成功！');
                                $(this).parent('div').remove();
                            }
                        })
                    }else {
                        alert('已有订单中使用此型号，不可删除');
                    }
                }
            })
        }else{
            $(this).parent('div').remove();
        }
    })
</script>
