<!--副导航-->
<div class="nav-deputy shadow-out clearfix">
    <ul id="myTab" class="nav nav-tabs pull-left">
        <li class="active"><a href="#adEexpense" data-toggle="tab">制剂加工费</a></li>
        <li><a href="#freight" data-toggle="tab">国内运费</a></li>
        <li><a href="#cost" data-toggle="tab">成分价格</a></li>
        <li><a href="#portSurcharge" data-toggle="tab">港杂费</a></li>
        <li><a href="#rate" data-toggle="tab">费率</a></li>
    </ul>
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-7">
            <div id="adEexpense" class="tab-pane fade in active">
                    <!--制剂加工费表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                人工费
                            </h3>
                        </div>
                        <div class="panel-body clearfix">
                            <table class="table table-bordered table-condensed table-striped text-center">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">主材规格</th>
                                    <th class="text-center col-xs-2 text-middle">单价（元/每千升或每吨）</th>
                                    <th class="text-center col-xs-2 text-middle">价格有效期</th>
                                    <th class="text-center col-xs-6 text-middle">备注</th>
                                </tr>
                                </thead>
                                <tbody id="adEexpense1"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                杂费
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">加工厂</th>
                                    <th class="text-center col-xs-2 text-middle">水、电、气费（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">利润（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">管理费（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">税金（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">费用合计</th>
                                </tr>
                                </thead>
                                <tbody id="adEexpense2"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--制剂加工费表结束-->
            </div>
            <div id="freight" class="tab-pane fade">
                    <!--运费维护表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                运费维护
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">加工厂</th>
                                    <th class="text-center col-xs-2 text-middle">起运城市</th>
                                    <th class="text-center col-xs-2 text-middle">目的城市</th>
                                    <th class="text-center col-xs-2 text-middle">单价（元/T（KL））</th>
                                    <th class="text-center col-xs-4 text-middle">备注</th>
                                </tr>
                                </thead>
                                <tbody id="freight1"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--运费维护表结束-->
            </div>
            <div id="cost" class="tab-pane fade">
                    <!--成分价格表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                                <a class="btn btn-xs btn-primary panel-heading-btn" href="#costAddmodal" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    新增
                                </a>
                            </div>
                            <h3 class="panel-title">
                                成分价格
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle test1">成分名称</th>
                                    <th class="text-center col-xs-2 text-middle test1">单耗（kg/T）</th>
                                    <th class="text-center col-xs-2 text-middle test1" >单价（元/kg）</th>
                                    <th class="text-center col-xs-2 text-middle test1">价格有效期</th>
                                    <th class="text-center col-xs-2 text-middle test1">适合产品</th>
                                    <th class="text-center col-xs-2 text-middle test1">备注</th>
                                </tr>
                                </thead>
                                <tbody id="cost1"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--成分价格表结束-->
            </div>
            <div id="portSurcharge" class="tab-pane fade">
                    <!--港杂费参考表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                港杂费参考价
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-6 text-middle test1">项目</th>
                                    <th class="text-center col-xs-2 text-middle test1">一般化工品</th>
                                    <th class="text-center col-xs-2 text-middle test1" >危险品</th>
                                </tr>
                                </thead>
                                <tbody id="portSurcharge1"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--港杂费参考表结束-->
            </div>
            <div id="rate" class="tab-pane fade">
                    <!--费率表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                币种&汇率
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">币种</th>
                                    <th class="text-center col-xs-2 text-middle">汇率</th>
                                    <th class="text-center col-xs-2 text-middle">价有效期</th>
                                    <th class="text-center col-xs-6 text-middle">备注</th>
                                </tr>
                                </thead>
                                <tbody id="rate1">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                毛利率
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2">产品种类</th>
                                    <th class="text-center col-xs-2">毛利率</th>
                                    <th class="text-center col-xs-2">有效期</th>
                                    <th class="text-center col-xs-6">备注</th>
                                </tr>
                                </thead>
                                <tbody id="rate2">
                                <tr>
                                    <td>除草剂-草甘膦</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                其他费率
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2">费率项</th>
                                    <th class="text-center col-xs-2">费率值</th>
                                    <th class="text-center col-xs-2">有效期</th>
                                    <th class="text-center col-xs-6">备注</th>
                                </tr>
                                </thead>
                                <tbody id="rate3">
                                <tr>
                                    <td>管理费用比率</td>
                                    <td>0.20%</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--费率表结束-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1"  aria-hidden="true" data-backdrop="static"></div>
<div class="modal fade" id="costAddmodal" tabindex="-1" data-backdrop="static" aria-hidden="true" data-keyboard="true" >
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h2 class="modal-title" >成分价格</h2>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" action="">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">成分名称<sup class="not-null">*</sup></label>
                        <div class="col-lg-6">
                            <input class="form-control notnull" type="text" id="componentNameAdd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">单价<sup class="not-null">*</sup></label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input class="form-control notnull" type="text" id="unitCostAdd">
                                <div class="input-group-btn">
                                    <botton class="btn btn-xs btn-primary">(元/kg)</botton>
                                </div>
                            </div>
                        </div>
                        <label class="col-lg-2 control-label">价格有效期</label>
                        <div class="col-lg-3">
                            <input class="form-control priceEndAdd" id="priceEndAdd" type="text">
                        </div>
                    </div>
                    <div class="form-group" id="costmore" name="ProductSuitable">
                        <label class="col-lg-2 control-label">适合产品<sup class="not-null">*</sup></label>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <input class="form-control suitableProductAdd" name="suitableProductAdd" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#treeModal">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <label class="col-lg-2 control-label">单耗</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input class="form-control" type="text" name="consumptionAdd">
                                <div class="input-group-btn">
                                    <botton class="btn btn-xs btn-primary">(元/kg)</botton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注</label>
                        <div class="col-xs-8">
                            <textarea class="form-control"  rows="4" id="remarksAdd"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-2">
                        <button id="addMore" data-form-btn="add"  type="button" class="btn btn-block btn-primary" lang="zh">继续添加适应产品</button>
                    </div>
                    <div class="col-xs-2">
                        <a type="button" class="btn btn-primary btn-block" id="costAdd">
                            完成
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--树形菜单modal-->
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
            ##                        这里插入树形菜单
                <div id="tree" class="tree"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="${request.contextPath}/lib/js/processCost.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/scaffolding.js"></script>
<script type="text/javascript">
    $('#tree').creatTree(basePath+'/productCategory/CategoryTreeThree');

    //双击文本添加到指定文本框
    var selectedPName;
    $(document).on('click','[data-target="#treeModal"]',function (e) {
        selectedPName = $(e.target).parents('.input-group').find('input');
    });
    $(document).on('click','a.cNode',function (e) {
        e.preventDefault();
        var a = [];
        var b;
        var categoryFullNames = [];
        $('[name="ProductSuitable"]').each(function(){
            var c = $(this).find('[name=suitableProductAdd]').val();
            categoryFullNames.push(c);
        })

        //获取树categoryFullName，id
        var tarEltext = $(e.target).text();
        var id = $(e.target).parent('li').attr('id');
        var sname = $(e.target).parent('li').parent('ul').parent('li').find('a:first').text();
        var bname = $(e.target).parent('li').parent('ul').parent('li').parent('ul').parent('li').find('a:first').text();
        if(bname!=''){
            a.push(bname);
        }
        if(sname!=''){
            a.push(sname);
        }
        if(tarEltext!=''){
            a.push(tarEltext);
        }
        b = a.join('-');

        var bool = contains(categoryFullNames,b);
        if(bool){
            selectedPName.val(b);
            selectedPName.attr('data-id',id);
            $('#treeModal').modal('hide');
        }else {
            alert('请选择不同的适应产品！');
        }

    });

    $('#addMore').click(function () {
        var btn = $(this);
        var div = $('<div class="form-group" name="ProductSuitable"><label class="col-lg-2 control-label">适合产品</label><div class="col-xs-3"><div class="input-group"><input class="form-control suitableProductAdd" name="suitableProductAdd" type="text"><div class="input-group-btn"><button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#treeModal"><span class="glyphicon glyphicon-search"></span></button></div></div></div><label class="col-lg-2 control-label">单耗</label><div class="col-lg-3"><div class="input-group"><input class="form-control" type="text" name="consumptionAdd"><div class="input-group-btn"><botton class="btn btn-xs btn-primary">(元/kg)</botton></div></div><button type="button" class="close" data-form-btn="del" data-form-target="form-group" style="position: absolute;top:5px;">×</button></div>');
        $('#costmore').after(div);

    })


    $('#costAdd').click(function(){
        var componentName = $('#componentNameAdd').val();
        var unitCost = $('#unitCostAdd').val();
        var CategoryFullNames = [];
        $('[name="ProductSuitable"]').each(function(){
            var d = $(this).find('[name=suitableProductAdd]').val();
            CategoryFullNames.push(d);
        })
        if(componentName == ''||unitCost == ''||CategoryFullNames == ''){
            alert("请完善表单！");
            return false;
        }else {
            var data = {
                "componentCost":{
                    "componentName":$('#componentNameAdd').val(),
                    "priceEndAdd":$('#priceEndAdd').val(),
                    "unitCostAdd":$('#unitCostAdd').val(),
                    "remarks":$('#remarksAdd').val()
                },
                "productComponents":getProductComponents()
            }
            console.log(data);
            jQuery.ajax({
                type:'POST',
                url:basePath + '/processCostList/doAddComponentCost',
                dataType:"json",
                contentType:"application/json",
                data:JSON.stringify(data),
                success:function(result){
                    alert('添加成功');

                }
            })
        }

    })
    
    function getProductComponents() {
        var arr = [];
        var obj = {};
        var ProductSuitable = $('[name="ProductSuitable"]');
        ProductSuitable.each(function () {
            obj = {
                "productCategoryId":$(this).find('[name=suitableProductAdd]').attr('data-id'),
                "categoryFullName":$(this).find('[name=suitableProductAdd]').val(),
                "consumption":$(this).find('[name=consumptionAdd]').val()
            }
            arr.push(obj);
        })
        return JSON.stringify(arr);
    }

    //比较contains
    function contains(arr,obj) {
        var i = arr.length;
        while (i--) {
            if (arr[i] === obj) {
                return false;
            }
        }
        return true;
    }
</script>