<!--副导航-->
<div class="nav-deputy shadow-out clearfix">
    <ul id="myTab" class="nav nav-tabs pull-left">
        <li class="active"><a href="#adEexpense" data-toggle="tab">制剂加工费</a></li>
        <li><a href="#freight" data-toggle="tab">国内运费</a></li>
        <li><a href="#cost" data-toggle="tab">成分价格</a></li>
        <li><a href="#portSurcharge" data-toggle="tab">港杂费</a></li>
        <li><a href="#rate" data-toggle="tab">费率</a></li>
    </ul>
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-7">
            <div id="adEexpense" class="tab-pane fade in active">
                    <!--制剂加工费表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                人工费
                            </h3>
                        </div>
                        <div class="panel-body clearfix">
                            <table class="table table-bordered table-condensed table-striped text-center">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">主材规格</th>
                                    <th class="text-center col-xs-2 text-middle">单价（元/每千升或每吨）</th>
                                    <th class="text-center col-xs-2 text-middle">价格有效期</th>
                                    <th class="text-center col-xs-6 text-middle">备注</th>
                                </tr>
                                </thead>
                                <tbody id="adEexpense1"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                杂费
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">加工厂</th>
                                    <th class="text-center col-xs-2 text-middle">水、电、气费（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">利润（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">管理费（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">税金（元/吨）</th>
                                    <th class="text-center col-xs-2 text-middle">费用合计</th>
                                </tr>
                                </thead>
                                <tbody id="adEexpense2"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--制剂加工费表结束-->
            </div>
            <div id="freight" class="tab-pane fade">
                    <!--运费维护表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                运费维护
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">加工厂</th>
                                    <th class="text-center col-xs-2 text-middle">起运城市</th>
                                    <th class="text-center col-xs-2 text-middle">目的城市</th>
                                    <th class="text-center col-xs-2 text-middle">单价（元/T（KL））</th>
                                    <th class="text-center col-xs-4 text-middle">备注</th>
                                </tr>
                                </thead>
                                <tbody id="freight1"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--运费维护表结束-->
            </div>
            <div id="cost" class="tab-pane fade">
                    <!--成分价格表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                成分价格
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle test1">成分名称</th>
                                    <th class="text-center col-xs-2 text-middle test1">单耗（kg/T）</th>
                                    <th class="text-center col-xs-2 text-middle test1" >单价（元/kg）</th>
                                    <th class="text-center col-xs-2 text-middle test1">价格有效期</th>
                                    <th class="text-center col-xs-2 text-middle test1">适合产品</th>
                                    <th class="text-center col-xs-2 text-middle test1">备注</th>
                                </tr>
                                </thead>
                                <tbody id="cost1"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--成分价格表结束-->
            </div>
            <div id="portSurcharge" class="tab-pane fade">
                    <!--港杂费参考表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                港杂费参考价
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-6 text-middle test1">项目</th>
                                    <th class="text-center col-xs-2 text-middle test1">一般化工品</th>
                                    <th class="text-center col-xs-2 text-middle test1" >危险品</th>
                                </tr>
                                </thead>
                                <tbody id="portSurcharge1"></tbody>
                            </table>
                        </div>
                    </div>
                    <!--港杂费参考表结束-->
            </div>
            <div id="rate" class="tab-pane fade">
                    <!--费率表开始-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                币种&汇率
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2 text-middle">币种</th>
                                    <th class="text-center col-xs-2 text-middle">汇率</th>
                                    <th class="text-center col-xs-2 text-middle">价有效期</th>
                                    <th class="text-center col-xs-6 text-middle">备注</th>
                                </tr>
                                </thead>
                                <tbody id="rate1">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                毛利率
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2">产品种类</th>
                                    <th class="text-center col-xs-2">毛利率</th>
                                    <th class="text-center col-xs-2">有效期</th>
                                    <th class="text-center col-xs-6">备注</th>
                                </tr>
                                </thead>
                                <tbody id="rate2">
                                <tr>
                                    <td>除草剂-草甘膦</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                其他费率
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-condensed text-center table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2">费率项</th>
                                    <th class="text-center col-xs-2">费率值</th>
                                    <th class="text-center col-xs-2">有效期</th>
                                    <th class="text-center col-xs-6">备注</th>
                                </tr>
                                </thead>
                                <tbody id="rate3">
                                <tr>
                                    <td>管理费用比率</td>
                                    <td>0.20%</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--费率表结束-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1"  aria-hidden="true" data-backdrop="static"></div>


 <script type="text/javascript" src="${request.contextPath}/lib/js/processCost.js"></script>