<div class="col-xs-12">
    <!--表格开始-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-xs btn-primary panel-heading-btn pull-right" data-toggle="modal" data-target="#FQLdetails" data-backdrop="static" data-keyboard="true">
                <span class="glyphicon glyphicon-plus"></span>
                新增
            </button>
            <h3 class="panel-title">
                常见问题
            </h3>
        </div>
        <div class="panel-body clearfix">
            <!--搜索框开始-->
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-1 pull-right">
                        <button type="button" class="btn btn-block btn-primary btn-xs">
                            搜索
                        </button>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <input class="form-control" type="search" value="" placeholder="请输入问题内容"/>
                    </div>
                    <label class="col-xs-1 control-label pull-right">问题内容</label>
                    <div class="col-xs-2 pull-right">
                        <div class="input-group">
                            <input class="form-control" type="search" value="" placeholder="请输入品类"/>
                            <span class="input-group-btn">
                                        <button data-toggle="modal" data-target="#search" class="btn btn-xs btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                        </div>
                    </div>
                    <label class="col-xs-1 control-label pull-right">品类</label>
                </div>
            </div>
            <!--搜索框结束-->
            <!--表格开始-->
            <table class="table table-condensed table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th class="col-xs-1 text-center">编号</th>
                    <th class="col-xs-3 text-center">问题内容</th>
                    <th class="col-xs-1 text-center">产品</th>
                    <th class="col-xs-5 text-center">解决方案</th>
                    <th class="col-xs-2 text-center">备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#FQLdetails" data-toggle="modal" data-target="#FQLdetails">用于抗农达作物的农达量对人类食用是安全的吗?特别是对人类的肠道菌群安全吗?</a></td>
                    <td>草甘膦</td>
                    <td>Kevin Folta（佛罗里达大学）：植物并非―浸泡‖在―农达‖中，或更确切地说，并非―浸泡‖在其活性成分草甘膦中。杂草出现时施用相对少量的草甘膦，它们就会死亡，不会与长出的抗草甘膦作物竞争。而且草甘膦对人类或任何其他动物无毒。</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <!--表格结束-->
            <!--分页导航开始-->
            <div class="form-group pull-left table-pagination">
                共<span>123</span>条记录，<span>130</span>页，跳转到第&nbsp;<input class="form-control pagination-input" type="number"/>&nbsp;页
                <button class="btn btn-xs btn-primary">确定</button>
            </div>
            <ul class="pagination pull-right table-pagination">
                <li class="disabled"><a href="#">上一页</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="">&hellip;</a></li>
                <li><a href="#">下一页</a></li>
            </ul>
        </div>
    </div>
</div>
<!--新增常见问题模态框开始 -->
<div class="modal fade" id="FQLdetails" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">问题内容</label>
                        <div class="col-xs-9">
                            <textarea id="fqlTitle" class="form-control"  rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">产品名称</label>
                        <div class="col-xs-4">
                            <select id="fqlType" class="form-control">
                                <option value="草甘膦" selected>草甘膦</option>
                                <option value="草甘膦原药">草甘膦原药</option>
                                <option value="草甘膦水剂">草甘膦水剂</option>
                                <option value="草甘膦颗粒剂">草甘膦颗粒剂</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">解决方案</label>
                        <div class="col-xs-9">
                            <textarea id="fqlContent" class="form-control"  rows="7"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注</label>
                        <div class="col-xs-9">
                            <textarea id="fqlElse" class="form-control"  rows="4"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-primary btn-block">
                            保存
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--搜索模态框开始-->
<div class="modal fade"  id="search" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog   modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input class="form-control" type="search" />
                            <span class="input-group-btn">
							    		<button class="btn btn-xs btn-primary">搜索</button>
							    	</span>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item collapse" data-toggle="collapse">
                                除草剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                杀菌剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                杀虫剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                化工品<b class="caret"></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
