<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
    <!--表格开始-->
            <div class="panel panel-default">
        <div class="panel-heading">
            #if ($shiro.hasPermission("wiki:ques:add"))
                <button class="btn btn-xs btn-primary panel-heading-btn pull-right" data-toggle="modal"
                        data-target="#addmodal" data-backdrop="static" data-keyboard="true">
                    <span class="glyphicon glyphicon-plus"></span>
                    新增
                </button>
            #end
            <h3 class="panel-title">
                常见问题
            </h3>
        </div>
        <div class="panel-body clearfix">
            <!--搜索框开始-->
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-1 pull-right">
                        <button type="button" class="btn btn-block btn-primary btn-xs">
                            搜索
                        </button>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <input class="form-control" type="search" value="" placeholder="请输入问题内容"/>
                    </div>
                    <label class="col-xs-1 control-label pull-right">问题内容</label>
                    <div class="col-xs-2 pull-right">
                        <div class="input-group">
                            <input id="productType" class="form-control" type="search" value="" placeholder="请输入品类"/>
                            <span class="input-group-btn">
                                        <button data-toggle="modal" data-target="#Search" class="btn btn-xs btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                        </div>
                    </div>
                    <label class="col-xs-1 control-label pull-right">品类</label>
                </div>
            </div>
            <!--搜索框结束-->
            <!--表格开始-->
            <table id="productproblem_table" class="table table-condensed table-bordered table-striped text-center" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="col-xs-1 text-center">编号</th>
                    <th class="col-xs-3 text-center">问题内容</th>
                    <th class="col-xs-1 text-center">产品</th>
                    <th class="col-xs-5 text-center">解决方案</th>
                    <th class="col-xs-2 text-center">备注</th>
                </tr>
                </thead>

            </table>
            <!--表格结束-->

        </div>
    </div>
        </div>
    </div>
</div>

<!--新增常见问题模态框 -->
<div class="modal fade" id="addmodal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">问题内容<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <textarea class="form-control notnull" rows="3" id="addproblemContent"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">品类<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <div class="input-group">
                                <input id="addproductType" class="form-control" type="search" value="" placeholder="请输入品类"/>
                                <span class="input-group-btn">
                                <button data-toggle="modal" class="btn btn-xs btn-default" data-target="#tSearch" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">解决方案<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <textarea class="form-control notnull" rows="7" id="addsolution"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <textarea class="form-control notnull" rows="4" id="addremarks"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <a type="button" class="btn btn-primary btn-block" id="add_save">
                            保存
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--编辑详情常见问题模态框 -->
<div class="modal fade" id="infomodal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">问题内容<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <textarea class="form-control notnull" rows="3" id="infoproblemContent"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">产品名称<sup class="not-null">*</sup></label>
                        <div class="col-xs-4">
                            <select class="form-control" id="infoproductType">
                                <option value="草甘膦" selected>草甘膦</option>
                                <option value="草甘膦原药">草甘膦原药</option>
                                <option value="草甘膦水剂">草甘膦水剂</option>
                                <option value="草甘膦颗粒剂">草甘膦颗粒剂</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">解决方案<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <textarea class="form-control notnull" rows="7" id="infosolution"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <textarea class="form-control notnull" rows="4" id="inforemarks"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <a type="button" class="btn btn-primary btn-block" id="info_save">
                            保存
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--搜索模态框开始-->
<div class="modal fade"  id="search" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog   modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input class="form-control" type="search" />
                            <span class="input-group-btn">
							    		<button class="btn btn-xs btn-primary">搜索</button>
							    	</span>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item collapse" data-toggle="collapse">
                                除草剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                杀菌剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                杀虫剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                化工品<b class="caret"></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--树形菜单modal-->
<div class="modal fade" id="tSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
                <div id="tree" class="tree">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
                <div id="stree" class="tree">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript">
    //渲染树
    $('#tree').creatTree(basePath+'/productCategory/CategoryTreeThree');
    $('#stree').creatTree(basePath+'/productCategory/CategoryTreeThree');
    //树节点操作
    $(document).on('click','#Search.cNode',function(e){
        e.preventDefault();
        console.log(e.target);
        var tarEltext = $(e.target).text();
        $('#productType').val(tarEltext);
        $('#Search').modal('hide');
    })

    $("#productproblem_table").dataTable( {
        "ajax": basePath + '/productProblem/queryProductProblemList',
        "pagingType":"full_numbers",
        "lengthMenu":[[5, 10, 15, -1], [5, 10, 15, "All"]],
        "columns":[
            {"data":"problemId"},
            {"data":"problemContent"},
            {"data":"productType"},
            {"data":"solution"},
            {"data":"remarks"}
        ],
        "columnDefs":[
            {
                targets: "_all",
                defaultContent: ''
            }, {
                    "targets":1,
                    "render":function(data,type,row,meta){
                        return '<a data-id="'+row.problemId+'" class="problemId" target="_blank">' + row.problemContent+ '</a>';
                    }
                }
        ],
        "language": {
            "url": basePath + '/lib/dataTables/lang/dataTables.lang.zh',
            "searchPlaceholder": '关键字'
        }
    });

    $(document).on('click','.problemId',function(){
        var id = $(this).attr('data-id');

       /* jQuery.ajax({
            url:basePath + '/productProblem/queryProductProblemListTest?problemId=' + id,
            type:'post',
            success:function(result){

            }
        })*/
    })

</script>
