<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<!--树形导航开始-->
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-2">
            <div id="aside" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">
                        产品分类
                    </h3>
                </div>
                <div class="panel-body tree-container clearfix">
                    <!--树形菜单-->
                    <div class="zTreeDemoBackground left">
                        <ul id="asideTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <!--列表部分-->
        <div class="col-xs-10">
            <div id="productInfo" class="panel panel-default view-HD-lg">
                <div class="panel-heading">
                    <button id="edit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" lang="zh">
                        编辑
                    </button>
                    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                        <button id="save" data-btn="cancel" data-view="editView" class="btn hidden" lang="zh">取消</button>
                        <button id="cancel" data-btn="save" data-view="editView" class="btn btn-primary hidden" lang="zh">保存</button>
                    </div>
                    <h3 class="panel-title" lang="zh">
                        标准产品档案
                    </h3>
                </div>
                <div id="formVessel" class="panel-body panel-edit clearfix"></div>


                <script id="form" type="text/template">

                    <!-- 模板部分 -->

                    <%if (data) {
                        var proInfo = data.productInfo, // 产品基本信息
                            wares   = data.wares, // 规格型号
                            index   = data.index, // 理化指标
                            pcs     = data.processingComponents, // 选中的加工成分
                            allPcs  = data.allProcessingComponents // 所有的加工成分
                    %>

                    <from class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-1 control-label">品类</label>
                            <div class="col-xs-2">
                                <input id="categoryName" class="form-control" disabled type="text" value="<%=proInfo.categoryName%>"/>
                            </div>
                            <label class="col-xs-1 control-label">品名</label>
                            <div class="col-xs-2">
                                <input id="name" class="form-control" disabled type="text" value="<%=proInfo.name%>"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">主计量单位</label>
                            <div class="col-xs-2">
                                <input id="measurement" class="form-control" disabled type="text" value="<%=proInfo.measurement%>"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">规格型号</label>
                            <div class="col-xs-4">
                                <%if (wares.length > 0) %>
                                <table class="table table-condensed table-bordered table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center col-xs-4" lang="zh">规格</th>
                                        <th class="text-center col-xs-4" lang="zh">型号</th>
                                    </tr>
                                    </thead>
                                    <!-- 判断语句if else-->
                                    <%for(var i=0;i<wares.length;i++){%>
                                    <tbody>
                                    <tr>
                                        <td><%=wares[i].specification%></td>
                                        <td><%=wares[i].model%></td>
                                    </tr>
                                    </tbody>
                                    <%}%>
                                </table>
                                <%}else {%>
                                <p>暂无数据</p>
                                <%}%>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">含量</label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="concentration" class="form-control" disabled type="text" value="<%=proInfo.concentration%>"/>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label">盐类</label>
                            <div class="col-xs-7">
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="0" <%if(proInfo.saltType==0){%>checked<%}%>>无</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="1" <%if(proInfo.saltType==1){%>checked<%}%>>异丙胺盐</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="2" <%if(proInfo.saltType==2){%>checked<%}%>>铵盐</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="3" <%if(proInfo.saltType==3){%>checked<%}%>>钾盐</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="4" <%if(proInfo.saltType==4){%>checked<%}%>>二钾铵盐</label>
                                <label class="radio-inline" style="position: relative"><input class="else" disabled name="saltType" type="radio" value="5" <%if(proInfo.saltType==5){%>checked<%}%>>其他
                                    <input class="form-control elseInput" id="otherSaltName" <%if(proInfo.saltType==5){%>value="<%=proInfo.otherSaltName%>"<%}%> disabled type="text" style="position: absolute;right: -210px;top:0;width: 200px;" placeholder="请输入其他盐类">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">执行标准</label>
                            <div class="col-xs-2">
                                <select id="executeStandard" disabled class="form-control">
                                    <option value="-1">全部</option>
                                    <option value="0">国际标准</option>
                                    <option value="1">国家标准</option>
                                    <option value="2">行业标准</option>
                                    <option value="3">福华通达企业标准</option>
                                    <option value="4">其他</option>
                                </select>
                            </div>
                            <label class="col-xs-1 control-label">执行标准号</label>
                            <div class="col-xs-2">
                                <input id="executeNumer" disabled class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-xs-1 control-label" lang="zh">产品特点</label>
                            <div class="col-xs-6">
                                <textarea id="productFeature" disabled class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">加工成份</label>
                            <div class="col-xs-6">
                                <table class="table table-condensed table-bordered table-striped text-center">

                                    <tbody id="allProcessingComponents">

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">理化指标</label>
                            <div class="col-xs-6">
                                <table class="table table-condensed table-bordered table-striped text-center">

                                    <tbody id="index">

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </from>
                    <%}else{%>
                    <p class="text-center">
                        暂无数据
                    </p>
                    <%}%>
                    <!-- 模板结束 -->
                </script>


            </div>
        </div>
    </div>
</div>

<input id="productId" type="hidden" value="">
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/knowledge/productArchivesList.js"></script>
