<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<!--树形导航开始-->
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">
                        产品分类
                    </h3>
                </div>
                <div class="panel-body tree-container clearfix">
                    <!--树形菜单-->
                    <div class="tree" id="tree">

                    </div>
                </div>
            </div>
        </div>
        <!--列表部分-->
        <div class="col-xs-10">
            <div class="panel panel-default view-HD-lg">
                <div class="panel-heading">
                    <button id="disTree" data-form-btn="edit" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" lang="zh">
                        编辑
                    </button>
                    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right hidden">
                        <button data-form-btn="cancel" class="btn" lang="zh">取消</button>
                        <button id="productInfo" data-form-btn="save" class="btn btn-primary" lang="zh">保存</button>
                    </div>
                    <h3 class="panel-title" lang="zh">
                        标准产品档案
                    </h3>
                </div>
                <div id="container" class="panel-body panel-edit clearfix">
                    <from class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-1 control-label">品类</label>
                            <div class="col-xs-2">
                                <input id="categoryName" class="form-control noEdit" disabled type="text"/>
                            </div>
                            <label class="col-xs-1 control-label">品名</label>
                            <div class="col-xs-2">
                                <input id="name" class="form-control noEdit" disabled type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">主计量单位</label>
                            <div class="col-xs-2">
                                <input id="measurement" class="form-control noEdit" disabled type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label" lang="zh">规格型号</label>
                            <div class="col-xs-4">
                                <table class="table table-condensed table-bordered table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center col-xs-4" lang="zh">规格</th>
                                        <th class="text-center col-xs-4" lang="zh">型号</th>
                                    </tr>
                                    </thead>
                                    <tbody id="wares">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">含量</label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="concentration" class="form-control" disabled type="text"/>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <label class="col-xs-1 control-label">盐类</label>
                            <div class="col-xs-7">
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="0">无</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="1">异丙胺盐</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="2">铵盐</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="3">钾盐</label>
                                <label class="radio-inline"><input name="saltType" type="radio" disabled value="4">二钾铵盐</label>
                                <label class="radio-inline" style="position: relative"><input class="else" disabled name="saltType" type="radio" value="5">其他<input class="form-control elseInput" id="otherSaltName" disabled type="text" style="position: absolute;right: -210px;top:0;width: 200px;" placeholder="请输入其他盐类"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">执行标准</label>
                            <div class="col-xs-2">
                                <select id="executeStandard" disabled class="form-control">
                                    <option value="-1">全部</option>
                                    <option value="0">国际标准</option>
                                    <option value="1">国家标准</option>
                                    <option value="2">行业标准</option>
                                    <option value="3">福华通达企业标准</option>
                                    <option value="4">其他</option>
                                </select>
                            </div>
                            <label class="col-xs-1 control-label">执行标准号</label>
                            <div class="col-xs-2">
                                <input id="executeNumer" disabled class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-xs-1 control-label" lang="zh">产品特点</label>
                            <div class="col-xs-6">
                                <textarea id="productFeature" disabled class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">加工成份</label>
                            <div class="col-xs-6">
                                <table class="table table-condensed table-bordered table-striped text-center">

                                    <tbody id="allProcessingComponents">

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">理化指标</label>
                            <div class="col-xs-6">
                                <table class="table table-condensed table-bordered table-striped text-center">

                                    <tbody id="index">

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </from>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="productId" type="hidden" value="">
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript">

(function ($) {
    $(function () {


        $('#tree').creatTree(basePath+'/productCategory/CategoryTree');
        $('#tree').filtrateData(basePath+'/productInfo/getProductInfoById','container','productArchivesList');
        //初始数据
        productInfoForm({id:1011001});
        //数据提交
        $(document).on('click.upData','#productInfo',upProductInfo);

        //添加row
        $(document).on('click.add','#addIndexItem',function () {
            var tr = $('<tr><td><input class="form-control" type="text" value=""></td><td><input class="form-control" type="text" value=""></td><td style="position: relative"><input class="form-control" type="text" value=""/><button type="button" class="close" data-form-btn="del" data-form-target="tr" style="position: absolute;top:6px;right:-15px;">×</button></td></tr>');
            tr.appendTo('[name="physicalProperities"]');
        });
        $(document).on('click.add','#addProItem',function () {
            var tr = $('<tr><td><input class="form-control" type="text" value=""></td><td><input class="form-control" type="text" value=""></td><td style="position: relative"><input class="form-control" type="text" value=""/><button type="button" class="close" data-form-btn="del" data-form-target="tr" style="position: absolute;top:6px;right:-15px;">×</button></td></tr>');
            tr.appendTo('[name="processingComponents"]');
        });

    })

    //获取标准产品数据
    function productInfoForm(data) {
        jQuery.ajax({
            url:basePath+'/productInfo/getProductInfoById',
            type:'POST',
            data:data
        }).done(function(data){
            var getData                 = data.data,
                productInfo             = getData.productInfo,
                wares                   = getData.wares,
                allProcessingComponents = getData.allProcessingComponents,
                processingComponents    = getData.processingComponents,
                index                   = getData.index,
                tr                      = '',
                pcisArr                 = [];

            //表单处理
            $('#productId').val(productInfo.productId);
            $('#categoryName').val(productInfo.categoryName);
            $('#name').val(productInfo.name);
            $('#measurement').val(productInfo.measurement);
            $('#concentration').val(productInfo.concentration);
            $('[name="saltType"]').val([productInfo.saltType]);
            $('#otherSaltName').val(productInfo.otherSaltName);
            $('#executeStandard').val(productInfo.executeStandard);
            $('#executeNumer').val(productInfo.executeNumer);
            $('#executeRemarks').val(productInfo.executeRemarks);
            $('#productFeature').val(productInfo.productFeature);
            $('#lastmodifyUserName').val(productInfo.lastmodifyUserName);
            $('#modifyTime').val(productInfo.modifyTime);

            //规格型号
            jQuery.each(wares,function (n,item) {
                tr += '<tr><td>'+item.specification+'</td>';
                tr += '<td>'+item.model+'</td></tr>';
            });
            $('#wares').append(tr);

            //加工成分
            if (allProcessingComponents instanceof Array && processingComponents instanceof Array) {
                tr = '';
                tr += '<tr><th class="text-center">是否需要</th>';
                tr += '<th class="text-center">原料</th>';
                tr += '<th class="text-center">单耗（kg/KL）</th>';
                tr += '<th class="text-center">备注</th></tr>';
                jQuery.each(allProcessingComponents,function (n,item) {
                    tr += '<tr><td><input name="pcis" type="checkbox" disabled value="'+item.componentId+'"></td>';
                    tr += '<td>'+item.componentName+'</td>';
                    tr += '<td><input class="form-control" type="text" disabled value="'+item.unitCost+'"></td>';
                    tr += '<td><input class="form-control" type="text" disabled value="'+item.remarks+'"></td></tr>';
                });
                $('#allProcessingComponents').html('').append(tr);
                jQuery.each(processingComponents,function (n,item) {
                    pcisArr.push(item.componentId);
                });
                $('[name="pcis"]').val(pcisArr);
            }else{
                tr = '';
                tr = '<tr><td><textarea class="form-control">'+allProcessingComponents+'</textarea></td></tr>';
                $('#allProcessingComponents').html('').append(tr);
            }

            //理化指标
            if (index instanceof Array) {
                tr = '';
                tr += '<tr><th class="text-center">指标</th>';
                tr += '<th class="text-center">值</th>';
                tr += '<th class="text-center">备注</th></tr>';
                jQuery.each(index,function (n,item) {
                    console.log(item);
                    tr += '<tr><td><input class="form-control" type="text" disabled value="'+item.index+'"></td>';
                    tr += '<td><input class="form-control" type="text" disabled value="'+item.value+'"></td>';
                    tr += '<td><input class="form-control" type="text" disabled value="'+item.remarks+'">';
                    tr += '<button type="button" class="close hidden" data-form-btn="del" data-form-target="tr"' +
                            ' style="position: absolute;top:6px;right:-15px;">×</button></td></tr>';
                });
                $('#index').append(tr);
            }else{
                tr = '';
                tr = '<tr><td><textarea class="form-control">'+index+'</textarea></td></tr>';
                $('#index').html('').append(tr);
            }

        });
    }

    //保存标注产品数据
   function upProductInfo(e){
        e.stopPropagation();
        var upData = {
            'productInfo':{
                'productId': $('#productId').val(),
                'categoryName': $('#categoryName').val(),
                'name': $('#name').val(),
                'measurement': $('#measurement').val(),
                'concentration': $('#concentration').val(),
                'executeStandard': $('#executeStandard').val(),
                'executeNumer': $('#executeNumer').val(),
                'executeRemarks': $('#executeRemarks').val(),
                'productFeature': $('#productFeature').val(),
                'modifyTime': getTime(),
                'saltType': $('[name="saltType"]:checked').val(),
                'otherSaltName': $('#otherSaltName').val(),
                'physicalProperities' : getPPTable(),
            },
            'productComponents' : getPCTable()
        };
        console.log(upData);
        function getPPTable() {
            var p = content.find('[name="physicalProperities"]').find('tr');
            console.log(p.find('textarea').length);
            if(p.find('textarea').length!=1){
                var arr = [];
                p.each(function(){
                    var obj = {};
                    $(this).find('td').each(function(n,td){
                        if(n==0){
                            obj.index = $(td).children('input').val();
                        }else if (n==1){
                            obj.value = $(td).children('input').val();
                        }else {
                            obj.remarks = $(td).children('input').val();
                        }
                    });
                    arr.push(obj);
                })
                return JSON.stringify(arr);
            }else{
                return p.find('textarea').val();
            }
        };
        function getPCTable() {
            var p = content.find('[name="processingComponents"]').find('tr');
            if(p.find('textarea').length!=1){
                var arr = [];
                p.each(function(){
                    var obj = {};
                    $(this).find('td').each(function(n,td){
                        if(n==0){
                            obj.componentName = $(td).children('input').val();
                        }else if (n==1){
                            obj.consumption = $(td).children('input').val();
                        }else {
                            obj.remarks = $(td).children('input').val();
                        }
                    });
                    arr.push(obj);
                })
                return arr;
            }else{
                return p.find('textarea').val();
            }
        };
        function getTime(){
            var time = new Date();
            var year = time.getFullYear();
            var month = parseInt(time.getMonth())+1;
            var day = time.getDate();
            var hours = parseInt(time.getHours());
            var minutes = parseInt(time.getMinutes());
            var seconds = parseInt(time.getSeconds());
            var newTime;
            return newTime = year+'-'+month+'-'+day+' '+hours+':'+minutes+':'+seconds;
        };
        jQuery.ajax({
            'url':basePath+'/productInfo/doModify',
            'type':'post',
            'data':JSON.stringify(upData),
            'contentType':"application/json"
        }).done(function(){
            alert('保存成功');
        });
    }

    })(jQuery);
</script>
