<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
    <!--表格开始-->
            <div class="panel panel-default">
        <div class="panel-heading">
            #if ($shiro.hasPermission("wiki:ques:add"))
                <button class="btn btn-xs btn-primary panel-heading-btn pull-right" data-toggle="modal"
                        data-target="#modal" data-backdrop="static" data-keyboard="true">
                    <span class="glyphicon glyphicon-plus"></span>
                    新增
                </button>
            #end
            <h3 class="panel-title">
                常见问题
            </h3>
        </div>
        <div class="panel-body clearfix">
            <!--搜索框开始-->
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-1 pull-right">
                        <button type="button" class="btn btn-block btn-primary btn-xs">
                            搜索
                        </button>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <input class="form-control" type="search" value="" placeholder="请输入问题内容"/>
                    </div>
                    <label class="col-xs-1 control-label pull-right">问题内容</label>
                    <div class="col-xs-2 pull-right">
                        <div class="input-group">
                            <input class="form-control" type="search" value="" placeholder="请输入品类"/>
                            <span class="input-group-btn">
                                        <button data-toggle="modal" data-target="#search" class="btn btn-xs btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                        </div>
                    </div>
                    <label class="col-xs-1 control-label pull-right">品类</label>
                </div>
            </div>
            <!--搜索框结束-->
            <!--表格开始-->
            <table id="productproblem_table" class="table table-condensed table-bordered table-striped text-center" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="col-xs-1 text-center">编号</th>
                    <th class="col-xs-3 text-center">问题内容</th>
                    <th class="col-xs-1 text-center">产品</th>
                    <th class="col-xs-5 text-center">解决方案</th>
                    <th class="col-xs-2 text-center">备注</th>
                </tr>
                </thead>

            </table>
            <!--表格结束-->

        </div>
    </div>
        </div>
    </div>
</div>
<!--新增常见问题模态框开始 -->
<div class="modal fade" id="modal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">问题内容</label>
                        <div class="col-xs-9">
                            <textarea id="fqlTitle" class="form-control" rows="3" id="problemContent"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">产品名称</label>
                        <div class="col-xs-4">
                            <select id="fqlType" class="form-control" id="productType">
                                <option value="草甘膦" selected>草甘膦</option>
                                <option value="草甘膦原药">草甘膦原药</option>
                                <option value="草甘膦水剂">草甘膦水剂</option>
                                <option value="草甘膦颗粒剂">草甘膦颗粒剂</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">解决方案</label>
                        <div class="col-xs-9">
                            <textarea id="fqlContent" class="form-control" rows="7" id="solution"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注</label>
                        <div class="col-xs-9">
                            <textarea id="fqlElse" class="form-control" rows="4" id="remarks"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-primary btn-block">
                            保存
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--搜索模态框开始-->
<div class="modal fade"  id="search" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog   modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input class="form-control" type="search" />
                            <span class="input-group-btn">
							    		<button class="btn btn-xs btn-primary">搜索</button>
							    	</span>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item collapse" data-toggle="collapse">
                                除草剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                杀菌剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                杀虫剂<b class="caret"></b>
                            </div>
                            <div class="list-group-item">
                                化工品<b class="caret"></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#productproblem_table").dataTable( {
            "ajax": basePath + '/productProblem/queryProductProblemList',
            "pagingType":"full_numbers",
            "lengthMenu":[[5, 10, 15, -1], [5, 10, 15, "All"]],
            "columns":[
                {"data":"problemId"},
                {"data":"problemContent"},
                {"data":"productType"},
                {"data":"solution"},
                {"data":null}
            ],
            "columnDefs":[
                {
                    targets: "_all",
                    defaultContent: ''
                }, {
                    "targets":1,
                    "render":function(data,type,row,meta){
                        return '<a href="' + data + '" target="_blank">' + row.problemContent+ '</a>';
                    }
                }
            ],
            "language": {
                "url": basePath + '/lib/dataTables/lang/dataTables.lang.zh',
                        "searchPlaceholder": '关键字'
            }
        });
    });


</script>
