<html>

<body>
<h1>Spring MVC multi files upload example</h1>

<form method="POST" id="uploadForm" enctype="multipart/form-data">
   <br> <input type="file" name="file" id="uploadFile"/><br/>
    <input type="button" id="btnUpload" value="确定"  onclick="Asubmit()"/>
</form>

<form name="form1" id="form1" enctype="multipart/form-data">
    <p>photo:<input type="file" name="file" id="photo1"></p>
    <p>photo:<input type="file" name="file" id="photo2"></p>
    <p>photo:<input type="file" name="file" id="photo3"></p>
    <p><input type="button" name="b1" value="submit" onclick="fsubmit()"></p>
</form>
<div id="result"></div>

<form name="form1" id="form3" enctype="multipart/form-data">
    <img id="pic" src="" style="width: 100px;height:100px;margin:20px auto;cursor: pointer;">
    <input id="upload" name="file" accept="image/*" type="file" style="display: none"/>
</form>

<form name="form4" id="form4" enctype="multipart/form-data">
    <img class="pic" src="" style="width: 100px;height:100px;margin:20px auto;cursor: pointer;">
    <input class="upload" name="file" accept="image/*" type="file" style="display: none"/>
    <img class="pic" src="" style="width: 100px;height:100px;margin:20px auto;cursor: pointer;">
    <input class="upload" name="file" accept="image/*" type="file" style="display: none"/>
    <img class="pic" src="" style="width: 100px;height:100px;margin:20px auto;cursor: pointer;">
    <input class="upload" name="file" accept="image/*" type="file" style="display: none"/>
</form>

#*<h2>上传多个文件 实例</h2>*#

#*<form action="uploadFileAll" method="post"
      enctype="multipart/form-data">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        <input type="submit" value="提交">
</form>*#

</body>
<script type="text/javascript">
    $("input[name='files']").each(function(){
        var url = $(this).attr("value");

        console.log(url);
    })

    function fsubmit(){
        var data = new FormData($('#form1')[0]);
        var res = $('#result');
        console.log(data);
        jQuery.ajax({
            url: 'uploadFileAll',
            type: 'POST',
            data: data,
            dataType: 'JSON',
            cache: false,
            processData: false,
            contentType: false,
            success:function (result) {
            }
        });
        return false;
    }

    function Asubmit() {
        /*var data = {
            "imgPath":imgpath
        }*/

        jQuery.ajax({
            url:'uploadFile',
            data:new FormData($('#uploadForm')[0]),
            type:'POST',
            processData:false,
            contentType:false,
            cache: false,
            success:function (result) {
                var Result = '';
                Result += '<img src="' + result.data  + '" width="100">';
                $('#result').html(Result);
            }
        })
    }

    $(function() {

            $('#pic').click(function () {
                $("#upload").click(); //隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                    }
                });
            });
    });

    //建立一個可存取到該file的url
    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }

</script>
</html>