<html>

<body>
<h1>Spring MVC multi files upload example</h1>

<form method="POST" id="uploadForm" enctype="multipart/form-data">
   <br> <input type="file" name="file" id="uploadFile"/><br/>
    <input type="button" id="btnUpload" value="确定"  onclick="Asubmit()"/>
</form>

<form name="form1" id="form1" enctype="multipart/form-data">
    <p>name:<input type="text" name="name" ></p>
    <p>gender:<input type="radio" name="gender" value="1">male <input type="radio" name="gender" value="2">female</p>
    <p>photo:<input type="file" name="photo" id="photo"></p>
    <p><input type="button" name="b1" value="submit" onclick="fsubmit()"></p>
</form>
<div id="result"></div>

<h2>上传多个文件 实例</h2>

<form action="uploadFile2" method="post"
      enctype="multipart/form-data">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        <input type="submit" value="提交">
</form>

</body>
<script type="text/javascript">
    $("input[name='files']").each(function(){
        var url = $(this).attr("value");

        console.log(url);
    })

    function fsubmit(){
        var data = new FormData($('#form1')[0]);
        console.log(data);
        jQuery.ajax({
            url: 'uploadFile',
            type: 'POST',
            data: data,
            dataType: 'JSON',
            cache: false,
            processData: false,
            contentType: false
        }).done(function(ret){
                var result = '';
                result += 'name=' + ret['name'] + '<br>';
                result += 'gender=' + ret['gender'] + '<br>';
                result += '<img src="' + ret['photo']  + '" width="100">';
                $('#result').html(result);
        });
        return false;
    }

    function Asubmit() {
        /*var data = {
            "imgPath":imgpath
        }*/

        jQuery.ajax({
            url:'uploadFile',
            data:new FormData($('#uploadForm')[0]),
            type:'POST',
            processData:false,
            contentType:false,
            cache: false,
            success:function (result) {
                console.log(result);
            }
        })
    }

</script>
</html>