<html>

<body>
<h1>Spring MVC multi files upload example</h1>

<form method="POST" action="uploadFile" enctype="multipart/form-data">
   <br> <input type="file" name="files" /><br/>
   <br> <input type="file" name="files" /><br/>
    <br><input type="file" name="files" /><br/>
    <input type="submit" value="提交" />
</form>


<h2>上传多个文件 实例</h2>

<form action="uploadFile2" method="post"
      enctype="multipart/form-data">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        选择文件:<input type="file" name="files">
    <p>
        <input type="submit" value="提交">
</form>

</body>
</html>