<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #deputyNav(4)
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="sTitle" class="panel-title" lang="zh">
                            产品要求
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!--表格-->
                        <table class="table table-condensed table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-center" lang="zh">客户名称</th>
                                <th class="text-center" lang="zh">客户商品名</th>
                                <th class="text-center" lang="zh">品类序列号</th>
                                <th class="text-center" lang="zh">品类</th>
                                <th class="text-center" lang="zh">产品名称</th>
                                <th class="text-center" lang="zh">品牌</th>
                                <th class="text-center" lang="zh">规格</th>
                                <th class="text-center" lang="zh">型号</th>
                                <th class="text-center" lang="zh">主单位</th>
                                <th class="text-center" lang="zh">加工厂</th>
                            </tr>
                            </thead>
                            <tbody id="productRequestList">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="customerId" type="hidden" value='$!{customerId}'>
<input id="customerType" type="hidden" value='$!{customerType}'>
<input id="fullName" type="hidden" value='$!{fullName}'>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerProductRequest.js"></script>


