<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button id="edit" data-form-btn="edit" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" lang="zh">
                        编辑
                    </button>
                    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right hidden">
                        <a id="cancel" data-form-btn="cancel" class="btn" lang="zh">取消</a>
                        <a id="save" data-form-btn="save" class="btn btn-primary" lang="zh">保存</a>
                    </div>
                    <h3 class="panel-title">
                        基础信息
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <div class="form-horizontal">
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">姓名</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="name" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">岗位</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="posts" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">负责区域</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="responseArea" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">是否在职</label>
                            <div class="col-xs-2">
                                <select class="form-control" name="items" id="onJob" disabled>
                                    <option  value="1">是</option>
                                    <option  value="0">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">性别</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="sex" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">生日</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="birthday" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">国籍</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="nationality" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">影响力情况</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="influence" disabled/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">展会习惯</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="exhibitionHabits" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">喜好</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="fancy" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">联系电话1</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="linkPhone1" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">联系电话2</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="linkPhone2" disabled/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">邮箱</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="lemail" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">饮食</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="eatingHabits" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">宗教信仰</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" id="faith" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">是否默认</label>
                            <div class="col-xs-2">
                                <select class="form-control" name="items" id="isDefault" disabled>
                                    <option  value="1">是</option>
                                    <option  value="0">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">备注</label>
                            <div class="col-xs-11">
                                <textarea class="form-control" rows="4" id="remarks" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        沟通记录
                    </h3>
                </div>
                <div class="panel-body">
                    <!--表格-->
                    <table class="table table-condensed table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">开始时间</th>
                            <th class="text-center" lang="zh">结束时间</th>
                            <th class="text-center" lang="zh">活动类型</th>
                            <th class="text-center" lang="zh">活动地点</th>
                            <th class="text-center" lang="zh">费用</th>
                            <th class="text-center" lang="zh">礼物赠送</th>
                            <th class="text-center" lang="zh">活动摘要</th>
                        </tr>
                        </thead>
                        <tbody id="visitRecordsTable">
                        <tr>
                            <td>000002</td>
                            <td>Anna</td>
                            <td>销售</td>
                            <td>是</td>
                            <td>华盛顿</td>
                            <td>女</td>
                            <td>美国</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-content col-xs-10">
            <div class="panel-body clearfix">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-4">
                            <a class="btn btn-block btn-primary packingAdd">完成</a>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-block btn-default" type="reset">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerContactsInfo.js"></script>