<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        <ul id="deputyNav" class="nav nav-tabs pull-left">
            <li><a href="${request.contextPath}/customerBaseInfo/intoCustomerBaseInfoDetails">基本信息</a></li>
            <li class="active"><a href="${request.contextPath}/customerMarketInfo/entrance" >市场信息</a></li>
            <li><a href="${request.contextPath}/customerLinkman/intoCustomerLinkmanList" >联系人</a></li>
            <li><a href="" >产品要求</a></li>
            <li><a href="${request.contextPath}/customerBaseInfoOrder/entrance" >订单信息</a></li>
            <li><a href="" >订单默认要求</a></li>
            <li><a href="${request.contextPath}/customerVisitRecord/intocustomerVisitRecordList" >沟通记录</a></li>
            <li><a href="" >公司别名（子公司信息）</a></li>
            <li><a href="" >关联数据</a></li>
        </ul>
        <ul class="breadcrumb pull-right">
            <li><span class="glyphicon glyphicon-map-marker"></span></li>
            <li><a href="">合作客户</a></li>
            <li class="active">{变量}</li>
        </ul>
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-10">
                <!--采购产品表-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="add_cpps" data-toggle="modal" data-target="#cusPro" class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh">
                            新增
                        </button>
                        <h3 class="panel-title" lang="zh">
                            采购产品
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!--筛选-->
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <select id="cpps_year" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <!--表格-->
                        <table id="cpps" class="table table-condensed table-bordered table-striped text-center"></table>
                    </div>
                </div>
                <!--销售产品表-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="add_csps" data-toggle="modal" data-target="#cusPro" class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh">
                            新增
                        </button>
                        <h3 class="panel-title" lang="zh">
                            销售产品
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!--筛选-->
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <select id="csps_year" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <!--表格-->
                        <table id="csps" class="table table-condensed table-bordered table-striped text-center"></table>
                    </div>
                </div>
                <!--合作情况-->
                <div class="panel panel-default panel-edit">
                    <div class="panel-heading">
                        <button data-form-btn="edit" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" lang="zh">
                            编辑
                        </button>
                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right hidden">
                            <button id="cooperation_cl" data-form-btn="cancel" class="btn" lang="zh">取消</button>
                            <button id="cooperation_up" data-form-btn="save" class="btn btn-primary" lang="zh">保存</button>
                        </div>
                        <h3 class="panel-title" lang="zh">
                            合作情况
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!--表单-->
                        <div id="cooperation" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3" lang="zh">价格敏感度</label>
                                <div class="col-xs-2"><input id="priceSensitivity" class="form-control" type="text" value="" /></div>
                                <label class="control-label col-xs-2" lang="zh">忠诚度</label>
                                <div class="col-xs-2"><input id="loyalty" class="form-control" type="text" value="" /></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" lang="zh">开始合作时间</label>
                                <div class="col-xs-2"><input id="startCooperationTime" class="form-control" type="date" value="" /></div>
                                <label class="control-label col-xs-2" lang="zh">合作时间</label>
                                <div class="col-xs-2"><input id="cooperationDuration" class="form-control" type="text" value="" /></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" lang="zh">采购季节</label>
                                <div class="col-xs-2"><input id="purchasingSeason" class="form-control" type="text" value="" /></div>
                                <label class="control-label col-xs-2" lang="zh">活跃周期</label>
                                <div class="col-xs-2"><input id="activePeriod" class="form-control" type="text" value="" /></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" lang="zh">合作紧密度（福华是否独家供应）</label>
                                <div class="col-xs-2">
                                    <select id="isFuhuaExclusive" class="form-control" >
                                        <option value="1" selected lang="zh">是</option>
                                        <option value="0" lang="zh">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" lang="zh">备注</label>
                                <div class="col-xs-8"><textarea id="cooperationRemark" class="form-control" rows="3" ></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--批量添加modal-->
        <div class="modal fade" id="cusPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <select class="form-control" id="year"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <table  id="table"class="table table-condensed table-bordered table-striped text-center"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-2 col-xs-offset-3">
                            <button id="addMore" data-form-btn="add"  type="button" class="btn btn-block btn-primary" lang="zh">继续添加产品</button>
                        </div>
                        <div class="col-xs-2">
                            <button id="cpps_up" data-form-btn="complete" type="button" class="btn btn-block btn-primary" lang="zh">完成</button>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-block btn-default" data-dismiss="modal" lang="zh">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--树形菜单modal-->
        <div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="margin-top: 300px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body well" style="max-height: 300px; overflow-y: scroll; overflow-x: scroll;">
##                        这里插入树形菜单
                        <div id="tree" class="tree"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="customerId" value="${customerId}">
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerMarketingAjax.js"></script>
<script>
    $(function () {
        //获取数据
        getData('${request.contextPath}/customerMarketInfo/init','POST',GetRequest(),pop);
        //创建树形菜单
        $('#tree').creatTree('/productCategory/CategoryTree');
        /**
         * 功能按钮
         */
        //构造下拉选择框
        $('#cpps_year,#csps_year,#year').html(function (n,old) {
            old = '';
            var nowDate = new Date();
            var nowYear = nowDate.getFullYear();
            console.log(typeof nowYear);
            var options = '';
            for(var i=nowYear;i>=2014;i--){
                options += '<option value="'+i+'">'+i+'</option>';
            }
            return options;
        }).val(new Date().getFullYear());//默认为今年
        //筛选客户采购产品
        $(document).on('change.year','#cpps_year',function (e) {
            var year = $(e.target).val();
            var cusId = $('#customerId').customerId;
            var data = {
                year:year,
                customerId:cusId
            };
            getData('${request.contextPath}/customerMarketInfo/getCPPListByCidAndYear','POST',data,cpps);
        });
        //筛选客户销售产品
        $(document).on('change.year','#csps_year',function (e) {
            var year = $(e.target).val();
            var cusId = GetRequest().customerId;
            var data = {
                year:year,
                customerId:cusId
            };
            getData('${request.contextPath}/customerMarketInfo/getSaleProductListByCidAndYear','POST',data,csps);
        });
        //构造客户采购模态
        $(document).on('click.addCpps','#add_cpps',function(){
            var comBtn = $('[data-form-btn="complete"]');
            $('#table').html('');//清空表格
            $('#table').append(cppsTable());//重新填充表格
            comBtn.attr('id','cpps_up');//变更完成按钮
    });
        //构造客户销售模态
        $(document).on('click.addCsps','#add_csps',function(){
            var comBtn = $('[data-form-btn="complete"]');
            $('#table').html('');//清空表格
            $('#table').append(cspsTable());//重新填充表格
            comBtn.attr('id','csps_up');//变更完成按钮
        });
        //继续添加采购产品或者销售产品
        $(document).on('click.add','#addMore',function(){
            var table = $('#table');
            var colspanN = table.find('tr').first().find('th').length;
//            alert(colspanN);
            var comBtn = $('[data-form-btn="complete"]');
            var tbody;
            var delBtn = "";//删除按钮
            delBtn += '<tr>';
            delBtn += '<td colspan="'+colspanN+'">';
            delBtn += '<button class="btn btn-default btn-xs btn-block" data-form-btn="del" data-form-target="tbody">删除';
            delBtn += '</button></td></tr>';
            //判断完成按钮的id
            if(comBtn.attr('id')=='cpps_up'){
                tbody = cppsTable();//构造tbody
                console.log(delBtn);
                $(tbody).append(delBtn).appendTo(table);//插入到表格
            }else{
                tbody = cspsTable();
                $(tbody).append(delBtn).appendTo(table);
            }
        });

        //客户采购产品批量提交
        $(document).on('click.up','#cpps_up',function() {
            upData('${request.contextPath}/customerMarketInfo/addCPPList','POST',cppsObj(),'application/json');
            //刷新
            getData('${request.contextPath}/customerMarketInfo/init','POST',GetRequest(),pop);

        });
        //客户销售产品批量提交
        $(document).on('click.up','#csps_up',function() {
            upData('${request.contextPath}/customerMarketInfo/addCSPList','POST',cspsObj(),'application/json');
            //刷新
            getData('${request.contextPath}/customerMarketInfo/init','POST',GetRequest(),pop);
        });
        //客户合作情况提交
        $(document).on('click.up','#cooperation_up',function() {
            upData('${request.contextPath}/customerMarketInfo/updateCooperationInfo','POST',cooperationObj(),'application/x-www-form-urlencoded; charset=UTF-8');
            //刷新
            getData('${request.contextPath}/customerMarketInfo/init','POST',GetRequest(),pop);
        });
        //客户合作情况取消
        $(document).on('click','#cooperation_cl',function () {
            //刷新
            getData('${request.contextPath}/customerMarketInfo/init','POST',GetRequest(),pop);
        })
        //双击文本添加到指定文本框
        var selectedPName;
        $(document).on('click','[data-target="#treeModal"]',function (e) {
            selectedPName = $(e.target).parents('.input-group').find('input');
//            console.log(selectedPName);
        })
        $(document).on('click','#tree a',function (e) {
            e.preventDefault();
        })
        $(document).on('dblclick','#tree a.cNode',function (e) {
            var close = $(e.target).parents('.modal').find('.close');
            var txt = $(e.target).text();
            selectedPName.val(txt);
            close.click();
        })


        //构造销售产品表格
        function cspsTable(){
            var tbody = '';
            tbody += '<tbody name="cspsTbody">';
            tbody += '<tr><th>销售产品</th>';
            tbody += '<th><div class="input-group"><input name="productName" class="form-control" type="text" value="" disabled>';
            tbody += '<span class="input-group-btn"><button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#treeModal">';
            tbody += '<span class="glyphicon glyphicon-search"></span>';
            tbody += '</button></span></div></th>';
            tbody += '<th>年销售量</th>';
            tbody += '<th><input name="yearSalesTotal" class="form-control" type="text" value=""></th>';
            tbody += '<th>品牌</th>';
            tbody += '<th><input name="brand" class="form-control" type="text" value=""></th>';
            tbody += '<th>营销手段</th>';
            tbody += '<th><input name="marketingMethod" class="form-control" type="text" value=""></th></tr>';
            tbody += '<tr><td>销售目的国1</td>'
            tbody += '<td><input name="destinationCountry1" class="form-control" type="text" value=""></td>';
            tbody += '<td>年销售量</td>'
            tbody += '<td><input name="yearSales1" class="form-control" type="text" value=""></td>';
            tbody += '<td colspan="2">所占市场份额</td>';
            tbody += '<td colspan="2"><input name="marketShare1" class="form-control" type="text" value=""></td></tr>';
            tbody += '<tr><td>销售目的国2</td>'
            tbody += '<td><input name="destinationCountry2" class="form-control" type="text" value=""></td>';
            tbody += '<td>年销售量</td>'
            tbody += '<td><input name="yearSales2" class="form-control" type="text" value=""></td>';
            tbody += '<td colspan="2">所占市场份额</td>';
            tbody += '<td colspan="2"><input name="marketShare2" class="form-control" type="text" value=""></td></tr>';
            tbody += '<tr><td>销售目的国3</td>'
            tbody += '<td><input name="destinationCountry3" class="form-control" type="text" value=""></td>';
            tbody += '<td>年销售量</td>'
            tbody += '<td><input name="yearSales3" class="form-control" type="text" value=""></td>';
            tbody += '<td colspan="2">所占市场份额</td>';
            tbody += '<td colspan="2"><input name="marketShare3" class="form-control" type="text" value=""></td></tr></tbody>';
            return tbody;
        }
        //构造采购产品表格
        function cppsTable() {
            var tbody = '';
            tbody += '<tbody name="cppsTbody">';
            tbody += '<tr><th>采购产品</th>';
            tbody += '<th><div class="input-group"><input name="productName" class="form-control" type="text" value="" disabled>';
            tbody += '<span class="input-group-btn"><button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#treeModal">';
            tbody += '<span class="glyphicon glyphicon-search"></span>';
            tbody += '</button></span></div></th>';
            tbody += '<th>年需求量</th>';
            tbody += '<th><input name="annualDemands" class="form-control" type="text" value=""></th>';
            tbody += '<th>平均单价(美元)</th>';
            tbody += '<th><input name="averagePrice" class="form-control" type="text" value=""></th></tr>';
            tbody += '<tr><td>供应商1</td>'
            tbody += '<td><input name="supplier1" class="form-control" type="text" value=""></td>';
            tbody += '<td>年采购量</td>'
            tbody += '<td><input name="purchaseAmount1" class="form-control" type="text" value=""></td>';
            tbody += '<td>平均单价</td>';
            tbody += '<td><input name="averagePrice1" class="form-control" type="text" value=""></td></tr>';
            tbody += '<tr><td>供应商2</td>'
            tbody += '<td><input name="supplier2" class="form-control" type="text" value=""></td>';
            tbody += '<td>年采购量</td>'
            tbody += '<td><input name="purchaseAmount2" class="form-control" type="text" value=""></td>';
            tbody += '<td>平均单价</td>';
            tbody += '<td><input name="averagePrice2" class="form-control" type="text" value=""></td></tr>';
            tbody += '<tr><td>供应商3</td>'
            tbody += '<td><input name="supplier3" class="form-control" type="text" value=""></td>';
            tbody += '<td>年采购量</td>'
            tbody += '<td><input name="purchaseAmount3" class="form-control" type="text" value=""></td>';
            tbody += '<td>平均单价</td>';
            tbody += '<td><input name="averagePrice3" class="form-control" type="text" value=""></td></tr></tbody>';
            return tbody;
        }
    })
</script>

