<div class="nav-deputy shadow-out clearfix">
    #breadcrumb()
</div>
<!--tab内容-->
<div class="dashboard-wrapper">
	<div class="row">
		<div class="col-xs-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" lang="zh">
						地区分类
					</h3>
				</div>
				<div class="panel-body tree-container clearfix">
					<!--树形菜单-->
					<div class="tree" id="tree"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-10 tab-content">
			<div id="cooperative" class="tab-pane fade in active">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 id="sTitle" class="panel-title" lang="zh">合作客户列表</h3>
					</div>
					<div class="panel-body clearfix">
						<!--搜索&筛选控件-->
						<form class="form-group">
							<div class="input-group">
								<span class="input-group-addon" lang="zh">客户全称</span>
								<input class="form-control" type="text" id="fullName" value="" />
								<span class="input-group-addon" lang="zh">企业性质</span>
								<select class="form-control" id="enterpriseNature">
									<option value="" selected lang="zh">全部</option>
									<option value="1" lang="zh">加工厂</option>
									<option value="2" lang="zh">分销商</option>
									<option value="3" lang="zh">经销商</option>
									<option value="4" lang="zh">终端客户</option>
									<option value="5" lang="zh">其他</option>
								</select>
								<span class="input-group-addon" lang="zh" >信用评级</span>
								<select class="form-control" id="zhongxinbaoLevel">
									<option value="" selected lang="zh">全部</option>
									<option value="1" lang="zh">A</option>
									<option value="2" lang="zh">AA</option>
									<option value="3" lang="zh">AAA</option>
									<option value="4" lang="zh">AAAA</option>
								</select>
								<span class="input-group-addon" lang="zh">客户级别</span>
								<select class="form-control" id="customerLevel">
									<option value="" selected lang="zh">全部</option>
									<option value="1" lang="zh">战略客户</option>
                                    <option value="2" lang="zh">大客户</option>
                                    <option value="3" lang="zh">重要客户</option>
                                    <option value="4" lang="zh">一般客户</option>
                                    <option value="5" lang="zh">风险客户</option>
								</select>
								<span class="input-group-addon" lang="zh" >客户状态</span>
								<select class="form-control" id="customerStatus">
									<option value="" selected lang="zh">全部</option>
									<option value="1" lang="zh">正常</option>
									<option value="0" lang="zh">易流失</option>
								</select>
								<div class="input-group-btn">
									<button class="btn btn-xs btn-primary" type="reset">重置</button>
									<button class="btn btn-xs btn-primary" id="submit" type="button">搜索</button>
								</div>
							</div>
						</form>
						<!--表格-->
						<table class="table table-condensed table-bordered table-striped">
							<caption class="text-right" lang="zh">金额单位：万元</caption>
							<thead>
							<tr>
								<th class="sorting" lang="zh">客户编号</th>
								<th class="sorting" lang="zh">客户全称</th>
								<th class="sorting" lang="zh">客户简称</th>
								<th lang="zh">国家</th>
								<th lang="zh">客户级别</th>
								<th class="sorting" lang="zh">信用评级</th>
								<th class="sorting" lang="zh">开始合作时间</th>
								<th class="sorting" lang="zh">合作时间</th>
								<th class="sorting" lang="zh">活跃周期</th>
								<th class="sorting" lang="zh">合同总金额</th>
								<th class="sorting" lang="zh">已回款金额</th>
								<th class="sorting" lang="zh">总最低销售限价</th>
								<th class="sorting" lang="zh">总维护费用</th>
								<th class="sorting" lang="zh">净利润</th>
								<th lang="zh">客户状态</th>
								<th lang="zh">业务员</th>
								<th lang="zh">备注</th>
							</tr>
							</thead>
							<tbody id="append_container">
							</tbody>
						</table>
                        <div id="pagination" class="pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--详情模态框-->
<div class="modal fade" id="details" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <!--表格-->
                <table class="table table-condensed table-bordered text-center table-pagination">
                    <caption class="text-right" lang="zh">单位：万元</caption>
                    <thead>
                    <tr>
                        <th class="text-center" lang="zh">产品名称</th>
                        <th class="text-center" lang="zh">产品种类</th>
                        <th class="text-center" lang="zh">总销售量</th>
                        <th class="text-center" lang="zh">总销售额</th>
                        <th class="text-center" lang="zh">总最低销售限价</th>
                        <th class="text-center" lang="zh">总利润</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="customerType" value="${customerType}" />
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerListCommon.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/pagination/pagination.js"></script>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/js/pagination/pagination.css" />
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript">
	var pageSize = 2;//分页步长
    var click_node ={oneLevelId:0,twoLevelId:0};//接收目录树点击节点的id及其父id
    click_node.serach = function(){
        serach();
	}
    $(function(){
		//生成地区目录树
        $('#tree').creatTree('${request.contextPath}/customerBaseInfo/initAreaCategoryTree');
        //目录树节点绑定点击事件
        $('#tree').bindClickForCusArea(click_node);
		//搜索按钮绑定事件
		$("#submit").click(function(){
            serach();
		});
		//默认查询数据
        serach();
    });
	//查询按钮提交数据
	function serach(){
		var total = getListCount();
        getDataList(0);
        $("#pagination").pagination(total,{
            items_per_page : pageSize,
            num_edge_entries : 3,
            num_display_entries : 10,
            callback:getDataList
        });
	}
	var customerLevelList = ['战略客户','大客户' ,'重要客户' ,'一般客户' ,'风险客户'];
	//根据页码获取列表数据
	function getDataList(pageNum,jq){
        jQuery.ajax({
            url:'${request.contextPath}/customerBaseInfo/queryCustomerPageList',
            dataType:'json',
            data:{
				customerType:$("#customerType").val(),
                areaClassId:click_node.oneLevelId,
                areaId:click_node.twoLevelId,
                fullName:$("#fullName").val(),
                enterpriseNature:$("#enterpriseNature").val(),
                zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
                customerLevel:$("#customerLevel").val(),
                customerStatus:$("#customerStatus").val(),
                startRow:pageNum*pageSize,
                pageSize:pageSize
            },
            async:true,
            method:'POST',
            success:function(data){
				var list = data.data;
//				console.log(list);
				var _html = '';
				if(list && list!='' && list!='null'){
                    for(var i=0;i<list.length;i++){
                        var customer = list[i];
                        _html += '<tr>';
                        _html += '	<td>'+customer.customerId+'</td>';
                        _html += '  <td><a href="${request.contextPath}/customerBaseInfo/intoCustomerBaseInfoDetails?customerType=1&customerId='+customer.customerId+'&fullName='+customer.fullName+'" >'+customer.fullName+'</a></td>';
                        _html += '  <td>'+customer.shortName+'</td>';
                        _html += '  <td lang="zh">'+customer.country+'</td>';
                        _html += '  <td lang="zh">'+customerLevelList[customer.customerLevel-1]+'</td>';
                        _html += '  <td>'+customer.zhongxinbaoLevel+'A</td>';
                        _html += '  <td>'+customer.startCooperationTime+'</td>';
                        _html += '  <td lang="zh">'+customer.cooperationDuration+'</td>';
                        _html += '  <td lang="zh">'+customer.activePeriod+'</td>';
                        _html += '  <td><a href="" data-toggle="modal" data-target="#details">'+customer.totalMoney+'</a></td>';
                        _html +='   <td>'+customer.payMoney+'</td>';
                        _html +='   <td>'+customer.minPrice+'</td>';
                        _html +='   <td>'+customer.maintenanceFee+'</td>';
                        _html +='   <td>'+customer.netProfit+'</td>';
                        _html +='   <td lang="zh">'+(customer.customerStatus==0?"易流失":"正常")+'</td>';
                        _html +='   <td>'+customer.lastmodifyUserName+'</td>';
                        _html +='   <td>'+customer.remark+'</td>';
                        _html +='   </tr>';
                    }
                }
				$("#append_container").html(_html);

				//点击a为modal添加数据
                var modalDetails = '[data-target="#details"]';
//                console.log($(modalDetails));
                $(modalDetails).on('click.modalData',function(e){
                    var el = $(e.target);
                    var modalId = el.data('target');
                    var customerId = el.parents('tr').children('td').first().text();
//                    console.log(customerId);
                    jQuery.ajax({
                        url:'${request.contextPath}/customerBaseInfo/showCustomerOrderProductDetail',
                        dataType:'json',
                        data:{
                            customerId: customerId
                        },
                        async:true,
                        type:'POST',
                        success:function(result){
                            var data = result.data;
                            var container = $(modalId).find('tbody');
                            container.html('');
                            if(data!=null){
                               jQuery.each(data,function (n,item) {
								   var tr = $('<tr></tr>');
                                   tr.append('<td>'+item.productName+'</td><td>'+item.categoryName+'</td><td>'+item.totalSaleNum+'</td><td>'+item.totalSaleMoney+'</td><td>'+item.totalMinPrice+'</td><td>'+item.totalProfit+'</td>').appendTo(container);
                               })
                            }else{
                                var tr = $('<tr></tr>');
                                tr.append('<td colspan="6">没有数据</td>').appendTo(container);
                            }
                        }
                    })
                });
            }
        });
	}

    /*分页插件参数
    参数名	描述	参数值
    maxentries	总条目数	必选参数，整数
    items_per_page	每页显示的条目数	可选参数，默认是10
    num_display_entries	连续分页主体部分显示的分页条目数	可选参数，默认是10
    current_page	当前选中的页面	可选参数，默认是0，表示第1页
    num_edge_entries	两侧显示的首尾分页的条目数	可选参数，默认是0
    link_to	分页的链接	字符串，可选参数，默认是"#"
    prev_text	“前一页”分页按钮上显示的文字	字符串参数，可选，默认是"Prev"
    next_text	“下一页”分页按钮上显示的文字	字符串参数，可选，默认是"Next"
    ellipse_text	省略的页数用什么文字表示	可选字符串参数，默认是"..."
    prev_show_always	是否显示“前一页”分页按钮	布尔型，可选参数，默认为true，即显示“前一页”按钮
    next_show_always	是否显示“下一页”分页按钮	布尔型，可选参数，默认为true，即显示“下一页”按钮
    callback	回调函数	默认无执行效果*/

    /**
	 * 获取列表数据总条目数
     */
	function getListCount(){
		var total = 0;
        jQuery.ajax({
			url:'${request.contextPath}/customerBaseInfo/countCustomerList',
			dataType:'JSON',
			data:{
                customerType:$("#customerType").val(),
                areaClassId:click_node.oneLevelId,
                areaId:click_node.twoLevelId,
                fullName:$("#fullName").val(),
                enterpriseNature:$("#enterpriseNature").val(),
                zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
                customerLevel:$("#customerLevel").val(),
                customerStatus:$("#customerStatus").val(),
			},
			async:false,//同步加载
			method:'POST',
			success:function(data){
                total = data.data;
			}
		});
		return total;
	}


</script>