<!--副导航-->
<div class="nav-deputy shadow-out clearfix">
	<ul class="breadcrumb pull-right">
		<li><span class="glyphicon glyphicon-map-marker"></span></li>
		<li><a href="#" lang="zh">客户信息</a></li>
		<li class="active" lang="zh">潜在客户</li>
	</ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">
                        地区分类
                    </h3>
                </div>
                <div class="panel-body tree-container clearfix">
                    <!--树形菜单-->
                    <div class="tree">
                        <ul class="tree-root">
                            <li>
                                <span class="branch-node" data-toggle="collapse" data-target="#bNode1"></span><a href=""><span class="leaf"></span><span lang="zh">拉美区</span></a>
                                <ul id="bNode1" class="tree-branch collapse in">
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">墨西哥</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">乌拉圭</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">秘鲁</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">哥伦比亚</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="branch-node" data-toggle="collapse" data-target="#bNode2"></span><a href=""><span class="leaf"></span><span lang="zh">亚太区</span></a>
                                <ul id="bNode2" class="tree-branch collapse in">
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">韩国</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">日本</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">朝鲜</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="branch-node" data-toggle="collapse" data-target="#bNode3"></span><a href=""><span class="leaf"></span><span lang="zh">欧非区</span></a>
                                <ul id="bNode3" class="tree-branch collapse in">
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">加纳</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">南非</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 tab-content">
            <!--潜在客户页-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                        <a href="" target="_blank" data-toggle="modal" data-target="#addRole" class="btn btn-primary">新增</a>
                    </div>
                    <h3 class="panel-title" lang="zh">潜在客户列表</h3>
                </div>
                <div class="panel-body clearfix">
                    <!--搜索&筛选控件-->
                    <form class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" lang="zh">客户全称</span>
                            <input class="form-control" type="text" value="" />
                            <span class="input-group-addon" lang="zh">企业性质</span>
                            <select class="form-control">
                                <option value="" selected lang="zh">全部</option>
                                <option value="" lang="zh">加工厂</option>
                                <option value="" lang="zh">分销商</option>
                                <option value="" lang="zh">经销商</option>
                                <option value="" lang="zh">终端客户</option>
                                <option value="" lang="zh">其他</option>
                            </select>
                            <span class="input-group-addon" lang="zh">信用评级</span>
                            <select class="form-control">
                                <option value="" selected lang="zh">全部</option>
                                <option value="" lang="zh">A</option>
                                <option value="" lang="zh">AA</option>
                                <option value="" lang="zh">AAA</option>
                                <option value="" lang="zh">AAAA</option>
                            </select>
                            <span class="input-group-addon" lang="zh">客户级别</span>
                            <select class="form-control">
                                <option value="" selected lang="zh">全部</option>
                                <option value="" lang="zh">潜在客户</option>
                                <option value="" lang="zh">风险客户</option>
                                <option value="" lang="zh">一般客户</option>
                                <option value="" lang="zh">重要客户</option>
                                <option value="" lang="zh">大客户</option>
                                <option value="" lang="zh">战略客户</option>
                            </select>
                            <span class="input-group-addon" lang="zh">客户状态</span>
                            <select class="form-control">
                                <option value="" selected lang="zh">全部</option>
                                <option value="" lang="zh">正常</option>
                                <option value="" lang="zh">失败</option>
                            </select>
                            <span class="input-group-addon" lang="zh">机会描述</span>
                            <input class="form-control" type="text" value="" />
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-primary" type="reset">重置</button>
                                <button class="btn btn-xs btn-primary" type="submit	">搜索</button>
                            </div>
                        </div>
                    </form>
                    <!--表格-->
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="sorting" lang="zh">客户编号</th>
                            <th class="sorting" lang="zh">客户全称</th>
                            <th class="sorting" lang="zh">客户简称</th>
                            <th lang="zh">国家</th>
                            <th class="sorting" lang="zh">中信保信用评级</th>
                            <th lang="zh">企业性质</th>
                            <th lang="zh">默认联系人</th>
                            <th lang="zh">邮箱</th>
                            <th lang="zh">机会描述</th>
                            <th lang="zh">状态</th>
                            <th lang="zh">创建人</th>
                            <th class="sorting" lang="zh">创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>02011010</td>
                            <td><a href="customerDetails.html" target="_blank">NUFARM</a></td>
                            <td>NUFARM</td>
                            <td lang="zh">美国</td>
                            <td>AAA</td>
                            <td lang="zh">分销商</td>
                            <td>miss</td>
                            <td>13000000000@136.com</td>
                            <td>草甘膦原药采购意向</td>
                            <td lang="zh">正常</td>
                            <td>刘凯</td>
                            <td>2016-11-11</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--分页导航-->
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="input-group">
                                <span class="input-group-addon">共<span>123</span>条记录，<span>130</span>页，跳转到第</span>
                                <input class="form-control" type="number"/>
                                <span class="input-group-addon">页</span>
                                <span class="input-group-btn">
													<button class="btn btn-xs btn-primary">跳转</button>
												</span>
                            </div>
                        </div>
                        <div class="col-xs-4 text-right pull-right">
                            <ul class="pagination table-pagination">
                                <li class="disabled"><a href="#">上一页</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="">&hellip;</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>