<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        <ul class="nav nav-tabs pull-left">
            <li><a href="${request.contextPath}/customerBaseInfo/intoCustomerBaseInfoDetails">基本信息</a></li>
            <li><a href="${request.contextPath}/customerPurchaseProduct/entrance" >市场信息</a></li>
            <li><a href="${request.contextPath}/customerLinkman/intoCustomerLinkmanList" >联系人</a></li>
            <li><a href="" >产品要求</a></li>
            <li><a href="" >订单信息</a></li>
            <li><a href="" >订单默认要求</a></li>
            <li class="active"><a href="${request.contextPath}/customerVisitRecord/intocustomerVisitRecordList" >沟通记录</a></li>
            <li><a href="" >公司别名（子公司信息）</a></li>
            <li><a href="" >关联数据</a></li>
        </ul>
        <ul class="breadcrumb pull-right">
            <li><span class="glyphicon glyphicon-map-marker"></span></li>
            <li><a href="">合作客户</a></li>
            <li class="active">{变量}</li>
        </ul>
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <button data-url="/customerLinkman/intoCustomerLinkmanAdd?customerId=" class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh" id="add" onclick="Add()">新增</button>
                        <h3 class="panel-title" lang="zh">
                            沟通记录
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!--表格-->
                        <table class="table table-condensed table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-center" lang="zh">开始时间</th>
                                <th class="text-center" lang="zh">结束时间</th>
                                <th class="text-center" lang="zh">活动类型</th>
                                <th class="text-center" lang="zh">活动地点</th>
                                <th class="text-center" lang="zh">费用(元)</th>
                                <th class="text-center" lang="zh">拜访对象</th>
                                <th class="text-center" lang="zh">礼物赠送</th>
                                <th class="text-center" lang="zh">活动摘要</th>
                            </tr>
                            </thead>
                            <tbody id="visitList">
                            <tr>
                                <td>000002</td>
                                <td><a href="customerContacts.html" target="_blank">Anna</a></td>
                                <td>销售</td>
                                <td>是</td>
                                <td>华盛顿</td>
                                <td>女</td>
                                <td>美国</td>
                                <td>13888888888</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerVisitRecordList.js"></script>
<script type="text/javascript">
    function Add(){
        var id = document.URL.split('?')[1].split('=')[1];
        var url =basePath + $('#add').attr('data-url') + id;
        console.log(url);
        window.location.href = url;
    }
</script>

