<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-10">
            <div id="basicInfo" class="panel panel-default">
                <div class="panel-heading">
                    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                        <button id="back" data-view="editHide" class="btn btn-xs btn-default" type="button" lang="zh">
                            返回
                        </button>
                        <button id="edit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary" type="button" lang="zh">
                            编辑
                        </button>
                    </div>
                    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                        <button id="cancel" data-btn="cancel" data-view="editView" class="btn btn-default hidden" type="button" lang="zh">取消</button>
                        <button id="resetBtn" data-view="editView" class="btn btn-info hidden" type="reset" lang="zh">重置</button>
                        <button id="save" data-btn="save" data-view="editView" class="btn btn-primary hidden" type="button" lang="zh">保存</button>
                    </div>
                    <h3 class="panel-title">
                        基础信息
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <form id="myForm" class="form-horizontal">
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">姓名<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control notnull" type="text" id="name" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">岗位</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="posts" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">负责区域</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="responseArea" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">是否在职<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select data-control="on" class="form-control notnull" name="items" id="onJob" disabled>
                                    <option  value="1">是</option>
                                    <option  value="0">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">性别<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select data-control="on" class="form-control notnull" disabled name="items" id="sex">
                                    <option  value="0" lang="zh">未知</option>
                                    <option  value="1" lang="zh">男</option>
                                    <option  value="1" lang="zh">女</option>
                                </select>
                            </div>
                            <label class="col-xs-1 control-label">生日</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="date" id="birthday" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">国籍</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="nationality" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">影响力情况</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="influence" disabled/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">展会习惯</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="exhibitionHabits" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">喜好</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="fancy" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">联系电话1</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="linkPhone1" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">联系电话2</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="linkPhone2" disabled/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">邮箱</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="lemail" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">饮食</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="eatingHabits" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">宗教信仰</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="faith" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">是否默认<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select data-control="on" class="form-control notnull" name="items" id="isDefault" disabled>
                                    <option  value="1">是</option>
                                    <option  value="0">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">备注</label>
                            <div class="col-xs-11">
                                <textarea data-control="on" class="form-control" rows="4" id="remarks" disabled></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-content col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        沟通记录
                    </h3>
                </div>
                <div class="panel-body">
                    <!--表格-->
                    <table class="table table-condensed table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">开始时间</th>
                            <th class="text-center" lang="zh">结束时间</th>
                            <th class="text-center" lang="zh">活动类型</th>
                            <th class="text-center" lang="zh">活动地点</th>
##                            <th class="text-center" lang="zh">费用</th>
                            <th class="text-center" lang="zh">礼物赠送</th>
                            <th class="text-center" lang="zh">活动摘要</th>
                        </tr>
                        </thead>
                        <tbody id="visitRecordsTable">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
##        <div class="tab-content col-xs-10">
##            <div class="panel-body clearfix">
##                <form class="form-horizontal">
##                    <div class="form-group">
##                        <div class="col-xs-2 col-xs-offset-4">
##                            <a class="btn btn-block btn-primary packingAdd">完成</a>
##                        </div>
##                        <div class="col-xs-2">
##                            <button class="btn btn-block btn-default" type="reset">重置</button>
##                        </div>
##                    </div>
##                </form>
##            </div>
##        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerContactsInfo.js"></script>
<script type="text/javascript">
    $('#isDefault').change(function(){
        var newName = $('#name').val();
        var id = $(this).attr('data-id');
        var url = basePath + '/customerLinkman/getCustomerLinkmanDefaultByCustomerId?customerId=' + id;

        if($(this).val() == 1){
            jQuery.ajax({
                type:"POST",
                url:url,
                success:function(result){
                    var name = result.data.name;
                    var msg = '当前默认联系人是' + name + '，更改后的联系人为' + newName;
                    alert(msg);
                }
            })
        }
    })

    // 新建Panel对象实例，绑定编辑、保存、取消事件
    var bInfo = new CRM.module.Panel('#basicInfo');
    bInfo.startEdit();
    bInfo.startSave();
    bInfo.startCancel();
    
    // 返回
    $('#back').on('click.back',function () {
        window.history.back(-1);
    })
    
    // 重置
    $('#resetBtn').on('click.reset',function () {
        $('input,textarea',$('#myForm')).val('');
    })
</script>