<div class="nav-deputy shadow-out clearfix">
   #breadcrumb()
</div>
<!--tab内容-->
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">
                        地区分类
                    </h3>
                </div>
                <div class="panel-body tree-container clearfix">
                    <!--树形菜单-->
                    <div class="zTreeDemoBackground left">
                        <ul id="areaTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 tab-content">
            <div id="cooperative" class="tab-pane fade in active">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="sTitle" class="panel-title" lang="zh">流失客户列表</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <!--搜索&筛选控件-->
                        <div class="form-horizontal">
                            <div class="col-xs-12">
                                <form class="form-group" onkeypress="stopFormSubmit(event)">
                                    <div class="input-group">
                                        <span class="input-group-addon" lang="zh">客户全称</span>
                                        <input class="form-control" type="text" id="fullName" value="" />
                                        <span class="input-group-addon" lang="zh">企业性质</span>
                                        <select class="form-control" id="enterpriseNature">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">加工厂</option>
                                            <option value="2" lang="zh">分销商</option>
                                            <option value="3" lang="zh">经销商</option>
                                            <option value="4" lang="zh">终端客户</option>
                                            <option value="5" lang="zh">其他</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh" >信用评级</span>
                                        <select class="form-control" id="zhongxinbaoLevel">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">A</option>
                                            <option value="2" lang="zh">AA</option>
                                            <option value="3" lang="zh">AAA</option>
                                            <option value="4" lang="zh">AAAA</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh">客户级别</span>
                                        <select class="form-control" id="customerLevel">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">战略客户</option>
                                            <option value="2" lang="zh">大客户</option>
                                            <option value="3" lang="zh">重要客户</option>
                                            <option value="4" lang="zh">一般客户</option>
                                            <option value="5" lang="zh">风险客户</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh" >客户状态</span>
                                        <select class="form-control" id="customerStatus">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">正常</option>
                                            <option value="0" lang="zh">易流失</option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button id="resetBtn" class="btn btn-xs btn-default" type="reset" lang="zh">重置</button>
                                            <button class="btn btn-xs btn-primary" id="submit" type="button" lang="zh">搜索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!--表格-->
                        <table class="table text-center table-condensed table-bordered table-striped">
                            <caption class="text-right" lang="zh">金额单位：万元</caption>
                            <thead>
                            <tr>
                                <th class="text-center" lang="zh">编号</th>
                                <th class="text-center" lang="zh">客户编号</th>
                                <th class="text-center" lang="zh">客户全称</th>
                                <th class="text-center" lang="zh">客户简称</th>
                                <th class="text-center" lang="zh">国家</th>
                                <th class="text-center" lang="zh">客户级别</th>
                                <th class="text-center" lang="zh">信用评级</th>
                                <th class="text-center" lang="zh">开始合作时间</th>
                                <th class="text-center" lang="zh">合作时间</th>
                                <th class="text-center" lang="zh">活跃周期</th>
                                <th class="text-center" lang="zh">合同总金额</th>
                                <th class="text-center" lang="zh">已回款金额</th>
                                <th class="text-center" lang="zh">总最低销售限价</th>
                                <th class="text-center" lang="zh">总维护费用</th>
                                <th class="text-center" lang="zh">净利润</th>
                                <th class="text-center" lang="zh">客户状态</th>
                                <th class="text-center" lang="zh">业务员</th>
                                <th class="text-center" lang="zh">流失原因分析</th>
                            </tr>
                            </thead>
                            <tbody id="append_container"></tbody>
                        </table>
                        <div id="pagination" class="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--详情模态框-->
<div class="modal fade" id="details" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <!--表格-->
                <table class="table table-condensed table-bordered text-center table-pagination">
                    <caption class="text-right" lang="zh">单位：万元</caption>
                    <thead>
                    <tr>
                        <th class="text-center" lang="zh">产品名称</th>
                        <th class="text-center" lang="zh">产品种类</th>
                        <th class="text-center" lang="zh">总销售量</th>
                        <th class="text-center" lang="zh">总销售额</th>
                        <th class="text-center" lang="zh">总最低销售限价</th>
                        <th class="text-center" lang="zh">总利润</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="customerType" value="${customerType}" />
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript">

var pagesize = 4; // 分页步长
var areaTreeData = []; // 保存树的数据
var customerLevelList = ['战略客户','大客户' ,'重要客户' ,'一般客户' ,'风险客户'];
var areaId = ''; // 地区id

$(function(){

    // 请求树的数据
    jQuery.ajax({
        url:basePath+'/customerBaseInfo/initAreaCategoryTree',
        type:'GET'
    }).done(function (res) {

        // 将数据赋值给外部变量，方便搜索时处理数据
        areaTreeData=[{
            pkAreacl : '9',
            pkFatherarea : '~',
            name : '全部'
        }];
        areaTreeData.push.apply(areaTreeData,res.data);

        renderAreaTree(areaTreeData,areaTreeDblHandler,$('#areaTree')); // 渲染树
    });

    // 搜索按钮绑定事件
    $("#submit").click(function(){

        serach();
    });

    // 初始化分页插件并渲染第一页数据
    serach();

    // 点击重置按钮重置areaId
    $('#resetBtn').on('click',function () {

        areaId = '';
    });

    // 点击合同金额弹出合同总金额模态
    $(document).on('click.pop','a[name="totalMoney"]',function (e) {
        var customerId = $(e.target).data('val');

        jQuery.ajax({
            url:basePath + '/customerBaseInfo/showCustomerOrderProductDetail',
            dataType:'json',
            data:{
                customerId: customerId
            },
            async:true,
            type:'POST'
        }).done(function (res) {
            renderModal(res.data,$('#details').find('tbody')); // 将数据渲染到modal的表中
            $('#details').modal('show'); // 打开modal
        });
    });

});




    /**
     *以下是逻辑处理和数据处理函数
     */
    // 渲染客户基本分类树
    function renderAreaTree (data,callback,el) {
        var setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "pkAreacl",
                            pIdKey: "pkFatherarea",
                            rootPId: '~'
                        }
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onClick: callback
                    }
                },
                id = el.attr('id'),
                treeObj = null;

        $.fn.zTree.init(el, setting, data);
        treeObj = $.fn.zTree.getZTreeObj('areaTree');
        treeObj.expandNode(treeObj.getNodes()[0],true);
    };

    // 地区树添加单击事件
    function areaTreeDblHandler (event, modLeftId, treeNode) {

        // 遍历子节点函数
        function smarty(node) {

            $.each(node,function (i,item) {
                if (!item.isParent) { // 不是父节点，将他的id添加到数组

                    arr.push(item.pkAreacl);
                    return true;
                }else { // 是父节点则继续遍历他的子节点

                    smarty(item.children);
                }
            });
        }


        if (treeNode.pkAreacl!='9'){

            var treeObj = $.fn.zTree.getZTreeObj('areaTree'),
                    sNodes = treeObj.getSelectedNodes(); // 选中的节点集合

            if (sNodes.length > 0) {

                if (sNodes[0].isParent) { // 当前节点是父节点则取出他的所有子节点

                    var arr = [],
                            nodes = sNodes[0].children;

                    arr.push(treeNode.pkAreacl);

                    smarty(nodes);

                    areaId = '\''+ arr.join('\',\'') + '\'';

                } else {

                    areaId = treeNode.pkAreacl;
                }
            }
        }else {

            areaId = '';
        }
//        console.log(treeObj.getNodes()[0]);
        serach();
    }

    // 搜索列表并渲染
    function serach(){

        // 获取参数
        var data = collectArgs();

        getDataList(0,pagesize,rederLiset); // 初始化第一页数据

        // 获取总的条数
        getListCount(data,function (total) {

            // 渲染分页
            rederPaging(total,pagesize,function (pageNum,jq) {

                // 获取列表数据
                getDataList(pageNum,pagesize);
            })
        })

    }

    // 收集提交参数
    function collectArgs() {
        var obj={
            customerType:$("#customerType").val(),
            areaId:areaId,
            fullName:$("#fullName").val(),
            enterpriseNature:$("#enterpriseNature").val(),
            zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
            customerLevel:$("#customerLevel").val(),
            customerStatus:$("#customerStatus").val()
        }
        return obj;
    }

    // 获取列表数据条目总数
    function getListCount(data,callback){
        var total = 0;
        jQuery.ajax({
            url:basePath + '/customerBaseInfo/countCustomerList',
            dataType:'JSON',
            data:data,
            async:true,
            type:'POST'
        }).done(function (res) {
            total = res.data;
            callback(total);
        });
    }

    // 渲染分页插件
    function rederPaging(total,pageSize,callback) {

        $("#pagination").pagination(total,{
            items_per_page : pageSize,
            num_edge_entries : 3,
            num_display_entries : 10,
            callback:callback
        });
    }

    // 根据页码获取列表数据
    function getDataList(pageNum,pageSize,callback) {
        jQuery.ajax({
            url:basePath + '/customerBaseInfo/queryCustomerPageList',
            dataType:'json',
            data:{
                customerType:$("#customerType").val(),
                areaId:areaId,
                fullName:$("#fullName").val(),
                enterpriseNature:$("#enterpriseNature").val(),
                zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
                customerLevel:$("#customerLevel").val(),
                customerStatus:$("#customerStatus").val(),
                startRow:pageNum*pageSize,
                pageSize:pageSize
            },
            async:true,
            type:'POST'
        }).done(function (res) {

            // 渲染列表
            rederLiset(res,pageNum);
        });
    }

    // 渲染列表
    function rederLiset(data,pageNum){
        var list = data.data,
                _html = '',
                count = pageNum*pagesize;

        if(list && list!='' && list!='null'){
            for(var i=0;i<list.length;i++){
                var customer = list[i];
                _html += '<tr>';
                _html += '<td>'+(++count)+'</td>'
                _html += '<td>' + customer.customerId + '</td>';
                _html += '<td><a href="'+basePath+'/customerBaseInfo/intoCustomerBaseInfoDetails?customerType=3&customerId='+customer.customerId+'" target="_blank">' + customer.fullName + '</a></td>';
                _html += '<td>' + (customer.shortName!=undefined?customer.shortName:'') + '</td>';
                _html += '<td lang="zh">' + (customer.country!=undefined?customer.country:'') + '</td>';
                _html += '<td lang="zh">' + (customer.customerLevel!=undefined?customerLevelList[customer.customerLevel - 1]:'') + '</td>';
                _html += '<td>' + (customer.zhongxinbaoLevel!=undefined?customer.zhongxinbaoLevel:'') + 'A</td>';
                _html += '<td>' + (customer.startCooperationTime!=undefined?customer.startCooperationTime:'') + '</td>';
                _html += '<td lang="zh">' + (customer.cooperationDuration!=undefined?customer.cooperationDuration:'') + '</td>';
                _html += '<td lang="zh">' + (customer.activePeriod!=undefined?customer.activePeriod:'') + '</td>';
                _html += '<td><a href="#" name="totalMoney" data-val="'+customer.customerId+'">' + (customer.totalMoney!=undefined?customer.totalMoney:'') + '</a></td>';
                _html += '<td>' + (customer.payMoney!=undefined?customer.payMoney:'') + '</td>';
                _html += '<td>' + (customer.minPrice!=undefined?customer.minPrice:'') + '</td>';
                _html += '<td>' + (customer.maintenanceFee!=undefined?customer.maintenanceFee:'') + '</td>';
                _html += '<td>' + (customer.netProfit!=undefined?customer.netProfit:'') + '</td>';
                _html += '<td lang="zh">' + (customer.customerStatus == 0 ? "易流失" : "正常") + '</td>';
                _html += '<td>' + (customer.lastmodifyUserName!=undefined?customer.lastmodifyUserName:'') + '</td>';
                _html += '<td>' + (customer.lossReason!=undefined?customer.lossReason:'') + '</td>';
                _html += '</tr>';
            }
        }
        $("#append_container").html(_html);
    }

    // 渲染模态
    function renderModal(data,el) {

        if (data instanceof Array) {

            var _html=''
            jQuery.each(data,function (n,item) {

                _html += '<tr><td>'+item.productName+'</td>';
                _html += '<td>'+item.categoryName+'</td>'
                _html += '<td>'+item.totalSaleNum+'</td>';
                _html += '<td>'+item.totalSaleMoney+'</td>';
                _html += '<td>'+item.totalMinPrice+'</td>';
                _html += '<td>'+item.totalProfit+'</td></tr>';

                el.html(_html);
            })
        }else{

            _html = '<tr><td colspan="6">暂无数据</td></tr>';
            el.html(_html);
        }
    }
</script>