<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="tab-content col-xs-10">
            <div id="basicInfo" class="panel panel-default">
                <div class="panel-heading">
                    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                        <button id="back" data-view="editHide" class="btn btn-xs btn-default" type="button" lang="zh">
                            返回
                        </button>
                        <button id="edit" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary" type="button" lang="zh">
                            编辑
                        </button>
                    </div>
                    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                        <button id="cancel" data-btn="cancel" data-view="editView" class="btn btn-default hidden" type="button" lang="zh">取消</button>
                        <button id="resetBtn" data-view="editView" class="btn btn-info hidden" type="reset" lang="zh">重置</button>
                        <button id="save" data-btn="save" data-view="editView" class="btn btn-primary hidden" type="button" lang="zh">保存</button>
                    </div>
                    <h3 class="panel-title">
                        基础信息
                    </h3>
                </div>
                <div class="panel-body clearfix">
                    <form id="myForm" class="form-horizontal">
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">姓名<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control notnull" type="text" id="name" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">岗位</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="posts" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">负责区域</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="responseArea" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">是否在职<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select data-control="on" class="form-control notnull" name="items" id="onJob" disabled>
                                    <option  value="1">是</option>
                                    <option  value="0">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">性别<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select data-control="on" class="form-control notnull" disabled name="items" id="sex">
                                    <option  value="0" lang="zh">保密</option>
                                    <option  value="1" lang="zh">男</option>
                                    <option  value="1" lang="zh">女</option>
                                </select>
                            </div>
                            <label class="col-xs-1 control-label">生日</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="date" id="birthday" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">国籍</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="nationality" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">影响力情况</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="influence" disabled/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">展会习惯</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="exhibitionHabits" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">喜好</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="fancy" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">联系电话1</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="linkPhone1" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">联系电话2</label>
                            <div class="col-xs-2">
                                <input data-control="on" data-control="on" type="text" class="form-control" id="linkPhone2" disabled/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">邮箱</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="lemail" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">饮食</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="eatingHabits" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">宗教信仰</label>
                            <div class="col-xs-2">
                                <input data-control="on" class="form-control" type="text" id="faith" disabled/>
                            </div>
                            <label class="col-xs-1 control-label">是否默认<sup data-view="editView" class="not-null hidden">*</sup></label>
                            <div class="col-xs-2">
                                <select data-control="on" class="form-control notnull" name="items" id="isDefault" disabled>
                                    #if($!{isDefault}==0)
                                        <option  value="1">是</option>
                                        <option  value="0" selected>否</option>
                                    #else
                                        <option  value="1" selected>是</option>
                                    #end
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-1 control-label">备注</label>
                            <div class="col-xs-11">
                                <textarea data-control="on" class="form-control" rows="4" id="remarks" disabled></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-content col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-primary panel-heading-btn pull-right" id="add" data-toggle="modal" data-target="#addField" type="button" lang="zh">新增沟通记录</button>
                    <h3 class="panel-title">
                        沟通记录
                    </h3>
                </div>
                <div class="panel-body">
                    <!--表格-->
                    <table class="table table-condensed table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">开始时间</th>
                            <th class="text-center" lang="zh">结束时间</th>
                            <th class="text-center" lang="zh">活动类型</th>
                            <th class="text-center" lang="zh">活动地点</th>
                            <th class="text-center" lang="zh">礼物赠送</th>
                            <th class="text-center" lang="zh">活动摘要</th>
                            <th class="text-center" lang="zh">备注</th>
                            <th class="text-center" lang="zh">详情</th>
                        </tr>
                        </thead>
                        <tbody id="visitRecordsTable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

## 新增沟通记录modal
<div class="modal fade" id="addField" tabindex="-1" data-backdrop="static" aria-hidden="true" data-keyboard="true" >
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body clearfix">
                            <div class="form-horizontal">
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">开始时间<sup class="not-null">*</sup></label>
                                    <div class="col-xs-4">
                                        <input class="form-control" type="date" id="startTime" />
                                    </div>
                                    <label class="col-xs-2 control-label">结束时间</label>
                                    <div class="col-xs-4">
                                        <input class="form-control" type="date" id="endTime"/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">活动地点</label>
                                    <div class="col-xs-4">
                                        <input class="form-control" type="text" id="activityAddress"/>
                                    </div>
                                    <label class="col-xs-2 control-label">费用<sup class="not-null">*</sup></label>
                                    <div class="col-xs-4">
                                        <div class="input-group">
                                            <input class="form-control" type="number" min="0" id="activityExpense"/>
                                            <span class="input-group-addon">元</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">活动类型<sup class="not-null">*</sup></label>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="items" id="activityType">
                                            <option  value="0">远程沟通</option>
                                            <option  value="1">出差拜访</option>
                                            <option  value="2">展会邀请</option>
                                            <option  value="3">工厂参观</option>
                                            <option  value="4">商务宴请</option>
                                            <option  value="5">其他(备注内容)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <input class="form-control hidden" type="text" id="activityRemarks" placeholder="请输入活动类型" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">姓名</label>
                                    <div class="col-xs-10">
                                        <table class="table table-condensed table-bordered table-striped text-center">
                                            <thead>
                                            <tr>
                                                <th class="text-center col-xs-2" lang="zh">
                                                    <input name="checkAll" id="checkAll" type="checkbox">是否拜访
                                                </th>
                                                <th class="text-center col-xs-2" lang="zh">联系人</th>
                                                <th class="text-center col-xs-4" lang="zh">赠送礼物</th>
                                                <th class="text-center col-xs-4" lang="zh">备注</th>
                                            </tr>
                                            </thead>
                                            <tbody name="modalContactList" id="modalContactList"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">活动摘要</label>
                                    <div class="col-xs-10">
                                        <textarea class="form-control" rows="4" id="activitySummary"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <a type="button" class="btn btn-primary btn-block" id="addVisit">
                            完成
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

## 查看详情modal
<div class="modal fade" id="editField" tabindex="-1" data-backdrop="static" aria-hidden="true" data-keyboard="true" >
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body ">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body clearfix">
                            <form class="form-horizontal" id="editForm">
                                <input name="visitrecordId" type="hidden">
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">开始时间<sup class="not-null hidden" data-view="editView">*</sup></label>
                                    <div class="col-xs-4">
                                        <input class="form-control" name="startTime" data-control="on" disabled type="date" />
                                    </div>
                                    <label class="col-xs-2 control-label">结束时间</label>
                                    <div class="col-xs-4">
                                        <input class="form-control" name="endTime" data-control="on" disabled type="date"/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">活动地点</label>
                                    <div class="col-xs-4">
                                        <input class="form-control" name="activityAddress" data-control="on" disabled type="text"/>
                                    </div>
                                    <label class="col-xs-2 control-label">费用<sup class="not-null hidden" data-view="editView">*</sup></label>
                                    <div class="col-xs-4">
                                        <div class="input-group">
                                            <input class="form-control" name="activityExpense" data-control="on" disabled type="number" min="0"/>
                                            <span class="input-group-addon">元</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">活动类型<sup class="not-null hidden" data-view="editView">*</sup></label>
                                    <div class="col-xs-4">
                                        <select class="form-control" name="activityType" data-control="on" disabled>
                                            <option  value="0">远程沟通</option>
                                            <option  value="1">出差拜访</option>
                                            <option  value="2">展会邀请</option>
                                            <option  value="3">工厂参观</option>
                                            <option  value="4">商务宴请</option>
                                            <option  value="5">其他(备注内容)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <input class="form-control hidden" name="activityRemarks" data-control="on" disabled type="text" placeholder="请输入活动类型"/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-xs-2 control-label">姓名</label>
                                    <div class="col-xs-10">
                                        <table class="table table-condensed table-bordered table-striped text-center">
                                            <thead>
                                            <tr>
                                                <th class="text-center col-xs-2" lang="zh"><input name="checkAll" data-control="on" disabled type="checkbox">是否拜访</th>
                                                <th class="text-center col-xs-2" lang="zh">联系人</th>
                                                <th class="text-center col-xs-4" lang="zh">赠送礼物</th>
                                                <th class="text-center col-xs-4" lang="zh">备注</th>
                                            </tr>
                                            </thead>
                                            <tbody name="modalContactList"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">活动摘要<sup class="not-null hidden" data-view="editView">*</sup></label>
                                    <div class="col-xs-10">
                                        <textarea class="form-control" name="activitySummary" data-control="on" disabled rows="4"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3 col-xs-offset-3">
                            <button class="btn btn-primary btn-block hidden" id="editVisit" data-btn="save" data-view="editView" type="button">
                                完成
                            </button>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-default btn-block hidden" data-btn="cancel" data-view="editView" type="button">
                                取消
                            </button>
                        </div>
                        <div class="col-xs-3 ">
                            <button type="button" class="btn btn-primary btn-block" data-btn="edit" data-view="editHide">
                                编辑
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="customerId" type="hidden" value='$!{customerId}'>
<input id="customerType" type="hidden" value='$!{customerType}'>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerContactsInfo.js"></script>
