<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #deputyNav(6)
        <ul class="breadcrumb pull-right">
            <li><span class="glyphicon glyphicon-map-marker"></span></li>
            <li><a href="">合作客户</a></li>
            <li class="active">{变量}</li>
        </ul>
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <!--导航-->
            #orderRequestNav(1)
            <div class="col-xs-10">
                <!--单据要求-->
                <div class="panel panel-default view-HD-md">
                    <div class="panel-heading">
                        <div class="input-group panel-heading-btn col-xs-4 pull-right">
                            <span class="input-group-addon" lang="zh">产品种类</span>
                            <select id="name" class="form-control"></select>
                        </div>
                        <h3 class="panel-title" lang="zh">
                            单据要求
                        </h3>
                    </div>
                    <div class="panel-body panel-edit">
                        <table class="table table-condensed table-bordered table-striped text-right">
                            <tbody>
                            <tr>
                                <td class="col-xs-4" lang="zh"><label for="">出具海运提单</label></td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="oceanBillOfLading" type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-4" lang="zh">出具货运提单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="freightBillOfLading" type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td lang="zh">是否需要发票</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="invoice" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要箱单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="packingLise" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要质检单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-2">
                                        <label><input id="qualityPolicy" type="checkbox" /></label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input id="qualityPolicyTxt" type="text" class="form-control" placeholder="请输入公司抬头">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td lang="zh">是否需要保单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="warranty" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否出COO</td>
                                <td class="text-left">
                                    <div class=" col-xs-2">
                                        <label class="checkbox-inline"><input name="coo" type="checkbox" value="CIATB"/>商检局</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="radio-inline"><input name="CIATB" type="radio" value="a"/>FORM A</label>
                                        <label class="radio-inline"><input name="CIATB" type="radio" value="e"/>FORM E</label>
                                        <label class="radio-inline"><input name="CIATB" type="radio" value="p"/>FORM P</label>
                                        <label class="radio-inline"><input name="CIATB" type="radio" value="au"/>FORM AU</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <label class="checkbox-inline" style="padding-top: 3px"><input name="coo" type="checkbox" value="CCPIT"/>贸促会</label>
                                    </div>
                                    <div class="col-xs-2">
                                        <label class="checkbox-inline" style="padding-top: 3px"><input name="coo" type="checkbox" value="general" />普通</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input id="general" class="form-control" type="text" placeholder="请输入公司抬头"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td lang="zh">是否需要危包证</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="dangerousPackage" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要受益人证明</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="favoree" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否出熏蒸证书</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="fumigation" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要MSDS</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="MSDS" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">提单是否电放</td>
                                <td class="form-group text-left">
                                    <div class="checkbox col-xs-2">
                                        <label><input name="telexRelease" type="checkbox" value="0" /><span lang="zh">直接电放</span></label>
                                    </div>
                                    <div class="checkbox col-xs-3">
                                        <label><input name="telexRelease" type="checkbox" value="1" /><span lang="zh">正本出后电放</span></label>
                                    </div>
                                    <div class="col-xs-4"><input id="telexReleaseTxt" class="form-control" type="text" value="" placeholder="输入放单目的港" lang="zh" /></div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要银行交单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="tenderDocument" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要做第三方检测，并出具检测报告</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="examiningReport" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要Packing Declaration</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="packingDeclaration" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要Import Container Weight Declaration</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="ICWD" type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>是否需要Manufacturer's Certificate</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input id="MC" type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-2" lang="zh">其他单据要求</label>
                                <div class="col-xs-10">
                                    <textarea id="otherDocumentaryRequire" class="form-control" rows="3" placeholder="多个单据请以（、）隔开" lang="zh"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="customerId" type="hidden" value='${customerId}'>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
##<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerOrderRequire.js"></script>
<script>
    $(function () {
        var orderData;                                 //定义获取的数据
        var optionNames = '';                          //定义产品种类集合
        var newData = [];                              //定义新数据
        var name = $('#name');                         //定义产品种类select控件
        var documentaryType = $('documentaryType');    //定义单据类型select控件
        //为获取的数据赋值
        jQuery.ajax({
            url:'${request.contextPath}/customerBaseInfoOrderRequire/getBillRequireList',
            type:'POST',
            data:GetRequest(),
            async:false
        }).done(function (result) {
            orderData = result.data;
        }).fail(function(result){
            console.log('error:'+result.status);
        });
        //console.log(orderData);
        //为新数据、产品种类、单据类型赋值
        jQuery.each(orderData,function (n,item) {
            var obj = {};
            obj.name = item.name;
            obj.productId = item.productId;
            obj.documentaryRequire = item.documentaryRequire;
            obj.otherDocumentaryRequire = item.otherDocumentaryRequire;
            obj.shippingAgentRequire = item.shippingAgentRequire;
            obj.packageRequire = item.packageRequire;
            obj.goodsType = obj.goodsType;
            obj.mianxiangqi = obj.mianxiangqi;
            obj.miantuiqi = obj.miantuiqi;
            optionNames += '<option value="'+item.productId+'">'+item.name+'</option>';
            newData.push(obj);
        });
        //渲染产品种类select
        name.append(optionNames);
        //渲染单据类型select
        var obj = {};
        obj.productId = name.val();
        screenData(obj,newData,customerBillRequire);
        $(document).on('change.screen','#name',function () {
            var obj = {};
            obj.productId = name.val();
            screenData(obj,newData,customerBillRequire);
        });

//        $(document).('click.exclusion','[name="coo"]',function () {
//            var allCh = $('input').filter('[name="coo"]');
//            var theEl = $(this);
//            allCh.prop('checked',false);
//            theEl.prop('checked',true);
//        })
    })

</script>


