<div class="nav-deputy shadow-out clearfix">
    #breadcrumb()
</div>
<!--tab内容-->
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">
                        地区分类
                    </h3>
                </div>
                <div class="panel-body tree-container clearfix">
                    <!--树形菜单-->
                    <div class="zTreeDemoBackground left">
                        <ul id="areaTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 tab-content">
            <div id="cooperative" class="tab-pane fade in active">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="${request.contextPath}/customerBaseInfo/intoCustomerBaseInfoDetails?customerType=2" target="_blank" class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh">新增</a>
                        <h3 id="sTitle" class="panel-title" lang="zh">潜在客户列表</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <!--搜索&筛选控件-->
                        <div class="form-horizontal">
                            <div class="col-xs-12">
                                <form class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" lang="zh">客户全称</span>
                                        <input class="form-control" type="text" id="fullName" value="" />
                                        <span class="input-group-addon" lang="zh">企业性质</span>
                                        <select class="form-control" id="enterpriseNature">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">加工厂</option>
                                            <option value="2" lang="zh">分销商</option>
                                            <option value="3" lang="zh">经销商</option>
                                            <option value="4" lang="zh">终端客户</option>
                                            <option value="5" lang="zh">其他</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh" >信用评级</span>
                                        <select class="form-control" id="zhongxinbaoLevel">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">A</option>
                                            <option value="2" lang="zh">AA</option>
                                            <option value="3" lang="zh">AAA</option>
                                            <option value="4" lang="zh">AAAA</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh" >客户状态</span>
                                        <select class="form-control" id="customerStatus">
                                            <option value="" selected lang="zh">全部</option>
                                            <option value="1" lang="zh">正常</option>
                                            <option value="0" lang="zh">易流失</option>
                                        </select>
                                        <span class="input-group-addon" lang="zh">机会描述</span>
                                        <input class="form-control" type="text" id="opportunityDescrible" value="" />
                                        <div class="input-group-btn">
                                            <button id="resetBtn" class="btn btn-xs btn-default" type="reset" lang="zh">重置</button>
                                            <button class="btn btn-xs btn-primary" id="submit" type="button" lang="zh">搜索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--表格-->
                        <table class="table text-center table-condensed table-bordered table-striped">
                            <caption class="text-right" lang="zh">金额单位：万元</caption>
                            <thead>
                            <tr>
                                <th class="text-center" lang="zh">编号</th>
                                <th class="text-center" lang="zh">客户编号</th>
                                <th class="text-center" lang="zh">客户全称</th>
                                <th class="text-center" lang="zh">客户简称</th>
                                <th class="text-center" lang="zh">国家</th>
                                <th class="text-center" lang="zh">信用评级</th>
                                <th class="text-center" lang="zh">企业性质</th>
                                <th class="text-center" lang="zh">默认联系人</th>
                                <th class="text-center" lang="zh">邮箱</th>
                                <th class="text-center" lang="zh">机会描述</th>
                                <th class="text-center" lang="zh">状态</th>
                                <th class="text-center" lang="zh">创建人</th>
                                <th class="text-center" lang="zh">创建时间</th>
                            </tr>
                            </thead>
                            <tbody id="append_container">
                            </tbody>
                        </table>
                        <div id="pagination" class="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--详情模态框-->
<div class="modal fade" id="details" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="customerType" value="${customerType}" />
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript">

    var pagesize = 4; // 分页步长
    var areaTreeData = []; // 保存树的数据
    var cusType = ['潜在' ,'合作' ,'流失'];
    var areaId = ''; // 地区id

    $(function(){

        // 请求树的数据
        jQuery.ajax({
            url:basePath+'/customerBaseInfo/initAreaCategoryTree',
            type:'GET'
        }).done(function (res) {

            // 将数据赋值给外部变量，方便搜索时处理数据
            areaTreeData=[{
                pkAreacl : '9',
                pkFatherarea : '~',
                name : '全部'
            }];
            areaTreeData.push.apply(areaTreeData,res.data);

            renderAreaTree(areaTreeData,areaTreeDblHandler,$('#areaTree')); // 渲染树
        });

        // 搜索按钮绑定事件
        $("#submit").click(function(){

            serach();
        });

        // 初始化分页插件并渲染第一页数据
        serach();

        // 点击重置按钮重置areaId
        $('#resetBtn').on('click',function () {

            areaId = '';
        });
    });




    /**
     *以下是逻辑处理和数据处理函数
     */
    // 渲染客户基本分类树
    function renderAreaTree (data,callback,el) {
        var setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "pkAreacl",
                            pIdKey: "pkFatherarea",
                            rootPId: '~'
                        }
                    },
                    edit: {
                        enable: false
                    },
                    callback: {
                        onClick: callback
                    }
                },
                id = el.attr('id'),
                treeObj = null;

        $.fn.zTree.init(el, setting, data);
        treeObj = $.fn.zTree.getZTreeObj('areaTree');
        treeObj.expandNode(treeObj.getNodes()[0],true);
    };

    // 地区树添加单击事件
    function areaTreeDblHandler (event, modLeftId, treeNode) {

        // 遍历子节点函数
        function smarty(node) {

            $.each(node,function (i,item) {
                if (!item.isParent) { // 不是父节点，将他的id添加到数组

                    arr.push(item.pkAreacl);
                    return true;
                }else { // 是父节点则继续遍历他的子节点

                    smarty(item.children);
                }
            });
        }


        if (treeNode.pkAreacl!='9'){

            var treeObj = $.fn.zTree.getZTreeObj('areaTree'),
                    sNodes = treeObj.getSelectedNodes(); // 选中的节点集合

            if (sNodes.length > 0) {

                if (sNodes[0].isParent) { // 当前节点是父节点则取出他的所有子节点

                    var arr = [],
                            nodes = sNodes[0].children;

                    arr.push(treeNode.pkAreacl);

                    smarty(nodes);

                    areaId = '\''+ arr.join('\',\'') + '\'';

                } else {

                    areaId = treeNode.pkAreacl;
                }
            }
        }else {

            areaId = '';
        }
//        console.log(treeObj.getNodes()[0]);
        serach();
    }

    // 搜索列表并渲染
    function serach(){

        // 获取参数
        var data = collectArgs();

        getDataList(0,pagesize,rederLiset); // 初始化第一页数据

        // 获取总的条数
        getListCount(data,function (total) {

            // 渲染分页
            rederPaging(total,pagesize,function (pageNum,jq) {

                // 获取列表数据
                getDataList(pageNum,pagesize);
            })
        })

    }

    // 收集提交参数
    function collectArgs() {
        var obj={
            customerType:$("#customerType").val(),
            areaId:areaId,
            fullName:$("#fullName").val(),
            enterpriseNature:$("#enterpriseNature").val(),
            zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
            opportunityDescrible:$("#opportunityDescrible").val(),
            customerStatus:$("#customerStatus").val()
        }
        return obj;
    }

    // 获取列表数据条目总数
    function getListCount(data,callback){
        var total = 0;
        jQuery.ajax({
            url:basePath + '/customerBaseInfo/countCustomerList',
            dataType:'JSON',
            data:data,
            async:true,
            type:'POST'
        }).done(function (res) {
            total = res.data;
            callback(total);
        });
    }

    // 渲染分页插件
    function rederPaging(total,pageSize,callback) {

        $("#pagination").pagination(total,{
            items_per_page : pageSize,
            num_edge_entries : 3,
            num_display_entries : 10,
            callback:callback
        });
    }

    // 根据页码获取列表数据
    function getDataList(pageNum,pageSize,callback) {
        jQuery.ajax({
            url:basePath + '/customerBaseInfo/queryCustomerPageList',
            dataType:'json',
            data:{
                customerType:$("#customerType").val(),
                areaId:areaId,
                fullName:$("#fullName").val(),
                enterpriseNature:$("#enterpriseNature").val(),
                zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
                opportunityDescrible:$("#opportunityDescrible").val(),
                customerStatus:$("#customerStatus").val(),
                startRow:pageNum*pageSize,
                pageSize:pageSize
            },
            async:true,
            type:'POST'
        }).done(function (res) {

            // 渲染列表
            rederLiset(res,pageNum);
        });
    }

    // 渲染列表
    function rederLiset(data,pageNum){
        var list = data.data,
                _html = '',
                count = pageNum*pagesize;

        if(list && list!='' && list!='null'){
            for(var i=0;i<list.length;i++){
                var customer = list[i];
                _html += '<tr>';
                _html += '<td>'+(++count)+'</td>'
                _html += '<td>' + customer.customerId + '</td>';
                _html += '<td><a href='+basePath+'"/customerBaseInfo/intoCustomerBaseInfoDetails?customerType=2&customerId='+customer.customerId+'" target="_blank">' + customer.fullName + '</a></td>';
                _html += '<td>' + (customer.shortName!=undefined?customer.shortName:'') + '</td>';
                _html += '<td lang="zh">' + (customer.country!=undefined?customer.country:'') + '</td>';
                _html += '<td>' + (customer.zhongxinbaoLevel!=undefined?customer.zhongxinbaoLevel:'') + 'A</td>';
                _html += '<td>' + (customer.fullEnterpriseNature!=undefined?customer.fullEnterpriseNature:'') + '</td>';
                _html += '<td lang="zh">' + (customer.linkManName!=undefined?customer.linkManName:'') + '</td>';
                _html += '<td lang="zh">' + (customer.linkManEmail!=undefined?customer.linkManEmail:'') + '</td>';
                _html += '<td lang="zh">' + (customer.opportunityDescrible!=undefined?customer.opportunityDescrible:'') + '</td>';
                _html += '<td lang="zh">' + (customer.customerType!=undefined?cusType[customer.customerType-1]:'') + '</td>';
                _html += '<td>' + (customer.createUserName!=undefined?customer.createUserName:'') + '</td>';
                _html += '<td>' + (customer.createTime!=undefined?customer.createTime:'') + '</td>';
                _html += '</tr>';
            }
        }
        $("#append_container").html(_html);
    }

</script>