<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #deputyNav(1)
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <!--客户基本信息-->
                <div id="cbInfo" class="panel panel-default panel-edit view-HD-lg">
                    <div class="panel-heading">
                        <div id="funBtn"></div>
                        <h3 id="sTitle" class="panel-title" lang="zh">
                            基本信息
                        </h3>
                    </div>
                    <div class="panel-body clearfix">
                        <form id="myForm" class="form-horizontal">
                            <div class="form-group">
                                <label for="customerId" class="control-label col-xs-1" lang="zh">客户编号</label>
                                <div class="col-xs-2">
                                    <input id="customerId" name="customerId" class="form-control" disabled type="text" value="" />
                                </div>
                                <label for="fullName" class="control-label col-xs-1" lang="zh">客户全称<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input id="fullName" data-control="off" disabled name="fullName" class="form-control" type="text" value=""/>
                                </div>
                                <label for="shortName" class="control-label col-xs-1" lang="zh">客户简称</label>
                                <div class="col-xs-2">
                                    <input id="shortName" data-control="off" disabled name="shortName" class="form-control" type="text" value="" />
                                </div>
                                <label for="areaId" class=" control-label col-xs-1" lang="zh">地区分类<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="areaId" data-val="" data-control="off" disabled name="areaId" class="form-control">
                                        <div class="input-group-btn">
                                            <button id="aISearch" class="btn btn-xs btn-default" data-control="on" type="button" data-toggle="modal" data-target="#cbtModal"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zhongxinbaoNumber" class="control-label col-xs-1" lang="zh">中信保编码</label>
                                <div class="col-xs-2">
                                    <input id="zhongxinbaoNumber" data-control="off" disabled name="zhongxinbaoNumber" class="form-control" type="text" value="" />
                                </div>
                                <label for="zhongxinbaoLevel" class="control-label col-xs-1" lang="zh">信用评级<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <select id="zhongxinbaoLevel" data-control="off" disabled name="zhongxinbaoLevel" class="form-control">
                                            <option value="" lang="zh">——请选择——</option>
                                            <option value="1">A</option>
                                            <option value="2">AA</option>
                                            <option value="3">AAA</option>
                                            <option value="4">AAAA</option>
                                        </select>
                                        <span class="input-group-addon"><a href="http://www.sinosure.com.cn/sinosure/index.html" target="_blank">快速查询</a></span>
                                    </div>
                                </div>
                                <label for="saleOrganizationName" class="control-label col-xs-1" lang="zh">所属组织<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="saleOrganizationName" name="saleOrganizationName" data-toggle="dropdown" class="form-control dropdown-toggle" disabled type="text" placeholder="点击搜索按钮选择" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button id="oNSearch" class="btn btn-xs btn-default" data-control="on" type="button" data-toggle="modal" data-target="#cbtModal"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">企业性质<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-5">
                                    <label class="checkbox-inline">
                                        <input id="showFactory" data-target="#factory" data-control="off" disabled name="enterpriseNature" value="1" class="else notNull" type="checkbox"/>
                                        <span lang="zh">工厂</span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="enterpriseNature" data-control="off" disabled type="checkbox" value="2" />
                                        <span lang="zh">经销商</span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input id="showMajorCompetitorsGroup" data-control="off" disabled data-target="#majorCompetitorsGroup" name="enterpriseNature" class="else notNull" type="checkbox" value="3" />
                                        <span lang="zh">分销商</span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="enterpriseNature" data-control="off" disabled type="checkbox" value="4" />
                                        <span lang="zh">终端客户</span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input id="showOtherEnterpriceNature" data-control="off" disabled data-target="#otherEnterpriceNature" name="enterpriseNature" class="else notNull" type="checkbox" value="5"/>
                                        <span lang="zh">其他</span>
                                    </label>
                                    <span class="form-inline">
                                        <input id="otherEnterpriceNature" data-control="off" disabled name="otherEnterpriceNature" class="form-inline form-control hidden" style="position:absolute;left:355px;" type="text" value="" placeholder="请输入企业性质" lang="zh"/>
                                    </span>
                                </div>
                                <label class="col-xs-1 control-label" for="customerDutyParagraph">客户税号</label>
                                <div class="col-xs-2"><input id="customerDutyParagraph" data-control="on" disabled name="customerDutyParagraph" class="form-control" type="text"></div>
                            </div>
                            <div class="form-group">
                                <label for="dataFormat" class="control-label col-xs-1" lang="zh">数据格式<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select id="dataFormat" data-control="off" disabled name="dataFormat" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <label for="customerBasicTypes" class="control-label col-xs-1" lang="zh">客户基本分类<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="customerBasicTypes" name="customerBasicTypes" data-toggle="dropdown" class="form-control dropdown-toggle" disabled type="text" placeholder="点击搜索按钮选择" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button id="cbtSearch" class="btn btn-xs btn-default" data-control="on" type="button" data-toggle="modal" data-target="#cbtModal"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <label for="timeZone" class="control-label col-xs-1" lang="zh">时区<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div id="czSearch" class="col-xs-2">
##                                    <div class="col-xs-12" style="padding-left: 0;padding-right: 0">
##                                        <input id="timeZone" name="timeZone" data-toggle="dropdown" data-control="on" placeholder="请在下拉菜单中选择" class="form-control dropdown-toggle" disabled type="text" autocomplete="off"/>
##                                        <ul id="tz" class="pull-right dropdown-menu" style="width: 100%;max-height: 200px;overflow-y: auto;"></ul>
##                                    </div>
                                    <div class="input-group">
                                        <input id="timeZone" name="timeZone" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button id="openTzc" data-control="on" disabled class="btn btn-xs btn-default dropdown" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                            <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                                <input  id="timeZoneS" name="timeZoneS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none; border-radius: 0; border-color: transparent">
                                                <ul id="tz" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label for="commerceCountry" class="control-label col-xs-1" lang="zh">贸易国别<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div id="ccSearch" class="col-xs-2">
##                                    <div class="col-xs-12" style="padding-left: 0;padding-right: 0">
##                                        <input id="commerceCountry" name="commerceCountry" data-toggle="dropdown" placeholder="请在下拉菜单中选择" data-control="on" class="form-control dropdown-toggle" disabled type="text" autocomplete="off"/>
##                                        <ul id="cc" class="pull-right dropdown-menu" style="width: 100%;max-height: 200px;overflow-y: auto;"></ul>
##                                    </div>
                                    <div class="input-group">
                                        <input id="commerceCountry" name="commerceCountry" placeholder="请在下拉菜单中选择" class="form-control" disabled type="text" autocomplete="off"/>
                                        <div class="input-group-btn">
                                            <button data-control="on" class="btn btn-xs btn-default dropdown" disabled data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                            <div class="dropdown-menu pull-right" style="width: 196px;padding: 3px 0;">
                                                <input id="commerceCountryS" name="commerceCountryS" class="form-control" data-control="on" type="text" placeholder="请输入关键词查找" style="box-shadow: none;border-radius: 0; border-color: transparent">
                                                <ul id="cc" style="list-style: none;margin-bottom: 0;padding: 0;width: 100%;max-height: 200px;overflow-y: auto;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="registeredFunds" class="control-label col-xs-1" lang="zh">注册资金<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input id="registeredFunds" data-control="off" disabled name="registeredFunds" class="form-control" type="text" value="" />
                                        <span class="input-group-addon">$</span>
                                    </div>
                                </div>
                                <label for="enterprisePhone" class="control-label col-xs-1" lang="zh">企业电话</label>
                                <div class="col-xs-2">
                                    <input id="enterprisePhone" data-control="off" disabled name="enterprisePhone" class="form-control" type="tel" value="" />
                                </div>
                                <label for="enterpriseEmail" class="control-label col-xs-1" lang="zh">企业邮箱</label>
                                <div class="col-xs-2">
                                    <input id="enterpriseEmail" data-control="off" disabled name="enterpriseEmail" class="form-control" type="email" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="registeredAddress" class="control-label col-xs-1" lang="zh">注册地址<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-8">
                                    <textarea id="registeredAddress" data-control="off" disabled name="registeredAddress" class="form-control" rows="2" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="managementScope" class="control-label col-xs-1" lang="zh">经营范围<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-8">
                                    <textarea id="managementScope" data-control="off" disabled name="managementScope" class="form-control" rows="2" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hasChiCompany" class="control-label col-xs-1" lang="zh">是否有中国分公司<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select id="hasChiCompany" data-control="off" disabled name="hasChiCompany" class="form-control" >
                                        <option value="" lang="zh" selected>——请选择——</option>
                                        <option value="1" lang="zh" >有</option>
                                        <option value="0" lang="zh">无</option>
                                    </select>
                                </div>
                                <label for="hasChiPurchase" class="control-label col-xs-1 text-left" lang="zh">是否有中方采购<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select id="hasChiPurchase" data-control="off" disabled name="hasChiPurchase" class="form-control" >
                                        <option value="" lang="zh" selected>——请选择——</option>
                                        <option value="1" lang="zh">有</option>
                                        <option value="0" lang="zh">无</option>
                                    </select>
                                </div>
                                <label for="customerLevel" class="control-label col-xs-1" lang="zh">客户级别</label>
                                <div class="col-xs-2">
                                    <select id="customerLevel" data-control="off" disabled name="customerLevel" class="form-control" >
                                        <option value="" selected >——请选择客户类型——</option>
                                        <option value="1" lang="zh">战略客户</option>
                                        <option value="2" lang="zh">大客户</option>
                                        <option value="3" lang="zh">重要客户</option>
                                        <option value="4" lang="zh">一般客户</option>
                                        <option value="5" lang="zh">风险客户</option>
                                    </select>
                                </div>
                                <label for="customerType" class="control-label col-xs-1" lang="zh">客户状态</label>
                                <div class="col-xs-2">
                                    <select id="customerType" name="customerType" class="form-control" ></select>
                                    <button id="showReasons" data-toggle="modal" data-target="#reasons" type="button" style="display: none;"></button>
                                </div>
                            </div>
##                            <div class="form-group">
##                                <label for="imgFile" class="control-label col-xs-1" lang="zh">资质文件</label>
##                                <div class="col-xs-3">
##                                    <input id="imgFile" class="hidden" data-view="editView" data-control="off" disabled name="imgFile" type="file"/>
##                                </div>
##                            </div>
##                            <div class="form-group hidden" data-view="editView">
##                                <div class="col-xs-2 col-xs-offset-1">
##                                    <div class="btn-group">
##                                        <button class="btn btn-xs btn-primary" data-control="off" disabled lang="zh" type="button">上传</button>
##                                        <button class="btn btn-xs btn-default" data-control="off" disabled type="button">添加资质文件</button>
##                                    </div>
##                                </div>
##                            </div>
                            <fieldset id="factory" class="hidden">
                                <div class="form-group">
                                    <label for="factoryLocation" class="control-label col-xs-1" lang="zh">工厂位置</label>
                                    <div class="col-xs-5">
                                        <textarea id="factoryLocation" data-control="off" disabled name="factoryLocation" class="form-control" rows="2" ></textarea>
                                    </div>
                                    <label for="productLine" class="control-label col-xs-1" lang="zh">生产线</label>
                                    <div class="col-xs-5">
                                        <textarea id="productLine" data-control="off" disabled name="productLine" class="form-control" rows="2" ></textarea>
                                    </div>
                                </div>
                                ## 客户产品
                                <div id="cmpC"></div>
                                <div class="form-group">
                                    <div class="col-xs-2 col-xs-offset-1">
                                        <button id="add" data-btn='add' data-view="editView" data-control="off" disabled class="btn-link hidden" type="button">添加产品</button>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="majorCompetitorsGroup" class="hidden">
                                <div class="form-group">
                                    <label for="majorCompetitors" class="control-label col-xs-1" lang="zh">分销主要竞争对手</label>
                                    <div class="col-xs-8">
                                        <textarea id="majorCompetitors" data-control="off" disabled name="majorCompetitors" class="form-control" rows="4" ></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label for="remark" class="control-label col-xs-1" lang="zh">备注</label>
                                <div class="col-xs-8">
                                    <textarea id="remark" data-control="off" disabled name="remark" class="form-control" rows="4" ></textarea>
                                </div>
                            </div>
                            <fieldset id="opportunity" class="hidden">
                                <div class="form-group">
                                    <label for="opportunitySource" class="control-label col-xs-1" lang="zh">机会来源<sup data-view="editView" class="not-null hidden">*</sup></label>
                                    <div class="col-xs-2">
                                        <select id="opportunitySource" data-control="off" disabled name="opportunitySource" class="form-control else notNull">
                                            <option value="" selected lang="zh">——请选择机会来源——</option>
                                            <option value="1">展会</option>
                                            <option value="2">门户网站</option>
                                            <option value="3">农药店考察</option>
                                            <option value="4">客户介绍</option>
                                            <option value="5">主动联系</option>
                                            <option id="showOtherOpportunity" data-target="#otherOpportunity" class="else" value="6">其他</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <input id="otherOpportunity" data-control="off" disabled name="otherOpportunity" class="form-control" type="text" placeholder="输入机会来源" lang="zh"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="opportunityDescrible" class="control-label col-xs-1" lang="zh">机会描述<sup data-view="editView"  class="not-null hidden">*</sup></label>
                                    <div class="col-xs-8">
                                        <textarea id="opportunityDescrible" data-control="off" disabled name="opportunityDescrible" class="form-control notNull" rows="4" placeholder="描述客户发展机会" lang="zh"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group" data-view="editHide">
                                <label class="control-label col-xs-1" lang="zh">
                                    最后编辑人
                                </label>
                                <div class="col-xs-2">
                                    <input id="lastmodifyUserName" class="form-control" disabled value="">
                                </div>
                                <label class="control-label col-xs-1" lang="zh">
                                    编辑时间
                                </label>
                                <div class="col-xs-2">
                                    <input id="modifyTime" class="form-control noEdit" disabled value="">
                                </div>
                            </div>
                            <div class="form-group" id="aBtn"></div>
                        </form>
                    </div>
                </div>
                <!--客户百科-->
                <div class="panel panel-default panel-edit view-HD-lg" data-view="editHide">
                    <div class="panel-heading">
                        <a id="encyEdit" href="#" target="_blank" class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh">
                            编辑百科
                        </a>
                        <h3 class="panel-title" lang="zh">
                            客户百科
                        </h3>
                    </div>
                    <div id="ency" class="panel-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>

## 失败原因modal
<div class="modal fade" id="rModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form id="rForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="reason" class="control-label col-xs-2">流失原因<sup class="not-null">*</sup></label>
                        <div class="col-xs-9">
                            <textarea class="form-control" id="reason" name="reason" rows="6"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-2  col-xs-offset-9">
                        <button id="upReasons" data-form-btn="add" data-dismiss="modal" type="button" class="btn btn-block btn-primary" lang="zh">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

## 客户基本分类
<div class="modal fade in" id="cbtModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true" >
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <hr>
                <div class="zTreeDemoBackground left well" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                    <ul id="cbtTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

## 确认提交modal
<div class="modal fade" id="upModal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" style="width: 370px;margin-top: 168px">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <h4 class="text-info text-center">请确认是否提交表单？</h4>
                <hr>
                <div class="col-xs-5 col-xs-offset-1"><button id="up" data-dismiss="modal" class="btn btn-block btn-primary" type="button">确定</button></div>
                <div class="col-xs-5"><button data-dismiss="modal" class="btn btn-default btn-block" type="button">取消</button></div>
            </div>
        </div>
    </div>
</div>


## 请完善
<div class="modal fade" id="errorM" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" style="width: 370px;margin-top: 168px">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <hr>
                <h4 class="text-info text-center">请完善表单！</h4>
                <hr>
            </div>
        </div>
    </div>
</div>

## 数据格式
<script id="dataFormatC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0;i<data.length;i++){%>
    <option id="<%=data[i].pkFormatdoc%>" value="<%=data[i].code%>"><%=data[i].name%></option>
    <%}%>
    <%}%>
</script>

## 查找时区和贸易国别
<script id="tzC" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0; i<data.length; i++) {%>
    <li><a href="#" id="<%=data[i].pkTimezone%>" data-val="<%=data[i].code%>" style="padding-left: 6px"><%=data[i].name%></a></li>
    <%}%>
    <%}%>
</script>

## 查找贸易国别
##<script id="ccC" type="text/html">
##    <%if (data.length>0) {%>
##    <%for (var i=0; i<data.length; i++) {%>
##    <li><a href="#" data-id="<%=data[i].pkTimezone%>" data-val="<%=data[i].code style="padding-left: 6px"><%=data[i].name%></a></li>
##    <%}%>
##    <%}%>
##</script>

## 添加产品baidu模板用
<script id="cmp" type="text/html">
    <%if (data.length>0) {%>
    <%for (var i=0;i<data.length;i++){%>
    <div name="customerMakeProduct" data-id="<%=data[i].id%>" class="form-group" style="position: relative;">
        <label class="col-xs-1 control-label" style="position: relative">生产产品</label>
        <div class="col-xs-2"><input name="productName" data-control="off" disabled class="form-control" type="text" value="<%=data[i].productName%>"></div>
        <label class="col-xs-1  control-label">产能</label>
        <div class="col-xs-2"><input name="production" data-control="off" disabled  class="form-control" type="text" value="<%=data[i].production%>"></div>
        <button data-btn="del" data-view="editView" type="button" class="close pull-left" data-target=".form-group" style="position: absolute;top: 2px;">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
    </div>
    <%}%>
    <%}%>
</script>

## 添加产品字符串，添加按钮用
<script id="pro" type="text/html">
    <div name="customerMakeProduct" data-id="" class="form-group" style="position: relative;">
        <label class="col-xs-1 control-label" style="position: relative">生产产品</label>
        <div class="col-xs-2"><input name="productName" data-control="off" class="form-control" type="text" value=""></div>
        <label class="col-xs-1  control-label">产能</label>
        <div class="col-xs-2"><input name="production" data-control="off"  class="form-control" type="text" value=""></div>
        <button data-btn="del" type="button" class="close pull-left" data-target=".form-group" style="position: absolute;top: 2px;">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
    </div>
</script>

## 新增页面的返回按钮
<script id="backBtn" type="text/html">
    <a href="${request.contextPath}/customerBaseInfo/customerListPageInit?customerType=2" id="backPage" class="btn btn-xs btn-primary panel-heading-btn pull-right">返回</a>
</script>

## 渲染客户状态表单控件
<script id="al" type="text/html">
    <option id="showOpportunity" data-target="#opportunity" value="2" lang="zh">潜在</option>
</script>
<script id="cr" type="text/html">
    <option value="1" lang="zh" >合作</option>
    <option id="showRModal" value="3" lang="zh" >流失</option>
</script>

## 非新增状态添加按钮
<script id="crlBtn" type="text/html">
##    #if ($shiro.hasPermission(""))
    <button id="edit" data-view="editHide" class="btn btn-xs btn-primary panel-heading-btn pull-right" type="button" lang="zh">
        编辑
    </button>
##    #end
    <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right hidden" data-view="editView">
        <button id="cancel" class="btn" lang="zh" type="button">取消</button>
        <button id="save" class="btn btn-primary" lang="zh" type="button">保存</button>
    </div>
</script>

## 新增状态添加按钮
<script id="funBtnA" type="text/html">
    <div class="col-xs-2 col-xs-offset-4">
        <button id="save" data-view="eidtView" type="button" class="btn btn-block btn-primary" lang="zh">完成</button>
    </div>
    <div class="col-xs-2">
        <button id="resetB" data-view="eidtView" type="button" class="btn btn-block btn-default" lang="zh">重置</button>
    </div>
</script>

## 百科信息
<script id="encyC" type="text/html">
    <div class="form-horizontal">
        <%if (data!=null) {%>
        <div class="form-group">
            <label class="control-label col-xs-1" lang="zh">企业简介</label>
            <div class="col-xs-8">
                <textarea id="companyInfo" class="form-control" rows="4" disabled><%=data.companyInfo%></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-1" lang="zh">发展历程</label>
            <div class="col-xs-8">
                <textarea id="developHis" class="form-control" rows="4" disabled><%=data.developHis%></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-1" lang="zh">销售网络</label>
            <div class="col-xs-8">
                <textarea id="sellNetwork" class="form-control" rows="4" disabled><%=data.sellNetwork%></textarea>
            </div>
        </div>
        <%for (var i=0;i<data.customField.length;i++){%>
        <div name="customField" class="form-group">
            <label name="na" class="control-label col-xs-1" lang="zh"><%=data.customField[i].name%></label>
            <div class="col-xs-8">
                <textarea name="va" class="form-control" rows="4" disabled><%=data.customField[i].value%></textarea>
            </div>
        </div>
        <%}%>
        <div class="form-group editHide">
            <label class="control-label col-xs-1" lang="zh">最后编辑人</label>
            <div class="col-xs-2">
                <input id="lastmodifyUserNameEn" class="form-control noEdit" disabled value="<%=data.lastmodifyUserNameEn%>">
            </div>
            <label class="control-label col-xs-1" lang="zh">编辑时间</label>
            <div class="col-xs-2">
                <input id="modifyTimeEn" class="form-control noEdit" disabled value="<%=data.modifyTimeEn%>">
            </div>
        </div>
        <%} else {%>
            <p class="text-center">暂无信息，请前往编辑</p>
        <%}%>
    </div>
</script>

<input id="cid" type="hidden" value='$!{customerId}'>
<input id="ctp" type="hidden" value="$!{customerType}" />
<input id="fname" type="hidden" value="$!{fullName}" />

<script type="text/javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" src="${request.contextPath}/lib/js/customer/customerBasicInteraction.js"></script>


