<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #deputyNav(3)
        <ul class="breadcrumb pull-right">
            <li><span class="glyphicon glyphicon-map-marker"></span></li>
            <li><a href="">合作客户</a></li>
            <li class="active">{变量}</li>
        </ul>
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default view-HD-lg">
                    <div class="panel-heading">
                        <button data-url="/customerLinkman/intoCustomerLinkmanAdd?customerId=" class="btn btn-xs btn-primary panel-heading-btn pull-right" lang="zh" id="add" onclick="Add()">新增</button>
                        <h3 class="panel-title" lang="zh">
                            联系人
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!--表格-->
                        <table class="table table-condensed table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-center" lang="zh">编号</th>
                                <th class="text-center" lang="zh">姓名</th>
                                <th class="text-center" lang="zh">岗位</th>
                                <th class="text-center" lang="zh">是否在职</th>
                                <th class="text-center" lang="zh">负责区域</th>
                                <th class="text-center" lang="zh">性别</th>
                                <th class="text-center" lang="zh">国籍</th>
                                <th class="text-center" lang="zh">联系电话</th>
                                <th class="text-center" lang="zh">邮件</th>
                                <th class="text-center" lang="zh">是否默认</th>
                                <th class="text-center" lang="zh">备注</th>
                            </tr>
                            </thead>
                            <tbody id="contactsList">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/customerContactsList.js"></script>
<script type="text/javascript">
    function Add(){
        var id = document.URL.split('?')[1].split('=')[1];
        var url =basePath + $('#add').attr('data-url') + id;
        console.log(url);
        window.location.href = url;
    }
</script>

