<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #deputyNav(4)
        <ul class="breadcrumb pull-right">
            <li><span class="glyphicon glyphicon-map-marker"></span></li>
            <li><a href="">合作客户</a></li>
            <li class="active">{变量}</li>
        </ul>
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" lang="zh">
                            产品要求
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!--表格-->
                        <table class="table table-condensed table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-center" lang="zh">客户商品名</th>
                                <th class="text-center" lang="zh">品类序列号</th>
                                <th class="text-center" lang="zh">品类</th>
                                <th class="text-center" lang="zh">产品名称</th>
                                <th class="text-center" lang="zh">品牌</th>
                                <th class="text-center" lang="zh">规格</th>
                                <th class="text-center" lang="zh">型号</th>
                                <th class="text-center" lang="zh">主单位</th>
                                <th class="text-center" lang="zh">加工厂</th>
                            </tr>
                            </thead>
                            <tbody id="productRequestList">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="customerId" type="hidden" value='${customerId}'>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/common.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/ajax.js"></script>
##<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/customer/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getData(basePath + '/customerProductPacking/getCustomerProductInfoById','GET',GetRequest(),ProductRequestList);
    })

    function ProductRequestList(result) {
        var ResultData = result;
        console.log(ResultData);

        var productRequestList = document.getElementById('productRequestList');
        for(var i=0;i<ResultData.length;i++){
            productRequestList.innerHTML += '<tr>'+
                    '<td><a href="">'+ResultData[i].customerProductName+'</a></td>'+
                    '<td>'+ResultData[i].categorySerialNumber+'</td>'+
                    '<td>'+ResultData[i].categoryName+'</td>'+
                    '<td>'+ResultData[i].productName+'</td>'+
                    '<td>'+ResultData[i].brand+'</td>'+
                    '<td>'+ResultData[i].specification+'</td>'+
                    '<td>'+ResultData[i].model+'</td>'+
                    '<td>'+ResultData[i].mainUnit+'</td>'+
                    '<td>'+ResultData[i].factoryName+'</td>'+
                    '</tr>';
        }
    }
</script>

