<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #deputyNav(6)
        <ul class="breadcrumb pull-right">
            <li><span class="glyphicon glyphicon-map-marker"></span></li>
            <li><a href="">合作客户</a></li>
            <li class="active">{变量}</li>
        </ul>
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <!--导航-->
            #orderRequestNav(1)
            <div class="col-xs-10">
                <!--单据要求-->
                <div class="panel panel-default panel-edit view-HD-md">
                    <div class="panel-heading">
                        <div class="input-group panel-heading-btn col-xs-8 pull-right">
                            <span class="input-group-addon" lang="zh">产品种类</span>
                            <select class="form-control">
                                <option value="">41%草甘膦异丙铵盐水剂-1L*10</option>
                                <option value="">74%草甘膦异丙铵盐颗粒剂050KG*10</option>
                                <option value="">95%草甘膦原药-25KG</option>
                            </select>
                            <span class="input-group-addon" lang="zh">单据类型</span>
                            <select class="form-control">
                                <option value="">信用证条款单据</option>
                                <option value="">非信用证条款单据</option>
                            </select>
                        </div>
                        <h3 class="panel-title" lang="zh">
                            单据要求
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-bordered table-striped text-right">
                            <tbody>
                            <tr>
                                <td class="col-xs-4" lang="zh">出具海运提单或货代提单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要发票</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要箱单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要质检单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td lang="zh">是否需要保单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否出COO</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-12">
                                        <label><input type="checkbox" />商检局</label>
                                        <label><input type="radio" name="inspection"/>FORM A</label>
                                        <label><input type="radio" name="inspection"/>FORM E</label>
                                        <label><input type="radio" name="inspection"/>FORM P</label>
                                        <label><input type="radio" name="inspection"/>FORM AU</label>
                                    </div>
                                    <div class="checkbox col-xs-12">
                                        <label><input type="checkbox" />贸促会</label>
                                    </div>
                                    <div class="checkbox col-xs-2">
                                        <label><input type="checkbox" />普通</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要危包证</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要受益人证明</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否出熏蒸证书</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要MSDS</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">提单是否电放</td>
                                <td class="form-group text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" value="1" checked /><span lang="zh">直接电放</span></label>
                                    </div>
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" value="1" checked /><span lang="zh">正本出后电放</span></label>
                                    </div>
                                    <div class="col-xs-3"><input class="form-control" type="text" value="" placeholder="输入放单目的港" lang="zh" /></div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要银行交单</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要做第三方检测，并出具检测报告</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要Packing Declaration</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td lang="zh">是否需要Import Container Weight Declaration</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>是否需要Manufacturer's Certificate</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>是否需要IMPORT CONTAINER WEIGHT DECLARATION</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>是否需要Manufacturer's Certificate</td>
                                <td class="text-left">
                                    <div class="checkbox col-xs-3">
                                        <label><input type="checkbox" /></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-2" lang="zh">其他单据要求</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" rows="3" placeholder="多个单据请以（、）隔开" lang="zh"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


