<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.oracle.ReceiptMapper">
  <resultMap id="BaseResultMap" type="com.fuhuadata.domain.oracle.ReCeipt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PK_RECEIPT" jdbcType="CHAR" property="pkReceipt" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="BCLAIMEND" jdbcType="CHAR" property="bclaimend" />
    <result column="BHASRECBILL" jdbcType="CHAR" property="bhasrecbill" />
    <result column="BILLMAKER" jdbcType="VARCHAR" property="billmaker" />
    <result column="CCTID" jdbcType="CHAR" property="cctid" />
    <result column="CCURRENCYID" jdbcType="VARCHAR" property="ccurrencyid" />
    <result column="CCUSTBANKACCID" jdbcType="VARCHAR" property="ccustbankaccid" />
    <result column="CCUSTBANKACCODE" jdbcType="VARCHAR" property="ccustbankaccode" />
    <result column="CCUSTBANKID" jdbcType="VARCHAR" property="ccustbankid" />
    <result column="CCUSTOMERID" jdbcType="VARCHAR" property="ccustomerid" />
    <result column="CLCID" jdbcType="CHAR" property="clcid" />
    <result column="CORIGCURRENCYID" jdbcType="VARCHAR" property="corigcurrencyid" />
    <result column="CREATIONTIME" jdbcType="CHAR" property="creationtime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CTRANTYPEID" jdbcType="VARCHAR" property="ctrantypeid" />
    <result column="CUSDCURRENCYID" jdbcType="VARCHAR" property="cusdcurrencyid" />
    <result column="DBILLDATE" jdbcType="CHAR" property="dbilldate" />
    <result column="DMAKEDATE" jdbcType="CHAR" property="dmakedate" />
    <result column="DR" jdbcType="DECIMAL" property="dr" />
    <result column="FBUSITYPE" jdbcType="DECIMAL" property="fbusitype" />
    <result column="FPFSTATUSFLAG" jdbcType="DECIMAL" property="fpfstatusflag" />
    <result column="FSTATUSFLAG" jdbcType="DECIMAL" property="fstatusflag" />
    <result column="MODIFIEDTIME" jdbcType="CHAR" property="modifiedtime" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="NEXCHANGERATE" jdbcType="DECIMAL" property="nexchangerate" />
    <result column="NFRGNMNY" jdbcType="DECIMAL" property="nfrgnmny" />
    <result column="NFRGNORIGMNY" jdbcType="DECIMAL" property="nfrgnorigmny" />
    <result column="NHOMEMNY" jdbcType="DECIMAL" property="nhomemny" />
    <result column="NRECEIPTMNY" jdbcType="DECIMAL" property="nreceiptmny" />
    <result column="NRECEIPTORIGMNY" jdbcType="DECIMAL" property="nreceiptorigmny" />
    <result column="NRECEIPTUSDMNY" jdbcType="DECIMAL" property="nreceiptusdmny" />
    <result column="NTOTALMNY" jdbcType="DECIMAL" property="ntotalmny" />
    <result column="NTOTALORIGMNY" jdbcType="DECIMAL" property="ntotalorigmny" />
    <result column="NTOTALUSDMNY" jdbcType="DECIMAL" property="ntotalusdmny" />
    <result column="NUSDEXCHGRATE" jdbcType="DECIMAL" property="nusdexchgrate" />
    <result column="PK_GROUP" jdbcType="VARCHAR" property="pkGroup" />
    <result column="PK_ORG" jdbcType="VARCHAR" property="pkOrg" />
    <result column="PK_ORG_V" jdbcType="VARCHAR" property="pkOrgV" />
    <result column="TAUDITTIME" jdbcType="CHAR" property="taudittime" />
    <result column="TS" jdbcType="CHAR" property="ts" />
    <result column="VBILLCODE" jdbcType="VARCHAR" property="vbillcode" />
    <result column="VCTCODE" jdbcType="VARCHAR" property="vctcode" />
    <result column="VCTTYPE" jdbcType="VARCHAR" property="vcttype" />
    <result column="VDEF1" jdbcType="VARCHAR" property="vdef1" />
    <result column="VDEF10" jdbcType="VARCHAR" property="vdef10" />
    <result column="VDEF11" jdbcType="VARCHAR" property="vdef11" />
    <result column="VDEF12" jdbcType="VARCHAR" property="vdef12" />
    <result column="VDEF13" jdbcType="VARCHAR" property="vdef13" />
    <result column="VDEF14" jdbcType="VARCHAR" property="vdef14" />
    <result column="VDEF15" jdbcType="VARCHAR" property="vdef15" />
    <result column="VDEF16" jdbcType="VARCHAR" property="vdef16" />
    <result column="VDEF17" jdbcType="VARCHAR" property="vdef17" />
    <result column="VDEF18" jdbcType="VARCHAR" property="vdef18" />
    <result column="VDEF19" jdbcType="VARCHAR" property="vdef19" />
    <result column="VDEF2" jdbcType="VARCHAR" property="vdef2" />
    <result column="VDEF20" jdbcType="VARCHAR" property="vdef20" />
    <result column="VDEF3" jdbcType="VARCHAR" property="vdef3" />
    <result column="VDEF4" jdbcType="VARCHAR" property="vdef4" />
    <result column="VDEF5" jdbcType="VARCHAR" property="vdef5" />
    <result column="VDEF6" jdbcType="VARCHAR" property="vdef6" />
    <result column="VDEF7" jdbcType="VARCHAR" property="vdef7" />
    <result column="VDEF8" jdbcType="VARCHAR" property="vdef8" />
    <result column="VDEF9" jdbcType="VARCHAR" property="vdef9" />
    <result column="VDTTYPE" jdbcType="VARCHAR" property="vdttype" />
    <result column="VLCCODE" jdbcType="VARCHAR" property="vlccode" />
    <result column="VTRANTYPECODE" jdbcType="VARCHAR" property="vtrantypecode" />
  </resultMap>
</mapper>