<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.oracle.NcReCeiptMapper">
  <resultMap id="BaseResultMap" type="com.fuhuadata.domain.oracle.ReCeipt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PK_RECEIPT_B" jdbcType="CHAR" property="pkReceiptB" />
    <result column="BCOLLECT" jdbcType="CHAR" property="bcollect" />
    <result column="CBCTID" jdbcType="CHAR" property="cbctid" />
    <result column="CCTCURRENCYID" jdbcType="VARCHAR" property="cctcurrencyid" />
    <result column="CDEPTID" jdbcType="VARCHAR" property="cdeptid" />
    <result column="CDEPTVID" jdbcType="VARCHAR" property="cdeptvid" />
    <result column="CDTID" jdbcType="CHAR" property="cdtid" />
    <result column="CEMPLOYEEID" jdbcType="VARCHAR" property="cemployeeid" />
    <result column="CMATERIALID" jdbcType="VARCHAR" property="cmaterialid" />
    <result column="CMATERIALVID" jdbcType="VARCHAR" property="cmaterialvid" />
    <result column="CPAYPLANID" jdbcType="CHAR" property="cpayplanid" />
    <result column="CROWNO" jdbcType="VARCHAR" property="crowno" />
    <result column="CSALEORGID" jdbcType="VARCHAR" property="csaleorgid" />
    <result column="CSALEORGVID" jdbcType="VARCHAR" property="csaleorgvid" />
    <result column="DBILLDATE" jdbcType="CHAR" property="dbilldate" />
    <result column="DR" jdbcType="DECIMAL" property="dr" />
    <result column="FCLAIMSTATUS" jdbcType="DECIMAL" property="fclaimstatus" />
    <result column="FRECEIPTTYPE" jdbcType="DECIMAL" property="freceipttype" />
    <result column="NARORIGMNY" jdbcType="DECIMAL" property="narorigmny" />
    <result column="NCLAIMCTMNY" jdbcType="DECIMAL" property="nclaimctmny" />
    <result column="NCLAIMMNY" jdbcType="DECIMAL" property="nclaimmny" />
    <result column="NCLAIMORIGMNY" jdbcType="DECIMAL" property="nclaimorigmny" />
    <result column="NCLAIMUSDMNY" jdbcType="DECIMAL" property="nclaimusdmny" />
    <result column="NCTEXCHANGERATE" jdbcType="DECIMAL" property="nctexchangerate" />
    <result column="PK_GROUP" jdbcType="VARCHAR" property="pkGroup" />
    <result column="PK_ORG" jdbcType="VARCHAR" property="pkOrg" />
    <result column="PK_RECEIPT" jdbcType="CHAR" property="pkReceipt" />
    <result column="TS" jdbcType="CHAR" property="ts" />
    <result column="VBCTCODE" jdbcType="VARCHAR" property="vbctcode" />
    <result column="VBDEF1" jdbcType="VARCHAR" property="vbdef1" />
    <result column="VBDEF10" jdbcType="VARCHAR" property="vbdef10" />
    <result column="VBDEF11" jdbcType="VARCHAR" property="vbdef11" />
    <result column="VBDEF12" jdbcType="VARCHAR" property="vbdef12" />
    <result column="VBDEF13" jdbcType="VARCHAR" property="vbdef13" />
    <result column="VBDEF14" jdbcType="VARCHAR" property="vbdef14" />
    <result column="VBDEF15" jdbcType="VARCHAR" property="vbdef15" />
    <result column="VBDEF16" jdbcType="VARCHAR" property="vbdef16" />
    <result column="VBDEF17" jdbcType="VARCHAR" property="vbdef17" />
    <result column="VBDEF18" jdbcType="VARCHAR" property="vbdef18" />
    <result column="VBDEF19" jdbcType="VARCHAR" property="vbdef19" />
    <result column="VBDEF2" jdbcType="VARCHAR" property="vbdef2" />
    <result column="VBDEF20" jdbcType="VARCHAR" property="vbdef20" />
    <result column="VBDEF3" jdbcType="VARCHAR" property="vbdef3" />
    <result column="VBDEF4" jdbcType="VARCHAR" property="vbdef4" />
    <result column="VBDEF5" jdbcType="VARCHAR" property="vbdef5" />
    <result column="VBDEF6" jdbcType="VARCHAR" property="vbdef6" />
    <result column="VBDEF7" jdbcType="VARCHAR" property="vbdef7" />
    <result column="VBDEF8" jdbcType="VARCHAR" property="vbdef8" />
    <result column="VBDEF9" jdbcType="VARCHAR" property="vbdef9" />
    <result column="VDTCODE" jdbcType="VARCHAR" property="vdtcode" />
    <result column="VPAYPLANROWNO" jdbcType="VARCHAR" property="vpayplanrowno" />
  </resultMap>
</mapper>