<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.oracle.NcTimeZoneMapper">
  <resultMap id="BaseResultMap" type="com.fuhuadata.domain.oracle.TimeZone">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PK_TIMEZONE" jdbcType="CHAR" property="pkTimezone" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="DATAORIGINFLAG" jdbcType="DECIMAL" property="dataoriginflag" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="DR" jdbcType="DECIMAL" property="dr" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="NAME2" jdbcType="VARCHAR" property="name2" />
    <result column="NAME3" jdbcType="VARCHAR" property="name3" />
    <result column="NAME4" jdbcType="VARCHAR" property="name4" />
    <result column="NAME5" jdbcType="VARCHAR" property="name5" />
    <result column="NAME6" jdbcType="VARCHAR" property="name6" />
    <result column="OFFSETVAR" jdbcType="VARCHAR" property="offsetvar" />
    <result column="TS" jdbcType="CHAR" property="ts" />
  </resultMap>
</mapper>