<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.mapper.CustomerPurchaseProductMapper">
  <resultMap id="BaseResultMap" type="com.fuhuadata.domain.mybatis.CustomerPurchaseProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="annual_demands" jdbcType="VARCHAR" property="annualDemands" />
    <result column="average_price" jdbcType="VARCHAR" property="averagePrice" />
    <result column="supplier1" jdbcType="VARCHAR" property="supplier1" />
    <result column="purchase_amount1" jdbcType="VARCHAR" property="purchaseAmount1" />
    <result column="average_price1" jdbcType="VARCHAR" property="averagePrice1" />
    <result column="supplier2" jdbcType="VARCHAR" property="supplier2" />
    <result column="purchase_amount2" jdbcType="VARCHAR" property="purchaseAmount2" />
    <result column="average_price2" jdbcType="VARCHAR" property="averagePrice2" />
    <result column="supplier3" jdbcType="VARCHAR" property="supplier3" />
    <result column="purchase_amount3" jdbcType="VARCHAR" property="purchaseAmount3" />
    <result column="average_price3" jdbcType="VARCHAR" property="averagePrice3" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="lastmodify_user_id" jdbcType="INTEGER" property="lastmodifyUserId" />
    <result column="lastmodify_user_name" jdbcType="VARCHAR" property="lastmodifyUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>