<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.mapper.customs.CustomsProductRuleMapper">
  <resultMap id="BaseResultMap" type="com.fuhuadata.domain.customs.CustomsProductRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cpr_id" jdbcType="INTEGER" property="id" />
    <result column="cpr_product_id" jdbcType="INTEGER" property="productId" />
    <result column="cpr_name_type" jdbcType="TINYINT" property="nameType" />
    <result column="cpr_name" jdbcType="VARCHAR" property="name" />
    <result column="cpr_spec_type" jdbcType="TINYINT" property="specType" />
    <result column="cpr_spec" jdbcType="VARCHAR" property="spec" />
  </resultMap>
  
  <sql id="BaseColumns">
    cpr.id as cpr.id, 
    cpr.product_id as cpr.product_id, 
    cpr.name_type as cpr.name_type, 
    cpr.name as cpr.name, 
    cpr.spec_type as cpr.spec_type, 
    cpr.spec as cpr.spec
  </sql>
</mapper>