<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.mapper.supplier.EvaluationValueMapper">
  <resultMap id="BaseResultMap" type="com.fuhuadata.domain.mybatis.supplier.EvaluationValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="evaluation_item_id" jdbcType="INTEGER" property="evaluationItemId" />
    <result column="option_name" jdbcType="VARCHAR" property="optionName" />
    <result column="value" jdbcType="DECIMAL" property="value" />
  </resultMap>

</mapper>