<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.fuhuadata.domain.mybatis.Menu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="identity" jdbcType="VARCHAR" property="identity"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="parent_name" jdbcType="VARCHAR" property="parentName"/>
        <result column="parent_ids" jdbcType="VARCHAR" property="parentIds"/>
        <result column="menu_name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="backup" jdbcType="VARCHAR" property="backup"/>
        <result column="enablestate" jdbcType="TINYINT" property="enablestate"/>
        <result column="order_index" jdbcType="INTEGER" property="orderIndex"/>
    </resultMap>
    
    <resultMap id="roleExtendMap" type="com.fuhuadata.domain.mybatis.Menu"
               extends="BaseResultMap">
        <association property="roleAuthority" columnPrefix="ro_au_"
                     resultMap="com.fuhuadata.dao.mapper.RoleAuthorityMapper.BaseResultMap"/>
    </resultMap>

    <resultMap id="roleButtonExtendMap" type="com.fuhuadata.domain.mybatis.Menu"
               extends="roleExtendMap">
        <collection property="buttons" columnPrefix="button_"
                    ofType="com.fuhuadata.domain.mybatis.Button"
                    resultMap="com.fuhuadata.dao.mapper.ButtonMapper.BaseResultMap"/>
    </resultMap>

    <sql id="BaseColumns">
        m.menu_id,
        m.identity,
        m.menu_name,
        m.parent_id,
        (SELECT p.menu_name FROM p_menu p WHERE p.menu_id=m.parent_id) parent_name,
        m.parent_ids,
        m.url,
        m.backup,
        m.enablestate,
        m.order_index
    </sql>

    <sql id="FromTable">
        FROM p_menu m
    </sql>

    <sql id="roleAuthorityJoin">
        INNER JOIN p_role_authority roau ON roau.resource_id=m.menu_id
    </sql>

    <sql id="buttonsJoin">
        LEFT JOIN p_button bu ON bu.menu_id=m.menu_id
    </sql>

    <select id="getMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM p_menu m
        WHERE m.menu_id=#{id}
    </select>

    <delete id="deleteSelfAndChildren">
        DELETE FROM p_menu WHERE parent_id=#{parentId} OR parent_ids LIKE CONCAT(#{parents}, '%')
    </delete>

    <select id="countNextIndex" resultType="java.lang.Integer">
        select case when max(order_index) is null then 1 else (max(order_index) + 1) end
        from p_menu where parent_id = #{parentId}
    </select>

    <update id="updateChildrenParentIds">
        UPDATE p_menu SET parent_ids=(#{newParentIds} || SUBSTRING(parent_ids, LENGTH(#{oldParentIds})+1))
        WHERE parent_ids LIKE CONCAT(#{oldParentIds}, '%')
    </update>

    <select id="listSelfAndNextSiblings" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM p_menu m
        WHERE m.parent_id = #{parentId} AND m.order_index &gt;= #{weight}
        ORDER BY m.order_index ASC
    </select>

    <select id="listAuthorityMenus" resultMap="roleExtendMap">
        SELECT
        <include refid="BaseColumns"/>,
        <include refid="com.fuhuadata.dao.mapper.RoleAuthorityMapper.PrefixColumns"/>
        <include refid="FromTable"/>
        <include refid="roleAuthorityJoin"/>
        WHERE roau.role_id=#{roleId}
    </select>

    <select id="listPermissionMenus" resultMap="roleButtonExtendMap">
        SELECT
        <include refid="BaseColumns"/>,
        <include refid="com.fuhuadata.dao.mapper.RoleAuthorityMapper.PrefixColumns"/>,
        <include refid="com.fuhuadata.dao.mapper.ButtonMapper.PrefixColumns"/>
        <include refid="FromTable"/>
        <include refid="roleAuthorityJoin"/>
        <include refid="buttonsJoin"/>
        WHERE roau.role_id=#{roleId}
    </select>

</mapper>