<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.mapper.UserAccountMapper">
    <resultMap id="BaseResultMap" type="com.fuhuadata.domain.mybatis.UserAccount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="login_password" jdbcType="VARCHAR" property="loginPassword"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="birthdate" jdbcType="DATE" property="birthdate"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="pk_group" jdbcType="VARCHAR" property="pkGroup"/>
        <result column="pk_org" jdbcType="VARCHAR" property="pkOrg"/>
        <result column="pk_psndoc" jdbcType="VARCHAR" property="pkPsndoc"/>
        <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="last_password" jdbcType="VARCHAR" property="lastPassword"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="login_count" jdbcType="INTEGER" property="loginCount"/>
        <result column="pk_dept" jdbcType="VARCHAR" property="pkDept"/>
    </resultMap>

    <!-- 用户地区映射 -->
    <resultMap id="UserAreasMap" type="com.fuhuadata.domain.mybatis.UserAccount"
               extends="BaseResultMap">
        <collection property="areas" columnPrefix="area_"
                    ofType="com.fuhuadata.domain.mybatis.AreaCl"
                    resultMap="com.fuhuadata.dao.mapper.AreaClMapper.BaseResultMap"/>
    </resultMap>

    <!-- p_user_account 缩写 ua -->
    <sql id="BaseColumns">
        ua.id,
        ua.login_name,
        ua.name,
        ua.mobile,
        ua.birthdate,
        ua.code,
        ua.pk_group,
        ua.pk_org,
        ua.pk_psndoc,
        ua.last_modify_time
    </sql>

    <sql id="PasswordColumns">
        <include refid="BaseColumns"/>,
        ua.login_password,
        ua.last_password
    </sql>

    <!-- 关联查询前缀 user -->
    <sql id="PrefixColumns">
        ua.id user_id,
        ua.login_name user_login_name,
        ua.login_password user_login_password,
        ua.name user_name,
        ua.mobile user_mobile,
        ua.birthdate user_birthdate,
        ua.code user_code,
        ua.pk_group user_pk_group,
        ua.pk_org user_pk_org,
        ua.pk_psndoc user_pk_psndoc,
        ua.last_modify_time user_last_modify_time
    </sql>

    <!-- 关联关系 -->
    <sql id="FromTable">
        FROM p_user_account ua
    </sql>
    <sql id="JobJoin">
        INNER JOIN p_job jo ON jo.psncode=ua.code
    </sql>
    <sql id="LeftJoinAreas">
        LEFT JOIN p_user_area us_ar ON us_ar.user_id=ua.id
        LEFT JOIN t_areacl ac ON ac.pk_areacl=us_ar.area_id
    </sql>

    <select id="listUserByDeptId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        <include refid="FromTable"/>
        <include refid="JobJoin"/>
        WHERE jo.pk_dept=#{deptId}
    </select>

    <select id="listUsersByUserIds" resultMap="BaseResultMap">
        SELECT
        ua.id,
        ua.name,
        ua.code,
        ua.pk_org,
        ua.pk_psndoc,
        jo.pk_dept
        <include refid="FromTable"/>
        <include refid="JobJoin"/>
        WHERE ua.id IN
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <select id="listDeptIdsOfUserByRoleId" resultType="java.lang.String">
        SELECT jo.pk_dept
        FROM p_user_role ur
        INNER JOIN p_user_account ua ON ua.id=ur.user_id
        INNER JOIN p_job jo ON ua.code=jo.psncode
        WHERE ur.role_id=#{roleId}
    </select>

    <select id="listUserIdsByDeptIds" resultType="java.lang.Integer">
        SELECT
        ua.id
        <include refid="FromTable"/>
        <include refid="JobJoin"/>
        WHERE jo.pk_dept IN
        <foreach collection="deptIds" item="dept" open="(" close=")" separator=",">
            #{dept}
        </foreach>
    </select>

    <select id="getByCode" resultMap="BaseResultMap">
        SELECT
        <include refid="PasswordColumns"/>
        <include refid="FromTable"/>
        WHERE code=#{code}
    </select>

    <select id="getByLoginName" resultMap="BaseResultMap">
        SELECT
        <include refid="PasswordColumns"/>
        <include refid="FromTable"/>
        WHERE login_name=#{loginName}
    </select>
</mapper>