<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuadata.dao.mapper.WarehouseInfoMapper">
  <resultMap id="BaseResultMap" type="com.fuhuadata.domain.mybatis.supplier.WarehouseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="PK_STORDOC" jdbcType="VARCHAR" property="pkStordoc" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="CREATIONTIME" jdbcType="VARCHAR" property="creationtime" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="DATAORIGINFLAG" jdbcType="DOUBLE" property="dataoriginflag" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="MODIFIEDTIME" jdbcType="VARCHAR" property="modifiedtime" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="PK_ADDRESS" jdbcType="VARCHAR" property="pkAddress" />
    <result column="PK_GROUP" jdbcType="VARCHAR" property="pkGroup" />
    <result column="PK_ORG" jdbcType="VARCHAR" property="pkOrg" />
    <result column="PRINCIPALCODE" jdbcType="VARCHAR" property="principalcode" />
    <result column="STORADDR" jdbcType="VARCHAR" property="storaddr" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="combined_scoring" jdbcType="DECIMAL" property="combinedScoring" />
    <result column="is_dangers" jdbcType="INTEGER" property="isDangers" />
    <result column="is_inside_entrance" jdbcType="INTEGER" property="isInsideEntrance" />
    <result column="enabled_state" jdbcType="INTEGER" property="enabledState" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
      <result column="supprop" jdbcType="INTEGER" property="supprop"/>
      <result column="storage_area" jdbcType="DECIMAL" property="storageArea"/>
  </resultMap>


  <!--获取货代关联仓库-->
  <select id="getListByForwardingId" resultType="com.fuhuadata.domain.mybatis.supplier.WarehouseInfo">
            SELECT
        swi.`CODE`,
        swi.`NAME`,
        swi.`STORADDR`,
        swi.`is_dangers`,
        swi.`is_inside_entrance`,
        swi.`combined_scoring`,
        swi.`MEMO`
        FROM s_warehouse_info swi
        LEFT JOIN s_forwarding_warehouse_relation sfwr ON sfwr.`warehouse_id` = swi.`id`
        WHERE sfwr.`freightforwarding_id` = #{forwardingId}
  </select>

</mapper>