<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>用户列表页</title>
 </head>
 <body>
#foreach($userAccount in $userAccountList)
<tr>
    <td>${userAccount.id}</td>
    <td>${userAccount.name}</td>
    <td>
    </td>
</tr>
#end
 <a href="/userAccount/addUserAccount">新增用户</a>
 <a href="/userAccount/addUserAccount">新增用户2</a>
 <div>${message}</div>
 </body>
</html>