#macro(showAdminPage $page $url)
    #if($page)
        #set($pagePos = 5) ##当前页的尾巴长度
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">

                <span class="input-group-addon">共<span>$!{page.totalItem}</span>条记录，<span><em>$!{page.totalPage}</em></span>页，跳转到第</span>
                <input class="form-control" type="text" id="inputpage" value="$!page.index" placeholder="" maxlength="8" onkeyup="value=value.replace(/[^\d]/g, 1);" onafterpaste="value=value.replace(/[^\d]/g, 1);">

                <span class="input-group-addon">页</span>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-xs btn-primary" onclick="javascript:gotoPages(document.getElementById('inputpage').value==''?1:document.getElementById('inputpage').value)">跳转</button>
                </span>
            </div>
        </div>
        <div class="col-xs-4 text-ritht pull-right">
            <ul class="pagination table-pagination" id="pagination">
                #if($page.isPreviousPageAvailable()) ##如果能向上翻页
                ##                <li style="with:72px"><a href="javascript:gotoPages(1)">首页</a></li>
                    <li><a href="javascript:gotoPages($page.getPreviousPage())">上一页</a></li>
                #end
                #if($!page.index>$pagePos+2)
                    <li>&hellip;</li>
                #end ##显示前面的省略号
                #foreach($i in [$pagePos..1]) ##增加前面的尾巴
                    #if($!page.index - $i > 1)
                        #set($pageIndex= $!page.index - $i)
                        <li><a href="javascript:gotoPages($pageIndex)">$pageIndex</a></li>
                    #end
                #end
                <li><a href="#">$!page.index</a></li>
                #foreach($i in [1..$pagePos]) ##增加后面的尾巴
                    #if($!page.totalPage - $!page.index - $i > 0)
                        #set($pageIndex= $!page.index + $!i)
                        <li><a href="javascript:gotoPages($pageIndex)">$pageIndex</a></li>
                    #end
                #end

                #if($!page.totalPage - $!page.index > $pagePos+1) <li>&hellip;</li> #end ##显示后面的省略号
                #if($page.isNextPageAvailable()) ##显示后面的页
##                    <li><a href="javascript:gotoPages($page.getNextPage())">下一页</a></li>
                    <li><a href="/exhibitionInfo/queryExhibitionInfo?index=$!page.getNextPage()&exhibitionName=$!page.getExhibitionName()">下一页</a></li>
                ##                <li><a href="javascript:gotoPages($page.getTotalPage())" style="with:72px">末页</a></li>
                #end

            </ul>
        </div>
    </div>
##    <li class="page-total">共<em>$!{page.totalPage}</em>页&nbsp;&nbsp;</li>
##    <li class="page-go">
##        第<input type="text" id="inputpage" value="$!page.index" placeholder="" maxlength="8" onkeyup="value=value.replace(/[^\d]/g, 1);" onafterpaste="value=value.replace(/[^\d]/g, 1);">页
##        <button type="button" class="gray-btn btn-go" onclick="javascript:gotoPages(document.getElementById('inputpage').value==''?1:document.getElementById('inputpage').value)">跳转</button>
##    </li>
    #end
#end

#macro(breadcrumb)
    <ul id="location" class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
#end

#macro(deputyNav $num)
    #if($!{customerType}==2 && $!{customerId}!='')
    <ul id="deputyNav" class="nav nav-tabs pull-left">
        <li
            #if($num == 1)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerBaseInfo/intoCustomerBaseInfoDetails?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh">基本信息</a></li>
        <li
            #if($num == 8)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerSubcompanyInfo/intoCustomerSubcompanyInfo?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >公司别名（子公司信息）</a></li>
        <li
            #if($num == 2)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerMarketInfo/entrance?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >市场信息</a></li>
        <li
            #if($num == 3)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerLinkman/intoCustomerLinkmanList?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >联系人</a></li>
    </ul>
    #end
    #if($!{customerType}==1||$!{customerType}==3)
    <ul id="deputyNav" class="nav nav-tabs pull-left">
        <li
            #if($num == 1)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerBaseInfo/intoCustomerBaseInfoDetails?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh">基本信息</a></li>
        <li
            #if($num == 8)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerSubcompanyInfo/intoCustomerSubcompanyInfo?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >公司别名（子公司信息）</a></li>
        <li
            #if($num == 2)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerMarketInfo/entrance?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >市场信息</a></li>
        <li
            #if($num == 3)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerLinkman/intoCustomerLinkmanList?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >联系人</a></li>
        <li
            #if($num == 7)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerVisitRecord/intocustomerVisitRecordList?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >沟通记录</a></li>
        <li
            #if($num == 5)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerBaseInfoOrder/entrance?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >订单信息</a></li>
        <li
            #if($num == 4)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerProductPacking/intoCustomerProductInfo?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >产品要求</a></li>
        <li
            #if($num == 6)
                    class="active"
            #end
        ><a href="${request.contextPath}/customerBaseInfoOrderRequire/billRequireEntrance?customerType=$!{customerType}&customerId=$!{customerId}" lang="zh" >订单默认要求</a></li>
        #*<li
            #if($num == 9)
                    class="active"
            #end
        ><a href="" lang="zh" >关联数据</a></li>*#
    </ul>
    #end
#end

#macro(orderRequestNav $num)
    <div class="col-xs-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" lang="zh">
                    导航
                </h3>
            </div>
            <div class="panel-body">
                <div id="asideNav" class="list-group">
                    <a href="${request.contextPath}/customerBaseInfoOrderRequire/billRequireEntrance?customerType=$!{customerType}&customerId=${customerId}" class="list-group-item #if($num == 1) active #end " lang="zh">单据要求</a>
                    <a href="${request.contextPath}/customerBaseInfoOrderRequire/transportRequireEntrance?customerType=$!{customerType}&customerId=${customerId}" class="list-group-item #if($num == 2) active #end " lang="zh">订舱出运要求</a>
                </div>
            </div>
        </div>
    </div>
#end

#macro(saleNav $num)
    <ul id="saleNav" class="nav nav-tabs pull-left">
        <li
            #if($num == 1)
                class="active"
            #end
        ><a href="${request.contextPath}/businessInfo/intoBusinessInfo/" lang="zh">商机</a></li>
        <li
            #if($num == 2)
                    class="active"
            #end
        ><a href="${request.contextPath}/businessOrder/intoBusinessOffer/" lang="zh">报价</a></li>
        <li
            #if($num == 3)
                    class="active"
            #end
        ><a href="${request.contextPath}/businessOrder/intoBusinessOrder/" lang="zh">订单</a></li>
    </ul>
#end

#macro(warehouseNav $num)
<ul id="warehouseNav" class="nav nav-tabs pull-left">
    <li
        #if($num == 1)
                class="active"
        #end
    ><a href="" lang="zh">基本信息</a></li>
    <li
        #if($num == 2)
                class="active"
        #end
    ><a href="" lang="zh">合作货代</a></li>
    <li
        #if($num == 3)
                class="active"
        #end
    ><a href="" lang="zh">订单记录</a></li>
    <li
        #if($num == 4)
                class="active"
        #end
    ><a href="" lang="zh">投诉记录</a></li>
</ul>
#end

## 货代仓库列表切换
#macro(forwardingWarehouse $selected)
    #set($tabs = [
    {'name':'货代信息','path':'/supplier/forwarding/intoForwardingList'},
    {'name':'仓库信息','path':'/supplier/warehouse/intoWarehouseList'}
    ])
<ul id="saleNav" class="nav nav-tabs pull-left">
    #foreach($item in $tabs)
        <li
            #if($selected==$item.name)
                    class="active"
            #end
        ><a href="$!{request.contextPath}$!{item.path}" lang="zh">$!{item.name}</a></li>
    #end
</ul>
#end

## 加工厂tab页
#macro(factoryTab $selected $id)
    #set($tabs = [
    {'name':'基本信息','path':'/supplier/factories/','postfix':'/vm'},
    {'name':'产品信息','path':'/supplier/factories/','postfix':'/products/vm'},
    {'name':'订单记录','path':'/supplier/factories/','postfix':'/order/vm'}
    ])
#*{'name':'投诉记录','path':'/supplier/factories/','postfix':'/complaint/vm'},
{'name':'延期交货记录','path':'/supplier/factories/','postfix':'/delivery/delay/vm'}*#
    <ul id="saleNav" class="nav nav-tabs pull-left">
    #foreach($item in $tabs)
        <li
        #if($selected==$item.name)
            class="active"
        #end
        ><a href="$!{request.contextPath}$!{item.path}$!{id}$!{item.postfix}" lang="zh">$!{item.name}</a></li>
    #end
    </ul>
#end

## 仓库tab页
#macro(warehouseTab $selected $id)
    #set($tabs = [
    {'name':'基本信息','path':'/supplier/warehouse/intoWarehouseBasic?id='},
    {'name':'合作货代','path':'/supplier/warehouse/intoWarehouseOpperation?id='},
    {'name':'订单记录','path':'/supplier/warehouse/intoWarehouseOrder?id='},
    {'name':'投诉记录','path':'/supplier/warehouse/intoWarehouseComplaints?id='}
    ])
<ul id="saleNav" class="nav nav-tabs pull-left">
    #foreach($item in $tabs)
        <li
            #if($selected==$item.name)
                    class="active"
            #end
        ><a href="$!{request.contextPath}$!{item.path}$!{id}$!{item.postfix}" lang="zh">$!{item.name}</a></li>
    #end
</ul>
#end

## 货代tab页
#macro(forwardingTab $selected $id)
    #set($tabs = [
    {'name':'基本信息','path':'/supplier/forwarding/intoForwardingBasic?id='},
    {'name':'仓库信息','path':'/supplier/forwarding/intoForwardingWarehouse?id='},
    {'name':'订单记录','path':'/supplier/forwarding/intoForwardingOrder?id='}
    ])
<ul id="saleNav" class="nav nav-tabs pull-left">
    #foreach($item in $tabs)
        <li
            #if($selected==$item.name)
                    class="active"
            #end
        ><a href="$!{request.contextPath}$!{item.path}$!{id}" lang="zh">$!{item.name}</a></li>
    #end
</ul>
#end

#*
#macro(breadcrumb)
<ul id="location" class="breadcrumb pull-right">
    <li><span class="glyphicon glyphicon-map-marker"></span></li>
</ul>
#end*#
