<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>客户列表</title>
		<link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.css"/>
		<script src="/lib/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/jquery-lang.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/js.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/js/langpack/nonDynamic.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var lang = new Lang();
			lang.init({
				defaultLang: 'zh'
			});
		</script>
	</head>
	<body class="bg-page">
		<div class="container-fluid">
			<!--头部-->
			<nav class="navbar navbar-cards navbar-fixed-top">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						福华客户关系管理系统
					</a>
				</div>
				<div class="navbar-btn btn-group btn-group-xs pull-right">
					<button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span></button>
					<button class="btn btn-primary" lang="zh">业务员</button>
					<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li><a href="" lang="zh">修改密码</a></li>
						<li><a href="" lang="zh">退出</a></li>
					</ul>
				</div>
				<ul id="nav-affix" class="nav nav-cards">
					<li class="active shadow-in">
						<div id="collapseOne" class="list-group collapse">
							<a class="list-group-item" href="#" lang="zh">客户列表</a>
						</div>
						<a data-toggle="collapse" href="#collapseOne" data-parent="#nav-affix">
							<span class="glyphicon glyphicon-user"></span> 
							<span lang="zh">客户信息</span>
							<b class="caret"></b>
						</a>
					</li>
					<li class="shadow-in">
						<div id="collapseTwo" class="list-group collapse">
							<a class="list-group-item" href="#" lang="zh">加工厂</a>
							<a class="list-group-item" href="#" lang="zh">货代</a>
						</div>
						<a data-toggle="collapse" href="#collapseTwo" data-parent="#nav-affix">
							<span class="glyphicon glyphicon-briefcase"></span> 
							<span lang="zh">供应商信息</span>
							<b class="caret"></b>
						</a>
					</li>
					<li class="shadow-in">
						<div id="collapseThree" class="list-group collapse">
							<a class="list-group-item" href="#" lang="zh">商机</a>
							<a class="list-group-item" href="#" lang="zh">销售动态</a>
							<a class="list-group-item" href="#" lang="zh">费用与利润</a>
							<a class="list-group-item" href="#" lang="zh">客户维护</a>
							<a class="list-group-item" href="#" lang="zh">利润统计</a>
							<a class="list-group-item" href="#" lang="zh">我的历史订单</a>
						</div>
						<a data-toggle="collapse" href="#collapseThree" data-parent="#nav-affix">
							<span class="glyphicon glyphicon-stats"></span> 
							<span lang="zh">销售统计</span>
							<b class="caret"></b>
						</a>
					</li>
					<li class="shadow-in">
						<div id="collapseFour" class="list-group collapse">
							<a class="list-group-item" href="#" lang="zh">市场数据</a>
						</div>
						<a data-toggle="collapse" href="#collapseFour" data-parent="#nav-affix">
							<span class="glyphicon glyphicon-list-alt"></span> 
							<span lang="zh">行业数据</span>
							<b class="caret"></b>
						</a>
					</li>
					<li class="shadow-in">
						<div id="collapseFive" class="list-group collapse">
							<a class="list-group-item" href="faq_list.html" lang="zh">产品常见问题</a>
							<a class="list-group-item" href="train_list.html" lang="zh">营销培训</a>
							<a class="list-group-item" href="product_list.html" lang="zh">客户产品包装要求</a>
							<a class="list-group-item" href="product_list.html" lang="zh">标准产品档案</a>
							<a class="list-group-item" href="pack-price_list.html" lang="zh">包材成本参考</a>
							<a class="list-group-item" href="finished-cost_list.html" lang="zh">加工成本参考</a>
							<a class="list-group-item" href="encyclopedia_list.html" lang="zh">百科</a>
							<a class="list-group-item" href="expo_list.html" lang="zh">展会动态</a>
							<a class="list-group-item" href="" lang="zh">其他</a>
						</div>
						<a data-toggle="collapse" href="#collapseFive" data-parent="#nav-affix">
							<span class="glyphicon glyphicon-book"></span> 
							<span lang="zh">知识库</span>
							<b class="caret"></b>
						</a>
					</li>
					<li class="shadow-in">
						<div id="collapseSix" class="list-group collapse">
							<a class="list-group-item" href="#" lang="zh">销售数据</a>
							<a class="list-group-item" href="#" lang="zh">成本费用</a>
							<a class="list-group-item" href="#" lang="zh">数据库</a>
						</div>
						<a data-toggle="collapse" href="#collapseSix" data-parent="#nav-affix">
							<span class="glyphicon glyphicon-pencil"></span> 
							<span lang="zh">决策支持</span>
							<b class="caret"></b>
						</a>
					</li>
					<li class="shadow-in">
						<div id="collapseSeven" class="list-group collapse">
							<a class="list-group-item" href="#" lang="zh">权限设置</a>
							<a class="list-group-item" href="#" lang="zh">数据字典维护</a>
						</div>
						<a data-toggle="collapse" href="#collapseSeven" data-parent="#nav-affix">
							<span class="glyphicon glyphicon-cog"></span> 
							<span lang="zh">系统管理</span>
							<b class="caret"></b>
						</a>
					</li>
				</ul>
			</nav>
			<!--主要内容-->
			<div class="clearfix content shadow-out">
				<!--面包屑导航-->
				<div class="breadcrumb-more">
					<div class="pull-right breadcrumb-btn btn-group btn-group-xs">
						<a href="#lang-en" class="btn btn-danger" onclick="window.lang.change('zh'); return false;">
							中文
						</a>
						<a href="#lang-en" class="btn btn-primary" onclick="window.lang.change('en'); return false;">
							English
						</a>
					</div>
					<span class="breadcrumb-unit pull-left" lang="zh">当前位置</span>
					<ul class="breadcrumb shadow-out">
						<li><a href="" lang="zh">客户信息</a></li>
						<li class="active" lang="zh">客户列表</li>
					</ul>
				</div>
				<!--表格容器-->
				<div class="dashboard-wrapper">
					<div class="row">
						<!--导航部分-->
						<div class="col-xs-2">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" lang="zh">
										地区分类
									</h3>
								</div>
								<div class="panel-body clearfix">
									<!--树形菜单-->
									<div class="tree">
										<ul class="tree-root">
											<li>
												<span class="branch-node" data-toggle="collapse" data-target="#bNode1"></span><a href=""><span class="leaf"></span><span lang="zh">拉美区</span></a>
												<ul id="bNode1" class="tree-branch collapse in">
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">墨西哥</span></a></li>
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">乌拉圭</span></a></li>
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">秘鲁</span></a></li>
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">哥伦比亚</span></a></li>
												</ul>
											</li>
											<li>
												<span class="branch-node" data-toggle="collapse" data-target="#bNode2"></span><a href=""><span class="leaf"></span><span lang="zh">亚太区</span></a>
												<ul id="bNode2" class="tree-branch collapse in">
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">韩国</span></a></li>
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">日本</span></a></li>
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">朝鲜</span></a></li>
												</ul>
											</li>
											<li>
												<span class="branch-node" data-toggle="collapse" data-target="#bNode3"></span><a href=""><span class="leaf"></span><span lang="zh">欧非区</span></a>
												<ul id="bNode3" class="tree-branch collapse in">
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">加纳</span></a></li>
													<li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">南非</span></a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!--列表部分-->
						<div class="col-xs-10">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" lang="zh">
										客户列表
										<small class="pull-right" style="margin-top: 4px;">单位：万元</small>
									</h3>
								</div>
								<div class="panel-body clearfix">
									<!--搜索&筛选控件-->
									<div class="form-horizontal">
										<div class="form-group">
										    <div class="col-xs-2 pull-right">
										    	<div class="input-group">
										    		<input class="form-control" type="search" placeholder="输入关键词查找" lang="zh"/>
										    		<span class="input-group-btn">
													    <button type="button" class="btn btn-primary btn-xs">
													        <span lang="zh">搜索</span>
													    </button>
										    		</span>
										    	</div>
										    </div>
											<div class="col-xs-2 pull-right">
												<select class="form-control">
													<option lang="zh">客户状态</option>
													<option value="" lang="zh">正常</option>
													<option value="" lang="zh">易流失</option>
												</select>
											</div>
											<div class="col-xs-2 pull-right">
												<select class="form-control">
													<option lang="zh">客户类型</option>
													<option value="" lang="zh">战略客户</option>
													<option value="" lang="zh">大客户</option>
													<option value="" lang="zh">重要客户</option>
													<option value="" lang="zh">一般客户</option>
													<option value="" lang="zh">风险客户</option>
												</select>
											</div>
											<div class="col-xs-2 pull-right">
												<select class="form-control">
													<option lang="zh">企业性质</option>
													<option value="" lang="zh">加工厂</option>
													<option value="" lang="zh">分销商</option>
													<option value="" lang="zh">经销商</option>
													<option value="" lang="zh">终端客户</option>
													<option value="" lang="zh">其他</option>
												</select>
											</div>
											<div class="col-xs-2 pull-right">
												<select class="form-control">
													<option lang="zh">信用评级</option>
													<option value="">A</option>
													<option value="">AA</option>
													<option value="">AAA</option>
													<option value="">AAAA</option>
												</select>
											</div>
											<div class="col-xs-2 pull-right">
												<select class="form-control">
													<option value="" lang="zh">合作客户</option>
													<option value="" lang="zh">潜在客户</option>
													<option value="" lang="zh">流失客户</option>
												</select>
											</div>
										</div>
									</div>
									<!--表格-->
									<table class="table table-condensed table-bordered table-striped text-center">
										<thead>
											<tr>
												<th class="text-center" lang="zh">客户编号</th>
												<th class="text-center" lang="zh">客户全称</th>
												<th class="text-center" lang="zh">客户简称</th>
												<th class="text-center" lang="zh">国家</th>
												<th class="text-center" lang="zh">客户类型</th>
												<th class="text-center" lang="zh">信用评级</th>
												<th class="text-center" lang="zh">开始合作时间</th>
												<th class="text-center" lang="zh">合作时间</th>
												<th class="text-center" lang="zh">活跃周期</th>
												<th class="text-center" lang="zh">合同总金额</th>
												<th class="text-center" lang="zh">已回款金额</th>
												<th class="text-center" lang="zh">总最低销售限价</th>
												<th class="text-center" lang="zh">总维护费用</th>
												<th class="text-center" lang="zh">总利润</th>
												<th class="text-center" lang="zh">客户状态</th>
											</tr>
										</thead>
										<tbody>
											#foreach($saleCustomer in $SaleCustomers)
                                            <tr>
                                                <td>${saleCustomer.customerId}</td>
                                                <td><a href="http://www.baidu.com" target="_blank">${saleCustomer.customerParent.FullName}</a></td>
                                                <td>${saleCustomer.customerParent.shortName}</td>
                                                <td lang="zh">${saleCustomer.customerParent.Country}</td>
                                                <td lang="zh">#if(${saleCustomer.customerLevel}==0)未知#elseif(${saleCustomer.customerLevel}==1)风险客户"#elseif(${saleCustomer.customerLevel}==2)一般客户#elseif(${saleCustomer.customerLevel}==3)?重要客户#elseif(${saleCustomer.customerLevel}==4)大客户#else 战略客户 #end</td>
                                                <td>#if(${saleCustomer.zhongxinbaoLevel}==0)未知 #elseif(${saleCustomer.zhongxinbaoLevel}==1)1A #elseif(${saleCustomer.zhongxinbaoLevel}==2)2A #elseif(${saleCustomer.zhongxinbaoLevel}==3)3A #else 4A#end</td>
                                                <td>${saleCustomer.cooperateTime}</td>
                                                <td lang="zh">${saleCustomer.cooperateTime}</td>
                                                <td lang="zh">${saleCustomer.activePeriod}</td>
                                                <td><a href="" data-toggle="modal" data-target="#details">${saleCustomer.totalSaleMoney}</a></td>
                                                <td>${saleCustomer.activePeriod}</td>
                                                <td>${saleCustomer.lowestSaleMoney}</td>
                                                <td>${saleCustomer.totalMaintenanceCosts}</td>
                                                <td>${saleCustomer.totalProfits}</td>
                                                <td lang="zh">#if(${saleCustomer.customerState}==0)潜在客户 #elseif(${saleCustomer.customerState}==1)合作客户#else 已流失 #end</td>
                                            </tr>
											#end
											<!--<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>
											<tr>
												<td>02011010</td>
												<td><a href="http://www.baidu.com" target="_blank">NUFARM</a></td>
												<td>NUFARM</td>
												<td lang="zh">美国</td>
												<td lang="zh">一般客户</td>
												<td>A</td>
												<td>2016-7-7</td>
												<td lang="zh">3个月</td>
												<td lang="zh">12个月</td>
												<td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td>10000.00</td>
												<td lang="zh">正常</td>
											</tr>-->
										</tbody>
									</table>
									<!--分页导航-->
									<div class="form-group pull-left table-pagination">
										共<span>123</span>条记录，<span>130</span>页，跳转到第&nbsp;<input class="form-control pagination-input" type="number"/>&nbsp;页
										<button class="btn btn-xs btn-primary">确定</button>
									</div>
									<ul class="pagination pull-right table-pagination">
										<li class="disabled"><a href="#">上一页</a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">6</a></li>
										<li><a href="#">7</a></li>
										<li><a href="">&hellip;</a></li>
										<li><a href="#">下一页</a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--脚部-->
		<div class="footer">
			<small>
				&copy; baswaAdmin 2014
			</small>
		</div>
		<!--详情模态框-->
		<div class="modal fade" id="details" tabindex="-1"  aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
					</div>
					<div class="modal-body">
						<!--表格-->
						<table class="table table-condensed table-bordered text-center table-pagination">
							<caption class="text-right" lang="zh">单位：万元</caption>
							<thead>
								<tr>
									<th class="text-center" lang="zh">产品名称</th>
									<th class="text-center" lang="zh">产品种类</th>
									<th class="text-center" lang="zh">总销售量</th>
									<th class="text-center" lang="zh">总销售额</th>
									<th class="text-center" lang="zh">总最低销售限价</th>
									<th class="text-center" lang="zh">总利润</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>草甘膦95%原药</td>
									<td>草甘膦原药</td>
									<td>100000KG</td>
									<td>1000</td>
									<td>100</td>
									<td>100</td>
								</tr>
								<tr>
									<td>草甘膦95%原药</td>
									<td>草甘膦原药</td>
									<td>100000KG</td>
									<td>1000</td>
									<td>100</td>
									<td>100</td>
								</tr>
								<tr>
									<td>草甘膦95%原药</td>
									<td>草甘膦原药</td>
									<td>100000KG</td>
									<td>1000</td>
									<td>100</td>
									<td>100</td>
								</tr>
								<tr>
									<td>草甘膦95%原药</td>
									<td>草甘膦原药</td>
									<td>100000KG</td>
									<td>1000</td>
									<td>100</td>
									<td>100</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/dropdown.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/collapse.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/modal.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/transition.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
