<!--副导航-->
<div class="nav-deputy shadow-out clearfix">
	<ul class="breadcrumb pull-right">
		<li><span class="glyphicon glyphicon-map-marker"></span></li>
		<li><a href="">客户信息</a></li>
		<li class="active">流失客户</li>
	</ul>
</div>
<!--内容-->
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">
                        地区分类
                    </h3>
                </div>
                <div class="panel-body tree-container clearfix">
                    <!--树形菜单-->
                    <div class="tree">
                        <ul class="tree-root">
                            <li>
                                <span class="branch-node" data-toggle="collapse" data-target="#bNode1"></span><a href=""><span class="leaf"></span><span lang="zh">拉美区</span></a>
                                <ul id="bNode1" class="tree-branch collapse in">
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">墨西哥</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">乌拉圭</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">秘鲁</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">哥伦比亚</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="branch-node" data-toggle="collapse" data-target="#bNode2"></span><a href=""><span class="leaf"></span><span lang="zh">亚太区</span></a>
                                <ul id="bNode2" class="tree-branch collapse in">
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">韩国</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">日本</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">朝鲜</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="branch-node" data-toggle="collapse" data-target="#bNode3"></span><a href=""><span class="leaf"></span><span lang="zh">欧非区</span></a>
                                <ul id="bNode3" class="tree-branch collapse in">
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">加纳</span></a></li>
                                    <li><span class="branch"></span><a href=""><span class="leaf"></span><span lang="zh">南非</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 tab-content">
            <!--流失客户页-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">流失客户列表</h3>
                </div>
                <div class="panel-body clearfix">
                    <!--搜索&筛选控件-->
                    <form class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" lang="zh">客户全称</span>
                            <input class="form-control" type="text" value="" />
                            <span class="input-group-addon" lang="zh">企业性质</span>
                            <select class="form-control">
                                <option value="" selected lang="zh">全部</option>
                                <option value="" lang="zh">加工厂</option>
                                <option value="" lang="zh">分销商</option>
                                <option value="" lang="zh">经销商</option>
                                <option value="" lang="zh">终端客户</option>
                                <option value="" lang="zh">其他</option>
                            </select>
                            <span class="input-group-addon" lang="zh">信用评级</span>
                            <select class="form-control">
                                <option value="" selected lang="zh">全部</option>
                                <option value="" lang="zh">A</option>
                                <option value="" lang="zh">AA</option>
                                <option value="" lang="zh">AAA</option>
                                <option value="" lang="zh">AAAA</option>
                            </select>
                            <span class="input-group-addon" lang="zh">客户级别</span>
                            <select class="form-control">
                                <option value="" selected lang="zh">全部</option>
                                <option value="" lang="zh">潜在客户</option>
                                <option value="" lang="zh">风险客户</option>
                                <option value="" lang="zh">一般客户</option>
                                <option value="" lang="zh">重要客户</option>
                                <option value="" lang="zh">大客户</option>
                                <option value="" lang="zh">战略客户</option>
                            </select>
                            <span class="input-group-addon" lang="zh">失败原因</span>
                            <input class="form-control" type="text" value="" />
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-primary" type="reset">重置</button>
                                <button class="btn btn-xs btn-primary" type="button">搜索</button>
                            </div>
                        </div>
                    </form>
                    <!--表格-->
                    <table class="table table-condensed table-bordered table-striped">
                        <caption class="text-right" lang="zh">金额单位：万元</caption>
                        <thead>
                        <tr>
                            <th class="sorting" lang="zh">客户编号</th>
                            <th class="sorting" lang="zh">客户全称</th>
                            <th class="sorting" lang="zh">客户简称</th>
                            <th lang="zh">国家</th>
                            <th class="sorting" lang="zh">信用评级</th>
                            <th class="sorting" lang="zh">开始合作时间</th>
                            <th class="sorting" lang="zh">合作时间</th>
                            <th class="sorting" lang="zh">总销售额</th>
                            <th class="sorting" lang="zh">总最低销售限价</th>
                            <th class="sorting" lang="zh">总维护费用</th>
                            <th class="sorting" lang="zh">净利润</th>
                            <th lang="zh">业务员</th>
                            <th lang="zh">流失原因分析</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>02011010</td>
                            <td><a href="customerDetails.html" target="_blank">NUFARM</a></td>
                            <td>NUFARM</td>
                            <td lang="zh">美国</td>
                            <td>A</td>
                            <td>2016-7-7</td>
                            <td lang="zh">12个月</td>
                            <td><a href="" data-toggle="modal" data-target="#details">10000.00</a></td>
                            <td>10000.00</td>
                            <td>10000.00</td>
                            <td>10000.00</td>
                            <td>刘凯</td>
                            <td>客户转向润丰</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--分页导航-->
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="input-group">
                                <span class="input-group-addon">共<span>123</span>条记录，<span>130</span>页，跳转到第</span>
                                <input class="form-control" type="number"/>
                                <span class="input-group-addon">页</span>
                                <span class="input-group-btn">
													<button class="btn btn-xs btn-primary">跳转</button>
												</span>
                            </div>
                        </div>
                        <div class="col-xs-4 text-right pull-right">
                            <ul class="pagination table-pagination">
                                <li class="disabled"><a href="#">上一页</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="">&hellip;</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
