<script type="text/javascript">
    var basePath ="${request.contextPath}";
</script>
<!--头部开始-->
<nav class="navbar navbar-cards navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            福华客户关系管理系统
        </a>
    </div>
    <div class="navbar-btn btn-group btn-group-xs pull-right">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span></button>
        <button class="btn btn-primary">业务员</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
            <li><a href="">修改密码</a></li>
            <li><a href="">退出</a></li>
        </ul>
    </div>
    <div class="pull-right breadcrumb-btn btn-group btn-group-xs navbar-btn">
        <a href="#lang-en" class="btn btn-danger" onclick="window.lang.change('zh'); return false;">
            中文
        </a>
        <a href="#lang-en" class="btn btn-primary" onclick="window.lang.change('en'); return false;">
            English
        </a>
    </div>
    <ul id="nav-affix" class="nav nav-cards">
        <li class="shadow-in" title="客户信息">
            <div id="collapseOne" class="list-group collapse">
                <a class="list-group-item" href="${request.contextPath}/customerBaseInfo/customerListPageInit?customerType=1">合作客户</a>
                <a class="list-group-item" href="${request.contextPath}/customerBaseInfo/customerListPageInit?customerType=2">潜在客户</a>
                <a class="list-group-item" href="${request.contextPath}/customerBaseInfo/customerListPageInit?customerType=3">流失客户</a>
            </div>
            <a data-toggle="collapse" href="#collapseOne" data-parent="#nav-affix">
                <span class="glyphicon glyphicon-user"></span>
                客户信息
                <b class="caret"></b>
            </a>
        </li>
        <li class="shadow-in" title="供应商信息">
            <div id="collapseTwo" class="list-group collapse">
                <a class="list-group-item" href="#">加工厂</a>
                <a class="list-group-item" href="#">货代</a>
            </div>
            <a data-toggle="collapse" href="#collapseTwo" data-parent="#nav-affix">
                <span class="glyphicon glyphicon-briefcase"></span>
                供应商信息
                <b class="caret"></b>
            </a>
        </li>
        <li class="shadow-in" title="销售统计">
            <div id="collapseThree" class="list-group collapse">
                <a class="list-group-item" href="${request.contextPath}/businessInfo/intoBusinessInfo">销售流程</a>
                <a class="list-group-item" href="#">费用与利润</a>
                <a class="list-group-item" href="${request.contextPath}/customerVisitRecord/intoCustomerMaintenance">客户维护</a>
                <a class="list-group-item" href="#">利润统计</a>
                <a class="list-group-item" href="#">我的历史订单</a>
            </div>
            <a data-toggle="collapse" href="#collapseThree" data-parent="#nav-affix">
                <span class="glyphicon glyphicon-stats"></span>
                销售统计
                <b class="caret"></b>
            </a>
        </li>
        <li class="shadow-in" title="行业数据">
            <div id="collapseFour" class="list-group collapse">
                <a class="list-group-item" href="#">市场数据</a>
            </div>
            <a data-toggle="collapse" href="#collapseFour" data-parent="#nav-affix">
                <span class="glyphicon glyphicon-list-alt"></span>
                行业数据
                <b class="caret"></b>
            </a>
        </li>
        <li class="shadow-in" title="知识库">
            <div id="collapseFive" class="list-group collapse">
                <a class="list-group-item" href="${request.contextPath}/productProblem/productProblemList">产品常见问题</a>
                <a class="list-group-item" href="${request.contextPath}/marketTraining/marketTrainingList">营销培训</a>
                <a class="list-group-item" href="${request.contextPath}/customerProductPacking/customerProductPackingList">客户产品包装要求</a>
                <a class="list-group-item" href="${request.contextPath}/knowledgeBase/productArchivesList">标准产品档案</a>
                <a class="list-group-item" href="${request.contextPath}/packingArchives/packingArchivesList">包材成本参考</a>
                <a class="list-group-item" href="${request.contextPath}/knowledgeBase/processCostList">加工成本参考</a>
                <a class="list-group-item" href="${request.contextPath}/customerEncyclopedia/customerEncyclopediaList">百科</a>
                <a class="list-group-item" href="${request.contextPath}/exhibitionInfo/exhibitionInfoList">展会动态</a>
                <a class="list-group-item" href="">其他</a>
            </div>
            <a data-toggle="collapse" href="#collapseFive" data-parent="#nav-affix">
                <span class="glyphicon glyphicon-book"></span>
                知识库
                <b class="caret"></b>
            </a data-toggle="collapse" href="#collapseFive" data-parent="#nav-affix">
        </li>
        <li class="shadow-in" title="决策支持" >
            <div id="collapseSix" class="list-group collapse">
                <a class="list-group-item" href="#">销售数据</a>
                <a class="list-group-item" href="#">成本费用</a>
                <a class="list-group-item" href="#">数据库</a>
            </div>
            <a data-toggle="collapse" href="#collapseSix" data-parent="#nav-affix">
                <span class="glyphicon glyphicon-pencil"></span>
                决策支持
                <b class="caret"></b>
            </a>
        </li>
        <li class="shadow-in">
            <div id="collapseSeven" class="list-group collapse">
                <a class="list-group-item" href="#" lang="zh">数据字典维护</a>
                <a class="list-group-item" href="/roleManager/into" lang="zh">角色管理</a>
                <a class="list-group-item" href="/sys/menu" lang="zh">菜单管理</a>

            </div>
            <a data-toggle="collapse" href="#collapseSeven" data-parent="#accordion">
                <span class="glyphicon glyphicon-cog"></span>
                <span lang="zh">系统管理</span>
                <b class="caret"></b>
            </a>
        </li>
    </ul>
</nav>
<!--头部结束-->