<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="hTitle">CRM系统</title>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/js/zTree/css/metroStyle/metroStyle.css"/>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/dataTables/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/dataTables/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/css/fileinput.css" />
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/js/pagination/pagination.css" />

    <script src="${request.contextPath}/lib/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/jquery-migrate-1.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/baiduTemplate.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/zTree/js/jquery.ztree.all.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/dataTables/jquery.dataTables.min.js"></script>
    <script src="${request.contextPath}/lib/dataTables/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/dataTables/dataTables.bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/validate/jquery.validate.js" charset="utf-8"></script>

    <script src="${request.contextPath}/lib/js/validate/additional-methods.js" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/validate/localization/messages_zh.js" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/pagination/pagination.js" type="text/javascript" charset="utf-8"></script>

    <script src="${request.contextPath}/lib/js/jquery-lang.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/jquery-lang.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/langpack/nonDynamic.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/jedate.js" type="text/javascript" charset="utf-8"></script>
##    <script src="${request.contextPath}/lib/js/datetime.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var language = navigator.browserLanguage?navigator.browserLanguage:navigator.language,
                lang = new Lang();

        lang.init({
            defaultLang: 'zh'
        });

        // 阻止表单回车提交
        function stopFormSubmit(e) {
            if (e.keyCode===13){
                e.preventDefault();
            }
        }

        /**
         * 表单验证插件，默认配置
         */
        // 错误信息容器
        $.validator.setDefaults({
            errorElement: 'div'
        });

        // 错误信息提示工具
       function em(txt, t, l) {
            return '<div class="tooltip top in"' +
                    ' style="'+t+'; '+l+'; display: block; min-width: 50px;">' +
                    '<div class="tooltip-arrow" style="left: 50%; border-top-color: #ff524f"></div>' +
                    '<div class="tooltip-inner" style="background-color: #ff524f">'+txt+'</div>' +
                    '</div>';
        }
    </script>
</head>
<body class="bg-page">
    #if ($!nolayout)
        $screen_content
    #else
    <div class="container-fluid">

      <!--头部-->
        #parse("layout/header.vm")

      <!--主要内容-->
      <div class="clearfix content shadow-out">

        <!--容器-->
          $screen_content
      </div>
    </div>

    <!--脚部-->
        #parse('layout/footer.vm')

    <script>
        $(document).on('click.close.nav.open', 'body', function (e) {
            var thisEl = e.target;

            //如果点击的元素不是导航的子元素，则关闭导航
            if ($(thisEl).parents('#nav-affix').length == 0) {
                $('#nav-affix').find('[data-toggle="collapse"]').filter('[aria-expanded="true"]').click();
            }
        });
        $(function () {

            // 判断会话是否过期，会话过期则跳转登录页面
            $(document).ajaxSuccess(function (e, jqXhr, ajaxOpts, data) {
                if (jqXhr.responseText) {
                    var result = JSON.parse(jqXhr.responseText);
                    if (result.code && result.code === -1) {
                        console.log(jqXhr.responseText);
                        alert(result.message);
                        window.location = basePath + "/login";
                    }
                }
            });

            if (localStorage.getItem('lang')) { // 本地存有lang属性，直接判断语言类型

                window.lang.change(localStorage.getItem('lang'));
            }else { // 没有lang属性，自动判断语言类型

                if (language.indexOf('zh')>-1) {

                    localStorage.setItem('lang','zh');
                    window.lang.change(localStorage.getItem('lang'));
                }else {
                    localStorage.setItem('lang','en');
                    window.lang.change(localStorage.getItem('lang'));
                }
            }

            // 点击切换中文
            $('#changZh').click(function () {

                localStorage.setItem('lang','zh');
                window.lang.change(localStorage.getItem('lang'));
            });

            // 点击切换英文
            $('#changEn').click(function () {

                localStorage.setItem('lang','en');
                window.lang.change(localStorage.getItem('lang'));
            })
        })

    </script>
</body>
</html>

