<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="hTitle">CRM系统</title>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/css/fileinput.css" />
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/dataTables/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/lib/dataTables/jquery.dataTables.min.css"/>

    <script src="${request.contextPath}/lib/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="${request.contextPath}/lib/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="${request.contextPath}/lib/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="${request.contextPath}/lib/dataTables/dataTables.bootstrap.min.js"></script>
##    <script src="${request.contextPath}/lib/js/jquery-lang.js" type="text/javascript" charset="utf-8"></script>
##    <script src="${request.contextPath}/lib/js/js.cookie.js" type="text/javascript" charset="utf-8"></script>
##    <script type="text/javascript">
##        var lang = new Lang();
##        lang.init({
##            defaultLang: 'zh'
##        });
##    </script>
</head>
<body class="bg-page">
<div class="container-fluid">
    <!--头部-->
    #parse("layout/header.vm")
    <!--主要内容-->
    <div class="clearfix content shadow-out">

        <!--容器-->

        $screen_content
    </div>
</div>
    <!--脚部-->
    #parse('layout/footer.vm')
</body>
</html>

