<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean id="userAccountManager" class="com.fuhuadata.manager.impl.UserAccountManagerImpl"/>
	<bean id="systemLogManager" class="com.fuhuadata.manager.impl.SystemLogManagerImpl"/>
	<bean id="marketTrainingManager" class="com.fuhuadata.manager.impl.MarketTrainingManagerImpl"/>
	<bean id="exhibitionInfoManager" class="com.fuhuadata.manager.impl.ExhibitionInfoManagerImpl"/>
	<bean id="customerEncyclopediaManager" class="com.fuhuadata.manager.impl.CustomerEncyclopediaManagerImpl"/>
	<bean id="productProblemManager" class="com.fuhuadata.manager.impl.ProductProblemManagerImpl"/>
	<bean id ="componentCostManager" class="com.fuhuadata.manager.impl.ComponentCostManagerImpl"/>
	<bean id="freightCostManager" class="com.fuhuadata.manager.impl.FreightCostManagerImpl"/>
	<bean id="rateManager" class="com.fuhuadata.manager.impl.RateManagerImpl"/>
	<bean id = "industryDataManager" class="com.fuhuadata.manager.impl.IndustryDataManagerImpl"/>
	<bean id = "packingArchivesManager" class="com.fuhuadata.manager.impl.PackingArchivesManagerImpl"/>
	<bean id = "portChargesCostManager" class="com.fuhuadata.manager.impl.PortChargesCostManagerImpl"/>
	<bean id = "preparationProcessCostManager" class="com.fuhuadata.manager.impl.PreparationProcessCostManagerImpl"/>
	<bean id="saleCustomerManager" class="com.fuhuadata.manager.impl.SaleCustomerManagerImpl"/>
	<bean id="customerParentManager" class="com.fuhuadata.manager.impl.CustomerParentManagerImpl"/>
	<bean id="productInfoManager" class="com.fuhuadata.manager.impl.ProductInfoManagerImpl"/>

</beans>