<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="userAccountDao" class="com.fuhuadata.dao.impl.UserAccountDaoImpl"/>
    <bean id="systemLogDao" class="com.fuhuadata.dao.impl.SystemLogDaoImpl"/>
    <bean id="marketTrainingDao" class="com.fuhuadata.dao.impl.MarketTrainingDaoImpl"/>
    <bean id="exhibitionInfoDao" class="com.fuhuadata.dao.impl.ExhibitionInfoDaoImpl"/>
    <bean id="productProblemDao" class="com.fuhuadata.dao.impl.ProductProblemDaoImpl"/>
    <bean id="customerEncyclopediaDao" class="com.fuhuadata.dao.impl.CustomerEncyclopediaDaoImpl"/>
    <bean id="componentCostDao" class="com.fuhuadata.dao.impl.ComponentCostDaoImpl"/>
    <bean id="freightCostDao" class="com.fuhuadata.dao.impl.FreightCostDaoImpl"/>
    <bean id="rateDao" class="com.fuhuadata.dao.impl.RateDaoImpl"/>
    <bean id="industryDataDao" class="com.fuhuadata.dao.impl.IndustryDataDaoImpl"/>
    <bean id="packingArchivesDao" class="com.fuhuadata.dao.impl.PackingArchivesDaoImpl"/>
    <bean id="portChargesCostDao" class="com.fuhuadata.dao.impl.PortChargesCostDaoImpl"/>
    <bean id="preparationProcessCostDao" class="com.fuhuadata.dao.impl.PreparationProcessCostDaoImpl"/>
    <bean id="saleCustomerDao" class="com.fuhuadata.dao.impl.SaleCustomerDaoImpl"/>
    <bean id="customerParentDao" class="com.fuhuadata.dao.impl.CustomerBaseInfoDaoImpl"/>
    <bean id="userDao" class="com.fuhuadata.dao.impl.UserDaoImpl"/>
    <bean id="productInfoDao" class="com.fuhuadata.dao.impl.ProductInfoDaoImpl"/>
    <bean id="productCategoryDao" class="com.fuhuadata.dao.impl.ProductCategoryDaoImpl"/>
    <bean id="packingCategoryDao" class="com.fuhuadata.dao.impl.PackingCategoryDaoImpl"/>
    <bean id="productWareDao" class="com.fuhuadata.dao.impl.ProductWareDaoImpl"/>
    <bean id="customerProductInfoDao" class="com.fuhuadata.dao.impl.CustomerProductArchivesDaoImpl"/>
    <bean id="customerMakeProductDao" class="com.fuhuadata.dao.impl.CustomerMakeProductDaoImpl"/>
    <bean id="linkmanDao" class="com.fuhuadata.dao.impl.CustomerLinkmanDaoImpl"/>
    <bean id="customerPurchaseProductDao" class="com.fuhuadata.dao.impl.CustomerPurchaseProductDaoImpl"/>
    <bean id="customerSaleProductDao" class="com.fuhuadata.dao.impl.CustomerSaleProductDaoImpl"/>
    <bean id="recordLinkmanDao" class="com.fuhuadata.dao.impl.RecordLinkmanDaoImpl"/>
    <bean id="customerLinkmanDao" class="com.fuhuadata.dao.impl.CustomerLinkmanDaoImpl"/>
    <bean id="customerVisitRecordDao" class="com.fuhuadata.dao.impl.CustomerVisitRecordDaoImpl"/>
    <bean id="customerSubcompanyInfoDao" class="com.fuhuadata.dao.impl.CustomerSubcompanyInfoDaoImpl"/>
    <bean id="businessInfoDao" class="com.fuhuadata.dao.impl.BusinessInfoDaoImpl"/>
    <bean id="businessRecordDao" class="com.fuhuadata.dao.impl.BusinessRecordDaoImpl"/>
    <bean id="businessOrderDao" class="com.fuhuadata.dao.impl.BusinessOrderDaoImpl"/>
    <bean id="contractDao" class="com.fuhuadata.dao.impl.ContractDaoImpl"/>
    <bean id="dataArchivesDao" class="com.fuhuadata.dao.impl.DataArchivesDaoImpl"/>
    <bean id="orderToNc" class="com.fuhuadata.dao.impl.NCExchange.OrderToNcImpl"/>
    <bean id="factoryToNc" class="com.fuhuadata.dao.impl.NCExchange.FactoryToNcImpl"/>
    <bean id="syncFreightForwardingDao" class="com.fuhuadata.dao.task.impl.SyncFreightForwardingDaoImpl"/>
    <bean id="syncUserAccountDao" class="com.fuhuadata.dao.task.impl.SyncUserAccountDaoImpl"/>
</beans>