<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	<bean id="userAccountService" class="com.fuhuadata.service.impl.UserAccountServiceImpl"/>
	<bean id="systemLogService" class="com.fuhuadata.service.impl.SystemLogServiceImpl"/>
	<bean id="marketTrainingService" class="com.fuhuadata.service.impl.MarketTrainingServiceImpl"/>
	<bean id="exhibitionInfoService" class="com.fuhuadata.service.impl.ExhibitionInfoServiceImpl"/>
	<bean id="productProblemService" class="com.fuhuadata.service.impl.ProductProblemServiceImpl"/>
	<bean id="customerEncyclopediaService" class="com.fuhuadata.service.impl.CustomerEncyclopediaServiceImpl"/>
	<bean id ="componentCostService" class="com.fuhuadata.service.impl.ComponentCostServiceImpl"/>
	<bean id="freightCostService" class="com.fuhuadata.service.impl.FreightCostServiceImpl"/>
	<bean id="rateService" class="com.fuhuadata.service.impl.RateServiceImpl"/>
	<bean id = "industryDataService" class="com.fuhuadata.service.impl.IndustryDataServiceImpl"/>
	<bean id = "packingArchivesService" class="com.fuhuadata.service.impl.PackingArchivesServiceImpl"/>
	<bean id = "portChargesCostService" class="com.fuhuadata.service.impl.PortChargesCostServiceImpl"/>
	<bean id = "preparationProcessCostService" class="com.fuhuadata.service.impl.PreparationProcessCostServiceImpl"/>
	<bean id="saleCustomerService" class="com.fuhuadata.service.impl.SaleCustomerServiceImpl" />
	<bean id="customerParentService" class="com.fuhuadata.service.impl.CustomerBaseInfoServiceImpl"/>
	<bean id="userService" class="com.fuhuadata.service.impl.UserServiceImpl"/>
	<bean id="productInfoService" class="com.fuhuadata.service.impl.ProductInfoServiceImpl"/>
	<bean id="productCategoryService" class="com.fuhuadata.service.impl.ProductCategoryServiceImpl"/>
	<bean id="packingCategoryService" class="com.fuhuadata.service.impl.PackingCategoryServiceImpl"/>
	<bean id="customerProductInfoService" class="com.fuhuadata.service.impl.CustomerProductInfoServiceImpl"/>
	<bean id="customerMakeProductService" class="com.fuhuadata.service.impl.CustomerMakeProductServiceImpl"/>
	<bean id="customerLinkmanService" class="com.fuhuadata.service.impl.CustomerLinkmanServiceImpl"/>
	<bean id="customerPurchaseProductService" class="com.fuhuadata.service.impl.CustomerPurchaseProductServiceImpl"/>
	<bean id="customerSaleProductService" class="com.fuhuadata.service.impl.CustomerSaleProductServiceImpl"/>
	<bean id="recordLinkmanService" class="com.fuhuadata.service.impl.RecordLinkmanServiceImpl"/>
</beans>
