<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://192.168.30.120:3306/fuhuadata?useUnicode=true&amp;characterEncoding=UTF8" />
		<property name="username" value="root" />
		<property name="password" value="root" />

		<property name="maxActive" value="30" />
		<property name="initialSize" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="290000" />
		<property name="minEvictableIdleTimeMillis" value="290000" />
		<property name="numTestsPerEvictionRun" value="20" />
	</bean>

    <!-- iBatis 配置 -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:sqlmap-config.xml" />
		<property name="useTransactionAwareDataSource" value="true" />
	</bean>

	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

    <!-- MyBatis begin -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.fuhuadata.domain.mybatis"/>
        <property name="mapperLocations" value="classpath:/sqlmap/mapper/**/*.xml"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
    </bean>

    <!-- 通用 mapper 配置 -->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.fuhuadata.dao"/>
        <property name="markerInterface" value="com.fuhuadata.dao.mapper.BaseMapper"/>
        <property name="properties">
            <value>
                mappers=tk.mybatis.mapper.common.Mapper,com.fuhuadata.dao.mapper.BaseMapper
                IDENTITY=SELECT LAST_INSERT_ID()
                ORDER=AFTER
            </value>
        </property>
    </bean>

	<!-- 事务配置 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>








	<bean id="userAccountDao" class="com.fuhuadata.dao.impl.UserAccountDaoImpl" />
	<bean id="systemLogDao" class="com.fuhuadata.dao.impl.SystemLogDaoImpl"/>
	<bean id="marketTrainingDao" class="com.fuhuadata.dao.impl.MarketTrainingDaoImpl"/>
	<bean id="exhibitionInfoDao" class="com.fuhuadata.dao.impl.ExhibitionInfoDaoImpl"/>
	<bean id="productProblemDao" class="com.fuhuadata.dao.impl.ProductProblemDaoImpl"/>
	<bean id="customerEncyclopediaDao" class="com.fuhuadata.dao.impl.CustomerEncyclopediaDaoImpl"/>
	<bean id ="componentCostDao" class="com.fuhuadata.dao.impl.ComponentCostDaoImpl"/>
	<bean id="freightCostDao" class="com.fuhuadata.dao.impl.FreightCostDaoImpl"/>
	<bean id="rateDao" class="com.fuhuadata.dao.impl.RateDaoImpl"/>
	<bean id = "industryDataDao" class="com.fuhuadata.dao.impl.IndustryDataDaoImpl"/>
	<bean id = "packingArchivesDao" class="com.fuhuadata.dao.impl.PackingArchivesDaoImpl"/>
	<bean id = "portChargesCostDao" class="com.fuhuadata.dao.impl.PortChargesCostDaoImpl"/>
	<bean id = "preparationProcessCostDao" class="com.fuhuadata.dao.impl.PreparationProcessCostDaoImpl"/>
	<bean id="saleCustomerDao" class="com.fuhuadata.dao.impl.SaleCustomerDaoImpl"/>
	<bean id="customerParentDao" class="com.fuhuadata.dao.impl.CustomerBaseInfoDaoImpl"/>
	<bean id="userDao" class="com.fuhuadata.dao.impl.UserDaoImpl"/>
	<bean id="productInfoDao" class="com.fuhuadata.dao.impl.ProductInfoDaoImpl"/>
	<bean id="productCategoryDao" class="com.fuhuadata.dao.impl.ProductCategoryDaoImpl"/>
	<bean id="packingCategoryDao" class="com.fuhuadata.dao.impl.PackingCategoryDaoImpl"/>
	<bean id="productWareDao" class="com.fuhuadata.dao.impl.ProductWareDaoImpl"/>
	<bean id="customerProductInfoDao" class="com.fuhuadata.dao.impl.CustomerProductArchivesDaoImpl"/>
	<bean id="customerMakeProductDao" class="com.fuhuadata.dao.impl.CustomerMakeProductDaoImpl"/>
	<bean id="linkmanDao" class="com.fuhuadata.dao.impl.CustomerLinkmanDaoImpl"/>
	<bean id="customerPurchaseProductDao" class="com.fuhuadata.dao.impl.CustomerPurchaseProductDaoImpl"/>
	<bean id="customerSaleProductDao" class="com.fuhuadata.dao.impl.CustomerSaleProductDaoImpl"/>
	<bean id="recordLinkmanDao" class="com.fuhuadata.dao.impl.RecordLinkmanDaoImpl"/>
	<bean id="customerLinkmanDao" class="com.fuhuadata.dao.impl.CustomerLinkmanDaoImpl"/>
	<bean id="customerVisitRecordDao" class="com.fuhuadata.dao.impl.CustomerVisitRecordDaoImpl"/>
	<bean id="customerSubcompanyInfoDao" class="com.fuhuadata.dao.impl.CustomerSubcompanyInfoDaoImpl"/>
	<bean id="businessInfoDao" class="com.fuhuadata.dao.impl.BusinessInfoDaoImpl"/>
	<bean id="businessRecordDao" class="com.fuhuadata.dao.impl.BusinessRecordDaoImpl"/>
</beans>