<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	<bean id="userAccountService" class="com.fuhuadata.service.impl.UserAccountServiceImpl"/>
	<bean id="systemLogService" class="com.fuhuadata.service.impl.SystemLogServiceImpl"/>
	<bean id="marketTrainingService" class="com.fuhuadata.service.impl.MarketTrainingServiceImpl"/>
	<bean id="exhibitionInfoService" class="com.fuhuadata.service.impl.ExhibitionInfoServiceImpl"/>
	<bean id="productProblemService" class="com.fuhuadata.service.impl.ProductProblemServiceImpl"/>
	<bean id="customerEncyclopediaService" class="com.fuhuadata.service.impl.CustomerEncyclopediaServiceImpl"/>
	<bean id="saleCustomerService" class="com.fuhuadata.service.impl.SaleCustomerServiceImpl" />
	<bean id="customerParentService" class="com.fuhuadata.service.impl.CustomerParentServiceImpl"/>
</beans>
