<div class="nav-deputy shadow-out clearfix">
    #factoryTab('订单记录',1)
    #breadcrumb()
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">产品信息</h3>
                </div>
                <div class="panel-body clearfix">
                    <!--表格-->
                    <form class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" lang="zh">外销合同号</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon" lang="zh">采购合同号</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon" lang="zh">原粉合同号</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon" lang="zh">外销客户</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon">日期</span>
                            <select class="form-control" name="">
                                <option value="">——选择日期类型——</option>
                                <option value="">采购合同时间</option>
                                <option value="">交货时间</option>
                            </select>
                            <span class="input-group-addon" lang="zh">开始时间</span>
                            <input class="form-control" name="" type="date">
                            <span class="input-group-addon" lang="zh">结束时间</span>
                            <input class="form-control" name="" type="date">
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-default" type="reset" accesskey="r">重置</button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-primary" type="button" accesskey="s">搜索</button>
                            </div>
                        </div>
                    </form>
                    <table class="table text-center table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">编号</th>
                            <th class="text-center" lang="zh">产品名称</th>
                            <th class="text-center" lang="zh">包装规格</th>
                            <th class="text-center" lang="zh">外销客户</th>
                            <th class="text-center" lang="zh">外销合同号</th>
                            <th class="text-center" lang="zh">采购合同号</th>
                            <th class="text-center" lang="zh">原药合同号</th>
                            <th class="text-center" lang="zh">数量</th>
                            <th class="text-center" lang="zh">加工单价（元）</th>
                            <th class="text-center" lang="zh">加工总价（元）</th>
                            <th class="text-center" lang="zh">采购合同时间</th>
                            <th class="text-center" lang="zh">采购单价（元）</th>
                            <th class="text-center" lang="zh">采购总价（元）</th>
                            <th class="text-center" lang="zh">交货时间</th>
                            <th class="text-center" lang="zh">原药消耗量（kg）</th>
                            <th class="text-center" lang="zh">原药单价（元）</th>
                            <th class="text-center" lang="zh">原药总价（元）</th>
                            <th class="text-center" lang="zh">备注</th>
                            <th class="text-center" lang="zh">服务评价</th>
                        </tr>
                        </thead>
                        <tbody id="factory_product">
                        </tbody>
                    </table>
                    <div class="pagination" id="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>