<div class="nav-deputy shadow-out clearfix">
    #breadcrumb()
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12 view-HD-lg">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">加工厂列表</h3>
                </div>
                <div class="panel-body clearfix">
                    <!--表格-->
                    <table class="table text-center table-condensed table-bordered table-striped">
                        <caption class="text-right" lang="zh">金额单位：万元</caption>
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">企业编号</th>
                            <th class="text-center" lang="zh">企业全称</th>
                            <th class="text-center" lang="zh">企业简称</th>
                            <th class="text-center" lang="zh">加工产品</th>
                            <th class="text-center" lang="zh">开始合作时间</th>
                            <th class="text-center" lang="zh">合作时间（月）</th>
                            <th class="text-center" lang="zh">综合评分</th>
                            <th class="text-center" lang="zh">工厂管理员</th>
                            <th class="text-center" lang="zh">联系人</th>
                            <th class="text-center" lang="zh">联系电话</th>
                            <th class="text-center" lang="zh">备注</th>
                        </tr>
                        </thead>
                        <tbody id="factory_list">
                        </tbody>
                    </table>
                    <div id="pagination" class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript">

    var pagesize = 10; // 分页步长

    $(function(){

        var table = {
            pageSize:10,
            pageNum:0,
            pagination:$('#pagination'),
            data:{
                url:basePath + '',
                dataType:'json',
                data:{
                    customerType:$("#customerType").val(),
                    areaId:areaId,
                    fullName:$("#fullName").val(),
                    enterpriseNature:$("#enterpriseNature").val(),
                    zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
                    customerLevel:$("#customerLevel").val(),
                    customerStatus:$("#customerStatus").val(),
                    startRow:this.pageNum*this.pageSize,
                    pageSize:this.pageSize
                },
                async:true,
                type:'POST'
            },
            setPagination:{
                items_per_page : this.pageSize,
                num_edge_entries : 3,
                num_display_entries : 5,
                callback:function () {

                }
            }
            init:function () {
                $.ajax(this.data).done(function(){

                })
            },

            renderList:function () {

            },
            renderPagination:function (total) {
                this.pagination.pagination(total,this.setPagination);
            }
        }

        /*// 搜索按钮绑定事件
        $("#submit").click(function(){

            serach();
        });

        // 初始化分页插件并渲染第一页数据
        serach();*/

    });





    /**
     *以下是逻辑处理和数据处理函数
     */

    // 搜索列表并渲染
    function serach(){

        // 获取参数
        var data = collectArgs();

        getDataList(0,pagesize,rederLiset); // 初始化第一页数据

        // 获取总的条数
        getListCount(data,function (total) {

            // 渲染分页
            rederPaging(total,pagesize,function (pageNum,jq) {

                // 获取列表数据
                getDataList(pageNum,pagesize);
            })
        })

    }

    // 收集提交参数
    function collectArgs() {
        var obj={
            customerType:$("#customerType").val(),
            areaId:areaId,
            fullName:$("#fullName").val(),
            enterpriseNature:$("#enterpriseNature").val(),
            zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
            customerLevel:$("#customerLevel").val(),
            customerStatus:$("#customerStatus").val(),
        }
        return obj;
    }

    // 获取列表数据条目总数
    function getListCount(data,callback){
        var total = 0;
        jQuery.ajax({
            url:basePath + '/customerBaseInfo/countCustomerList',
            dataType:'JSON',
            data:data,
            async:true,
            type:'POST'
        }).done(function (res) {
            total = res.data;
            callback(total);
        });
    }

    // 渲染分页插件
    function rederPaging(total,pageSize,callback) {

        $("#pagination").pagination(total,{
            items_per_page : pageSize,
            num_edge_entries : 3,
            num_display_entries : 5,
            callback:callback
        });
    }

    // 根据页码获取列表数据
    function getDataList(pageNum,pageSize,callback) {
        jQuery.ajax({
            url:basePath + '/customerBaseInfo/queryCustomerPageList',
            dataType:'json',
            data:{
                customerType:$("#customerType").val(),
                areaId:areaId,
                fullName:$("#fullName").val(),
                enterpriseNature:$("#enterpriseNature").val(),
                zhongxinbaoLevel:$("#zhongxinbaoLevel").val(),
                customerLevel:$("#customerLevel").val(),
                customerStatus:$("#customerStatus").val(),
                startRow:pageNum*pageSize,
                pageSize:pageSize
            },
            async:true,
            type:'POST'
        }).done(function (res) {

            // 渲染列表
            rederLiset(res,pageNum);
        });
    }

    // 渲染列表
    function rederLiset(data,pageNum){
        var list = data.data,
                _html = '',
                count = pageNum*pagesize;
        if(list && list!='' && list!='null'){
            for(var i=0;i<list.length;i++){
                var customer = list[i];
                _html += '<tr>';
                _html += '<td>'+(++count)+'</td>'
                _html += '<td>'+customer.ncId+'</td>';
                _html += '<td><a href="'+basePath+'/customerBaseInfo/intoCustomerBaseInfoDetails?customerType=1&customerId='+customer.customerId+'">'+customer.fullName+'</a></td>';
                _html += '<td>'+(customer.shortName!=undefined?customer.shortName:'')+'</td>';
                _html += '<td lang="zh">'+(customer.area!=undefined?customer.area:'')+'</td>';
                _html += '<td lang="zh">'+(customer.customerLevel!=undefined?customerLevelList[customer.customerLevel-1]:'')+'</td>';
                _html += '<td>'+(customer.zhongxinbaoLevel!=undefined?customer.zhongxinbaoLevel:'')+'A</td>';
                _html += '<td>'+(customer.startCooperationTime!=undefined?customer.startCooperationTime:'')+'</td>';
                _html += '<td lang="zh">'+(customer.cooperationDuration!=undefined?customer.cooperationDuration:'')+'</td>';
                _html += '<td lang="zh">'+(customer.activePeriod!=undefined?customer.activePeriod:'')+'</td>';
                _html += '<td><a href="#" name="totalMoney" data-val="'+customer.customerId+'">'+(customer.totalMoney!=undefined?customer.totalMoney:'')+'</a></td>';
                _html += '<td>'+(customer.payMoney!=undefined?customer.payMoney:'')+'</td>';
                _html += '<td>'+(customer.minPrice!=undefined?customer.minPrice:'')+'</td>';
                _html += '<td>'+(customer.maintenanceFee!=undefined?customer.maintenanceFee:'')+'</td>';
                _html += '<td>'+(customer.netProfit!=undefined?customer.netProfit:'')+'</td>';
                _html += '<td lang="zh">'+(customer.customerStatus==0?"易流失":"正常")+'</td>';
                _html += '<td>'+(customer.lastmodifyUserName!=undefined?customer.lastmodifyUserName:'')+'</td>';
                _html += '<td>'+(customer.remark!=undefined?customer.remark:'')+'</td>';
                _html += '</tr>';
            }
        }
        $("#append_container").html(_html);
    }

    // 渲染模态
    function renderModal(data,el) {

        if (data instanceof Array) {

            var _html=''
            jQuery.each(data,function (n,item) {

                _html += '<tr><td>'+item.productName+'</td>';
                _html += '<td>'+item.categoryName+'</td>'
                _html += '<td>'+item.totalSaleNum+'</td>';
                _html += '<td>'+item.totalSaleMoney+'</td>';
                _html += '<td>'+item.totalMinPrice+'</td>';
                _html += '<td>'+item.totalProfit+'</td></tr>';

                el.html(_html);
            })
        }else{

            _html = '<tr><td colspan="6">暂无数据</td></tr>';
            el.html(_html);
        }
    }

</script>