<div class="nav-deputy shadow-out clearfix">
    #factoryTab('订单记录',$!{factory.id})
    #breadcrumb()
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    #orderTypeTab('采购合同',$!{factory.id})
                    <h3 class="panel-title" lang="zh">订单信息</h3>
                </div>
                <div class="panel-body clearfix">
                    <!--表格-->
                    <form class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" lang="zh">外销合同号</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon" lang="zh">采购合同号</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon" lang="zh">原粉合同号</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon" lang="zh">外销客户</span>
                            <input class="form-control" name="" type="text">
                            <span class="input-group-addon">日期</span>
                            <select class="form-control" name="">
                                <option value="">——选择日期类型——</option>
                                <option value="">采购合同时间</option>
                                <option value="">交货时间</option>
                            </select>
                            <span class="input-group-addon" lang="zh">开始时间</span>
                            <input class="form-control" name="" type="date">
                            <span class="input-group-addon" lang="zh">结束时间</span>
                            <input class="form-control" name="" type="date">
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-default" type="reset" accesskey="r">重置</button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-primary" type="button" accesskey="s">搜索</button>
                            </div>
                        </div>
                    </form>
                    <table class="table text-center table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">编号</th>
                            <th class="text-center" lang="zh">采购合同号</th>
                            <th class="text-center" lang="zh">合同名称</th>
                            <th class="text-center" lang="zh">采购合同时间</th>
                            <th class="text-center" lang="zh">交货时间</th>
                            <th class="text-center" lang="zh">币种</th>
                            <th class="text-center" lang="zh">总数量</th>
                            <th class="text-center" lang="zh">价税合计</th>
                            <th class="text-center" lang="zh">备注</th>
                            <th class="text-center" lang="zh">服务评价</th>
                        </tr>
                        </thead>
                        <tbody id="order_content">
                        </tbody>
                    </table>
                    <div class="pagination" id="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
## 详情modal
<div class="modal fade in" id="details_modal" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <hr>
                <table class="table text-center table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center" lang="zh">编号</th>
                        <th class="text-center" lang="zh">物料编码</th>
                        <th class="text-center" lang="zh">物料名称</th>
                        <th class="text-center" lang="zh">物料规格</th>
                        <th class="text-center" lang="zh">单位</th>
                        <th class="text-center" lang="zh">主数量</th>
                        <th class="text-center" lang="zh">单价</th>
                        <th class="text-center" lang="zh">总价</th>
                        <th class="text-center" lang="zh">外销客户名称</th>
                        <th class="text-center" lang="zh">外销合同号</th>
                        <th class="text-center" lang="zh">备注</th>
                    </tr>
                    </thead>
                    <tbody id="order_details"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<input id="cvendor_id" type="hidden" value="$!{factory.pkSupplier}"> ## 供应商id
<script>
    (function () {
        var cvendorId = $('#cvendor_id').val(),
                table = {
                    total:0,
                    pageSize:10,
                    pageNum:0,
                    pagination:$('#pagination'),
                    container:$('#order_content'),
                    setPagination:{
                        num_edge_entries:3,
                        num_display_entries:5,
                        callback:function (pageNum,jq) {
                            $.ajax({
                                url:basePath + '/supplier/factories/buy/contracts',
                                dataType:'json',
                                contentType:'application/json',
                                data:{
                                    cvendorid:cvendorId,
                                    pageSize:table.pageSize,
                                    index:pageNum+1
                                },
                                async:true,
                                type:'GET'
                            }).done(function(res){

                                if (res.code===1) { // 请求是否成功

                                    table.renderList(res.data.list, (res.data.pageNum-1)*res.data.pageSize);
                                }
                            });
                        }
                    },
                    thisRow:'',
                    init:function () {
                        $.ajax({
                            url:basePath + '/supplier/factories/buy/contracts',
                            dataType:'json',
                            contentType:'application/json',
                            data:{
                                cvendorid:cvendorId,
                                pageSize:table.pageSize,
                                index:1
                            },
                            async:true,
                            type:'GET'
                        }).done(function (res) {
                            if (res.code===1) { // 请求是否成功

                                if(table.total!==res.data.total){ // 是否需要渲染分页

                                    table.total = res.data.total;
                                    table.renderPagination();
                                }
                                table.renderList(res.data.list, (res.data.pageNum-1)*res.data.pageSize);
                            }
                        });

                        this.container.on('click.show', 'a[name]', this.clickHandler);
                    },
                    renderList:function (list, count) {
                        var tpl = '',
                            count = count;
                        if (Array.isArray(list)) {
                            $.each(list, function(i, item){
                                tpl +=
                                    '<tr>' +
                                    '<td>'+(++count)+'</td>'+
                                    '<td><a name="popModal" data-id="'+item.pkCtPu+'" href="#">'+table.hasField(item.vbillcode)+'</a></td>'+
                                    '<td>'+table.hasField(item.ctname)+'</td>'+
                                    '<td>'+table.transformDateHandler(table.hasField(item.subscribedate))+'</td>'+
                                    '<td>'+table.hasField(item.actualinvalidate)+'</td>'+
                                    '<td>'+table.hasField()+'</td>'+
                                    '<td>'+table.hasField(item.totalNumber)+'</td>'+
                                    '<td>'+table.hasField(item.ntotalorigmny)+'</td>'+
                                    '<td>'+table.hasField(item.remark)+'</td>'+
                                    '<td><a href="'+basePath+'/factory/eva/'+item.id+'/vm">'+
                                    (typeof item.totalScore==='number'?item.totalScore:'去评价')+
                                    '</td></a>'
                                    '</tr>';
                            });
                        }else {
                            tpl += '<tr><td colspan="10">暂无数据</td></tr>'
                        }
                        this.container.html(tpl);
                    },
                    renderPagination:function () {
                        this.setPagination.items_per_page = this.pageSize;
                        this.pagination.pagination(this.total,this.setPagination);
                    },
                    transformDateHandler:function (time) {
                        var time = new Date(time),
                            year = time.getFullYear(),
                            month = parseInt(time.getMonth())+1,
                            day = time.getDate(),
                            hours = parseInt(time.getHours()),
                            minutes = parseInt(time.getMinutes()),
                            seconds = parseInt(time.getSeconds()),
                            newTime;
                        return newTime = year+'-'+
                                (month.toString().length===1?'0'+month:month)+'-'+
                                (day.toString().length===1?'0'+day:day)+' '+
                                (hours.toString().length===1?'0'+hours:hours)+':'+
                                (minutes.toString().length===1?'0'+minutes:minutes)
                    },
                    hasField:function (field) {

                        if (field===null||field===undefined){
                            return '';
                        }else {
                            return field;
                        }
                    },
                    clickHandler:function (e) {
                        e.preventDefault();
                        var id=$(this).data('id');

                        if (table.thisRow!=id) {

                            table.thisRow = $(this).data('id');
                            modal.init(table.thisRow);
                        }

                        modal.dom.modal('show');
                    }
                },
                modal = {
                    dom:$('#details_modal'),
                    container:$('#order_details'),
                    init:function (id) {
                        var self = this;
                        $.ajax({
                            url:basePath + '/biz/buy/contracts/'+id+'/products',
                            dataType:'json',
                            contentType:'application/json',
                            data:{

                            },
                            type:'GET'
                        }).done(function (res) {
                            if (res.code===1&&res.data) { // 请求是否成功
                                self.renderList(res.data);
                                self.dom.modal('show');
                            }
                        });
                    },
                    renderList:function (list) {
                        var tpl = '';

                        if (Array.isArray(list)) {

                            $.each(list, function(i, item){
                                tpl +=
                                        '<tr>' +
                                        '<td>'+(i+1)+'</td>'+
                                        '<td><a href="#">'+table.hasField(item.pkMaterial)+'</a></td>'+
                                        '<td>'+table.hasField(item.materialName)+'</td>'+
                                        '<td>'+table.hasField(item.specification)+'</td>'+
                                        '<td>'+table.hasField(item.cunit)+'</td>'+
                                        '<td>'+table.hasField(item.nnum)+'</td>'+
                                        '<td>'+table.hasField(item.price)+'</td>'+
                                        '<td>'+table.hasField(item.totalPrice)+'</td>'+
                                        '<td>'+table.hasField(item.exportCtClientName)+'</td>'+
                                        '<td><a href="'+basePath+table.hasField(item.exportCtPk)+'">'+table.hasField(item.exportCtCode)+'</a></td>'+
                                        '<td>'+table.hasField(item.remark)+'</td>'+
                                        '</tr>';
                            });
                        }else {
                            tpl += '<tr><td colspan="9">暂无数据</td></tr>';
                        }
                        this.container.html(tpl);
                    }
                }
        table.init();
    })();
</script>