<div class="nav-deputy shadow-out clearfix">
    #breadcrumb()
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12 view-HD-lg">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="panel-heading-btn pull-right btn btn-xs btn-primary hidden" name="edit" type="button">
                        <span class="glyphicon glyphicon-edit"></span>
                        编辑
                    </button>
                    <h3 class="panel-title" lang="zh">订单评价</h3>
                </div>
                <div class="panel-body clearfix">
                    <!--表格-->
                    <table class="table text-center table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">编号</th>
                            <th class="text-center" lang="zh">时间</th>
                            <th class="text-center" lang="zh">客服得分</th>
                            <th class="text-center" lang="zh">价格得分</th>
                            <th class="text-center" lang="zh">仓储得分</th>
                            <th class="text-center" lang="zh">投诉反馈得分</th>
                            <th class="text-center" lang="zh">评价总分</th>
                            <th class="text-center" lang="zh">评价人</th>
                            <th class="text-center" lang="zh">评价时间</th>
                            <th class="text-center" lang="zh">备注</th>
                        </tr>
                        </thead>
                        <tbody id="forwarding_list"></tbody>
                    </table>
                    <div id="pagination" class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${request.contextPath}/lib/js/supplierInformation/forwardingGradeList.js"></script>