
<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #forwarderNav(1)
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <!--基本信息-->
                <div class="panel panel-default view-HD-lg" id="panel">
                    <div class="panel-heading">
                        <button class="btn btn-xs btn-primary panel-heading-btn pull-right" id="edit" data-view="editHide" type="button" lang="zh">
                            编辑
                        </button>
                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right hidden" data-view="editView">
                            <button class="btn" id="cancel" type="button" lang="zh">取消</button>
                            <button class="btn btn-primary" id="save" type="button" lang="zh">保存</button>
                        </div>
                        <h3 class="panel-title" lang="zh">基本信息</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <form class="form-horizontal" name="factoryInfo">
                            <div class="hidden">
                                <input name="id" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">货代代码</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="code" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">企业全称<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="name" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" for="shortname" lang="zh">企业简称<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="shortname" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" for="supprop" lang="zh">类型<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="supprop" data-control="off" disabled>
                                        <option value="0">常规</option>
                                        <option value="1">非常规</option>
                                        <option value="2">自定</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">社会信用代码</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="creditCode" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">办公地址<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="officeAddress" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">联系电话<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="tel1" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">合作时间<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="cooperateTime" data-control="off" type="text" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">注册资金(万元)</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="registerfund" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">联系人<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="linkMan" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">联系电话<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="linkPhone" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">邮箱<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="email" data-control="off" type="text" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label">运输方式<sup class="not-null">*</sup></label>
                                <div class="col-xs-5">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="transportationMethods cell_edit" value="1"> 汽运
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="transportationMethods cell_edit" value="2"> 船运
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="transportationMethods cell_edit" value="3"> 铁路
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="transportationMethods cell_edit" value="4"> 航空
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="check" class="transportationMethods cell_edit" id="other" value="5"> 其他
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">注册地址</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" id="corpaddress" data-control="off" rows="2" disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">备注</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" id="memo" data-control="off" rows="2" disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">营业执照<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-3">
                                    <div class="input-group">
                                        <input class="form-control" id="businessLicence" data-control="off" type="text" disabled/>
                                        <div class="input-group-btn" lang="zh">
                                            <button class="btn btn-xs btn-primary hidden" data-view="editView" type="button" lang="zh">修改</button>
                                            <button class="btn btn-xs btn-primary" type="button" lang="zh">查看</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">无船承运业务经营资格登记证<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-3">
                                    <div class="input-group">
                                        <input class="form-control" id="nvocc" data-control="off" type="text" disabled/>
                                        <div class="input-group-btn" lang="zh">
                                            <button class="btn btn-xs btn-primary hidden" data-view="editView" type="button" lang="zh">修改</button>
                                            <button class="btn btn-xs btn-primary" type="button" lang="zh">查看</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1">是否进入电彩系统<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="enterElectronicSystem" data-control="off" disabled>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">综合评分</label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input class="form-control" id="combinedScoring" data-control="off" type="text" disabled/>
                                        <span class="input-group-addon"><a href="#" target="_blank">查看明细</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-view="editHide">
                                <label class="control-label col-xs-1" lang="zh">创建人</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="createUserName" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">创建时间</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="createTime" type="text" disabled/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

## 图片上传modal
<div class="modal fade" id="set_img" data-backdrop="true" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body clearfix">
                <form class="form-horizontal well" name="imgForm" enctype="multipart/form-data" style="margin-bottom: 0;">
                    <input name="setImg" type="file">
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-2">
                        <button class="btn btn-xs btn-block btn-default" data-dismiss="modal" type="button" lang="zh">取消</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-xs btn-block btn-primary" name="save" type="button" lang="zh">上传</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

## 图片展示modal
<div class="modal fade" id="show_img" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="thumbnail">
                    <img name="showImg" src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="JavaScript">
    $(document).ready(function(){
        jQuery.ajax({
            url:basePath + '/supplier/forwarding/forwardingInfo?id=1',
            type:'GET'
        }).done(function(result){
            if(result.code == 1){
                var Resultdata = result.data
                render(Resultdata);
            }
        })
    })

    function render(data){
        console.log(data);
        $('#code').val(data.code);//nc货代编码
        $('#name').val(data.name);//企业全称
        $('#shortname').val(data.shortname);//企业简称
        $('#supprop').val(data.supprop);// 类型

        $('#creditCode').val(data.creditCode);// 社会信用代码
        $('#officeAddress').val(data.officeAddress);//办公地址
        $('#tel1').val(data.tel1);//企业联系电话
        $('#cooperateTime').val(data.cooperateTime);//合作时间

        $('#registerfund').val(data.registerfund);//注册资金
        $('#linkMan').val(data.linkMan);//联系人
        $('#linkPhone').val(data.linkPhone);//联系电话
        $('#email').val(data.email);//邮箱

        $('#corpaddress').val(data.corpaddress);//注册地址
        $('#memo').val(data.memo);//货代备注

        $('#businessLicence').val(data.businessLicence);//营业执照
        /*$('#registrationCertificate').val(data.registrationCertificate);*///经营资格登记证
        $('#nvocc').val(data.nvocc);//无船承运业务经营资格登记证

        $('#enterElectronicSystem').val(data.enterElectronicSystem);//是否进入电子系统 1：是 0 ：否
        $('#combinedScoring').val(data.combinedScoring);//综合评分
        $('#createUserName').val(data.createUserName);//创建者姓名
        $('#createTime').val(data.createTime);//创建时间

        var transportationMethods = data.transportationMethods.split(',');//运输方式
        $.each(transportationMethods,function(index,value){
            $("input[name='check']").each(function(){
                if($(this).val() == value){
                    $(this).prop('checked',true);
                }
            })
        });
    }

    // 图片路径展示组件
    var imgGroup = {
        inputGroups:$('#businessLicence,#nvocc),
        modal:$('#show_img'),
        editBtn:'[name="edit"]',
        showBtn:'[name="show"]',
        container:$('[name="showImg"]','#show_img'),
        thePath:null,
        theName:null,
        init:function () {
            this.addEvent('click.show', this.showBtn, this.showHandler); // 点击展示图片
            this.addEvent('click.edit', this.editBtn, this.editHandler); // 点击弹出编辑modal
        },
        addEvent:function (eType, el, handler) {
            this.inputGroups.off(eType).on(eType, el, handler);
        },
        showHandler:function () {
            imgGroup.thePath = $(this).closest('.input-group').find('input').val();
            if (imgGroup.thePath) {

                imgGroup.container.attr('src',basePath+imgGroup.thePath);
                imgGroup.modal.modal('show');
            }else {
                alert('当前没有图片，请添加！');
            }
        },
        editHandler:function () {
            imgGroup.theName = $(this).closest('.input-group').find('input').attr('name');
            upImgModal.form[0].reset();
            upImgModal.modal.modal('show');
        }
    };

    // 图片上传组件
    var upImgModal = {
        modal:$('#set_img'),
        form:$('[name="imgForm"]','#set_img'),
        save:'[name="save"]',
        fileInput:$('[name="setImg"]','#set_img'),
        init:function () {
            this.addEvent('click.save', this.save, this.saveHandler);
        },
        addEvent:function (eType, el, handler) {
            this.modal.off(eType).on(eType, el, handler);
        },
        saveHandler:function () {
            if (!upImgModal.fileInput.val()) return alert('请选择图片！');
            var img = new FormData(upImgModal.form[0]);
            /*img.append("classifyPath","oederRequire");*/
            $.ajax({
                url:basePath+'/upload/uploadFileAll',
                type:'POST',
                data:img,
                dataType:'JSON',
                cache:false,
                processData:false,
                contentType:false
            }).done(function (res) {

                if (res.code===1) {

                    basicPanel.data[imgGroup.theName] = res.data[0];
                    basicPanel.render(basicPanel.data);
                }
            });
            upImgModal.modal.modal('hide');
        }
    };
</script>
