<div class="clearfix content shadow-out">
    <div class="nav-deputy shadow-out clearfix">
        #forwardingTab('仓库信息',$!{forwardingId})
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12 view-HD-lg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        #if ($shiro.hasPermission("supplier:plant:edit"))
                        <button class="btn btn-xs btn-primary panel-heading-btn pull-right" data-toggle="modal" data-target="#modal" type="button" lang="zh">
                            添加关联仓库
                        </button>
                        #end
                        <h3 class="panel-title" lang="zh">仓库信息</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <table class="table table-bordered table-condensed text-center table-striped">
                            <thead>
                            <tr>
                                <th class="text-center col-xs-1 text-middle">仓库编号</th>
                                <th class="text-center col-xs-2 text-middle">企业全称</th>
                                <th class="text-center col-xs-1 text-middle">类型</th>
                                <th class="text-center col-xs-1 text-middle">仓库地址</th>
                                <th class="text-center col-xs-1 text-middle">仓储面积</th>
                                <th class="text-center col-xs-1 text-middle">是否危险品仓库</th>
                                <th class="text-center col-xs-1 text-middle">是否做内装进港</th>
                                <th class="text-center col-xs-1 text-middle">综合评分</th>
                                <th class="text-center col-xs-1 text-middle">备注</th>
                            </tr>
                            </thead>
                            <tbody id="warehouse_list"></tbody>
                        </table>
                        <div id="pagination" class="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
## modal模态

<div class="modal fade in" id="modal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group">
                                <input name="searchList" class="form-control" type="text">
                                <div class="input-group-btn">
                                    <button name="searchBtn" class="btn btn-xs btn-primary" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="warehouselist" id="warehouselist" multiple size="20"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <button type="button" class="btn btn-primary btn-block" id="finish">
                            完成
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="forwardingId" type="hidden" value="$!{forwardingId}">

<script type="text/javascript" language="JavaScript">

    $(function(){
        var supprops=['常规','非常规','自定'],
                table = {
                    total:0,
                    pageSize:10,
                    pageNum:0,
                    pagination:$('#pagination'),
                    container:$('#warehouse_list'),
                    setPagination:{
                        num_edge_entries:3,
                        num_display_entries:5,
                        callback:function (pageNum,jq) {
                            $.ajax({
                                url:basePath + '/supplier/forwarding/warehouseList',
                                dataType:'json',
                                contentType:'application/json',
                                data:{
                                    forwardingId:$('#forwardingId').val(),
                                    pageSize:table.pageSize,
                                    index:pageNum+1
                                },
                                async:true,
                                type:'GET'
                            }).done(function(res){

                                if (res.code===1) { // 请求是否成功

                                    table.renderList(res.data.list);
                                }
                            });

                        }
                    },
                    init:function () {
                        $.ajax({
                            url:basePath + '/supplier/forwarding/warehouseList',
                            dataType:'json',
                            contentType:'application/json',
                            data:{
                                forwardingId:$('#forwardingId').val(),
                                pageSize:table.pageSize,
                                index:1
                            },
                            async:true,
                            type:'GET'
                        }).done(function (res) {
                            if (res.code===1) { // 请求是否成功

                                if(!table.total){ // 是否需要渲染分页

                                    table.total = res.data.total;
                                    table.renderPagination();
                                }
                                table.renderList(res.data.list);
                            }
                        });
                    },
                    renderList:function (list) {
                        var tpl = '';
                        if (Array.isArray(list)&&list.length>0) {
                            $.each(list, function(i, item){
                                tpl +=
                                        '<tr>' +
                                        '<td>'+table.hasField(item.code)+'</td>'+
                                        '<td><a href="'+basePath+'/supplier/warehouse/intoWarehouseBasic?id='+table.hasField(item.id)+'">'+table.hasField(item.name)+'</a></td>';
                                if (!!item.supprop) {
                                    tpl += '<td>'+supprops[table.hasField(item.supprop)]+'</td>';
                                }else {
                                    tpl += '<td></td>';
                                }
                                tpl += '<td>'+table.hasField(item.storaddr)+'</td>'+
                                        '<td>'+table.hasField(item.storageArea)+'</td>'+
                                        '<td>'+table.hasField(item.isDangers)+'</td>'+
                                        '<td>'+table.hasField(item.isInsideEntrance)+'</td>'+
                                        '<td>'+table.hasField(item.combinedScoring)+'</td>'+
                                        '<td>'+table.hasField(item.memo)+'</td>'+
                                        '</tr>';
                            });
                        }else {
                            tpl += '<tr><td colspan="9">暂无数据</td></tr>'
                        }
                        this.container.html(tpl);
                    },
                    renderPagination:function () {
                        this.setPagination.items_per_page = this.pageSize;
                        this.pagination.pagination(this.total,this.setPagination);
                    },
                    hasField:function (field) {

                        if (field===null||field===undefined){
                            return '';
                        }else {
                            return field;
                        }
                    }
                },
                table2 = {
                    container:$('#warehouselist'),
                    list:null,
                    init:function () {
                        $.ajax({
                            url:basePath + '/supplier/warehouse/warehouseList',
                            dataType:'json',
                            contentType:'application/json',
                            async:true,
                            type:'GET'
                        }).done(function (res) {
                            if (res.code===1) { // 请求是否成功
                                /*$.forEach(res.data.list, function (i, item) {
                                    item.filter = true;
                                });*/
                                table2.list = res.data.list;
                                table2.renderList(table2.list);
                            }
                        });
                    },
                    renderList:function (list, filter) {
                        this.container.html('');
                        var tpl = '';
                        if(list.length>0){
                            if (!!filter) {
                                $.each(list, function(i, item){
                                    if (item.name.search(filter) !== -1) {
                                        tpl +=  '<option value="'+item.id+'">'+item.name+'</option>';
                                    }
                                });
                            }else {
                                $.each(list, function(i, item){
                                    tpl +=  '<option value="'+item.id+'">'+item.name+'</option>';
                                });
                            }
                        }else{
                            tpl += '<option value="">暂无数据</option>';
                        }
                        this.container.html(tpl);
                    },
                    hasField:function (field) {

                        if (field===null||field===undefined){
                            return '';
                        }else {
                            return field;
                        }
                    },
                    searchList: function () {
                        var searchInput = $('[name="searchList"]','#modal'),
                                searchContent = searchInput.val();
                        table2.renderList(table2.list, searchContent);
                    },
                    relevanceForwarding: function () {
                        $.ajax({
                            url:basePath + '/supplier/forwarding/addForwardingWarehouseRelation',
                            dataType:'json',
                            contentType:'application/json',
                            async:true,
                            type:'GET',
                            data:{
                                freightforwardingId:$('#forwardingId').val(),
                                warehouseId:$('[name="warehouselist"]').val().join(',')
                            }
                        }).done(function (res) {
                            $('#modal').modal('hide');
                            if (res.code===1) { // 请求是否成功
                                alert('关联成功');
                                table.init();
                            }else {
                                alert('关联失败');
                            }
                        });
                    }
                };
        table.init();
        table2.init();
        $('[name="searchBtn"]').on('click', table2.searchList);
        $('#finish').on('click', table2.relevanceForwarding);
    });
</script>



