
<div class="clearfix content shadow-out">
    <!--副导航-->
    <div class="nav-deputy shadow-out clearfix">
        #warehouseTab('基本信息',$!{warehouseId})
        #breadcrumb()
    </div>
    <!--表格容器-->
    <div class="dashboard-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <!--基本信息-->
                <div class="panel panel-default view-HD-lg" id="panel">
                    <div class="panel-heading">
                        <button class="btn btn-xs btn-primary panel-heading-btn pull-right" name="edit" data-view="editHide" type="button" lang="zh" id="edit">
                            编辑
                        </button>
                        <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                            <button class="btn btn-default hidden" name="cancel" type="button" lang="zh" id="cancel">取消</button>
                            <button class="btn btn-primary hidden" name="save" type="button" lang="zh" id="save">保存</button>
                        </div>
                        <h3 class="panel-title" lang="zh">基本信息</h3>
                    </div>
                    <div class="panel-body clearfix">
                        <form class="form-horizontal" name="factoryInfo">
                            <div class="hidden">
                                <input name="id" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">仓库编号</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="code" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">企业全称<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="name" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1"lang="zh">所属库存组织<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="pkOrg" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" for="supprop" lang="zh">类型<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="supprop" data-control="off" disabled>
                                        <option value="0">常规</option>
                                        <option value="1">非常规</option>
                                        <option value="2">自定</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">社会信用代码<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="creditCode" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">所属地点</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="pkAddress" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">负责人<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="principalcode" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">联系电话<sup data-view="editView" class="not-null hidden">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="phone" data-control="off" type="text" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">仓储面积<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <input class="form-control notnull" id="storageArea" data-control="off" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" for="supprop" lang="zh">是否危险品仓库<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control notnull" id="isDangers" data-control="off" disabled>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                                <label class="control-label col-xs-1" for="supprop" lang="zh">是否做内装进港<sup class="not-null">*</sup></label>
                                <div class="col-xs-2">
                                    <select class="form-control notnull" id="isInsideEntrance" data-control="off" disabled>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">仓库地址<sup class="not-null">*</sup></label>
                                <div class="col-xs-8">
                                    <textarea class="form-control notnull" id="storaddr" data-control="off" rows="2" disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">备注</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" id="memo" data-control="off" rows="2" disabled></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-1" lang="zh">综合评分</label>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input class="form-control" id="combinedScoring" data-control="off" type="text" disabled/>
                                        <span class="input-group-addon"><a href="${request.contextPath}/supplier/warehouse/intoWarehouseGrade?warehouseId=$!{warehouseId}" target="_blank">查看明细</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-view="editHide">
                                <label class="control-label col-xs-1" lang="zh">创建人</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="createUserName" type="text" disabled/>
                                </div>
                                <label class="control-label col-xs-1" lang="zh">创建时间</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="createTime" type="text" disabled/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="warehouseId" type="hidden" value="$!{warehouseId}">

<script type="text/javascript" language="JavaScript">
    var id = $('#warehouseId').val();

    $(document).ready(function(){
        getBasic();
    })

    function getBasic(){
        jQuery.ajax({
            url:basePath + '/supplier/warehouse/warehouseInfo?id=' + id,
            type:'GET'
        }).done(function(result){
            if(result.code == 1){
                var Resultdata = result.data
                render(Resultdata);
            }
        })
    }

    function render(data){
        $('#code').val(data.code);//仓库编码
        $('#pkOrg').val(data.pkOrg);//所属库存组织
        $('#name').val(data.name);//企业全称
        $('#supprop').val(data.supprop);// 类型

        $('#creditCode').val(data.creditCode);// 社会信用代码
        $('#pkAddress').val(data.pkAddress);//所属地点
        $('#principalcode').val(data.principalcode);//负责人
        $('#phone').val(data.phone);//电话号码

        $('#storageArea').val(data.storageArea);//仓储面积
        $('#isDangers').val(data.isDangers);//是否危险品仓库
        $('#isInsideEntrance').val(data.isInsideEntrance);//是否内装进港

        $('#storaddr').val(data.storaddr);//仓库地址
        $('#memo').val(data.memo);//仓库备注

        $('#combinedScoring').val(data.combinedScoring);//综合评分
        $('#createUserName').val(data.createUserName);//创建者姓名
        $('#createTime').val(data.createTime);//创建时间
    }

    $('#edit').click(function(){
        $(this).addClass('hidden');
        $('#cancel').removeClass('hidden');
        $('#save').removeClass('hidden');

        $('.notnull').attr('disabled',false);
    })

    $('#cancel').click(function(){
        var msg = '确定取消保存吗？';

        if(confirm(msg)){
            $(this).addClass('hidden');
            $('#edit').removeClass('hidden');
            $('#save').addClass('hidden');

            $('.notnull').attr('disabled',true);
            getBasic();
        }

    })

    $('#save').click(function(){
        var isup = true;
        var msg = '确定保存吗？';

        var notnull = $('.notnull');
        notnull.each(function () {
            var val = $(this).val();
            if(val == ''||val == null){
                alert('请完善表单!');
                isup = false;
                return false;
            }
        });

        if(isup){
            if(confirm(msg)){
                jQuery.ajax({
                    url:basePath + '/supplier/warehouse/updateWarehouseInfo',
                    type:'POST',
                    contentType:"application/json",
                    data:getdata()
                }).done(function(result){
                    console.log(result);
                    if(result.code == 1){
                        alert('保存成功！');
                        getBasic();

                    }else{
                        alert('保存失败！');
                    }
                })
            }
            $(this).addClass('hidden');
            $('#edit').removeClass('hidden');
            $('#cancel').addClass('hidden');

            $('.notnull').attr('disabled',true);
        }

    })

    function getdata(){
        var data = {
            id:id,
            isDangers:$('#isDangers').val(),
            isInsideEntrance:$('#isInsideEntrance').val(),
            supprop:$('#supprop').val(),
            storageArea:$('#storageArea').val(),
            storaddr:$('#storaddr').val()
        }
        return JSON.stringify(data);
    }
</script>
