<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-xs-12 view-HD-lg">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" lang="zh">仓库服务评分</h3>
                </div>
                <div class="panel-body clearfix">
                    <!--表格-->
                    <table class="table text-center table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center" lang="zh">时间</th>
                            <th class="text-center" lang="zh">数据报表及时性</th>
                            <th class="text-center" lang="zh">数据报表准确性</th>
                            <th class="text-center" lang="zh">入库</th>
                            <th class="text-center" lang="zh">仓储</th>
                            <th class="text-center" lang="zh">换包装</th>
                            <th class="text-center" lang="zh">盘库</th>
                            <th class="text-center" lang="zh">评价总分</th>
                            <th class="text-center" lang="zh">评价人</th>
                            <th class="text-center" lang="zh">评价时间</th>
                            <th class="text-center" lang="zh">备注</th>
                        </tr>
                        </thead>
                        <tbody id="warehouseGradelist"></tbody>
                    </table>
                    <div id="pagination" class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="grademodal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default" id="container">
                            <div class="panel-heading">
                                <h3 class="panel-title" lang="zh">仓库服务评分</h3>
                            </div>
                            <div class="panel-body clearfix">
                                <form class="form-horizontal" id="order_grade">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <!--表格-->
                                            <table class="table text-center table-condensed table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="text-center" lang="zh">评价指标</th>
                                                    <th class="text-center" lang="zh">评价</th>
                                                    <th class="text-center" lang="zh">备注</th>
                                                    <th class="text-center" lang="zh">得分</th>
                                                </tr>
                                                </thead>
                                                <tbody id="gradeList"></tbody>
                                                <tfoot>
                                                <tr>
                                                    <td class="text-danger" colspan="3" lang="zh">综合得分</td>
                                                    <td class="text-danger" name="totalScore"></td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3">
                        <a type="button" class="btn btn-primary btn-block updateCost" id="finish">
                            完成
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="warehouseId" type="hidden" value="$!{warehouseId}">

<script type="text/javascript" language="JavaScript">
    var id = $('#warehouseId').val();

    $(function(){
        var table = {
                    total:0,
                    pageSize:10,
                    pageNum:0,
                    pagination:$('#pagination'),
                    container:$('#warehouseGradelist'),
                    setPagination:{
                        num_edge_entries:3,
                        num_display_entries:5,
                        callback:function (pageNum,jq) {
                            $.ajax({
                                url:basePath + '/supplier/warehouse/scoreListOfMonth',
                                dataType:'json',
                                contentType:'application/json',
                                data:{
                                    pageSize:table.pageSize,
                                    index:pageNum+1,
                                    warehouseId:id
                                },
                                async:true,
                                type:'GET'
                            }).done(function(res){

                                if (res.code===1) { // 请求是否成功

                                    table.renderList(res.data.list);
                                }
                            });

                        }
                    },
                    init:function () {
                        $.ajax({
                            url:basePath + '/supplier/warehouse/scoreListOfMonth',
                            dataType:'json',
                            contentType:'application/json',
                            data:{
                                pageSize:table.pageSize,
                                index:1,
                                warehouseId:id
                            },
                            async:true,
                            type:'GET'
                        }).done(function (res) {
                            if (res.code===1) { // 请求是否成功

                                if(!table.total){ // 是否需要渲染分页

                                    table.total = res.data.total;
                                    table.renderPagination();
                                }
                                table.renderList(res.data.list);
                            }
                        });
                    },
                    renderList:function (list) {
                        console.log(list);
                        var tpl = '';
                        if(list){
                            $.each(list, function(i, item){
                                var td;
                                switch (typeof item.totalScore){
                                    case 'number':
                                        td = '<td><a href="'+basePath+'/supplier/warehouse/intoWarehouseGradeDetails/?scoreId='+
                                                table.hasField(item.id)+'&warehouseId='+id+'">'+table.hasField(item.totalScore)+'</a></td>';
                                        break;
                                    case 'undefined':
                                        td = '<td><a href="'+basePath+'/supplier/warehouse/intoWarehouseGradeDetails/?scoreId='+
                                                table.hasField(item.id)+'&warehouseId='+id+'">去评价</a></td>';
                                        break;
                                }
                                tpl +=
                                        '<tr>' +
                                        '<td>'+table.hasField(item.monthTime)+'</td>'+
                                        '<td>'+table.hasField(item.timeScore)+'</td>'+
                                        '<td>'+table.hasField(item.accuracyScore)+'</td>'+
                                        '<td>'+table.hasField(item.storageScore)+'</td>'+
                                        '<td>'+table.hasField(item.warehouseScore)+'</td>'+
                                        '<td>'+table.hasField(item.packageScore)+'</td>'+
                                        '<td>'+table.hasField(item.checkStockScore)+'</td>'+
                                        td+
                                        '<td>'+table.hasField(item.evaluateUserName)+'</td>'+
                                        '<td>'+table.hasField(item.evaluateTime)+'</td>'+
                                        '<td>'+table.hasField(item.remarks)+'</td>'+
                                        '</tr>';
                            });
                        }else{
                            tpl += '<tr><td colspan="12">暂无数据</td></tr>';
                        }
                        this.container.html(tpl);
                    },
                    renderPagination:function () {
                        this.setPagination.items_per_page = this.pageSize;
                        this.pagination.pagination(this.total,this.setPagination);
                    },
                    hasField:function (field) {

                        if (field===null||field===undefined){
                            return '';
                        }else {
                            return field;
                        }
                    }
                };
        table.init();
    });

    /*$(document).on('click','.gradeinfo',function(){
        var scoreId = $(this).attr('data-id');

        jQuery.ajax({
            url:basePath + '/supplier/warehouse/evaluationIndexItem?scoreId=1',
            dataType:'json',
            contentType:'application/json',
            type:'GET',
        }).done(function(result){
            if(result.code == 1){
                $('#gradeList').html(renderTable(result.data.terms));
            }
        })

        $('#grademodal').modal('show');
    })*/

    /*function renderTable(data){
        var tr = '';
        var tb = '';

        console.log(data);
        /!*for(var i=0;i<data.length;i++){
            tr += '<tr>';
            tr += '<td>'+data[i].itemName+'</td>';
            tr += '<td>';
            for(var j=0;j<data[i].values.length;j++){
                if(data[i].values[j].warehouseEvaluationScoreRelation!=undefined){
                    tr +=
                            '<label class="radio-inline">' +
                            '<input name="'+data[i].values[j].evaluationItemId+'" data-edit="on" type="radio" value="'+data[i].values[j].value+'" disabled checked>'+
                            data[i].values[j].optionName+
                            '</label>';
                    tr += '</td>' +
                            '<td><input class="form-control" name="remark'+data[i].values[j].warehouseEvaluationScoreRelation.remarks+'" data-edit="on" type="text" disabled></td>' +
                            '<td class="text-info" name="score'+data[i].values[j].warehouseEvaluationScoreRelation.score+'" data-name=""></td></tr>';
                }else{
                    tr +=
                            '<label class="radio-inline">' +
                            '<input name="'+data[i].values[j].evaluationItemId+'" data-edit="on" type="radio" value="'+data[i].values[j].value+'" disabled>'+
                            data[i].values[j].optionName+
                            '</label>';
                    tr +=
                            '</td><td></td><td></td></tr>'
                }
            }

        }*!/
        $.each(data,function(i,item){
            tr += '<tr>';
            tr += '<td>'+item.itemName+'</td>';
            tr += '<td>';
            $.each(item.values, function (j, o) {
                if(o.warehouseEvaluationScoreRelation){
                    tr +=
                            '<label class="radio-inline">' +
                            '<input name="'+o.evaluationItemId+'" data-edit="on" type="radio" value="'+o.value+'" disabled checked>'+
                            o.optionName+
                            '</label>';
                    tb +=
                            '</td>' +
                            '<td><input class="form-control" name="remark'+o.warehouseEvaluationScoreRelation.remarks+'" data-edit="on" type="text" disabled></td>' +
                            '<td class="text-info" name="score'+o.warehouseEvaluationScoreRelation.score+'" data-name=""></td></tr>';
                }else {


                    tr +=
                            '<label class="radio-inline">' +
                            '<input name="'+o.evaluationItemId+'" data-edit="on" type="radio" value="'+o.value+'" disabled>'+
                            o.optionName+
                            '</label>';
                    tb +=
                            '</td><td></td><td></td></tr>';
                }
            })
            tr +=
                    '</td>' +
                    '<td><input class="form-control" name="remark" data-edit="on" type="text" disabled></td>' +
                    '<td class="text-info" name="score" data-name=""></td></tr>';
        })
        return tr;
    }*/

</script>
