<!--副导航-->
<style type="text/css">
    /*.ztree li span.button.switch.level0 {visibility:hidden; width:1px;}*/
    /*.ztree li ul.level0 {padding:0; background:none;}*/
</style>
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
        <li>
            <a href="" lang="zh">系统管理</a>
        </li>
        <li class="active" lang="zh">菜单管理</li>
    </ul>
</div>
<!--表格容器-->
<div class="dashboard-wrapper">
    <div class="col-xs-2">
        <div id="asidePanel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" lang="zh">菜单列表</h3>
            </div>
            <div class="panel-body tree-container tree">
                <div class="zTreeDemoBackground left">
                    <ul id="roleTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10  view-HD-lg">
        <div id="roleManage" class="panel panel-default">
            <div class="panel-heading">
                <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                  <button id="delete" data-btn="del"data-view="editHide" class="btn btn-xs btn-danger" lang="zh">删除</button>
                  <button id="add" data-btn="edit" data-view="editHide" class="btn btn-xs btn-primary" type="button" lang="zh">
                    新增
                  </button>
                </div>
                <div class="but-group btn-group btn-group-xs panel-heading-btn pull-right">
                    <button id="cancel" data-btn="cancel" data-view="editView" class="btn hidden" lang="zh">取消</button>
                    <button id="save" data-btn="save" data-view="editView" class="btn btn-primary hidden" lang="zh">保存</button>
                </div>
                <h3 class="panel-title" lang="zh">角色组管理</h3>
            </div>
            <div class="panel-body panel-edit">
                <div class="row">
                    <div class="col-xs-12 form-horizontal">
                        <!--表单-->
                        <div class="form-group">
                            <label for="" class="control-label col-xs-1" lang="zh">所属组织<sup class="not-null" data-view="editView">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="orgName" disabled type="text" class="form-control notEdit" />
                                    <div class="input-group-btn">
                                        <button id="editBelOrg" data-control="off" disabled class="btn btn-xs btn-default dropdown-toggle" data-toggle="modal" data-target="#treeModal" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="control-label col-xs-1" lang="zh">上级角色<sup class="not-null" data-view="editView">*</sup></label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="parentName" disabled type="text" class="form-control notEdit" />
                                    <div class="input-group-btn">
                                        <button id="editSperUser" data-control="off" disabled class="btn btn-xs btn-default dropdown-toggle" data-toggle="modal" data-target="#treeModal" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                            ##modal
                            <div class="modal fade" id="treeModal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
                                <div class="modal-dialog" style="width: 400px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group" data-stopPropagation="true">
                                                <input type="text" class="form-control notDisabled" placeholder="请输入关键词查找" lang="zh" />
                                                <div class="input-group-btn"><button class="btn btn-xs btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button></div>
                                            </div>
                                            <hr />
                                            <div class="zTreeDemoBackground left well" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                                                <ul id="fModal" class="ztree"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <label for="" class="control-label col-xs-1" lang="zh">角色编码</label>
                            <div class="col-xs-2"><input id="roleId" disabled type="text" class="form-control" value="" /></div>
                            <label for="" class="control-label col-xs-1" lang="zh">角色名称<sup class="not-null" data-view="editView">*</sup></label>
                            <div class="col-xs-2"><input id="name" data-control="off" class="form-control" type="text" value="" /></div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-xs-1" lang="zh">启用状态</label>
                            <div class="col-xs-2">
                                <select id="enable" class="form-control">
                                    <option value="1" lang="zh">已启用</option>
                                    <option value="0" lang="zh">已禁用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a id="tabl" href="#" >已关联用户</a></li>
                                <li><a id="tab2" href="#">菜单权限</a></li>
                                <li><a id="tab3" href="#" >按钮权限</a></li>
                                <li><a id="tab4" href="#" >已分配组织</a></li>
                            </ul>
                            <div class="dashboard-wrapper">
                                <table id="table" class="table table-condensed table-bordered text-center"></table>
                            </div>

                            <script id='userTable' type="text/template">
                                <!-- 模板部分 -->
                                    <caption>
                                        <button id="userTree" data-target="#multiple" data-toggle="modal" class="btn-link pull-right" type="button">编辑</button>
                                    </caption>
                                    <thead>
                                    <tr>
                                        <th width="10%" class="text-center">用户编号</th>
                                        <th width="10%" class="text-center">用户名称</th>
                                        <th width="10%" class="text-center">关联生效日期</th>
                                        <th width="10%" class="text-center">关联失效日期</th>
                                        <th width="40%" class="text-center">分配地区</th>
                                        <th width="10%" class="text-center">授权人</th>
                                        <th width="10%" class="text-center">授权时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 判断语句if else-->
                                    <%if(data.length>0) { %>

                                        <%for(var i=0;i<data.length;i++){%>
                                        <tr data-user-id="<%=data[i].userId%>">
                                            <td><%=data[i].id%></td>
                                            <td><%=data[i].name%></td>
                                            <td><%=data[i].beginTime%></td>
                                            <td><%=data[i].endTime%></td>
                                            <td data-id="<%=data[i].areasId%>">
                                                <label class="j-area-label text-center"><%=data[i].areasName%></label>
                                                <button name="areaTree" class="btn-link pull-right j-area-tree" data-toggle="modal" data-target="#multiple" type="button">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </td>
                                            <td><%=data[i].authUserName%></td>
                                            <td><%=data[i].authTime%></td>
                                        </tr>
                                        <%}%>

                                    <%}else{%>
                                        <tr><td colspan="7">没有数据，请添加</td></tr>
                                    <%}%>
                                    </tbody>
                                <!-- 模板结束 -->
                            </script>

                            <script id='menuTable' type="text/template">
                                <!-- 模板部分 -->
                                <caption>
                                    <button id="menuTree" data-target="#multiple" data-toggle="modal" class="btn-link pull-right" type="button">编辑</button>
                                </caption>
                                <thead>
                                <tr>
                                    <th class="text-center col-xs-2">编号</th>
                                    <th class="text-center col-xs-4">菜单</th>
                                    <th class="text-center col-xs-2">授权人</th>
                                    <th class="text-center col-xs-4">授权时间</th>
                                </tr>
                                </thead>

                                <%
                                var root = data[0];
                                var nodes = root.nodes;
                                %>
                                <!-- 判断语句if else-->
                                <%if (nodes && nodes.length>0) {%>
                                    <%for (var i=0; i<nodes.length; i++) {%>
                                        <%-CRM.systemRoleManage.renderMenuNode(nodes[i], 1)%>
                                    <%}%>
                                <%}else{%>
                                    <tbody>
                                    <tr><td colspan="4">没有数据，请添加</td></tr>
                                    </tbody>
                                <%}%>

                                <!-- 模板结束 -->
                            </script>

                            <script id='btnTable' type="text/template">
                                <!-- 模板部分 -->
                                <caption>
##                                    #if ($shiro.hasPermission("sys:role:update"))
##                                      <button id="editButton" class="btn-link pull-right" type="button">编辑</button>
##                                    #end
                                  <button id="saveButton" class="btn-link pull-right" type="button">保存</button>
                                </caption>
                                <thead>
                                <tr>
                                    <th class="text-center">编号</th>
                                    <th class="text-center">菜单</th>
                                    <th class="text-center">功能权限</th>
                                    <th class="text-center">授权人</th>
                                    <th class="text-center">授权时间</th>
                                </tr>
                                </thead>
                                <%
                                var root = data[0];
                                var nodes = root.nodes;
                                %>
                                <!-- 判断语句if else-->
                                <%if (nodes && nodes.length>0) {%>
                                <%for (var i=0; i<nodes.length; i++) {%>
                                <%-CRM.systemRoleManage.renderPermissionNode(nodes[i], 1)%>
                                <%}%>
                                <%}else{%>
                                <tbody>
                                <tr><td colspan="5">没有数据，请添加</td></tr>
                                </tbody>
                                <%}%>
                                <!-- 模板结束 -->
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
##modal
<div class="modal fade" id="multiple" tabindex="-1"  aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body j-modal-body">
                <div class="row">
                    <div class="col-xs-7 j-" style="padding-left: 4px">待选地区</div>
                    <div class="col-xs-5" style="padding-left: 4px">已选地区</div>
                </div>
                <div class="row">
                    <div class="col-xs-5 well" style="padding: 4px">
                        <div class="input-group" data-stopPropagation="true">
                            <input type="text" class="form-control notDisabled" placeholder="请输入关键词查找" lang="zh" />
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <hr />
                        ##tree
                        <div class="zTreeDemoBackground left" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                            <ul id="left" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 150px">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-xs btn-block btn-primary j-add-node" type="button" title="右移">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button class="btn btn-xs btn-block btn-primary j-delete-node" type="button" title="左移">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </div>
                            </div>
##                            <div class="form-group">
##                                <div class="col-xs-12">
##                                    <button class="btn btn-xs btn-block btn-primary" type="button" title="全部右移">
##                                        <span class="glyphicon glyphicon-chevron-right"></span>
##                                        <span class="glyphicon glyphicon-chevron-right"></span>
##                                    </button>
##                                </div>
##                            </div>
##                            <div class="form-group">
##                                <div class="col-xs-12">
##                                    <button class="btn btn-xs btn-block btn-primary" type="button" title="全部左移">
##                                        <span class="glyphicon glyphicon-chevron-left"></span>
##                                        <span class="glyphicon glyphicon-chevron-left"></span>
##                                    </button>
##                                </div>
##                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 well" style="padding: 4px">
                        <div class="input-group" data-stopPropagation="true">
                            <input type="text" class="form-control notDisabled" placeholder="请输入关键词查找" lang="zh" />
                            <div class="input-group-btn">
                                <button class="btn btn-xs btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <hr />
                        ##tree
                      <div class="zTreeDemoBackground right" style="height: 300px;overflow-y: scroll;overflow-x: auto">
                        <ul id="right" class="ztree"></ul>
                      </div>
                    </div>
                    <div class="col-xs-2 col-xs-offset-4">
                        ##分配地区的用户编码
                        <button class="btn btn-block btn-primary" type="button" data-btn="finish" data-dismiss="modal">完成</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-block btn-default" type="button" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="orgId" type="hidden">
<input id="parentId" type="hidden">
<input id="userId" type="hidden">


<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/commons/commons.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/system/systemRoleManage.js"></script>
