 <!--副导航-->
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
        <li>
            <a href="" lang="zh">系统管理</a>
        </li>
        <li class="active" lang="zh">菜单管理</li>
    </ul>
</div>
<!--表格容器-->
<div class="dashboard-wrapper">
    <div class="col-xs-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" lang="zh">菜单列表</h3>
            </div>
            <div id="menuAside" class="panel-body tree-container"></div>
        </div>
    </div>
    <div class="col-xs-10  view-HD-lg">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button id="addMenuItem" class="btn btn-xs btn-primary pull-right panel-heading-btn">新增</button>
                <h3 class="panel-title" lang="zh">菜单管理</h3>
            </div>
            <div class="panel-body panel-edit">
                <div class="row">
                    <div class="col-xs-12 form-horizontal">
                        <!--表单-->
                        <div class="form-group">
                            <label for="" class="control-label col-xs-1" lang="zh">菜单编码</label>
                            <div class="col-xs-2">
                                <input id="menuId" type="text" class="form-control notEdit" />
                            </div>
                            <label for="" class="control-label col-xs-1" lang="zh">上一级菜单</label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input id="parentName" type="text" class="form-control" />
                                    <div class="input-group-btn">
                                        <button disabled class="btn btn-xs btn-default dropdown-toggle" data-toggle="modal" data-target="#treeModal" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
##                            modal
                            <div class="modal fade" id="treeModal" tabindex="-1"  aria-hidden="true" data-backdrop="static">
                                <div class="modal-dialog" style="width: 400px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                        </div>
                                        <div id="menuModal" class="modal-body">
                                            <div class="input-group" data-stopPropagation="true">
                                                <input type="text" class="form-control notDisabled" placeholder="请输入关键词查找" lang="zh" />
                                                <div class="input-group-btn"><button class="btn btn-xs btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button></div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group text-right">
                            <label for="" class="control-label col-xs-1" lang="zh">菜单名称</label>
                            <div class="col-xs-2"><input id="name" type="text" class="form-control" value="" /></div>
                            <label for="" class="control-label col-xs-1" lang="zh">页面路径</label>
                            <div class="col-xs-2"><input id="Url" class="form-control" type="text" value="" /></div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-xs-1" lang="zh">菜单顺序</label>
                            <div class="col-xs-2"><input id="orderIndex" class="form-control" type="text" value="" /></div>
                            <label for="" class="control-label col-xs-1" lang="zh">启用状态</label>
                            <div class="col-xs-2">
                                <select id="enablestate" class="form-control">
                                    <option value="1" lang="zh">已启用</option>
                                    <option value="0" lang="zh">已禁用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div id="btnGroup" class="form-group hidden">
                            <div class="col-xs-1 col-xs-offset-2"><button id="cancel" class="btn btn-block btn-xs btn-default">取消</button></div>
                            <div class="col-xs-1"><button id="save" class="btn btn-block btn-xs btn-primary">保存</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <input id="parentId" type="hidden" value="" />
<script type="text/javascript" language="javascript" src="${request.contextPath}/lib/js/creatTree.js"></script>
<script>
    $(function () {
        var tree = $('<div class="tree"></div>');
        var modalTree = $('<div class="tree"></div>');
        modalTree.creatTree('${request.contextPath}/sys/menu/ajax/load');
        tree.creatTree('${request.contextPath}/sys/menu/ajax/load');
        $('#menuAside').append(tree);
        $('.panel-edit').find('input').not('.notDisabled').filter('.form-control').attr('disabled','disabled');
        $('#menuModal').append(modalTree);
        $(document).on('click.tree','#menuAside .tree a',function (e) {
            e.preventDefault();
            var thisEl = $(this);
            var par = thisEl.parents('.tree');
            par.find('li').removeClass('active');
            thisEl.parent('li').addClass('active');
            jQuery.ajax({
                url:'/sys/menu/ajax/'+thisEl.parent('li').attr('id'),
                type:'GET'
            }).done(renderMenu);
        });

        $(document).on('click.up','#addMenuItem',function () {
            var thisEl = $(this);
            $('input,button','.panel-body').not('.notEdit').removeAttr('disabled');
            $('#parentName').val($('#name').val());
            $('#parentId').val($('#menuId').val());
            $('#name').val('');
            $('#menuId').val('');
            $('#Url').val('');
//            $('#orderIndex').val('');
            var obj = {};
            obj.parentName = $('#parentName').val();
            obj.parentId = $('#parentId').val();
            jQuery.ajax({
                url:'',
                type:'POST',
                data:obj
            }).done(function (result) {
                if(result.data && result.data!='' && result.data!=null){
                    var data = result.data;
                    $('#orderIndex').val(data.orderIndex);
                }
            });
            $(document).off('.tree');
            $('#btnGroup').removeClass('hidden');
            thisEl.addClass('hidden');
        });

        $(document).on('click.up','#save',function () {
            var obj = {};
            obj.parentName = $('#parentName').val();
            obj.parentId = $('#parentId').val();
            obj.name = $('#name').val();
            obj.url = $('#Url').val();
            obj.enablestate = $('#enablestate').val();
            obj.orderIndex = $('#orderIndex').val();
            jQuery.ajax({
                url:'/sys/menu/ajax/add',
                type:'POST',
                data:obj
            }).done(function (result) {
                console.log(result);
                jQuery.ajax({
                    url:'/sys/menu/ajax/'+result.data,
                    type:'GET'
                }).done(renderMenu);
            });
            $('#addMenuItem').removeClass('hidden');
            $('#btnGroup').addClass('hidden');
        });
        function refreshTree(){

        }
        function renderMenu(result,p){
            if(result.data && result.data!='' && result.data!=null){
                var data = result.data;
                $('#menuId').val(data.menuId);
                $('#parentId').val(data.parentId);
                $('#name').val(data.name);
                $('#Url').val(data.url);
                $('#enablestate').val(data.enablestate);
                $('#orderIndex').val(data.orderIndex);
//                $('#parentName').val(thisEl.parent('li').parents('li').children('a').text());
            }
        }
    })

</script>
