 <!--副导航-->
<div class="nav-deputy shadow-out clearfix">
    <ul class="breadcrumb pull-right">
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
        <li>
            <a href="" lang="zh">系统管理</a>
        </li>
        <li class="active" lang="zh">角色组管</li>
    </ul>
</div>
<!--表格容器-->
<div class="dashboard-wrapper">
    <!--角色组管理-->
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group btn-group-xs panel-heading-btn pull-right">
                    <button class="btn btn-primary"><span data-toggle="tooltip" title="删除" class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary"><span data-toggle="tooltip" title="编辑" class="glyphicon glyphicon-edit"></span></button>
                    <button data-toggle="modal" data-target="#addRole" class="btn btn-primary"><span data-toggle="tooltip" title="新增" class="glyphicon glyphicon-plus"></span></button>
                </div>
                <h3 class="panel-title" lang="zh">角色组管理表</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="tree">
                            <ul class="tree-root">
                                <li>
                                    <span class="branch-node" data-toggle="collapse" data-target="#bNode1"></span>
                                    <a href=""><span class="leaf"></span><span lang="zh">角色组</span></a>
                                    <ul id="bNode1" class="tree-branch collapse in">
                                        <li>
                                            <span class="branch-node" data-toggle="collapse" data-target="#bNode1-1"></span>
                                            <a href=""><span class="leaf"></span><span lang="zh">销售组</span></a>
                                            <ul id="bNode1-1" class="tree-branch collapse in">
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">销售管理组</span></a>
                                                </li>
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">销售业务组</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="branch-node" data-toggle="collapse" data-target="#bNode1-2"></span>
                                            <a href=""><span class="leaf"></span><span lang="zh">登记组</span></a>
                                            <ul id="bNode1-2" class="tree-branch collapse in">
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">登记管理组</span></a>
                                                </li>
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">登记业务组</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="branch-node" data-toggle="collapse" data-target="#bNode1-3"></span>
                                            <a href=""><span class="leaf"></span><span lang="zh">加工组</span></a>
                                            <ul id="bNode1-3" class="tree-branch collapse in">
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">加工管理组</span></a>
                                                </li>
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">加工业务组</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="branch-node" data-toggle="collapse" data-target="#bNode1-4"></span>
                                            <a href=""><span class="leaf"></span><span lang="zh">物流组</span></a>
                                            <ul id="bNode1-4" class="tree-branch collapse in">
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">物流管理组</span></a>
                                                </li>
                                                <li><span class="branch"></span>
                                                    <a href=""><span class="leaf"></span><span lang="zh">物流业务组</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-10 form-horizontal">
                        <!--表单-->
                        <div class="form-group">
                            <label for="" class="control-label col-xs-1" lang="zh">所属组织</label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <!--下拉菜单-->
                                    <div class="input-group-btn">
                                        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        <div class="search-dropdown dropdown-menu well pull-right">
                                            <div class="input-group" data-stopPropagation="true">
                                                <input type="text" class="form-control" placeholder="请输入关键词查找" lang="zh" />
                                                <div class="input-group-btn"><button class="btn btn-xs btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button></div>
                                            </div>
                                            <hr />
                                            <div class="tree">
                                                <ul class="tree-root">
                                                    <li>
                                                        <span class="branch-node" data-toggle="collapse" data-target="#sNode1"></span>
                                                        <a href=""><span class="leaf"></span><span lang="zh">角色组</span></a>
                                                        <ul id="sNode1" class="tree-branch collapse in">
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#sNode1-1"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">销售组</span></a>
                                                                <ul id="sNode1-1" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">销售管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">销售业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#sNode1-2"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">登记组</span></a>
                                                                <ul id="sNode1-2" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">登记管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">登记业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#sNode1-3"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">加工组</span></a>
                                                                <ul id="sNode1-3" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">加工管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">加工业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#sNode1-4"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">物流组</span></a>
                                                                <ul id="sNode1-4" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">物流管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">物流业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="" class="control-label col-xs-1" lang="zh">上级角色组</label>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <!--下拉菜单-->
                                    <div class="input-group-btn">
                                        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        <div class="search-dropdown dropdown-menu well pull-right">
                                            <div class="input-group" data-stopPropagation="true">
                                                <input type="text" class="form-control" placeholder="请输入关键词查找" lang="zh" />
                                                <div class="input-group-btn"><button class="btn btn-xs btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button></div>
                                            </div>
                                            <hr />
                                            <div class="tree">
                                                <ul class="tree-root">
                                                    <li>
                                                        <span class="branch-node" data-toggle="collapse" data-target="#uNode1"></span>
                                                        <a href=""><span class="leaf"></span><span lang="zh">角色组</span></a>
                                                        <ul id="uNode1" class="tree-branch collapse in">
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#uNode1-1"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">销售组</span></a>
                                                                <ul id="uNode1-1" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">销售管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">销售业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#uNode1-2"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">登记组</span></a>
                                                                <ul id="uNode1-2" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">登记管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">登记业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#uNode1-3"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">加工组</span></a>
                                                                <ul id="uNode1-3" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">加工管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">加工业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <span class="branch-node" data-toggle="collapse" data-target="#uNode1-4"></span>
                                                                <a href=""><span class="leaf"></span><span lang="zh">物流组</span></a>
                                                                <ul id="uNode1-4" class="tree-branch collapse in">
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">物流管理组</span></a>
                                                                    </li>
                                                                    <li><span class="branch"></span>
                                                                        <a href=""><span class="leaf"></span><span lang="zh">物流业务组</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <label for="" class="control-label col-xs-1" lang="zh">角色组织编码</label>
                            <div class="col-xs-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="control-label col-xs-1" lang="zh">角色组名称</label>
                            <div class="col-xs-2"><input class="form-control" type="text" value="" /></div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-xs-1" lang="zh">启用状态</label>
                            <div class="col-xs-2">
                                <select class="form-control">
                                    <option value="" lang="zh">已启用</option>
                                    <option value="" lang="zh">已禁用</option>
                                </select>
                            </div>
                        </div>
                        <!--面板-->
                        <div class="panel panel-default">
                            <!--标签页-->
                            <a href="systemCharacterEditor.html" class="btn btn-xs btn-primary pull-right" target="_blank">编辑</a>
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#packing" data-toggle="tab" lang="zh">菜单权限</a>
                                </li>
                                <li>
                                    <a href="#menu" data-toggle="tab" lang="zh">功能权限</a>
                                </li>
                            </ul>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="packing" class="tab-pane fade active in">
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="col-xs-3" lang="zh">编号</th>
                                                <th class="col-xs-5" lang="zh">菜单</th>
                                                <th class="col-xs-3" lang="zh">授权人</th>
                                                <th class="col-xs-1" lang="zh">授权时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>100010</td>
                                                <td data-toggle="collapse" data-target="#sellMenu" lang="zh">销售统计</td>
                                                <td>洋洋</td>
                                                <td>2017-12-12</td>
                                            </tr>
                                            </tbody>
                                            <tbody id="sellMenu" class="collapse">
                                            <tr>
                                                <td>1000101</td>
                                                <td lang="zh">商机</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>1000101</td>
                                                <td lang="zh">销售动态</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="menu" class="tab-pane fade">
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="col-xs-2" lang="zh">编号</th>
                                                <th class="col-xs-3" lang="zh">菜单</th>
                                                <th class="col-xs-3" lang="zh">功能权限</th>
                                                <th class="col-xs-3" lang="zh">授权人</th>
                                                <th class="col-xs-1" lang="zh">授权时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>100010</td>
                                                <td data-toggle="collapse" data-target="#sellFn" lang="zh">销售统计</td>
                                                <td>
                                                    <label class="checkbox-inline"><input type="checkbox" value="" />新增</label>
                                                    <label class="checkbox-inline"><input type="checkbox" value="" />修改</label>
                                                </td>
                                                <td>洋洋</td>
                                                <td>2017-12-12</td>
                                            </tr>
                                            </tbody>
                                            <tbody id="sellFn" class="collapse">
                                            <tr>
                                                <td>1000101</td>
                                                <td lang="zh">商机</td>
                                                <td>
                                                    <label class="checkbox-inline"><input type="checkbox" value="" />新增</label>
                                                    <label class="checkbox-inline"><input type="checkbox" value="" />修改</label>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>1000101</td>
                                                <td lang="zh">销售动态</td>
                                                <td>
                                                    <label class="checkbox-inline"><input type="checkbox" value="" />新增</label>
                                                    <label class="checkbox-inline"><input type="checkbox" value="" />修改</label>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>